{% extends '::vipabase.html.twig' %}
{% block title %}{{ 'title.search_advanced'|trans }} {{ parent() }}{% endblock %}
{% set hideleft = 1 %}

{% block breadcrumb %}
    {% set list = [
    {'link': path('vipa_public_index'), 'title': project_name},
    {'title': 'search.advanced'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1>{{ "search.advanced"|trans }}</h1>

        <div class="col-md-12">
            <div class="form-group">
                <label for="">{{ "search.query"|trans }}</label>
                <input class="form-control" type="text" name="query" placeholder="{{ 'search.useQueryBuilder'|trans }}"  id="searchQueryInput" readonly/>
                <small>
                    <a href="javascript:void(0)" onclick="location.reload()">{{ 'clear.query'|trans }}</a>
                </small>
            </div>
        </div>
        <div id="advanced-search-fields-area">
        </div>
        <div class="row-fluid">
            <input class="btn btn-success" type="button" value="{{ 'search.submit'|trans }}" onclick="VIPAAdvancedSearch.redirectToSearch()"/>
        </div>
    </div>
    <div class="hidden" id="search-field-template">
        {% include "VipaSiteBundle:Search:temps/set_search_field.html.twig" %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts "@advanced_search_js" output="assets/prod/js/advanced_search_js.js" %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
