{% extends '::vipabase.html.twig' %}
{% block title %}{{ 'title.search'|trans }} {{ parent() }}{% endblock %}
{% set hideleft = 1 %}
{% block stylesheets %}
    {{ parent() }}

    <style type="text/css">
        .margin-top {
            margin-top: 10px;
        }

        .result-of-journal {
            padding-top: 5px;
            list-style-position: outside;
            float: left;
            width: 162px
        }
    </style>
{% endblock %}

{% block breadcrumb %}
    {% set list = [
    {'link': path('vipa_public_index'), 'title': project_name},
    {'title': 'search.results'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body %}
    <div class="content">
        <div class="row margin-top">
            <div class="col-md-8 col-sm-11 col-md-offset-2 col-sm-offset-1">
                <form action="{{ path('vipa_search_index') }}" method="get">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" value="{{ sm.query }}">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">
                                <i class="fa fa-search"></i> {{ "search"|trans }}
                            </button>
                            <a href="{{ path('vipa_search_advanced') }}" class="btn btn-default">
                                <i class="fa fa-wrench"></i> {{ 'search.builder'|trans }}
                            </a>
                        </span>
                    </div>
                </form>
                {{ twigEventDispatch({'event_name': 'VIPA_SEARCH_PAGE_WARNING'})|raw }}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <hgroup class="page-header">
                    <a href="{{ path('vipa_tags_cloud') }}" class="btn btn-success btn-link pull-right"><i
                                class="fa fa-tags"></i> {{ 'tags.cloud'|trans }}</a>

                    <h2 class="lead">
                        {{ "search.results"|trans }}:
                        {% trans with {'%total%': sm.totalHit, '%term%': sm.query} %}
                            <strong class="text-danger">%term%</strong>
                            <strong class="badge">%total%</strong>
                        {% endtrans %}
                    </h2>
                </hgroup>
            </div>
        </div>
        <div class="row">
            <section role="search">

                <div class="col-md-3 col-sm-4">
                    {% if sm.resultSet|length > 0 %}
                        <div class="panel panel-default">
                            <div class="panel-heading">{{ "type"|trans }}</div>
                            <ul class="list-group filter-box">
                                {% for key,result in sm.resultSet %}
                                    <a class="list-group-item {% if key == sm.section %}active{% endif %}"
                                       href="{{ path('vipa_search_index', {'q': sm.query, 'section': key}) }}">
                                        {{ result.type }}
                                        <span class="badge">{{ result.total_item }}</span>
                                    </a>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    {% for aggKey,agg in sm.aggs %}
                        <div class="panel panel-default" id="{{ aggKey|replace('.', '-') }}-box">
                            <div class="panel-heading">{{ ('agg.'~aggKey)|trans }}</div>
                            {% if agg.buckets|length > 5 %}
                                <div class="input-group">
                                    <input class="search form-control no-radius" placeholder="{{ "search"|trans }}"/>
                                    <div class="input-group-btn">
                                        <button class="sort btn btn-primary no-radius" data-sort="{{ aggKey|replace('.', '-') }}">
                                            <i class="fa fa-sort-alpha-asc"></i>
                                        </button>
                                    </div>
                                </div>
                            {% endif %}
                            <ul class="list-group list filter-box">
                                {% for bucket in agg.buckets %}
                                    <li class="list-group-item">
                                        {% if sm.requestAggsBag[aggKey] is not defined %}
                                            <a href="{{ sm.getAggLink(aggKey, bucket.key) }}" class="{{ aggKey|replace('.', '-') }}">{{ bucket.key|trans }}</a>
                                        {% else %}
                                            {% if bucket.key in sm.requestAggsBag[aggKey] %}
                                                {{ bucket.key }}
                                                <a href="{{ sm.getAggLink(aggKey, bucket.key, false) }}">
                                                    <span class="label label-danger">
                                                        <i class="glyphicon glyphicon-remove"></i>
                                                    </span>
                                                </a>
                                            {% else %}
                                                <a href="{{ sm.getAggLink(aggKey, bucket.key) }}" class="{{ aggKey|replace('.', '-') }}">{{ bucket.key|trans }}</a>
                                            {% endif %}
                                        {% endif %}
                                        <span class="badge">{{ bucket.doc_count }}</span>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endfor %}
                </div>

                <div class="search-results col-md-9 col-sm-8">
                    {% if sm.resultSet|length > 0 %}
                        {% for key,result in sm.resultSet %}
                            {% if sm.section == key %}
                                <ol>
                                    {% for resultData in result.data %}
                                        <li class="result-of-{{ key }}" {% if loop.first %}value="{{ 20 * (sm.page - 1) + 1 }}"{% endif %}>
                                            {% if key == 'journal' %}
                                                {% set journal = resultData.source %}
                                                {% set url = resultData.detail.route %}
                                                {% set journal = journal|merge({'title':resultData.detail.name}) %}
                                                {% include 'journal.html.twig' %}
                                            {% else %}
                                                <a href="{{ resultData.detail.route }}">{{ resultData.detail.name }}</a> ({{ resultData.detail.route }})
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                </ol>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        {{ 'search.noresult'|trans }}
                    {% endif %}
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        {% if sm.resultSet|length > 0 %}
                            <div class="text-center">
                                <ul class="pagination">
                                    {{ pagerfanta(sm.getPagerfanta,'twitter_bootstrap3') }}
                                </ul>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        {% for aggKey,agg in sm.aggs %}
            var aggOptions = {
                valueNames: ['{{ aggKey|replace('.', '-') }}']
            };
            var aggsList = new List('{{ aggKey|replace('.', '-') }}-box', aggOptions);
        {% endfor %}
        $(function () {
            $('.search-results li').highlight('{{ sm.query }}');
        });
    </script>
{% endblock %}