{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.explore'|trans }} {{ parent() }}{% endblock %}
{% set hideleft = true %}

{% block breadcrumb %}
    {% set list = [
        {'link': path('ojs_site_explore_index'), 'title': project_name},
        {'title': 'explore'|trans}
    ] %}

    {{ breadcrumb(list) }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-3 col-sm-3">
            <div class="panel-group">
                {% if locales %}
                    <div class="panel panel-default">
                        <div class="panel-heading">{{ 'title.languages'|trans }}</div>
                        <ul class="list-group filter-box">
                            {% for locale in locales %}
                                <li class="list-group-item">
                                    {% if locale_filters is empty %}
                                        {% set parameter = locale.key %}
                                        <a href="{{ path('ojs_site_explore_index', {
                                            locale_filters: locale.key,
                                            publisher_filters: app.request.get('publisher_filters'),
                                            subject_filters: app.request.get('subject_filters')}) }}">{{ locale.key }}</a>
                                    {% else %}
                                        {% if locale.key in locale_filters %}
                                            {% set parameter = locale_filters|pop(locale.key) %}
                                            {{ locale.key }}
                                            <a href="{{ path('ojs_site_explore_index', {
                                                locale_filters: parameter|join(','),
                                                publisher_filters: app.request.get('publisher_filters'),
                                                subject_filters: app.request.get('subject_filters')}) }}">
                                                <span class="label label-danger">
                                                    <i class="glyphicon glyphicon-remove"></i>
                                                </span>
                                            </a>
                                        {% else %}
                                            {% set parameter = locale_filters|merge([locale.key]) %}
                                            <a href="{{ path('ojs_site_explore_index', {
                                                locale_filters: parameter|join(','),
                                                publisher_filters: app.request.get('publisher_filters'),
                                                subject_filters: app.request.get('subject_filters')}) }}">{{ locale.key }}</a>
                                        {% endif %}
                                    {% endif %}
                                    <span class="badge">{{ locale.doc_count }}</span>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                {% if subjects %}
                    <div class="panel panel-default" id="subjects-filter-box">
                        <div class="panel-heading">{{ 'title.subjects'|trans }}</div>
                        {% if subjects|length > 5 %}
                            <div class="input-group">
                                <input class="search form-control no-radius" placeholder="{{ "search"|trans }}"/>
                                <div class="input-group-btn">
                                    <button class="sort btn btn-primary no-radius" data-sort="subject">
                                        <i class="fa fa-sort-alpha-asc"></i>
                                    </button>
                                </div>
                            </div>
                        {% endif %}
                        <ul class="list-group list filter-box">
                            {% for subject in subjects %}
                                <li class="list-group-item">
                                    {% if subject_filters is empty %}
                                        {% set parameter = subject.key %}
                                        <a href="{{ path('ojs_site_explore_index', {
                                            subject_filters: subject.key,
                                            type_filters: app.request.get('type_filters'),
                                            publisher_filters: app.request.get('publisher_filters')}) }}" class="subject">{{ subject.key }}</a>
                                    {% else %}
                                        {% if subject.key in subject_filters %}
                                            {% set parameter = subject_filters|pop(subject.key) %}
                                            <a href="{{ path('ojs_site_explore_index', {
                                                subject_filters: parameter|join(','),
                                                type_filters: app.request.get('type_filters'),
                                                publisher_filters: app.request.get('publisher_filters')}) }}" class="subject">
                                                {{ subject.key }}
                                                <span class="label label-danger">
                                                    <i class="glyphicon glyphicon-remove"></i>
                                                </span>
                                            </a>
                                        {% else %}
                                            {% set parameter = subject_filters|merge([subject.key]) %}
                                            <a href="{{ path('ojs_site_explore_index', {
                                                subject_filters: parameter|join(','),
                                                type_filters: app.request.get('type_filters'),
                                                publisher_filters: app.request.get('publisher_filters')}) }}" class="subject">{{ subject.key }}</a>
                                        {% endif %}
                                    {% endif %}
                                    <span class="badge">{{ subject.doc_count }}</span>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                {% if types %}
                    <div class="panel panel-default">
                        <div class="panel-heading">{{ 'title.publisher_types'|trans }}</div>
                        <ul class="list-group filter-box">
                            {% for type in types %}
                                <li class="list-group-item">
                                    {% if type_filters is empty %}
                                        {% set parameter = type.key %}
                                        <a href="{{ path('ojs_site_explore_index', {
                                            type_filters: type.key,
                                            publisher_filters: app.request.get('publisher_filters'),
                                            subject_filters: app.request.get('subject_filters')}) }}">{{ type.key }}</a>
                                    {% else %}
                                        {% if type.key in type_filters %}
                                            {% set parameter = type_filters|pop(type.key) %}
                                            {{ type.key }}
                                            <a href="{{ path('ojs_site_explore_index', {
                                                type_filters: parameter|join(','),
                                                publisher_filters: app.request.get('publisher_filters'),
                                                subject_filters: app.request.get('subject_filters')}) }}">
                                                <span class="label label-danger">
                                                    <i class="glyphicon glyphicon-remove"></i>
                                                </span>
                                            </a>
                                        {% else %}
                                            {% set parameter = type_filters|merge([type.key]) %}
                                            <a href="{{ path('ojs_site_explore_index', {
                                                type_filters: parameter|join(','),
                                                publisher_filters: app.request.get('publisher_filters'),
                                                subject_filters: app.request.get('subject_filters')}) }}">{{ type.key }}</a>
                                        {% endif %}
                                    {% endif %}
                                    <span class="badge">{{ type.doc_count }}</span>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                {% if publishers %}
                    <div id="publishers-filter-box" class="panel panel-default">
                        <div class="panel-heading">{{ 'title.publishers'|trans }}</div>
                        {% if publishers|length > 5 %}
                            <div class="input-group">
                                <input class="search form-control no-radius" placeholder="{{ "search"|trans }}"/>
                                <div class="input-group-btn">
                                    <button class="sort btn btn-primary no-radius" data-sort="publisher-name">
                                        <i class="fa fa-sort-alpha-asc"></i>
                                    </button>
                                </div>
                            </div>
                        {% endif %}
                        <ul class="list-group list filter-box">
                            {% for publisher in publishers %}
                                <li class="list-group-item">
                                    {% if publisher_filters is empty %}
                                        {% set parameter = publisher.key %}
                                        <a href="{{ path('ojs_site_explore_index', {
                                            publisher_filters: publisher.key,
                                            subject_filters: app.request.get('subject_filters'),
                                            type_filters: app.request.get('type_filters') }) }}"
                                             class="publisher-name">{{ publisher.key }}</a>
                                    {% else %}
                                        {% if publisher.key in publisher_filters %}
                                            {% set parameter = publisher_filters|pop(publisher.key) %}
                                            <a href="{{ path('ojs_site_explore_index', {
                                                publisher_filters: parameter|join(','),
                                                subject_filters: app.request.get('subject_filters'),
                                                type_filters: app.request.get('type_filters')}) }}" class="publisher-name">
                                                {{ publisher.key }}
                                                <span class="label label-danger">
                                                    <i class="glyphicon glyphicon-remove"></i>
                                                </span>
                                            </a>
                                        {% else %}
                                            {% set parameter = publisher_filters|merge([publisher.key]) %}
                                            <a href="{{ path('ojs_site_explore_index', {
                                                publisher_filters: parameter|join(','),
                                                subject_filters: app.request.get('subject_filters'),
                                                type_filters: app.request.get('type_filters')}) }}"
                                                 class="publisher-name">{{ publisher.key }}</a>
                                        {% endif %}
                                    {% endif %}
                                    <span class="badge">{{ publisher.doc_count }}</span>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="col-md-9 col-sm-9">
            {% for journal in journals %}
                {% include '::journal.html.twig' %}
            {% endfor %}
        </div>

        {% if journals|length > 1 %}
        <div class="text-center">
            <ul class="pagination">
                {{ pagerfanta(pagerfanta,'twitter_bootstrap3') }}
            </ul>
        </div>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        {% if publishers and publishers|length > 5 %}
        var publisherOptions = {
            valueNames: ['publisher-name']
        };
        var publishersList = new List('publishers-filter-box', publisherOptions);
        {% endif %}
        {% if subjects and subjects|length > 5 %}
            var subjectOptions = {
                valueNames: [ 'subject']
            };
            var userList = new List('subjects-filter-box', subjectOptions);
        {% endif %}
    </script>
{% endblock %}
