{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.issues'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
        {'link': path('dashboard'), 'title': 'dashboard'|trans},
        {'title': 'title.issue_files'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    {% include '::flashbag.html.twig' %}

    <ul class="nav nav-tabs">
        <li role="presentation"><a href="{{ path('ojs_journal_issue_show', {id: issue.id, journalId: issue.journal.id}) }}">{{ "Info"|trans }}</a></li>
        <li role="presentation" class="active"><a href="{{ path('ojs_journal_issue_file_index', {issue: issue.id}) }}">{{ "title.issue_files"|trans }}</a></li>
    </ul>

    <h1>{{ 'title.issue_files'|trans }}</h1>
    {% if is_granted('CREATE', selectedJournal(), 'issues') %}
        <a href="{{ path('ojs_journal_issue_file_new', {issue: issue.id}) }}" class="btn btn-success">
            {{ "c"|trans }}
        </a>
    {% endif %}

    <hr>
    {{ grid(grid) }}

{% endblock %}
