{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.issuefile.new'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
    {'link': path('ojs_journal_dashboard_index', {journalId: selectedJournal().id}), 'title': 'dashboard'|trans},
    {'link': path('ojs_journal_issue_index', {'journalId': selectedJournal().id}),'title': 'issuefile'|trans},
    {'title': 'title.issuefile.new'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    <h1>{{ "issuefile.new"|trans }}</h1>

    {{ form_start(form, { 'attr': { 'enctype' :'multipart/form-data'} }) }}
    {% for label, flashes in app.session.flashbag.all %}
        {% for flash in flashes %}
            <div class="alert alert-{{ label }}">
                {{ flash }}
            </div>
        {% endfor %}
    {% endfor %}
    {{ form_errors(form) }}
    {{ form_widget(form) }}

    <div class="form-group">
        <label class="control-label" for="fileupload_full_file">{{ "full_file"|trans }}</label>
        <span class="btn btn-success fileinput-button form-control">
            <i class="fa fa-plus"></i>
            <span>{{ "select.full.file"|trans }}</span>
            <input id="fileupload_full_file" type="file" data-url="{{ oneup_uploader_endpoint('issuefiles') }}">
        </span>

        <div id="issue_full_file_upload_progress" style="display: none" class="label label-info">

        </div>
    </div>
    <button type="submit" id="ojs_journalbundle_issuefile_submit" class="btn btn-primary">
        {{ "create"|trans }}
    </button>
    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#fileupload_full_file').fileupload({});
            $('#fileupload_full_file').bind('fileuploadsend', function (e, data) {
                $('#issue_full_file_upload_progress').show();
                $('#issue_full_file_upload_progress').html("{{"uploading"|trans}}");
            }).bind('fileuploaddone', function (e, data) {
                var result = JSON.parse(data.result)

                $('#issue_full_file_upload_progress').html("{{"done"|trans}}.");
                $('#ojs_journalbundle_issuefile_file_path').attr('value', result.files.path);
                $('#ojs_journalbundle_issuefile_file_mimeType').attr('value', result.files.mimeType);
                $('#ojs_journalbundle_issuefile_file_name').attr('value', result.files.name);
                $('#ojs_journalbundle_issuefile_file_size').attr('value', result.files.size);

            });

        });
    </script>
    {{ form_javascript(form) }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@upload_css'   output="assets/prod/css/upload.css" filter="cssrewrite" %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
 {{ form_stylesheet(form) }}
{% endblock %}
