{% extends '::ojsbase.html.twig' %}

{% block body -%}
    <h1>IssueFile</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ entity.type }}</td>
            </tr>
            <tr>
                <th>Fileid</th>
                <td>{{ entity.fileId }}</td>
            </tr>
            <tr>
                <th>Issueid</th>
                <td>{{ entity.issueId }}</td>
            </tr>
            <tr>
                <th>Version</th>
                <td>{{ entity.version }}</td>
            </tr>
            <tr>
                <th>Keywords</th>
                <td>{{ entity.keywords }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>Langcode</th>
                <td>{{ entity.langCode }}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{{ entity.updated|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Deletedat</th>
                <td>{{ entity.deletedAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Createdby</th>
                <td>{{ entity.createdBy }}</td>
            </tr>
            <tr>
                <th>Updatedby</th>
                <td>{{ entity.updatedBy }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('ojs_journal_issuefile_list') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('ojs_journal_issuefile_edit', { 'id': entity.id ,'issue': entity.issue.id}) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
