{% extends '::ojsbase.html.twig' %}

{% block body -%}
    <h1>{{ "maillog.list" }}</h1>

    <table class="table records_list">
        <thead>
        <tr>
            <th>{{ "maillog.id"|trans }}</th>
            <th>{{ "maillog.mailobject"|trans }}</th>
            <th>{{ "maillog.recipientemail"|trans }}</th>
            <th>{{"actions"|trans}}</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('admin_maillog_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.mailObject }}</td>
                <td>{{ entity.recipientEmail }}</td>
                <td>
                    {% set show_path = 'admin_maillog_show' %}
                    {% set edit_path = 'admin_maillog_edit' %}
                    {% set delete_path = 'admin_maillog_delete' %}
                    {% include '::actionbtns.html.twig' %}

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-default" href="{{ path('admin_maillog_new') }}">
        {{"c"|trans}}
    </a>
{% endblock %}
