{% extends '::ojsbase.html.twig' %}

{% block body -%}
    <h1>{{ "maillog.singular" }}</h1>

    <table class="record_properties">
        <tbody>
        <tr>
            <th>{{ "maillog.id" }}</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>{{ "maillog.mailobject" }}</th>
            <td>{{ entity.mailObject }}</td>
        </tr>
        <tr>
            <th>{{ "maillog.recipientemail" }}</th>
            <td>{{ entity.recipientEmail }}</td>
        </tr>
        </tbody>
    </table>


    {% set back_path = 'admin_maillog' %}
    {% set delete_path = 'admin_maillog_delete' %}
    {% include '::actionbtns.html.twig' %}

{% endblock %}
