<li class="list-group-item">
    <a href="{{path('editor_articles_uncomplete')}}">Uncompleted Articles (Not submitted yet)</a>
</li>
<li class="list-group-item">
    <a href="{{path('editor_articles_waiting')}}">Waiting Articles (Submitted)</a>
</li>
<li class="list-group-item">
    <a href="{{path('editor_articles_assigned')}}">in-Review Articles</a>
</li>
<li class="list-group-item">
    <a href="{{path('editor_articles_published')}}">Published Articles</a>
</li>
<li class="list-group-item">
    <a href="{{path('editor_articles_unpublished')}}">Unpublished Articles</a>
</li>
<li class="list-group-item">
    <a href="{{path('editor_articles_rejected')}}">Rejected Articles</a>
</li>

