{% extends '::ojsbase.html.twig' %}

{% block breadcrumb %}
    {% set list = [
                {'link': path('dashboard'), 'title': 'dashboard'|trans},
                {'link': path('ojs_review_forms'), 'title': 'review.forms'|trans},
                {'title': 'review.form.update'|trans}
] %}
    {{breadcrumb(list)}}
{% endblock %}

{% block body -%}  
    <h1>Update Form <small>{{form.title}}</small></h1>
    <hr>
    <form method="post" class="form-row" action="{{path('ojs_review_forms_update',{'id':form.id})}}">

        <div class="form-group">
            <label>Title</label>
            <input  id="titleinput" class="form-control" name="title"  value="{{form.title}}">
        </div>

        <div>
            <input type="submit" class="btn btn-success" value="{{ 'save'|trans }}" />
            <a href="{{path('ojs_review_forms')}}" class="btn btn-default">
                <i class="fa fa-arrow-left"></i>
                {{ 'b'|trans }}
            </a>
        </div>
    </form>
{% endblock %}
