{% extends '::ojsbase.html.twig' %}

{% block breadcrumb %}
    {% set list = [
                {'link': path('dashboard'), 'title': 'Dashboard'},
                {'link': path('ojs_review_forms'), 'title': 'review.form'}
] %}
    {{breadcrumb(list)}}
{% endblock %}

{% block body -%} 
    <div class="list-group">
        {% for entity in forms %}
            <div class="list-group-item list-group-item-default"> 
                <a href="{{path('ojs_review_form_items',{'formId':entity.id})}}">{{entity.title}}</a>
                <span class="pull-right">
                    <span class="btn-group">
                        <a href="{{path('ojs_review_form_items',{'formId':entity.id})}}" class="btn btn-success btn-xs">
                            <i class="fa fa-list"></i> Form items
                        </a>
                        <a href="{{path('ojs_review_forms_show',{'id':entity.id})}}" title="Form details" class="btn btn-info btn-xs">
                            <i class="fa fa-info-circle"></i>
                        </a>
                        <a href="{{path('ojs_review_forms_edit',{'id':entity.id})}}" class="btn btn-warning btn-xs">
                            <i class="fa fa-edit"></i>
                        </a>
                    </span>

                </span>
            </div>
        {% endfor %}
    </div> 

    {% if isJournalManager() %}
        <a href="{{path('ojs_review_forms_new')}}" class="btn btn-success">
            <i class="fa fa-plus"></i> {{"create"|trans}}
        </a>
    {% endif %}  

{% endblock %}
