{% extends '::ojsbase.html.twig' %}
{% set hideleft = true %}
{% block title %}{{ 'title.page_new'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
        {'link': path('ojs_admin_dashboard'), 'title': 'dashboard'|trans},
        {'link': path('ojs_admin_page_index'),'title': 'title.pages'|trans},
        {'title': 'title.page_new'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    <h1>{{ 'title.page_new'|trans }}</h1>
    {{ form(form) }}
    {{ actions({'back': {'href': path('ojs_admin_page_index')}}) }}
{% endblock %}
