{% extends '::ojsbase.html.twig' %}

{% block body -%}
    <h1>{{ 'journal_licence.show'|trans }}</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>{{ 'id'|trans }}</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>{{ 'journal_licence.label'|trans }}</th>
                <td>{{ entity.label }}</td>
            </tr>
            <tr>
                <th>{{ 'journal_licence.licence' }}</th>
                <td>{{ entity.licence }}</td>
            </tr>
            <tr>
                <th>Visible</th>
                <td>{% if entity.visible %}{{ 'yes'|trans }}{% else %}{{ 'no'|trans }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('manager_journal_licence') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('manager_journal_licence_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
