{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.theme_edit'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
    {'link': path('ojs_journal_dashboard_index', {journalId: selectedJournal().id}), 'title': 'dashboard'|trans},
    {'link': path('ojs_journal_theme_index', {'journalId': selectedJournal().id}),'title': 'journal.theme'|trans},
    {'title': 'title.theme_edit'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    <h1>{{ 'title.theme_edit'|trans }}</h1>
    <script type="text/javascript" src="{{ asset('vendor/ace-builds/src/ace.js') }}"></script>
    {% include '::flashbag.html.twig' %}
    {{ form(edit_form) }}

    {{ actions({
        'back': {'href': path('ojs_journal_theme_index', {'journalId': selectedJournal().id})}
    }) }}

    {{ getLogs(entity) }}
{% endblock %}
