{% extends '::vipabase.html.twig' %}
{% block title %}{{ 'title.theme_new'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
    {'link': path('vipa_journal_dashboard_index', {journalId: selectedJournal().id}), 'title': 'dashboard'|trans},
    {'link': path('vipa_journal_theme_index', {'journalId': selectedJournal().id}),'title': 'journal.theme'|trans},
    {'title': 'title.theme_new'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    <h1>{{ 'title.theme_new'|trans }}</h1>
    <script type="text/javascript" src="{{ asset('vendor/ace-builds/src/ace.js') }}"></script>

    {{ form(form) }}

    {{ actions({
        'back': {'href': path('vipa_journal_theme_index', {'journalId': selectedJournal().id})},
    }) }}
{% endblock %}
