{% extends '::vipabase.html.twig' %}
{% block title %}{{ 'title.theme_show'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
    {'link': path('vipa_journal_dashboard_index', {journalId: selectedJournal().id}), 'title': 'dashboard'|trans},
    {'link': path('vipa_journal_theme_index', {'journalId': selectedJournal().id}),'title': 'journal.theme'|trans},
    {'title': 'title.theme_show'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    <h1>{{ "theme"|trans }}</h1>
    {% include '::flashbag.html.twig' %}
    {{ display(entity) }}
    {{
    actions({
        'back': {'href': path('vipa_journal_theme_index', {'journalId': selectedJournal().id})},
        'edit': {'href': path('vipa_journal_theme_edit', {'id': entity.id, 'journalId': selectedJournal().id})},
        'delete': {'href': path('vipa_journal_theme_delete', {'id': entity.id, 'journalId': selectedJournal().id}), 'attributes': {'data-token': token}},
    })
    }}
{% endblock %}
