{% extends '::vipabase.html.twig' %}
{% block title %}{{ 'title.section_edit'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
    {'link': path('vipa_journal_dashboard_index', {journalId: selectedJournal().id}), 'title': 'dashboard'|trans},
    {'link': path('vipa_journal_section_index', {'journalId': selectedJournal().id}),'title': 'title.sections'|trans},
    {'title': 'title.section_edit'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    <h1>{{ 'title.section_edit'|trans }}</h1>
    {% include '::flashbag.html.twig' %}
    {{ form(edit_form) }}

    <div class="btn-group">
        <a class="btn btn-default btn-sm" href="{{ path('vipa_journal_section_index', { 'journalId': selectedJournal().id }) }}"
           title="{{ "b"|trans }}">
            <i class="fa fa-arrow-left"></i>
        </a>
    </div>

    {{ getLogs(entity) }}
{% endblock %}
