{% extends '::vipabase.html.twig' %}
{% block title %}{{ 'title.section_show'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
    {'link': path('vipa_journal_dashboard_index', {journalId: selectedJournal().id}), 'title': 'dashboard'|trans},
    {'link': path('vipa_journal_section_index', {'journalId': selectedJournal().id}),'title': 'title.sections'|trans},
    {'title': 'title.section_show'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    <h1>{{ "title.section_show"|trans }}</h1>
    {% include '::flashbag.html.twig' %}
    {{ display(entity) }}

    {{
    actions({
        'back': {'href': path('vipa_journal_section_index', {'journalId': selectedJournal().id})},
        'edit': {'href': path('vipa_journal_section_edit', {'id': entity.id, 'journalId': selectedJournal().id})},
        'delete': {'href': path('vipa_journal_section_delete', {'id': entity.id, 'journalId': selectedJournal().id}), 'attributes': {'data-token': token}},
    })
    }}
{% endblock %}
