<div id="step1-container" class="step">
    {{ form_start(form) }}

    <div class="panel panel-info">
        <div class="panel-heading">Article Meta Data</div>
        <div class="panel-body">
            {{ form_row(form.articleType) }}
            {{ form_row(form.translations) }}
        </div>
    </div>

    <hr />
    <div class="panel panel-info submission-subform-panel">
        <div class="panel-heading">Article Authors</div>
        <div class="submission-subform-container panel-body">
                        <textarea class="submission-subform-template">{% filter escape %}
                                {{ include('@OjsJournal/ArticleSubmission/_articleauthor_subform.html.twig', { 'form': form.articleAuthors.vars.prototype }) }}
                        {% endfilter %}</textarea>

            {% for articleauthorForm in form.articleAuthors %}
                {{ include('@OjsJournal/ArticleSubmission/_articleauthor_subform.html.twig', { 'form': articleauthorForm }) }}
            {% endfor %}
        </div>
        <div class="panel-footer">
            <button type="button" class="btn btn-success btn-sm submission-subform-add-panel"><i class="fa fa-plus"></i> Add Article Author</button>
        </div>
    </div>
    <hr />
    <div class="panel panel-info submission-subform-panel">
        <div class="panel-heading">Citiations</div>
        <div class="submission-subform-container panel-body">
                        <textarea class="submission-subform-template">{% filter escape %}
                                {{ include('@OjsJournal/ArticleSubmission/_citiation_subform.html.twig', { 'form': form.citations.vars.prototype }) }}
                        {% endfilter %}</textarea>

            {% for citiationForm in form.citations %}
                {{ include('@OjsJournal/ArticleSubmission/_citiation_subform.html.twig', { 'form': citiationForm }) }}
            {% endfor %}
        </div>
        <div class="panel-footer">
            <button type="button" class="btn btn-success btn-sm submission-subform-add-panel"><i class="fa fa-plus"></i> Add Citiation</button>
        </div>
    </div>
    <hr>
    <div class="panel panel-info submission-subform-panel">
        <div class="panel-heading">Article Files</div>
        <div class="submission-subform-container panel-body">
                        <textarea class="submission-subform-template">{% filter escape %}
                            {{ include('@OjsJournal/ArticleSubmission/_articlefile_subform.html.twig', { 'form': form.articleFiles.vars.prototype }) }}
                        {% endfilter %}</textarea>

            {% for articlefileForm in form.articleFiles %}
                {{ include('@OjsJournal/ArticleSubmission/_articlefile_subform.html.twig', { 'form': articlefileForm }) }}
            {% endfor %}
        </div>
        <div class="panel-footer">
            <button type="button" class="btn btn-success btn-sm submission-subform-add-panel"><i class="fa fa-plus"></i> Add Article File</button>
        </div>
    </div>
    <hr>
    {{ form_row(form.save) }}
    {{ form_end(form) }}
</div>
