<div class="form-group">
    <label class="col-md-1 control-label">
        {% if field is defined and field != '' %}{{ field|trans }}{% else %}{% raw %}{{field}}{% endraw %}{% endif %}
        *</label>

    <div class="col-md-10">
        <input name="{% if field is defined  and field  != '' %}{{ field }}{% else %}{% raw %}{{field}}{% endraw %}{% endif %}"
               value="{% if value is defined  and value != '' %}{{ value }}{% else %}{% raw %}{{value}}{% endraw %}{% endif %}"
               class="form-control input-sm"/>
    </div>
</div>
