{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.submission_new'|trans }} {{ parent() }}{% endblock %}
{% set hideleft = 1 %}
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@submission_css' output="assets/prod/css/submission.css" filter="cssrewrite" %}
    <link rel="stylesheet" href="{{ asset_url }}" xmlns="http://www.w3.org/1999/html"/>
    {% endstylesheets %}
{% endblock %}

{% block body -%}
    <div class="panel panel-info panel-steps">
        <div class="panel-heading">
            <ul class="nav nav-pills nav-justified submission-progress" id="article-submission-steps">
                <li id="submission-progress-step1">
                    <a href="{{ path('ojs_journal_submission_start', {journalId: selectedJournal().id}) }}">
                        <span class="badge">1</span>
                        {{ "submission.starting"|trans }}
                    </a>
                </li>
                <li id="submission-progress-step2" class="active">
                    <a href="{{ path('ojs_journal_submission_edit', {journalId: selectedJournal().id, id: article.id}) }}">
                        <span class="badge">2</span>
                        {{ "article.singular"|trans }}
                    </a>
                </li>
                <li id="submission-progress-step6 last-step">
                    <a href="{{ path('ojs_journal_submission_preview', {journalId: selectedJournal().id, articleId: article.id}) }}">
                        <span class="badge">3</span>
                        {{ "preview"|trans }} & {{ "submit"|trans }}
                    </a>
                </li>
            </ul>
        </div>
        <div class="panel-body">
            {% include '@OjsJournal/ArticleSubmission/_form.html.twig' %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function() {
            function reviseCitationOrders(){
                $.each($('#citation-forms-container').find('.citation-item-order'), function (index, value) {
                    $(this).html(index+1);
                });
            }
            reviseCitationOrders();
            setInterval(function(){ reviseCitationOrders(); }, 1000);
            function reviseInstitutionInputs(){
                $.each($('.institutionNotListed'), function (index, value) {
                    var $institutionSelect = $(this).parent().parent().parent().parent().find('.institution');
                    var $institutionName = $(this).parent().parent().parent().parent().find('.institutionName');
                    if(this.checked){
                        $institutionName.parent().removeClass('hidden');
                        $institutionSelect.parent().addClass('hidden');
                    }else{
                        $institutionName.parent().addClass('hidden');
                        $institutionSelect.parent().removeClass('hidden');
                    }
                });
            }
            reviseInstitutionInputs();
            setInterval(function(){ reviseInstitutionInputs(); }, 1000);
            $(document).on('change', '.institutionNotListed', function () {
                var $institutionSelect = $(this).parent().parent().parent().parent().find('.institution');
                var $institutionName = $(this).parent().parent().parent().parent().find('.institutionName');
                if(this.checked){
                    $institutionName.parent().removeClass('hidden');
                    $institutionSelect.parent().addClass('hidden');
                }else{
                    $institutionName.parent().addClass('hidden');
                    $institutionSelect.parent().removeClass('hidden');
                }
            });
            $(document).on('click','.toggle-author-detail', function () {
                var $authorDetails = $(this).parent().find('.author-details');
                if($authorDetails.is(':visible')){
                    $authorDetails.hide();
                }else{
                    $authorDetails.show();
                }
            });
        });
    </script>
    {{ twigEventDispatch({'event_name': 'OJS_NEW_ARTICLE_SUBMISSION_SCRIPT'})|raw }}
{% endblock %}