{% extends '::ojsbase.html.twig' %}


{% block breadcrumb %}
    {% set list = [
    { 'link': path('dashboard'), 'title': 'dashboard'|trans },
    { 'link': path('article_submissions_me'), 'title': 'article.mysubmits'|trans }

    ] %}
    {{ breadcrumb(list) }}
{% endblock %}


{% block body -%}

    <h2>{{ 'Submissions'|trans }}</h2>
        <a href="{{ path('article_submission_new') }}"
           class="btn btn-success pull-right"> {{ "article.submit"|trans }}</a>
    <div class="btn-group">
        <a class="btn btn-default" href="{{ path('article_submissions_me') }}">{{ "article.mysubmits"|trans }}</a>
        {% if isSystemAdmin() or isJournalManager() %}
            <a class="btn {% if all %}btn-info{% else %}btn-default{% endif %}"
               href="{{ path('article_submissions_all') }}">{{ "article.all"|trans }}</a>
        {% endif %}
    </div>

    <h3>{{ 'Drafts'|trans }}</h3>
    {{ grid(drafts) }}

    <h3>{{ 'Submissions'|trans }}</h3>
    {{ grid(submissions) }}
{% endblock %}
