{% extends '::ojsbase.html.twig' %}

{% block body -%}

    <h1>New Articles</h1>

    <div>
        <a href="{{path('article_submission_new')}}" class="btn btn-success pull-right"> {% trans %}article.submit{% endtrans %}</a>
    </div>
    <a class="btn btn-default" href="{{path('article_submissions_me')}}">My Submissions</a>
    {% if isSystemAdmin() or isJournalManager()  %}
        <a class="btn btn-default" href="{{path('article_submissions_all')}}">All Submissions</a>
    {% endif %}
    <table class="records_list table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Journalid</th>
                <th>Title</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td>
                        <a href="{{ path('article_show', { 'id': entity.id }) }}">
                            {{ entity.id }}
                        </a>
                    </td>
                    <td>{{ entity.journalId }}</td>
                    <td>{{ entity.title }}</td>
                    <td style="background: {{ entity.statusColor }}">{{ entity.statusText }}</td>
                    <td>
                        {% set show_path = 'article_show' %}
                        {% set edit_path = 'article_edit' %}
                        {% set delete_path = 'article_delete' %}
                        {% include '::actionbtns.html.twig' %}

                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
