{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.submission_new'|trans }} {{ parent() }}{% endblock %}
{% set hideleft = 1 %}
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@submission_css' output="c/submission.css" filter="cssrewrite" %}
    <link rel="stylesheet" href="{{ asset_url }}" xmlns="http://www.w3.org/1999/html"/>
    {% endstylesheets %}
    {% stylesheets '@apptour_css' output="c/apptour.css" %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block body -%}
    <input type="hidden" name="journalId" value="{% if journal.id %}{{ journal.id }}{% endif %}"/>
    <input type="hidden" name="submissionId" value="{% if submissionId is defined %}{{ submissionId }}{% endif %}"/>

    <div class="panel panel-default panel-steps">
        <div class="panel-heading">
            <ul class="nav nav-wizard submission-progress" id="article-submission-steps">
                <li id="submission-progress-step1" class="active">
                    <a href="javascript:void(0)">
                        <span class="badge">1</span>
                        {{ "submission.starting"|trans }}
                    </a>
                </li>
                <li id="submission-progress-step2">
                    <a href="javascript:void(0)">
                        <span class="badge">2</span>
                        {{ "article.singular"|trans }}
                    </a>
                </li>
                <li id="submission-progress-step3">
                    <a href="javascript:void(0)">
                        <span class="badge">3</span>
                        {{ "author.plural"|trans }}
                    </a>
                </li>
                <li id="submission-progress-step4">
                    <a href="javascript:void(0)">
                        <span class="badge">4</span>
                        {{ "article.citations"|trans }}
                    </a>
                </li>
                <li id="submission-progress-step5">
                    <a href="javascript:void(0)">
                        <span class="badge">5</span>
                        {{ "article.files"|trans }}
                    </a>
                </li>
                <li id="submission-progress-step6 last-step">
                    <a href="javascript:void(0)">
                        <span class="badge">6</span>
                        {{ "preview"|trans }} & {{ "submit"|trans }}
                    </a>
                </li>
                <li id="resumeNote" class="text-right"></li>
            </ul>
        </div>
        <div class="panel-body">
            {% if step == 1 %}
                <div id="step1-container" class="step">
                    {% include 'OjsJournalBundle:ArticleSubmission:step1.html.twig' %}
                </div>
            {% else %}
                <div id="step2-container" class="step hide">
                    {{ form(step2Form) }}
                    <div class="row">
                        <div class="step1_actions record_actions">
                            <div class="col-sm-12">
                                <hr/>
                                <a class="btn btn-danger btn-lg" onclick="return confirm('{{ "sure"|trans }} ');"
                                   href="{{ path('article_submission_new') }}">
                                    <i class="fa fa-repeat"></i>
                                    {{ "restart"|trans }}
                                </a>
                                <a class="btn btn-success btn-lg pull-right"
                                   onclick="javascript:OjsArticleSubmission.step2('{{ path('article_submission_step_control',{'step': 2}) }}');">
                                    <i class="fa fa-save"></i>
                                    {{ "save.next"|trans }}
                                    <i class="fa fa-chevron-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="step3-container" class="step hide">
                    <h2>{{ "article.authors"|trans }}</h2>

                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-md-2 control-label">{{ "authors.count"|trans }} :</label>
                                    <div class="col-md-10 ">
                                        <input class="form-control input-sm" id="submissionAuthorCount" onchange="OjsArticleSubmission.authorCount(this)" type="number"
                                               min="0" max="400">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <button class="pull-right btn btn-danger btn-xs" onclick="OjsArticleSubmission.removeAllAuthorForms()">
                                            <i class="fa fa-trash-o"></i>
                                            {% trans %}Remove all author forms!{% endtrans %}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="step3" class="authorlist">
                        {% if articleAuthors is defined %}
                            {% for articleAuthor in articleAuthors %}
                                {% include 'OjsJournalBundle:ArticleSubmission:step3.html.twig' %}
                            {% endfor %}
                        {% endif %}
                    </div>
                    <a class="btn btn-block btn-primary" onclick="OjsArticleSubmission.addAuthorForm();">
                        <i class="fa fa-plus-circle"></i>
                        {{ "author"|trans }}
                    </a>

                    <div class="step3_actions record_actions">
                        <div class="col-sm-12">
                            <hr>
                            <a class="btn btn-danger btn-lg"
                               onclick="javascript:OjsArticleSubmission.backTo(1);">
                                <i class="fa fa-chevron-left"></i> {{ "b"|trans }}
                            </a>
                            <a class="btn btn-success btn-lg pull-right"
                               onclick="javascript: OjsArticleSubmission.step3('{{ path('article_submission_step_control', {step: 3}) }}');">
                                <i class="fa fa-save"></i>
                                {{ "save.next"|trans }}
                                <i class="fa fa-chevron-right"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div id="step4-container" class="step hide">
                    <div id="step4">
                        <h2>{{ "citations"|trans }}</h2>
                        <div id="citationContainer">
                            {% if citationForms is defined %}
                                {% for citationForm in citationForms %}
                                    <div class='well'>
                                        {{ form(citationForm) }}
                                        <div class="controls">
                                            <a class="btn btn-sm btn-danger" onclick="OjsArticleSubmission.removeCitation(this);">
                                                <i class="fa fa-trash"></i>
                                                {{ "remove"|trans }}
                                            </a>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <a class="btn btn-block btn-primary" onclick="OjsArticleSubmission.addCitationForm();">
                        <i class="fa fa-plus-circle"></i>
                        {{ "citation"|trans }}
                    </a>
                    <div class="step4_actions record_actions">
                        <div class="col-sm-12">
                            <hr>
                            <a class="btn btn-danger btn-lg"
                               onclick="javascript:OjsArticleSubmission.backTo(3);">
                                <i class="fa fa-chevron-left"></i> {{ "b"|trans }}
                            </a>
                            <a class="btn btn-success btn-lg pull-right"
                               onclick="javascript: OjsArticleSubmission.step4('{{ path('article_submission_step_control', {step: 4}) }}');">
                                <i class="fa fa-save"></i>
                                {{ "save.next"|trans }}
                                <i class="fa fa-chevron-right"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div id="step5-container" class="step hide">
                    <h3>{{ 'article.files'|trans }}</h3>

                    <div id="step5">
                        {% if articleFiles is defined %}
                            {% for articleFile in articleFiles %}
                                {% include 'OjsJournalBundle:ArticleSubmission:step5.html.twig' %}
                            {% endfor %}
                        {% endif %}
                    </div>
                    <button onclick="OjsArticleSubmission.addFileForm();" class="btn btn-block btn-primary">
                        <i class="fa fa-plus"></i>
                        {{ "file.new"|trans }}
                    </button>
                    <div class="step4_actions record_actions">
                        <div class="col-sm-12">
                            <hr>
                            <a class="btn btn-danger btn-lg"
                               onclick="javascript:OjsArticleSubmission.backTo(4);">
                                <i class="fa fa-chevron-left"></i> {{ "b"|trans }}
                            </a>
                            <a class="btn btn-success btn-lg pull-right"
                               onclick="javascript: OjsArticleSubmission.step5('{{ path('article_submission_step_control', {step: 5}) }}');">
                                <i class="fa fa-save"></i>
                                {{ "save.next"|trans }}
                                <i class="fa fa-chevron-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

    {% if step != 1 %}
        <script id="step3_tpl" type="x-tmplmustache">
            {% include 'OjsJournalBundle:ArticleSubmission:step3.html.twig' %}
        </script>
        <script id="step4_tpl" type="x-tmplmustache">
            {% include 'OjsJournalBundle:ArticleSubmission:step4.html.twig' %}
        </script>
        <script id="step5_tpl" type="x-tmplmustache">
            {% include 'OjsJournalBundle:ArticleSubmission:step5.html.twig' %}
        </script>
    {% endif %}
{% endblock %}

{% block javascripts %}

    {{ parent() }}
    {% javascripts  '@submission_js' output="c/submission_js.js" %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% javascripts '@apptour_js' output="c/apptour.js" %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% javascripts '@OjsJournalBundle/Resources/public/js/tour/article_submission_tour.js' output="c/article_submission_tour.js" %}
    {% if app.user.setting('tour.admin.article-submit') == FALSE %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endif %}
    {% endjavascripts %}

    <script type="text/javascript">
        OjsCommon.api.userApikey = "{{app.user.apiKey}}";
        var currentStep = parseInt(window.location.hash.replace("#", ""));
        window.onbeforeunload = function () {
            //return "{{"sure_data_lost"|trans}}";
        };
        $(window).on("hashchange", function (event) {
            if (window.currentStep !== currentStep) {
                window.currentStep = currentStep;
                OjsArticleSubmission.prepareStep['step'+currentStep]();
            }
        });
        $(document).ready(function () {
            OjsArticleSubmission.setupUi();
            if (currentStep) {
                OjsArticleSubmission.prepareStep['step'+currentStep]();
            }else{
                OjsArticleSubmission.prepareStep.step2();
            }
            {%if submissionId is defined %}
                OjsArticleSubmission.submissionId = "{{submissionId}}";
                OjsArticleSubmission.showResumeNote(OjsArticleSubmission.submissionId);
            {% endif %}
        });
    </script>
{% endblock %}
