{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.submission_new'|trans }} {{ parent() }}{% endblock %}
{% set hideleft = 1 %}
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@submission_css' output="c/submission.css" filter="cssrewrite" %}
    <link rel="stylesheet" href="{{ asset_url }}" xmlns="http://www.w3.org/1999/html"/>
    {% endstylesheets %}
    {% stylesheets '@apptour_css' output="c/apptour.css" %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block body -%}
    <input type="hidden" name="journalId" value="{% if journal.id %}{{ journal.id }}{% endif %}"/>
    <input type="hidden" name="submissionId" value="{% if submissionId is defined %}{{ submissionId }}{% endif %}"/>

    <div class="panel panel-default panel-steps">
        <div class="panel-heading">
            <ul class="nav nav-wizard submission-progress" id="article-submission-steps">
                <li id="submission-progress-step1" class="active">
                    <a href="javascript:void(0)">
                        <span class="badge">1</span>
                        {{ "submission.starting"|trans }}
                    </a>
                </li>
                <li id="submission-progress-step2">
                    <a href="javascript:void(0)">
                        <span class="badge">2</span>
                        {{ "article.singular"|trans }}
                    </a>
                </li>
                <li id="submission-progress-step3">
                    <a href="javascript:void(0)">
                        <span class="badge">3</span>
                        {{ "author.plural"|trans }}
                    </a>
                </li>
                <li id="submission-progress-step4">
                    <a href="javascript:void(0)">
                        <span class="badge">4</span>
                        {{ "article.citations"|trans }}
                    </a>
                </li>
                <li id="submission-progress-step5">
                    <a href="javascript:void(0)">
                        <span class="badge">5</span>
                        {{ "article.files"|trans }}
                    </a>
                </li>
                <li id="submission-progress-step6 last-step">
                    <a href="javascript:void(0)">
                        <span class="badge">6</span>
                        {{ "preview"|trans }} & {{ "submit"|trans }}
                    </a>
                </li>
                <li id="resumeNote" class="text-right"></li>
            </ul>
        </div>
        <div class="panel-body">
            {% if step == 1 %}
                <div id="step1-container" class="step">
                    {% include 'OjsJournalBundle:ArticleSubmission:step1.html.twig' %}
                </div>
            {% else %}
                <div id="step2-container" class="step hide">
                    {{ form(step2Form) }}
                    <div class="row">
                        <div class="step1_actions record_actions">
                            <div class="col-sm-12">
                                <hr/>
                                <a class="btn btn-danger btn-lg" onclick="return confirm('{{ "sure"|trans }} ');"
                                   href="{{ path('article_submission_new') }}">
                                    <i class="fa fa-repeat"></i>
                                    {{ "restart"|trans }}
                                </a>
                                <a class="btn btn-success btn-lg pull-right"
                                   onclick="javascript:OjsArticleSubmission.step2('{{ path('article_submission_step_control',{'step': 2}) }}');">
                                    <i class="fa fa-save"></i>
                                    {{ "save.next"|trans }}
                                    <i class="fa fa-chevron-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="step3-container" class="step hide">
                    <h2>{{ "article.authors"|trans }}</h2>

                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-md-2 control-label">{{ "authors.count"|trans }} :</label>
                                    <div class="col-md-10 ">
                                        <input class="form-control input-sm" id="submissionAuthorCount" onchange="OjsArticleSubmission.authorCount(this)" type="number"
                                               min="0" max="400">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <button class="pull-right btn btn-danger btn-xs" id="removeAllAuthorForms">
                                            <i class="fa fa-trash-o"></i>
                                            {% trans %}Remove all author forms!{% endtrans %}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="step3" class="authorlist">
                        {% if articleAuthors is defined %}
                            {% for articleAuthor in articleAuthors %}
                                {% include 'OjsJournalBundle:ArticleSubmission:step3.html.twig' %}
                            {% endfor %}
                        {% endif %}
                    </div>
                    <a class="btn btn-block btn-primary" onclick="OjsArticleSubmission.addAuthorForm();">
                        <i class="fa fa-plus-circle"></i>
                        {{ "author"|trans }}
                    </a>

                    <div class="step2_actions record_actions">
                        <div class="col-sm-12">
                            <hr>
                            <a class="btn btn-danger btn-lg"
                               onclick="javascript:OjsArticleSubmission.backTo(1);">
                                <i class="fa fa-chevron-left"></i> {{ "b"|trans }}
                            </a>
                            <a class="btn btn-success btn-lg pull-right"
                               onclick="javascript: OjsArticleSubmission.step3('{{ path('article_submission_step_control', {step: 3}) }}');">
                                <i class="fa fa-save"></i>
                                {{ "save.next"|trans }}
                                <i class="fa fa-chevron-right"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div id="step3-container" class="step hide">
                    <div id="step4">
                        <h2>{{ "citations"|trans }}</h2>
                        <div class="row">
                            <div class="col-sm-12 ">
                                <button class="btn btn-success" id="pasteArticleCitationInline">
                                    <i class="fa fa-edit"></i> {{ "citation.add"|trans }}
                                </button>
                                <button class="btn btn-warning" id="clearAllCitations">
                                    <i class="fa fa-trash-o"></i> {{ "citation.clear"|trans }}
                                </button>
                            </div>
                            <hr>
                            <div class="col-sm-12">
                                <div id="citationPasteField" style="display: none!important">
                                    <div class="form-row well">
                                        <textarea class="form-control citationPasteTextArea" rows="5"
                                                  placeholder=" {{ "citation.paste_extract"|trans }}"></textarea>
                                        <br> <a class="btn btn-info btn-sm citationPasteActionBtn"><i
                                                    class="fa fa-bolt"></i> {{ "citation.paste_extract"|trans }}</a>
                                    </div>

                                </div>

                            </div>
                        </div>

                        <div id="citationContainer">
                            {% if citations is defined %}
                                {% for citationItem in citations %}
                                    {% include 'OjsJournalBundle:ArticleSubmission:step3.html.twig' %}
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="step3_actions record_actions">
                        <div class="col-sm-12">
                            <hr>
                            <a class="btn btn-danger btn-lg"
                               onclick="javascript:OjsArticleSubmission.backTo(2);">
                                <i class="fa fa-chevron-left"></i> {{ "b"|trans }}
                            </a>
                            <a class="btn btn-success btn-lg pull-right"
                               onclick="javascript: OjsArticleSubmission.step3('{{ path('article_submission_step3') }}');">
                                <i class="fa fa-save"></i>
                                {{ "save.next"|trans }}
                                <i class="fa fa-chevron-right"></i>
                            </a>
                        </div>
                    </div>
                </div>


                <div id="step4-container" class="step hide">
                    <h3>{{ 'article.files'|trans }}</h3>

                    <div id="step4">
                        {% if submissionData is defined and submissionData.files is defined %}
                            {% for file in submissionData.files %}
                                {% include 'OjsJournalBundle:ArticleSubmission:step4.html.twig' %}
                            {% endfor %}
                        {% endif %}
                    </div>
                    <button onclick="OjsArticleSubmission.addFileForm();" class="btn btn-block btn-primary">
                        <i class="fa fa-plus"></i>
                        {{ "file.new"|trans }}
                    </button>
                    <div class="step4_actions record_actions">
                        <div class="col-sm-12">
                            <hr>
                            <a class="btn btn-danger btn-lg"
                               onclick="javascript:OjsArticleSubmission.backTo(3);">
                                <i class="fa fa-chevron-left"></i> {{ "b"|trans }}
                            </a>
                            <a class="btn btn-success btn-lg pull-right"
                               onclick="javascript: OjsArticleSubmission.step4('{{ path('article_submission_step4') }}');">
                                <i class="fa fa-save"></i>
                                {{ "save.next"|trans }}
                                <i class="fa fa-chevron-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

    {% if step != 1 %}
    <script id="step3_tpl" type="x-tmplmustache">
        {% include 'OjsJournalBundle:ArticleSubmission:step3.html.twig' %}
    </script>

    <script id="step4_tpl" type="x-tmplmustache">
        {% include 'OjsJournalBundle:ArticleSubmission:step4.html.twig' %}
    </script>
    <script id="step3_cite_item_must_tpl" type="x-tplmustache">
        {% include 'OjsJournalBundle:ArticleSubmission:citeItemMust.html.twig' with {'field':'','value':''} only %}
    </script>
    <script id="step3_cite_item_should_tpl" type="x-tplmustache">
        {% include 'OjsJournalBundle:ArticleSubmission:citeItemShould.html.twig' with {'field':'','value':''} only %}
    </script>
    {% endif %}
{% endblock %}

{% block javascripts %}

    {{ parent() }}
    {% javascripts  '@submission_js' output="c/submission_js.js" %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% javascripts '@apptour_js' output="c/apptour.js" %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% javascripts '@OjsJournalBundle/Resources/public/js/tour/article_submission_tour.js' output="c/article_submission_tour.js" %}
    {% if app.user.setting('tour.admin.article-submit') == FALSE %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endif %}
    {% endjavascripts %}

    <script type="text/javascript">
        OjsCommon.api.userApikey = "{{app.user.apiKey}}";
        var currentStep = parseInt(window.location.hash.replace("#", ""));
        window.onbeforeunload = function () {
            //return "{{"sure_data_lost"|trans}}";
        };
        function loadCurrentStep(currentStep) {
            OjsArticleSubmission.hideAllSteps();
            OjsArticleSubmission.prepareStep["step" + currentStep]();
        }
        $(window).on("hashchange", function (event) {
            var currentStep = parseInt(window.location.hash.replace("#", ""));
            if (window.currentStep !== currentStep) {
                window.currentStep = currentStep;
                loadCurrentStep(currentStep);
            }
        });
        $(document).ready(function () {
            $('.submission-progress>li>a').click(function (event) {
                window.location.hash.replace(/^#/, $(this).prop('href'));
                event.preventDefault();
            })
            OjsArticleSubmission.setupUi();
            $("div#step2-container").on("click", "#removeAllAuthorForms", function () {
                confirm("{{"sure"|trans}}") && OjsArticleSubmission.removeAllAuthorForms();
            });
            var currentStep = parseInt(window.location.hash.replace("#", ""));
            if (currentStep) {
                loadCurrentStep(currentStep);
            }
            {%if submissionId is defined %}
                OjsArticleSubmission.submissionId = "{{submissionId}}";
                OjsArticleSubmission.showResumeNote(OjsArticleSubmission.submissionId);
            {% endif %}
        });
    </script>
{% endblock %}
