{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.submission_new'|trans }} {{ parent() }}{% endblock %}
{% set hideleft = 1 %}
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@submission_css' output="assets/prod/css/submission.css" filter="cssrewrite" %}
    <link rel="stylesheet" href="{{ asset_url }}" xmlns="http://www.w3.org/1999/html"/>
    {% endstylesheets %}
{% endblock %}

{% block body -%}
    <div class="alert alert-success">
        <h2 class="text-center">
            <i>{{ journal.title }}</i>
        </h2>
    </div>
    <div class="panel panel-info panel-steps">
        <div class="panel-heading">
            <ul class="nav nav-pills nav-justified" id="article-submission-steps">
                <li id="submission-progress-step1">
                    <a href="{{ path('ojs_journal_submission_start', {journalId: selectedJournal().id}) }}">
                        <span class="badge">1</span>
                        {{ "submission.starting"|trans }}
                    </a>
                </li>
                <li id="submission-progress-step2" class="active">
                    <a href="{{ path('ojs_journal_submission_new', {journalId: selectedJournal().id}) }}">
                        <span class="badge">2</span>
                        {{ "article.singular"|trans }}
                    </a>
                </li>
                <li id="submission-progress-step6 last-step">
                    <a href="javascript:void(0)">
                        <span class="badge">3</span>
                        {{ "preview"|trans }} & {{ "submit"|trans }}
                    </a>
                </li>
                <li id="resumeNote" class="text-right"></li>
            </ul>
        </div>
        <div class="panel-body">
            {% include '@OjsJournal/ArticleSubmission/_form.html.twig' %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        setupSubmissionForm({{ abstractTemplates|json_encode|raw }});
    </script>
    {{ twigEventDispatch({'event_name': 'OJS_NEW_ARTICLE_SUBMISSIN_SCRIPT'})|raw }}
{% endblock %}
