{% set hideleft = 1 %}
{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'article.new.submit' }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@submission_css' output="c/submission.css" filter="cssrewrite" %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    <style>
        .slip-reordering {  box-shadow: 0 2px 10px rgba(0,0,0,0.45); }
        .slip-swiping-container {  overflow-x: hidden;  }
        #authorlist li {  user-select: none;  -moz-user-select: none; -webkit-user-select: none; cursor: default; }
    </style>
    {% stylesheets '@apptour_css' output="c/apptour.css" %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %} 
{% endblock %}

{% block body -%}
    <input type="hidden" name="journalId" value="{%if journal.id %}{{ journal.id }}{%endif%}"/>
    <input type="hidden" name="submissionId" value="{%if submissionId is defined %}{{submissionId}}{%endif%}"/>

    <ul class='nav nav-wizard submission-progress' id="article-submission-steps">
        <li id="submission-progress-step1" class="active"><span class="badge">1</span> {{"article.singular"|trans}}</li>
        <li id="submission-progress-step2"><span class="badge">2</span> {{"author.plural"|trans}}</li>
        <li id="submission-progress-step3"><span class="badge">3</span> {{"article.citations"|trans}}</li>
        <li id="submission-progress-step4"><span class="badge">4</span>  {{"article.files"|trans}}</li>
        <li class="laststep"><span class="badge">5</span> {{"preview"|trans}} & {{"submit"|trans}}</li>
    </ul> 
    {% if session('selectedJournalId')  %}
        <div class="dropdown">
            <button class="dropdown-toggle btn btn-block btn-default" type="button" id="changeSelectedJournal" data-toggle="dropdown">
                {{ userjournals[session('selectedJournalId')].title  }}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu list-group" role="menu">
                {%for journal in userjournals%}
                    <li class=list-group-item">
                        <a href="{{path('change_selected_journal',{'journal_id':journal.id})}}">
                            {{journal.title}}
                        </a>
                    </li> 
                {%endfor%}
            </ul>
        </div> 
    {%endif%}
    <form name="base" class="form-horizontal row" role="form">
        <div class="form-group col-md-6">
            <label class="col-md-6 control-label">{{"article.language.primary"|trans}}</label>
            <div class="col-md-4">
                <select class="select2-element" name="primaryLanguage" class="form-control" style="width:200px">
                    {% for lang in journal.languages %}
                        <option value="{{ lang.code }}">{{ lang.name }} [{{ lang.code }}]</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <span id="resumeNote" class="">

            </span>
        </div>
    </form>

    <div id="step1-container" class="step">
        <ul id="mainTabs" class="nav nav-tabs" role="tablist">
            <li class="lang dropdown">
                <a href="#" id="languageDrop" class="dropdown-toggle"
                   data-toggle="dropdown">
                    <i class="fa fa-plus"></i> {{"add.language"|trans}}
                    <span class="caret"></span>
                </a>
                <ul id="languageDropList" class="dropdown-menu" role="menu" aria-labelledby="languageDrop">
                    {% for lang in  journal.languages %}
                        <li>
                            <a href="#"
                               id="langitem_{{ lang.code }}"
                               code="{{ lang.code }}" lang="{{ lang.name }}" tabindex="-1">
                                {{ lang.name }}
                                <small>({{ lang.code }})</small>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        </ul> 

        <!-- Tab panes -->

        <div class="tab-content" id="step1">

        </div>
        <div class="step1_actions record_actions col-md-12">
            <br>
            <a class="btn btn-default btn-lg" onclick="return confirm('{{ "sure"|trans }} ');"
               href="{{ path('article_submission_new') }}">
                {{"res"|trans}}
            </a>
            <a class="btn btn-info btn-lg"
               onclick="javascript: OjsArticleSubmission.step1('{{ path('article_submission_step1',{'locale':'locale'}) }}');">
                {{ "save.next"|trans }}
                <i class="fa fa-chevron-right"></i>
            </a>
        </div>
    </div>
    <div id="step2-container" class="step hide">
        <h2>{{"article.authors"|trans}} 
            <a href="#" onclick="OjsArticleSubmission.addAuthorForm();" 
               class="btn btn-sm btn-info"><i class="fa fa-plus"></i> {{"add"|trans}}</a>
        </h2>

        <div id="step2" class="authorlist">
            {% if submissionData is defined and submissionData.authors is defined %}
                {% for author in submissionData.authors %}
                    {% include 'OjsJournalBundle:ArticleSubmission:step2.html.twig' %}    
                {% endfor %}
            {% endif %}
        </div>
        <div class="step2_actions record_actions col-md-12">
            <br>
            <a class="btn btn-default btn-lg"
               onclick="javascript:OjsArticleSubmission.backTo(1);">
                <i class="fa fa-chevron-left"></i> {{ "b"|trans}} 
            </a>
            <a class="btn btn-info btn-lg"
               onclick="javascript: OjsArticleSubmission.step2('{{ path('article_submission_step2') }}');">
                {{ "save.next"|trans }} 
                <i class="fa fa-chevron-right"></i>
            </a>
        </div>
    </div>

    <div id="step3-container" class="step hide">

        <div id="step3">
            <h2>{{"citations"|trans}}</h2>
            <div class="row">
                <button class="btn btn-success" id="pasteArticleCitationInline">
                    <i class="fa fa-edit"></i> {{"citation.paste_extract"|trans}}
                </button>
                <button class="btn btn-info" id="addArticleCitationInline">
                    <i class="fa fa-plus"></i> {{"citation.add"|trans}}
                </button>

                <div id="citationPasteField" style="display: block!important">
                    <div class="form-row well">
                        <textarea class="form-control citationPasteTextArea" rows="5"></textarea>
                    </div>
                </div>
            </div>

            <div id="citationContainer">
                {%if citations is defined %}
                    {% for citationItem in citations %}
                        {% include 'OjsJournalBundle:ArticleSubmission:step3.html.twig' %}    
                    {% endfor %}
                {% endif %}


            </div>


        </div>
        <div class="step3_actions record_actions col-md-12">

            <br>
            <a class="btn btn-default btn-lg"
               onclick="javascript:OjsArticleSubmission.backTo(2);">
                <i class="fa fa-chevron-left"></i> {{ "b"|trans}} 
            </a>
            <a class="btn btn-info btn-lg"
               onclick="javascript: OjsArticleSubmission.step3('{{ path('article_submission_step3') }}');">
                {{ "save.next"|trans }}
                <i class="fa fa-chevron-right"></i>
            </a>
        </div>
    </div>


    <div id="step4-container" class="step hide">
        <h2>{{ "article.files"|trans }}
            <small><button onclick="OjsArticleSubmission.addFileForm();" class="btn btn-sm btn-default btn-circle">+</button></small>
        </h2>

        <div class="col-md-12">
            <form class="file-item">
                <span class="btn btn-success fileinput-button">
                    <i class="fa fa-plus"></i>
                    <span>{{"select_article_file"|trans}}</span>
                    <input class="article_file_upload" type="file" data-url="{{ oneup_uploader_endpoint('generic') }}">
                    <input name="type" type="hidden" value="0" />
                    <input name="article_file" class="filename" class="article_file_input" value="" type="hidden"/>
                    <input name="article_file_mime_type" value="" type="hidden"/>
                    <input name="article_file_size" value="" type="hidden"/>
                </span>
                <span class="upload_progress label label-info" style="display: none"></span>
            </form>
        </div><hr>
        <br>
        <h3>{{ 'Supplementary.File'|trans }}</h3>
        <div id="step4">

        </div>
        <div class="step4_actions record_actions col-md-12">
            <br>
            <a class="btn btn-default btn-lg"
               onclick="javascript:OjsArticleSubmission.backTo(3);">
                <i class="fa fa-chevron-left"></i> {{ "b"|trans}} 
            </a>

            <a class="btn btn-info btn-lg"
               onclick="javascript: OjsArticleSubmission.step4('{{ path('article_submission_step4') }}');">
                {{ "save.next"|trans }}
                <i class="fa fa-chevron-right"></i>
            </a>
        </div>
    </div>





    <script id="step1_tpl" type="x-tmpl-mustache">
        {% include 'OjsJournalBundle:ArticleSubmission:step1.html.twig' %}
    </script>

    <script id="step2_tpl" type="x-tmplmustache">
        {% include 'OjsJournalBundle:ArticleSubmission:step2.html.twig' %}    
    </script>

    <script id="step3_tpl" type="x-tmplmustache">
        {% include 'OjsJournalBundle:ArticleSubmission:step3.html.twig' %}    
    </script>

    <script id="step4_tpl" type="x-tmplmustache">
        {% include 'OjsJournalBundle:ArticleSubmission:step4.html.twig' %}    
    </script>

{% endblock %}

{% block javascripts %}

    {{ parent() }}
    {% javascripts  '@submission_js' output="c/submission_js.js" %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %} 

    {% javascripts '@apptour_js' output="c/apptour.js" %}
    <script type="text/javascript" src="{{ asset_url }}"></script> 
    {% endjavascripts %}

    {% javascripts '@OjsJournalBundle/Resources/public/js/tour/article_submission_tour.js' output="c/article_submission_tour.js" %}
    {% if app.user.setting('tour.admin.article-submit') == FALSE %}
    <script type="text/javascript" src="{{ asset_url }}"></script> 
    {% endif %}
        {% endjavascripts %}

        <script>
            window.onbeforeunload = function () {
                return "{{"sure_data_lost"|trans}}";
            };

            OjsCommon.api.userApikey = "{{app.user.apiKey}}";
            $(document).ready(function () {
            {%if submissionId is defined %} 
                OjsArticleSubmission.submissionId = "{{submissionId}}";
                OjsArticleSubmission.showResumeNote(OjsArticleSubmission.submissionId);
                {#
                    Load submission steps with data
                    #} 
                $("select[name=primaryLanguage]").select2("val", "{{submissionData.primaryLanguage}}");
                {% for key,article in submissionData.articleData %}
                        var params = {
                            "article_title": "{{article.title|raw}}",
                            "article_subtitle": "{{article.subtitle|raw}}",
                            "article_keywords": "{{article.keywords|raw}}",
                            "article_subjects": "{{article.subjects|raw}}",
                            "article_abstract": "{{article.abstract|raw}}"
                        };
                        OjsArticleSubmission.step1AddLanguageForm("{{languages[key].code}}", "{{languages[key].name}} ", params);
                {% endfor %} 

                        OjsArticleSubmission.activatedSteps["step1"] = true;
            {% endif %}
                });
        </script>
        {% endblock %}
