{% set hideleft = 1 %}
{% extends '::ojsbase.html.twig' %}
{% block title %}Submit New Article{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@upload_css' output="c/upload.css" %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    <link rel="stylesheet" href="{{asset("/vendor/select2/select2.css")}}" type="text/css"/>
    <link rel="stylesheet" href="{{asset("/vendor/bootstrap3-wysihtml5-bower/dist/bootstrap3-wysihtml5.css")}}" type="text/css"/>
    <style>
        .slip-reordering {  box-shadow: 0 2px 10px rgba(0,0,0,0.45); }
        .slip-swiping-container {  overflow-x: hidden;  }
        #authorlist li {  user-select: none;  -moz-user-select: none; -webkit-user-select: none; cursor: default; }
    </style>
    {% stylesheets '@apptour_css' output="c/apptour.css" %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %} 
{% endblock %}

{% block body -%}
    <input type="hidden" name="journalId" value="{%if journal.id %}{{ journal.id }}{%endif%}"/>
    <input type="hidden" name="submissionId" value="{%if submissionId is defined %}{{submissionId}}{%endif%}"/>

    <ul class='nav nav-wizard submission-progress' id="article-submission-steps">
        <li id="submission-progress-step1" class="active"><span class="badge">1</span> {{"articles.article"|trans}}</li>
        <li id="submission-progress-step2"><span class="badge">2</span> {{"authors"|trans}}</li>
        <li id="submission-progress-step3"><span class="badge">3</span> {{"articles.citations"|trans}}</li>
        <li id="submission-progress-step4"><span class="badge">4</span>  {{"articles.files"|trans}}</li>
        <li class="laststep"><span class="badge">5</span> {{"preview"|trans}} & {{"submit"|trans}}</li>
    </ul>

    <form name="base" class="form-horizontal row" role="form">
        <div class="form-group col-md-6">
            <label class="col-md-6 control-label">{{"articles.language.primary"|trans}}</label>
            <div class="col-md-4">
                <select class="select2" name="primaryLanguage" class="form-control" style="width:200px">
                    {% for lang in journal.languages %}
                        <option value="{{ lang.code }}">{{ lang.name }} [{{ lang.code }}]</option>
                    {% endfor %}
                </select>
            </div>
        </div>
                <div class="col-md-6">
                    <span id="resumeNote" class="label label-info">
                   
                    </span>
                </div>
    </form>

    <div id="step1-container" class="step">
        <ul id="mainTabs" class="nav nav-tabs" role="tablist">
            <li class="lang dropdown">
                <a href="#" id="languageDrop" class="dropdown-toggle"
                   data-toggle="dropdown">
                    <i class="fa fa-plus"></i> Add language
                    <span class="caret"></span>
                </a>
                <ul id="languageDropList" class="dropdown-menu" role="menu" aria-labelledby="languageDrop">
                    {% for lang in  journal.languages %}
                        <li>
                            <a href="#"
                               id="langitem_{{ lang.code }}"
                               code="{{ lang.code }}" lang="{{ lang.name }}" tabindex="-1">
                                {{ lang.name }}
                                <small>({{ lang.code }})</small>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        </ul> 

        <!-- Tab panes -->

        <div class="tab-content" id="step1">

        </div>
        <div class="step1_actions record_actions col-md-12">
            <br>
            <a class="btn btn-default btn-lg" onclick="return confirm('{{ "sure"|trans }} ');"
               href="{{ path('article_submission_new') }}">
                {% trans %}res{% endtrans %}
            </a>
            <a class="btn btn-info btn-lg"
               onclick="javascript: OjsArticleSubmission.step1('{{ path('article_submission_step1',{'locale':'locale'}) }}');">
                {{ "save.next"|trans }}
                <i class="fa fa-chevron-right"></i>
            </a>
        </div>
    </div>
    <div id="step2-container" class="step hide">
        <h2>{{"articles.authors"|trans}} 
            <a href="#" onclick="OjsArticleSubmission.addAuthorForm();" 
               class="btn btn-sm btn-info"><i class="fa fa-plus"></i> Add</a>
        </h2>

        <div id="step2" class="authorlist">

        </div>
        <div class="step2_actions record_actions col-md-12">
            <br>
            <a class="btn btn-default btn-lg"
               onclick="javascript:OjsArticleSubmission.backTo(1);">
                <i class="fa fa-chevron-left"></i> {{ "b"|trans}} 
            </a>
            <a class="btn btn-info btn-lg"
               onclick="javascript: OjsArticleSubmission.step2('{{ path('article_submission_step2') }}');">
                {{ "save.next"|trans }} 
                <i class="fa fa-chevron-right"></i>
            </a>
        </div>
    </div>

    <div id="step3-container" class="step hide">

        <div id="step3">

        </div>
        <div class="step3_actions record_actions col-md-12">
            <br>
            <a class="btn btn-default btn-lg"
               onclick="javascript:OjsArticleSubmission.backTo(2);">
                <i class="fa fa-chevron-left"></i> {{ "b"|trans}} 
            </a>
            <a class="btn btn-info btn-lg"
               onclick="javascript: OjsArticleSubmission.step3('{{ path('article_submission_step3') }}');">
                {{ "save.next"|trans }}
                <i class="fa fa-chevron-right"></i>
            </a>
        </div>
    </div>


    <div id="step4-container" class="step hide">

        <div id="step4">

        </div>
        <div class="step4_actions record_actions col-md-12">
            <br>
            <a class="btn btn-default btn-lg"
               onclick="javascript:OjsArticleSubmission.backTo(3);">
                <i class="fa fa-chevron-left"></i> {{ "b"|trans}} 
            </a>

            <a class="btn btn-info btn-lg"
               onclick="javascript: OjsArticleSubmission.step4('{{ path('article_submission_step4') }}');">
                {{ "save.next"|trans }}
                <i class="fa fa-chevron-right"></i>
            </a>
        </div>
    </div>





    <script id="step1_tpl" type="x-tmpl-mustache">
        {% include 'OjsJournalBundle:ArticleSubmission:step1.html.twig' %}
    </script>

    <script id="step2_tpl" type="x-tmplmustache">
        {% include 'OjsJournalBundle:ArticleSubmission:step2.html.twig' %}    
    </script>

    <script id="step3_tpl" type="x-tmplmustache">
        {% include 'OjsJournalBundle:ArticleSubmission:step3.html.twig' %}    
    </script>

{% endblock %}

{% block javascripts %}

    {{ parent() }}
    {% javascripts '@upload_js' output="c/upload.js" %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% javascripts 'vendor/mustache/mustache.js' 
                    'vendor/angular/angular.min.js'
                    'vendor/select2/select2.min.js'
                    'vendor/jquery-sortable/source/js/jquery-sortable-min.js'
                    'vendor/bootstrap3-wysihtml5-bower/dist/bootstrap3-wysihtml5.all.min.js'
                    '@OjsJournalBundle/Resources/public/js/article_submission.js'
                    '@OjsJournalBundle/Resources/public/js/article_cite.js' 
                    
        output="c/submission_js.js" %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %} 

    {% javascripts '@apptour_js' output="c/apptour.js" %}
    <script type="text/javascript" src="{{ asset_url }}"></script> 
    {% endjavascripts %}

    {% javascripts '@OjsJournalBundle/Resources/public/js/tour/article_submission_tour.js' output="c/article_submission_tour.js" %}
    {% if app.user.setting('tour.admin.article-submit') == FALSE %}
    <script type="text/javascript" src="{{ asset_url }}"></script> 
    {% endif %}
    {% endjavascripts %}

    <script>
        OjsCommon.api.userApikey = "{{app.user.apiKey}}";
        function showResumeNote(submissionId){
            $rnt = $("#resumeNote");
            $rnt.html("You can resume your submission progress anytime with this url  "+
                    "<a href='{{path("article_submission_new")}}"+submissionId+"'>#"+submissionId+"</a>");
            $rnt.show();
        }
        $(document).ready(function () {
        {%if submissionId is defined %} 
                OjsArticleSubmission.submissionId = "{{submissionId}}";
                showResumeNote(OjsArticleSubmission.submissionId);
                {#
                Load submission steps with data
                #}
                console.log("resume");
            {% for key,article in submissionData.articleData %}
                var params = {
                    "article_title":"{{article.title|raw}}",
                    "article_subtitle":"{{article.subtitle|raw}}",
                    "article_title_trans":"{{article.titleTransliterated|raw}}",
                    "article_keywords":"{{article.keywords|raw}}",
                    "article_subjects":"{{article.subjects|raw}}",
                    "article_abstract":"{{article.abstract|raw}}"
                };
                OjsArticleSubmission.step1AddLanguageForm( "{{languages[key].code}}","{{languages[key].name}} ", params);
            {% endfor %}
                OjsArticleSubmission.activatedSteps["step1"] = true;
        {% endif %}
        });
    </script>
{% endblock %}
