<form action="">

    <div class="panel panel-default">
        <div class="panel-body"> 
            {% if session('selectedJournalId') %}
                <div class="col-md-3 col-xs-12"><label> {%trans%}Select journal to submit{%endtrans%}</label></div>
                <div class="col-md-9 col-xs-12">{% if journal.id %}{% set selected_journal_id = journal.id %}{% endif %}
                    <select id="changeSelectedJournal" class="form-control select2-element">
                        {% for journal in userjournals %}
                            <option value="{{ path('change_selected_journal',{'journal_id':journal.id}) }}"
                                    {% if journal.id == selected_journal_id  %}selected="selected" {% endif %}>
                                {{ journal.title }} {% if journal.id == selected_journal_id  %} {{ "(selected)"|trans }} {% endif %}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            {% endif %} 
        </div>
        <div class="panel-heading panel-warning">
            {{"help.preSubmission.header"|trans|raw}}
        </div>

        {% for item in journal.submissionChecklist %}
            {% if item.visible %}
                <div class="panel-body">
                    <fieldset>
                        <legend>
                            <label for="item_{{ item.id }}">
                                <input type="checkbox" name="checklistItems[{{ item.id }}]" id="item_{{ item.id }}" {% if item.id in checklist|keys %} checked="checked" {% endif %}/>
                                {{ item.label |raw }}
                            </label>
                        </legend>
                        {% if item.detail and item.detail != null%}
                            <div style="height: 100px;overflow: scroll">
                                {{ item.detail|raw }}
                            </div>
                        {% endif %}
                    </fieldset>

                </div>
            {% endif %}
        {% endfor %}

        {% if firstStep.shouldFileCi %}
            <div class="panel-body">
                <fieldset>
                    <legend>{{"competingOfInterest"|trans}} </legend>
                    <h4>{{"Guidelines"|trans}}</h4>
                    <p>{{firstStep.ciText|raw}}</p>
                    <hr>
                    <textarea class="editor form-control" name="competingOfInterest"
                              placeholder="You can write your competing of interest statement. 
                              You can also upload as file at step 5."></textarea>
                </fieldset>
            </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="step1_actions record_actions">
            <div class="col-sm-12">
                <hr />
                <a class="btn btn-danger btn-lg" onclick="return confirm('{{ "sure"|trans }} ');"
                   href="{{ path('article_submission_new') }}">
                    <i class="fa fa-repeat"></i>
                    {{ "restart"|trans }}
                </a>
                <a class="btn btn-success btn-lg pull-right"
                   onclick="javascript: OjsArticleSubmission.step0('{{ path('article_pre_submission',{'locale':'locale'}) }}');">
                    <i class="fa fa-save"></i>
                    {{ "save.next"|trans }}
                    <i class="fa fa-chevron-right"></i>
                </a>
            </div>
        </div>
    </div>


</form>