{% set hideleft = 1 %}
{% extends '::ojsbase.html.twig' %}
{% block title %}Preview Article Before Submit{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@submission_css' output="c/submission.css" %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {% stylesheets '@apptour_css' output="c/apptour.css" %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %} 
{% endblock %}

{% block body -%}
    <input type="hidden" name="journalId" value="{%if journal.id %}{{ journal.id }}{%endif%}"/>
    <input type="hidden" name="submissionId" value="{%if submissionId is defined %}{{submissionId}}{%endif%}"/>

    <ul class='nav nav-wizard submission-progress' id="article-submission-steps">
        <li id="submission-progress-step1"><span class="badge">1</span> {{"article.singular"|trans}}</li>
        <li id="submission-progress-step2"><span class="badge">2</span> {{"author.plural"|trans}}</li>
        <li id="submission-progress-step3"><span class="badge">3</span> {{"article.citations"|trans}}</li>
        <li id="submission-progress-step4"><span class="badge">4</span>  {{"article.files"|trans}}</li>
        <li class="laststep" class="active"><span class="badge">5</span> {{"preview"|trans}} & {{"submit"|trans}}</li>
    </ul>

    <div class="col-md-12">
        <h1>{{"preview"|trans}} 
            <small class="pull-right">
                <a class="btn btn-link"><i class="fa fa-print"></i></a>
            </small>
        </h1>

        <div class="panel panel-default">
            <div class="panel-heading">{{"article.metadata"|trans}}</div>
            <div class="panel panel-body table-responsive">
                <table class="table table-striped">

                    {% for key,article in submissionData.articleData %}
                        <tr>
                            <td colspan="2">
                                <br>
                                <span class="label label-info">{{key}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>{{"title"|trans}}</td>
                            <td>{{article.title}}</td>
                        </tr>
                        <tr>
                            <td>{{"titleTransliterated"|trans}}</td>
                            <td>{{article.titleTransliterated}}</td>
                        </tr>
                        <tr>
                            <td>{{"subtitle"|trans}}</td>
                            <td>{{article.subtitle}}</td>
                        </tr>
                        <tr>
                            <td>{{"keywords"|trans}}</td>
                            <td>{{article.keywords}}</td>
                        </tr>
                        <tr>
                            <td>{{"subjects"|trans}}</td>
                            <td>{{article.subjects}}</td>
                        </tr>
                        <tr>
                            <td>{{"abstract"|trans}}</td>
                            <td>{{article.abstract}}</td>
                        </tr>
                    {%endfor%}
                </table>

            </div>
            <div class="panel-footer"></div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">{{"article.authors"|trans}}</div>
            <div class="panel panel-body table-responsive">
                <table class="table table-condensed">
                    {% for key,author in submissionData.authors %}
                        <tr>
                            <td colspan="2">
                                <br>
                                <span class="label label-info">{{author.order}}</span></td>
                        </tr>
                        <tr>
                            <td>{{"author.initials"|trans}}</td>
                            <td>{{author.initials}}</td>
                        </tr>
                        <tr>
                            <td>{{"author.firstname"|trans}}</td>
                            <td>{{author.firstName}}</td>
                        </tr>
                        <tr>
                            <td>{{"author.middlename"|trans}}</td>
                            <td>{{author.middleName}}</td>
                        </tr>
                        <tr>
                            <td>{{"author.lastname"|trans}}</td>
                            <td>{{author.lastName}}</td>
                        </tr>
                        <tr>
                            <td>{{"email"|trans}}</td>
                            <td>{{author.email}}</td>
                        </tr>
                        <tr>
                            <td>{{"author.summary"|trans}}</td>
                            <td>{{author.summary}}</td>
                        </tr>

                    {%endfor%}
                </table>
            </div>
            <div class="panel-footer"></div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">{{"article.citations"|trans}}</div>
            <div class="panel panel-body">

                {% for key,citation  in submissionData.citations %}
                    <table class="table">
                        <tr>
                            <td><span class="badge">{{citation.orderNum}}</span> {{citation.raw}}</td>
                        </tr>
                    </table>
                    <hr>
                {%endfor%}
            </div>
            <div class="panel-footer"></div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">{{"article.files"|trans}}</div>
            <div class="panel panel-body table-responsive">
                {% for key,file  in submissionData.files %}
                    <table class="table">
                        <tr>
                            <td>
                                {% if file.type != 0%} 
                                    <span class="badge">
                                        {{("file.types."~file.type~"")|trans}}
                                    </span> 
                                    #{{file.title}}
                                {% else %}
                                    {{"article.fulltext"|trans}}
                                {% endif %}
                                <a href="{{file.article_file}}"><i class="fa fa-download"></i></a>
                            </td>
                        </tr>
                    </table>
                    <hr>
                {%endfor%}
            </div>
            <div class="panel-footer"></div>
        </div>           
        <form action="{{ path('article_submission_finish') }}" method="POST">
            <input type="hidden" name="submissionId" value="{{submissionId}}">
            <div class="btn-group pull-right">
                <a class="btn btn-lg btn-default" href="{{path('article_submission_resume',{'submissionId':submissionId})}}">
                    <i class="fa fa-backward"></i> Back & Continue Editing
                </a>
                <button class="btn btn-primary btn-lg"
                        onclick="javascript: OjsArticleSubmission.submit('');">
                    {{ "article.submit"|trans }}
                    <i class="fa fa-check"></i>
                </button>
            </div>
        </form>

    </div>
{% endblock %}

{% block javascripts %}

    {{ parent() }}
    {% javascripts  '@submission_js' output="c/submission_js.js" %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %} 

    {% javascripts '@apptour_js' output="c/apptour.js" %}
    <script type="text/javascript" src="{{ asset_url }}"></script> 
    {% endjavascripts %}

    {% javascripts '@OjsJournalBundle/Resources/public/js/tour/article_submission_tour.js' output="c/article_submission_tour.js" %}
    {% if app.user.setting('tour.admin.article-submit') == FALSE %}
    <script type="text/javascript" src="{{ asset_url }}"></script> 
    {% endif %}
        {% endjavascripts %}

        <script>
            OjsCommon.api.userApikey = "{{app.user.apiKey}}";
        </script>
        {% endblock %}
