<div class="{% if citationItem is defined %}{%else%}hide{% endif %}" id="citationInfoFields">
    <form class="cite-item row"> 
        <div class="col-md-1">
            <input type="number" class="form-control" style="width:80px" name="orderNum" 
                   value="{% if citationItem is defined%}{{ citationItem.raw}}{%endif%}" placeholder="Order">
        </div>
        <div class="col-md-11">
            <input type="text" class="pull-left form-control" value="{% if citationItem is defined%}{{ citationItem.raw}}{%endif%}" 
                   name="raw" placeholder="Citation"> 
        </div>
        <div class="col-md-12">
            <a class="pull-right btn btn-sm btn-warning removeArticleCitationInline">
                <i class="fa fa-minus-circle"></i> {{"remove"|trans}}
            </a>
            <a href="#details" class="pull-right btn btn-sm btn-info addCitationDetails">{{"details"|trans}}</a>

        </div>
        <div class="citationDetails form-inline">
            <select class="select2 citation_type" onchange="CitationEditor.citationTypeSelected($(this));" name="type">
                <option value="">[Select Citation Type]</option>
                {% for type in citationTypes %}
                    <option value="{{type.name}}" 
                            {% if citationItem is defined and citationItem.type == type.name%}
                                selected="selected"
                            {% endif%}
                            data-should='{{type.should|json_encode()}}' 
                            data-must='{{type.must|json_encode()}}'>{{type.name|trans}}</option>
                {%endfor%}
            </select> 
            <br>

            <div class="citationDetailsFields form-inline">
                {% if citationItem is defined and citationItem.type %}
                    {% for field in citationTypes[citationItem.type].must %}
                        {% if citationItem[field] is defined %}
                            <input name="{{field}}" value="{{citationItem[field]}}" class="form-control" />
                        {% endif %}
                    {% endfor %}
                    {% for field in citationTypes[citationItem.type].must%}
                        {% if citationItem[field] is defined %}
                            <input name="{{field}}" value="{{citationItem[field]}}" class="form-control" />
                        {%endif%}
                    {% endfor %}
                {%endif%}
            </div>
            <hr>
        </div>
    </form>
    <hr>
    <br>
</div>