<div class="{% if citationItem is defined %}{%else%}hide{% endif %} cite-item">
    <form class="row"> 
        <div class="col-md-1">
            <input type="number" class="form-control" style="width:80px" name="orderNum" 
                   value="{% if citationItem is defined%}{{ citationItem.orderNum}}{%endif%}" placeholder="{{"order"|trans}}">
        </div>
        <div class="col-md-11">
            <input type="text" class="pull-left form-control" value="{% if citationItem is defined%}{{ citationItem.raw}}{%endif%}" 
                   name="raw" placeholder="{{"citation"|trans}}"> 
        </div>
        <div class="col-md-12">
            <div class="btn-group pull-right" role="group">
                <a class="btn btn-sm btn-warning removeArticleCitationInline">
                    <i class="fa fa-minus-circle"></i> {{"remove"|trans}}
                </a>
                <a href="#details" class="btn btn-sm btn-info addCitationDetails">
                    <i class="fa fa-eye"></i> {{"details"|trans}}
                </a>
            </div>
        </div>
        <div class="citationDetails col-md-12">
            <select class="select2-element citation_type" onchange="CitationEditor.citationTypeSelected($(this));" name="type">
                <option value="">{{"citation.type"|trans}}</option>
                {% for type in citationTypes %}
                    <option value="{{type.name}}" 
                            {% if citationItem is defined and citationItem.type == type.name%}
                                selected="selected"
                            {% endif%}
                            data-should='{{type.should|json_encode()}}' 
                            data-must='{{type.must|json_encode()}}'>{{type.name|trans}}</option>
                {%endfor%}
            </select> 
            <br>

            <div class="citationDetailsFields form-horizontal">
                {% if citationItem is defined and citationItem.type%}
                    {% if citationTypes[citationItem.type] is defined %}
                        {% for field in citationTypes[citationItem.type].must %}
                            {% if citationItem[field] is defined %}
                                <div class="form-group">
                                    <label class="col-md-1 control-label">{{field|trans}} </label> 
                                    <div class="col-md-10">
                                        <input name="{{field}}" value="{{citationItem[field]}}" class="form-control" /><br>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                        {% for field in citationTypes[citationItem.type].should%}
                            {% if citationItem[field] is defined %}
                                <div class="form-group">
                                    <label class="col-md-1 control-label">{{field|trans}} </label>
                                    <div class="col-md-10">
                                        <input name="{{field}}" value="{{citationItem[field]}}" class="form-control" /><br>
                                    </div>
                                </div>
                            {%endif%}
                        {% endfor %}
                    {% else %}
                        <div class="form-group">
                            <label class="col-md-1 control-label">{{field|trans}}~</label>
                            <div class="col-md-10">
                                <input name="{{field}}" value="{{citationItem[field]}}" class="form-control" /><br>
                            </div>
                        </div>
                    {% endif %}
                {%endif%}
            </div>
            <hr>
        </div>
    </form>
    <hr>
    <br>
</div>