<!-- new author form --> 
<div class="author-item panel panel-default">

    <div class="panel-body"> 
        <form class="form-horizontal" role="form"> 
            <input type="hidden" name="authorid" value="" />
            <div class="col-md-12">
                <div class="controls form-inline"> 
                    <input name="orcid" id="orcidinput" class="form-control input-xs"
                           value="{% if author is defined %}{{author.orcid}}{% endif %}" placeholder="{{"author.orcid"|trans}}"/>
                </div>
                <div class="controls">
                    <span class="control-label"> </span>
                    <div class="controls-row form-inline">
                        <input name="order" type="number" min="1" max="10000" id="orderinput" class="form-control input-sm"
                               value="{% if author is defined %}{{author.order}}{% endif %}" placeholder="{{"author.order"|trans}}"/>
                        <input name="title" id="titleinput" class="form-control input-sm" 
                               value="{% if author is defined %}{{author.title}}{% endif %}" placeholder="{{"author.title"|trans}}"/>
                        <input name="initials" id="initialsinput" class="form-control input-sm" 
                               value="{% if author is defined %}{{author.initials}}{% endif %}" placeholder="{{"author.initials"|trans}}"/>
                        <input name="firstName" id="firstnameinput" class="form-control input-sm" 
                               value="{% if author is defined %}{{author.firstName}}{% endif %}" placeholder="{{"author.firstname"|trans}}"/>
                        <input name="middleName" id="middlenameinput" class="form-control input-sm" 
                               value="{% if author is defined %}{{author.middleName}}{% endif %}" placeholder="{{"author.middlename"|trans}}"/>
                        <input name="lastName" id="lastnameinput" class="form-control input-sm" 
                               value="{% if author is defined %}{{author.lastName}}{% endif %}" placeholder="{{"author.lastname"|trans}}"/>

                    </div>
                </div>
                <div class="controls-row">
                    <label class="control-label">{{"email"|trans}} <span class="mandotary"></span></label>
                    <input  name="email"  id="emailinput" class="form-control input-sm"
                            value="{% if author is defined %}{{author.email}}{% endif %}" placeholder="{{"email"|trans}}"/>
                </div>
                <div class="controls">
                    <a class="btn btn-sm btn-danger" onclick="OjsArticleSubmission.removeAuthor($(this));"><i class="fa fa-trash"></i> {{"remove"|trans}}</a>
                    <a class="btn btn-sm btn-default" onclick="$(this).parent().next().slideToggle('fast');"><i class="caret"></i> {{"details"|trans}}</a>
                </div>
                  
                <div style="display:none">
                    <div class="controls-row">
                        <label class="control-label">{{"institution"|trans}}</label>
                        <input name="institution" id="institutioninput"  value="{% if author is defined  %}{{ author.institution}}{%endif%}"
                               class="form-control select2-institution-search-element" multiple="1" style="min-width:250px" />
                    </div>
                    <div class="controls-row">
                        <label class="control-label">{{"phone"|trans}}</label>
                        <input name="phone" id="phoneinput" class="form-control" value="{% if author is defined  %}{{ author.phone}}{%endif%}" />
                    </div>
                    <div class="controls-row">
                        <label class="control-label">{{"summary"|trans}}</label>
                        <textarea name="summary" id="summaryinput" class="form-control" rows="3">{% if author is defined %}{{author.summary}}{% endif %}</textarea>
                    </div>
                </div>
            </div> 
        </form>
    </div>
</div>