<!-- new author form --> 
<div class="author-item panel panel-default">

    <div class="panel-body"> 
        <form class="form-horizontal" role="form"> 
            <input type="hidden" name="authorid" value="" />
            <div class="col-md-12">
                <div class="controls form-inline"> 
                    <input name="order" type="number" id="orderinput" class="form-control input-sm"
                           value="{% if author is defined %}{{author.order}}{% endif %}" placeholder="{{"author.order"|trans}}"/>
                </div>
                <div class="controls">
                    <span class="control-label"> </span>
                    <div class="controls form-inline">
                        <input name="title" id="titleinput" class="form-control" 
                               value="{% if author is defined %}{{author.title}}{% endif %}" placeholder="{{"author.title"|trans}}"/>
                        <input name="initials" id="initialsinput" class="form-control" 
                               value="{% if author is defined %}{{author.initials}}{% endif %}" placeholder="{{"author.initials"|trans}}"/>
                        <input name="firstName" id="firstnameinput" class="form-control" 
                               value="{% if author is defined %}{{author.firstName}}{% endif %}" placeholder="{{"author.firstname"|trans}}"/>
                        <input name="middleName" id="middlenameinput" class="form-control" 
                               value="{% if author is defined %}{{author.middleName}}{% endif %}" placeholder="{{"author.middlename"|trans}}"/>
                        <input name="lastName" id="lastnameinput" class="form-control" 
                               value="{% if author is defined %}{{author.lastName}}{% endif %}" placeholder="{{"author.lastname"|trans}}"/>
                        <input name="orcid" id="orcidinput" class="form-control"
                               value="{% if author is defined %}{{author.orcid}}{% endif %}" placeholder="{{"author.orcid"|trans}}"/>
                    </div>
                </div>
                <div class="controls">
                    <label class="control-label">{{"email"|trans}} <span class="mandotary"></span></label>
                    <input  name="email"  id="emailinput" class="form-control"
                           value="{% if author is defined %}{{author.email}}{% endif %}" placeholder="{{"email"|trans}}"/>
                </div>
                <br>
                <a class="btn btn-sm btn-info pull-right" onclick="OjsArticleSubmission.addAuthorForm();"><i class="fa fa-plus-circle"></i> {{"add"|trans}}</a>
                <a class="btn btn-sm btn-warning" onclick="OjsArticleSubmission.removeAuthor($(this));"><i class="fa fa-trash"></i> {{"remove"|trans}}</a>
                <a class="btn btn-sm btn-default" onclick="$(this).next().slideToggle('fast');"><i class="caret"></i> {{"details"|trans}}</a>

                <div style="display:none">
                    <div class="controls">
                        <label class="control-label">{{"summary"|trans}}</label>
                        <textarea name="summary" id="summaryinput" class="form-control" rows="6">{% if author is defined %}{{author.summary}}{% endif %}</textarea>
                    </div>
                </div>
            </div> 
        </form>
    </div>
</div>