{% extends '::ojsbase.html.twig' %}
{% set hideleft = true %}
{% block title %}{{ 'title.institution_managers_new'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
        {'link': path('ojs_admin_dashboard'), 'title': 'dashboard'|trans},
        {'link': path('ojs_admin_institution_managers_index'),'title': 'title.institution_managerss'|trans},
        {'title': 'title.institution_managers_new'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    <h1>{{ "institutionmanagers.new"|trans }}</h1>

    <a href="{{ path('ojs_admin_institution_managers_index') }}">{{ "b"|trans }}</a>
    {{ form(form) }}
{% endblock %}
