{% extends '::ojsbase.html.twig' %}

{% block breadcrumb %}
    {% set list = [
        {'link': path('dashboard'), 'title': 'dashboard'|trans},
        { 'link': path('admin_file'),'title': 'file'|trans},
        {'title': 'edit'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    <h1>{{"file.edit"|trans}}</h1>
    <div class="col-md-12">
        {% include '::flashbag.html.twig' %}
        <form action="{{ url('admin_file_update',{id: entity.id}) }}" enctype="multipart/form-data" method="post">
            {{ form_widget(edit_form) }}
            {{ 'file'|trans }} <a href="{{ url('ojs_file_download',{id: entity.id}) }}" target="_blank">{{ entity.name }}</a>
            <br/>

            <span class="btn btn-success fileinput-button">
                <i class="fa fa-plus"></i>
                <span>{{"file.select"|trans}}</span>
                <input id="fileupload" type="file" data-url="{{ oneup_uploader_endpoint('journalfiles') }}">
                <input name="file" id="file_input" value="" type="hidden" />
            </span>
            <div id="file_upload_progress" style="display: none" class="label label-info">

            </div>

            <br>
            <br>
            <br>
            {{ form_rest(edit_form) }}
            <div class="form-group">
                <button type="submit" id="ojs_journalbundle_articlefile_submit" name="ojs_journalbundle_articlefile[submit]" class="btn btn-primary">{{ 'e'|trans }}</button></div>
        </form>
    </div>
    {% set back_path = 'admin_file' %}
    {% set delete_path = 'admin_file_delete' %}
    {% include '::actionbuttons.html.twig' %}
{% endblock %}
{% block javascripts %}
    {{parent()}}
    {% javascripts '@upload_js' output="c/upload.js"%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        $(document).ready(function ()
        {
            $('#fileupload').fileupload({});
            $('#fileupload').bind('fileuploadsend', function (e, data) {
                $('#file_upload_progress').show();
                $('#file_upload_progress').html("{{"uploading"|trans}}");
            }).bind('fileuploaddone', function (e, data) {
                $('#file_upload_progress').html("{{"done"|trans}}");
                console.dir( JSON.parse(data.result));
                var file = JSON.parse(data.result)
                $('#ojs_journalbundle_articlefile_name').attr('value', file.files.name);
                $('#ojs_journalbundle_articlefile_path').attr('value', file.files.path);
                $('#ojs_journalbundle_articlefile_size').attr('value', file.files.size);
                $('#ojs_journalbundle_articlefile_mimeType').attr('value', file.files.mimeType);
            });
        });
    </script>
{% endblock %}