{% extends '::ojsbase.html.twig' %}

{% block body -%}
    <h1>{{"file.list"|trans}}</h1>

    <a href="{{path('admin_file_new')}}">{{"c"|trans}}</a>
    <table class="records_list table">
        <thead>
            <tr>
                <th>{{ 'id'|trans }}</th>
                <th>{{"name"|trans}}</th>
                <th>{{"mimetype"|trans}}</th>
                <th>{{"size"|trans}}</th>
                <th>{{"actions"|trans}}</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('admin_file_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>

                    <td>{{ entity.name }}</td>
                    <td>{{ entity.mimeType }}</td>
                    <td>{{ entity.size }}</td>
                    <td>
                        {% set show_path = 'admin_file_show' %}
                        {% set edit_path = 'admin_file_edit' %}
                        {% set delete_path = 'admin_file_delete' %}
                        {% include '::actionbtns.html.twig' %}

                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
