{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.publishers'|trans }} {{ parent() }}{% endblock %}
{% set hideleft = 1 %}

{% block breadcrumb %}
    {% set list = [
    {'link': path('ojs_public_index'), 'title': 'ojs.title'|trans},
    {'title': 'publishers'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body %}
    <div class="container">
        <!-- Page Content -->
        {% if design is defined %}
            {% include template_from_string("{{ design }}") %}
        {% else %}
            <h1 class="page-header">{{ "publishers"|trans }}</h1>
            <ul class="list-group">
                {% for entity in entities %}
                    <a href="{{ url('ojs_publisher_page',{slug: entity.slug}) }}"
                       class="list-group-item {% if entity.verified %}list-group-item-success{% endif %}">
                        {% if entity.verified %}
                            <i class="badge fa fa-diamond"></i>
                        {% endif %}
                        {{ entity.name }}</a>

                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <!-- /.container -->

{% endblock %}
