{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.publisher'|trans }} {{ parent() }}{% endblock %}
{% set hideleft = 1 %}

{% block stylesheets %}
    {{ parent() }}
    {% if entity.theme is defined and entity.theme %}
        <style>
            {{ entity.theme.css|raw }}
        </style>
    {% endif %}
{% endblock %}

{% block breadcrumb %}
    {% set list = [
    {'link': path('ojs_public_index'), 'title': project_name},
    {'title': 'instution'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body %}
    <div class="container">
        {% if entity.design is defined and entity.design is not null %}
            {% include template_from_string(entity.design.content) %}
        {% else %}
            {% if entity.header is not null %}
                <div class="row">
                    <div class="col-sm-12">
                        <img class="img-responsive center-block"
                             src="{{ entity.header|imagine_filter('publisher_header') }}" />
                    </div>
                </div>
            {% endif %}
            <!-- Page Content -->
            <h1 class="page-header">{{ entity.name }} </h1>
            <div class="panel panel-default">
                <div class="panel-body">
                    {% if entity.logo is not empty %}
                        <div class="col-sm-3">
                            <img class="img-responsive center-block"
                                 src="{{ entity.logo|imagine_filter('publisher_logo') }}" />
                        </div>
                    {% endif %}
                    <div itemscope itemtype="http://schema.org/Organization" class="col-sm-9">
                        <span itemprop="name">{{ entity.name }}</span><br>
                        Contact Details:<br>
                        <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                            Main address:
                            <span itemprop="address">{{ entity.address }}</span><br>
                            <span itemprop="addressLat">{{ entity.addressLat }}</span><br>
                            <span itemprop="addressLong">{{ entity.addressLong }}</span><br>
                            <span itemprop="addressLocality">{{ entity.city }},{{ entity.country }}</span>
                        </div>

                        {% if entity.phone is not empty %}
                            Tel:<span itemprop="telephone">{{ entity.phone }}</span><br>
                        {% endif %}

                        {% if entity.fax is not empty %}
                            Fax:<span itemprop="faxNumber">{{ entity.fax }}</span><br>
                        {% endif %}

                        {% if entity.email is not empty %}
                            E-mail: <span itemprop="email">{{ entity.email }}</span><br>
                        {% endif %}

                        {% if entity.url is not empty %}
                            Web: <span itemprop="url">{{ entity.url }}</span><br>
                        {% endif %}
                    </div>
                </div>


                {% if entity.tags %}
                    <div class="panel-footer">
                            <i class="fa fa-tags"></i> {{ "tags"|trans }}
                            {% set tags = entity.tags|split(',') %}
                            {% for tag in tags %}
                                <a href="#"><span class="badge">{{ tag }}</span></a>
                            {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">{{ "journal.plural"|trans }}</div>
                <ul class="list-group">
                    {% for journal in entity.journals %}
                        {% if journal.isIndexable() %}
                            <li class="list-group-item">
                                <a href="{{ journal.publicURI }}">{{ journal.title }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
    <!-- /.container -->

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        analytics.increase('publisher', {{ entity.id }})
    </script>
{% endblock %}
