{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.publisher'|trans }} {{ parent() }}{% endblock %}
{% set hideleft = 1 %}

{% block stylesheets %}
    {{ parent() }}
    {% if entity.theme is defined and entity.theme %}
        <style>
            {{ entity.theme.css|raw }}
        </style>
    {% endif %}
{% endblock %}

{% block breadcrumb %}
    {% set list = [
    {'link': path('ojs_public_index'), 'title': project_name},
    {'title': 'instution'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body %}
    <div class="container">
        {% if entity.design is defined and entity.design is not null %}
            {% include template_from_string(entity.design.content) %}
        {% else %}
            <!-- Page Content -->
            <h1 class="page-header">{{ entity.name }} </h1>
            {% if entity.header is not null %}
                <img class="img-responsive"
                     src="{{ entity.header|imagine_filter('publisher_header') }}"
                     alt=""/>
                <div class="clearfix"></div>
            {% endif %}
            <div class="panel panel-default">
                <div class="panel-body">
                    <div itemscope itemtype="http://schema.org/Organization">
                        <span itemprop="name">{{ entity.name }}</span>
                        Contact Details:
                        <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                            Main address:
                            <span itemprop="address">{{ entity.address }}</span>
                            <span itemprop="addressLat">{{ entity.addressLat }}</span>
                            <span itemprop="addressLong">{{ entity.addressLong }}</span>
                            <span itemprop="addressLocality">{{ entity.city }},{{ entity.country }}</span>
                        </div>
                        Tel:<span itemprop="telephone">{{ entity.phone }}</span>,
                        Fax:<span itemprop="faxNumber">{{ entity.fax }}</span>,
                        E-mail: <span itemprop="email">{{ entity.email }}</span>
                        Web: <span itemprop="url">{{ entity.url }}</span>
                        Wiki: <span itemprop="url">{{ entity.url }}</span>
                    </div>

                </div>


                <div class="panel-footer">
                    {% if entity.tags %}
                        <i class="fa fa-tags"></i> {{ "tags"|trans }}
                        {% set tags = entity.tags|split(',') %}
                        {% for tag in tags %}
                            <a href="#"><span class="badge">{{ tag }}</span></a>
                        {% endfor %}
                    {% endif %}

                </div>
            </div>
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">{{ "journal.plural"|trans }}</div>
                <ul class="list-group">
                    {% for journal in entity.journals %}
                        {% if journal.isIndexable() %}
                            <li class="list-group-item">
                                <a href="{{ journal.publicURI }}">{{ journal.title }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
    <!-- /.container -->

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        analytics.increase('publisher', {{ entity.id }})
    </script>
{% endblock %}
