{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.journal_section_edit'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
        {'link': path('dashboard'), 'title': 'dashboard'|trans},
        {'link': path('manager_journal_section'),'title': 'journal.section'|trans},
        {'title': 'edit'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    <h1>{{"journalsection.edit"|trans}}</h1>
    {% include '::flashbag.html.twig' %}
    {{ form(edit_form) }}

    <div class="btn-group">
        <a class="btn btn-default btn-sm" href="{{ path("manager_journal_section", { 'id': entity.id }) }}" title="{{"b"|trans}}">
            <i class="fa fa-arrow-left"></i>
        </a>
        <a class="btn btn-success btn-sm" href="{{ path("manager_journal_section_show", { 'id': entity.id }) }}" title="{{"details"|trans}}">
            <i class="fa fa-info-circle"></i>
        </a>
        {% if is_granted('DELETE', selectedJournal(), 'sections') %}
            <a class="btn btn-danger btn-sm" onclick="return confirm('{% trans %}sure{% endtrans %}');"
               href="{{ path("manager_journal_section_delete", { 'id': entity.id}) }}" title="{{"delete"|trans}}">
                <i class="fa fa-trash-o"></i>
            </a>
        {% endif %}
    </div>

    {{ getLogs(entity) }}
{% endblock %}
