{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.journal_section_new'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
    {'link': path('dashboard'), 'title': 'dashboard'|trans},
    {'link': path('ojs_journal_section_index', {'journalId': selectedJournal().id}),'title': 'journal.section'|trans},
    {'title': 'title.journal_section_new'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    <h1>{{ 'title.journal_section_new'|trans }}</h1>

    {{ form(form) }}

    <a href="{{ path('ojs_journal_section_index', {'journalId': selectedJournal().id}) }}">
        {{ "b"|trans }}
    </a>
{% endblock %}
