{% extends '::ojsbase.html.twig' %}

{% block body -%}
    <h1>{{"journalsection"|trans}}</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>{{ 'id'|trans }}</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>{{"title"|trans}}</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>{{"allow_index.list"|trans}}</th>
                <td>{{ entity.allowIndex }}</td>
            </tr>
            <tr>
                <th>{{"hide_title"|trans}}</th>
                <td>{{ entity.hideTitle }}</td>
            </tr>
            <tr>
                <th>{{"journal.id"|trans}}</th>
                <td>
                    <a href="#">
                        <strong class="badge">{% if entity.journal%}{{ entity.journal.title }}{%endif%}</strong>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

    <ul class="record_actions">
        <li>
            <a href="{{ path('admin_journal_section') }}">
                {{"b"|trans}}
            </a>
        </li>
        <li>
            <a href="{{ path('admin_journal_section_edit', { 'id': entity.id }) }}">
                {{"e"|trans}}
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %}
