{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.journal_section_show'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
    {'link': path('dashboard'), 'title': 'dashboard'|trans},
    {'link': path('ojs_journal_section_index'),'title': 'journal.section'|trans},
    {'title': 'title.journal_section_show'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    <h1>{{ "journalsection"|trans }}</h1>
    {% include '::flashbag.html.twig' %}
    <table class="record_properties">
        <tbody>
        <tr>
            <th>{{ 'id'|trans }}</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>{{ "journalsection.title"|trans }}</th>
            <td>{{ entity.title }}</td>
        </tr>
        <tr>
            <th>{{ "journalsection.allow_index"|trans }}</th>
            <td>{{ entity.allowIndex }}</td>
        </tr>
        <tr>
            <th>{{ "journalsection.hide_title"|trans }}</th>
            <td>{{ entity.hideTitle }}</td>
        </tr>
        <tr>
            <th>{{ "journalsection.journal"|trans }}</th>
            <td>
                <a href="#">
                    <strong class="badge">{% if entity.journal %}{{ entity.journal.title }}{% endif %}</strong>
                </a>
            </td>
        </tr>
        </tbody>
    </table>

    {{
    actions({
        'back': {'href': path('ojs_journal_section_index')},
        'edit': {'href': path('ojs_journal_section_edit', {'id': entity.id})},
        'delete': {'href': path('ojs_journal_section_delete', {'id': entity.id}), 'attributes': {'data-token': token}},
    })
    }}
    (TODO:This action causes an integrity constraint violation)
{% endblock %}
