{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.proxies'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
    {'link': path('dashboard'), 'title': 'dashboard'|trans},
    {'link': path('admin_proxy'),'title': 'proxy'|trans},
    {'title': 'list'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    <h1>{{ "proxy.list"|trans }}</h1>
    {% include '::flashbag.html.twig' %}
    {{ grid(grid) }}
    {% if is_granted('CREATE', getEntity('OjsUserBundle:Proxy')) %}
        {% set create_path = 'admin_proxy_new' %}
    {% endif %}
    {% include '::actionbuttons.html.twig' %}
{% endblock %}
