{% extends '::ojsbase.html.twig' %}

{% block body -%}
    <h1>proxy list</h1>

    <table class="table records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Proxy User id</th>
                <th>Client User id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('admin_proxy_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                    <td>{{ entity.proxyUserId }}</td>
                    <td>{{ entity.clientUserId }}</td>
                    <td>
                        <a href="{{ path('admin_proxy_show', { 'id': entity.id }) }}">show</a>
                        <a href="{{ path('admin_proxy_edit', { 'id': entity.id }) }}">edit</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_proxy_new') }}" class="btn btn-default">
        Create a new entry
    </a>
{% endblock %}
