{% extends '::ojsbase.html.twig' %}

{% block body -%}
    <h1>{{ "proxy.singular"|trans  }}</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>{{ "proxy.id"|trans  }}</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>{{ "proxy.proxy.user.id"|trans  }}</th>
                <td>{{ entity.proxyUserId }}</td>
            </tr>
            <tr>
                <th>{{ "proxy.client.user.id"|trans  }}</th>
                <td>{{ entity.clientUserId }}</td>
            </tr>

        </tbody>
    </table>

    <ul class="record_actions">
        <a href="{{ path('admin_proxy') }}">
            {{"b"|trans}}
        </a>
        <a href="{{ path('admin_proxy_edit', { 'id': entity.id }) }}">
            {{ "e"|trans  }}
        </a>
        {{ form(delete_form) }}
    </ul>
{% endblock %}
