{% extends '::ojsbase.html.twig' %}

{% block breadcrumb %}
    {% set list = [
                {'link': path('dashboard'), 'title': 'Dashboard'},
                {'title': 'Waiting Articles'}
] %}
    {{breadcrumb(list)}}
{% endblock %}

{% block body -%}
    <div class="panel">
        <div class="panel-heading">
            <h1>{{'editor.articles_waiting'|trans}} <small>{{'articles_waiting'|trans}} </small></h1>
        </div>

        <div class="panel-body">
            {% for entity in entities %}
                <div class="list-group-item">
                    <h4>{{entity.title}} <small>{{entity.journal.title}}</small></h4>
                    <span>
                        <!-- /* TODO : author list */  -->
                    </span>
                {% endfor %}
                <hr>
            </div>
        </div>
    </div>
{% endblock %}
