{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.articles_assigned'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
    {'link': path('dashboard'), 'title': 'dashboard'},
    {'title': 'title.articles_assigned'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    <div class="panel">
        <div class="panel-heading">
            <h1>{{ "article.plural"|trans }} / {{ "status.inreview"|trans }}
                <small>These articles are in review process.</small>
            </h1>
        </div>

        <div class="panel-body">
            <div class="list-group-item">
                {{ grid(grid) }}
            </div>
        </div>
    </div>
{% endblock %}
