{% extends '::ojsbase.html.twig' %}

{% block breadcrumb %}
    {% set list = [
                {'link': path('dashboard'), 'title': 'dashboard'},
                {'title': 'articles.waiting'|trans}
] %}
    {{breadcrumb(list)}}
{% endblock %}

{% block body -%}
    <div class="panel">
        <div class="panel-heading">
            <h1>{{"article.plural"|trans}} / {{"article.plural"|trans}} / {{"status.waiting"|trans}} <small>{{ 'These articles submitted but waiting to be assigned.'|trans }}</small></h1>
        </div>

        <div class="panel-body">
            {% for entity in entities %}
                <div class="list-group-item">
                    <h4>{{entity.title}} <small>{{entity.journal.title}}</small></h4>
                    <span>

                        {% for author in entity.articleAuthors %}
                            {{ author.user.username }}<br/>
                        {% endfor %}
                    </span>
                <hr>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
