{% extends '::ojsbase.html.twig' %}
{% set hideleft = true %}
{% block title %}{{ 'title.proxy_edit'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
    {'link': path('dashboard'), 'title': 'dashboard'|trans},
    {'link': path('ojs_admin_proxy_index'),'title': 'proxy'|trans},
    {'title': 'edit'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    <h1>{{ "proxy.edit"|trans }}</h1>
    {% include '::flashbag.html.twig' %}
    {{ form(edit_form) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('ojs_admin_proxy_index') }}">
                {{ "b"|trans }}
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>

    {{ getLogs(entity) }}
{% endblock %}
