{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.proxy_new'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
    {'link': path('dashboard'), 'title': 'dashboard'|trans},
    {'link': path('ojs_admin_proxy_index'),'title': 'proxy'|trans},
    {'title': 'create'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    <h1>{{ "proxy.creation"|trans }}</h1>

    {{ form(form) }}

    {% set back_path = 'ojs_admin_proxy_index' %}
    {% include '::actionbuttons.html.twig' %}
{% endblock %}
