{% extends '::ojsbase.html.twig' %}

{% block body -%}

<div class="large-12 columns">
    <div class="panel">
        <h1>New Articles</h1>

        <a class="btn btn-default" href="{{path('articlesubmissions_me')}}">My Submissions</a>

        <a class="btn btn-default" href="{{path('articlesubmissions_all')}}">All Submissions</a>

        <table class="records_list table" style="width:100%">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Journalid</th>
                    <th>Title</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for entity in entities %}
                <tr>
                    <td>
                        <a href="{{ path('article_show', { 'id': entity.id }) }}">
                            {{ entity.id }}
                        </a>
                    </td>
                    <td>{{ entity.journalId }}</td>
                    <td>{{ entity.title }}</td>
                    <td style="background: {{ entity.statusColor }}">{{ entity.statusText }}</td>
                    <td>
                        {% set show_path = 'article_show' %}
                        {% set edit_path = 'article_edit' %}
                        {% set delete_path = 'article_delete' %}
                        {% include '::actionbtns.html.twig' %}

                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div>
            <a href="{{path('articlesubmission_new')}}" class="btn btn-success"> {% trans %}New Submission{% endtrans %}</a>
        </div>
    </div>
</div>
{% endblock %}
