{% set hideleft = 1 %}
{% extends '::ojsbase.html.twig' %}
{% block title %}Submit New Article{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@upload_css' output="c/upload.css" %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    <link rel="stylesheet" href="{{asset("/vendor/select2/select2.css")}}" type="text/css"/>
    <link rel="stylesheet" href="{{asset("/vendor/bootstrap3-wysihtml5-bower/dist/bootstrap3-wysihtml5.css")}}" type="text/css"/>

{% endblock %}


{% block breadcrumb %}
    {% set list = [
    {'link': path('dashboard'), 'title': 'Dashboard'},
    {'title': '<strong>' ~ journal.title ~ '</strong>' },
    { 'title': 'Submit Article' }
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}


{% block body -%}
    <input type="hidden" name="journalId" value="{{ journal.id }}"/>
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    <ul class='nav nav-wizard submission-progress'>
                        <li id="submission-progress-step1" class="active"><span class="badge">1</span> Article</li>
                        <li id="submission-progress-step2"><span class="badge">2</span> Authors</li>
                        <li id="submission-progress-step3"><span class="badge">3</span> Citations</li>
                        <li id="submission-progress-step4"><span class="badge">4</span> Article File</li>
                        <li class="laststep"><span class="badge">5</span> Preview & <strong>Submit</strong></li>
                    </ul>
                </div>
            </div>

            <div class="panel-body">
                <!-- Nav tabs -->
                <div class="col-md-12">
                    <form name="base" class="form-horizontal" role="form">

                        <div class="form-group">
                            <label class="col-md-2 control-label">Article Main Language</label>

                            <div class="col-md-9">
                                <select class="select2" name="primaryLanguage" class="form-control" style="width:200px">
                                    {% for lang in journal.languages %}
                                        <option value="{{ lang.code }}">{{ lang.name }} [{{ lang.code }}]</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </form>

                </div>

                <div id="step1-container" class="step">
                    <ul id="mainTabs" class="nav nav-tabs" role="tablist">
                        <li class="lang dropdown">
                            <a href="#" id="languageDrop" class="dropdown-toggle"
                               data-toggle="dropdown">
                                <i class="fa fa-plus"></i> Add language
                                <span class="caret"></span>
                            </a>
                            <ul id="languageDropList" class="dropdown-menu" role="menu" aria-labelledby="languageDrop">
                                {% for lang in  journal.languages %}
                                    <li>
                                        <a href="#"
                                           id="langitem_{{ lang.code }}"
                                           code="{{ lang.code }}" lang="{{ lang.name }}" tabindex="-1">
                                            {{ lang.name }}
                                            <small>({{ lang.code }})</small>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>

                    <!-- Tab panes -->

                    <div class="tab-content" id="step1">

                    </div>
                    <div class="step1_actions record_actions col-md-12">
                        <br>
                        <a class="btn btn-default btn-lg" onclick="return confirm('{{ "sure"|trans }} ');"
                           href="{{ path('articlesubmission_new') }}">
                            {% trans %}res{% endtrans %}
                        </a>
                        <a class="btn btn-info btn-lg"
                           onclick="javascript: OjsArticleSubmission.step1('{{ path('articlesubmission_step1',{'locale':'locale'}) }}');">
                            {{ "save.next"|trans }}
                            <i class="fa fa-chevron-right"></i>
                        </a>
                    </div>
                </div>
                <div id="step2-container" class="step hide">

                    <dic id="step2">

                    </dic>
                    <div class="step2_actions record_actions col-md-12">
                        <br>
                        <a class="btn btn-default btn-lg"
                           onclick="javascript:OjsArticleSubmission.backTo(1);">
                           <i class="fa fa-chevron-left"></i> {{ "b"|trans}} 
                        </a>
                        <a class="btn btn-info btn-lg"
                           onclick="javascript: OjsArticleSubmission.step2('{{ path('articlesubmission_step2') }}');">
                           {{ "save.next"|trans }} 
                           <i class="fa fa-chevron-right"></i>
                        </a>
                    </div>
                </div>

                <div id="step3-container" class="step hide">

                    <dic id="step3">

                    </dic>
                    <div class="step3_actions record_actions col-md-12">
                        <br>
                        <a class="btn btn-default btn-lg"
                           onclick="javascript:OjsArticleSubmission.backTo(2);">
                            <i class="fa fa-chevron-left"></i> {{ "b"|trans}} 
                        </a>
                        <a class="btn btn-info btn-lg"
                           onclick="javascript: OjsArticleSubmission.step3('{{ path('articlesubmission_step3') }}');">
                            {{ "save.next"|trans }}
                            <i class="fa fa-chevron-right"></i>
                        </a>
                    </div>
                </div>


                <div id="step4-container" class="step hide">

                    <dic id="step4">

                    </dic>
                    <div class="step4_actions record_actions col-md-12">
                        <br>
                        <a class="btn btn-default btn-lg"
                           onclick="javascript:OjsArticleSubmission.backTo(3);">
                            <i class="fa fa-chevron-left"></i> {{ "b"|trans}} 
                        </a>
                            
                        <a class="btn btn-info btn-lg"
                           onclick="javascript: OjsArticleSubmission.step4('{{ path('articlesubmission_step4') }}');">
                            {{ "save.next"|trans }}
                            <i class="fa fa-chevron-right"></i>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script id="step1_tpl" type="x-tmpl-mustache">
        {% include 'OjstrJournalBundle:ArticleSubmission:step1.html.twig' %}
    </script>

    <script id="step2_tpl" type="x-tmplmustache">
        {% include 'OjstrJournalBundle:ArticleSubmission:step2.html.twig' %}    
    </script>

    <script id="step3_tpl" type="x-tmplmustache">
        {% include 'OjstrJournalBundle:ArticleSubmission:step3.html.twig' %}    
    </script>

{% endblock %}

{% block javascripts %}

    {{ parent() }}

    {% javascripts '@upload_js' output="c/upload.js" %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% javascripts 'vendor/mustache/mustache.js' 
                    'vendor/angular/angular.min.js'
                    'vendor/select2/select2.min.js'
                    'vendor/bootstrap3-wysihtml5-bower/dist/bootstrap3-wysihtml5.all.min.js'
                    'assets/app/js/journalbundle/article_submission.js'
                    'assets/app/js/journalbundle/article_cite.js' output="c/submission_js.js" %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %} 


    <script>
        OjsArticleSubmission.articleId = {%if articleId %}{{articleId}}{%else%}null{%endif%};
    </script>

{% endblock %}
