{% extends '::ojsbase.html.twig' %}
{% block stylesheets %}
{{parent()}}
<link rel="stylesheet" href="//cdn.jsdelivr.net/select2/3.4.8/select2.css" type="text/css" />
<link rel="stylesheet" href="/vendor/bootstrap3-wysihtml5-bower/dist/bootstrap3-wysihtml5.css" type="text/css" />

{% endblock %}

 {% block breadbrump %}
<ol class="breadcrumb">
    <li> Dashboard</li>
    <li><a href="#" class="active">Submit Article</a></li>
</ol> 
{% endblock %}

{% block body -%}

<div class="col-md-12"> 
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                <ul class='nav nav-wizard'>
                    <li class="active"><span class="badge">1</span> Article Info.</li>
                    <li><span class="badge">2</span> Citations</li>
                    <li><span class="badge">3</span> Authors</li>
                    <li><span class="badge">4</span> Article File</li>
                    <li class="laststep"><span class="badge">5</span> Preview & <strong>Submit</strong></li>
                </ul>
            </div>
        </div>

        <div class="panel-body">  
            <!-- Nav tabs -->
            <ul id="mainTabs" class="nav nav-tabs" role="tablist">
                <li class="lang dropdown">
                    <a href="#" id="languageDrop" class="dropdown-toggle" 
                       data-toggle="dropdown">
                        <i class="glyphicon glyphicon-plus"></i> Add language 
                        <span class="caret"></span>
                    </a>
                    <ul id="languageDropList" class="dropdown-menu" role="menu" aria-labelledby="languageDrop">
                        {% for lang in  journal.languages%}
                        <li><a href="#" code="{{lang.code}}" lang="{{lang.name}}" tabindex="-1">{{lang.name}} {{lang.code}}</a></li>
                        {%endfor%}
                    </ul>
                </li> 
            </ul>

            <!-- Tab panes -->
            <div class="col-md-12 row">
                <form name="base" class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Journal</label>
                        <div class="col-sm-10">
                            {{journal.title}}
                            <input type="hidden" name="journalId" value="{{journal.id}}" />
                        </div>
                    </div> 
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Article Main Language</label>
                        <div class="col-sm-10">
                            <select class="select2" name="primaryLanguage" class="form-control" style="width:200px">
                                {%for lang in journal.languages%}
                                <option value="{{lang.code}}">{{lang.name}} [{{lang.code}}]</option>
                                {%endfor%}
                            </select>
                        </div>
                    </div>
                </form>
                <hr><br>

            </div>
            <div class="tab-content" id="langtabs">

            </div>
            <div class="record_actions col-md-12 row">
                <a class="btn btn-default btn-lg" onclick="return confirm('Are you sure?');" href="{{ path('articlesubmission_new') }}">
                    {% trans %}Restart{% endtrans %}
                </a> 
                <a class="btn btn-info btn-lg" 
                   onclick="javascript: OjsArticleSubmision.step1('{{path('articlesubmission_step1',{'locale':'locale'})}}');">
                    {% trans %}Save & Next{% endtrans %}
                    <i class="glyphicon glyphicon-chevron-right"></i>
                </a> 
            </div>
        </div>
    </div> 
</div>

<div class="hidden" id="formtpl">
    {% include 'OjstrJournalBundle:ArticleSubmission:newform.html.twig' %}
</div>
{% endblock %}

{% block javascripts %}
    {{parent()}}
<script src="//cdn.jsdelivr.net/select2/3.4.8/select2.min.js"></script>
<script src="/vendor/bootstrap3-wysihtml5-bower/dist/bootstrap3-wysihtml5.all.min.js"></script>
<script src="/assets/js/journalbundle/article_submission.js"></script>

{% endblock %}