<form action="{{path('articlesubmission_create')}}" class="form-horizontal" role="form">
    <div class="form-group">
        <label class="col-sm-2 control-label">Journal</label>
        <div class="col-sm-10">
            {{journal.title}}
            <input type="hidden" name="journalId" value="{{journal.id}}" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Title <span class="mandotary"></span></label>
        <div class="col-sm-10">
            <input name="title" id="titleintput" class="form-control"
                   placeholder="Article's original title"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Title Transliterated</label>
        <div class="col-sm-10">
            <input id="titletransliteratedinput" 
                   placeholder="You can leave blank this field if your `title` is all Latin characters."
                   name="titleTranslietrated" class="form-control" />
        </div>

    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Doi</label>
        <div class="col-sm-10">
            <input name="doi" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Keywords <span class="mandotary"></span></label>
        <div class="col-sm-10">
            <input name="keywords" class="form-control"
                   placeholder="Comma-seperated keyword list"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Subject</label>
        <div class="col-sm-10">
            <select class="select2"  style="width:300px;height: 30px"
                    name="subject[]" multiple="multiple">
                {%for subject in subjects%}
                <option value="{{subject.id}}">{{subject.subject}}</option>
                {%endfor%}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Subtitle</label>
        <div class="col-sm-10">
            <input name="subtitle" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Abstract <span class="mandotary"></span></label>
        <div class="col-sm-10">
            <textarea name="abstract" class="form-control" rows="6"></textarea>
        </div>
    </div>
</form>