<hr>
<form class="form-horizontal" role="form">


    <h2>{{"citations"|trans}}</h2>
    <div class="row">
        <button class="btn btn-success" id="pasteArticleCitationInline">
            <i class="fa fa-edit"></i> Paste&amp;Extract Citations
        </button>
        <button class="btn btn-info" id="addArticleCitationInline">
            <i class="fa fa-plus"></i> New Citation
        </button>

        <div id="citationPasteField" style="display: block!important">
            <div class="form-row well">
                <textarea class="form-control citationPasteTextArea" rows="5"></textarea>
            </div>
        </div>
    </div>

    <div id="citationContainer"></div>

    <div class="hide" id="citationInfoFields">
        <div class="cite-item form-row">

            <div class="col-md-1">
                <input type="number" class="form-control" style="width:80px" name="orderNum" value="0" placeholder="Order">
            </div>
            <div class="col-md-11">
                <input type="text" class="pull-left form-control" value="" name="raw" placeholder="Citation"> 
            </div>
            <div class="col-md-12">
                <a class="pull-right btn btn-sm btn-warning removeArticleCitationInline">
                    <i class="fa fa-minus-circle"></i> Remove
                </a>
                <a href="#details" class="pull-right btn btn-sm btn-info addCitationDetails">Details</a>

            </div>
            <div class="citationDetails">
                <select class="form-control" onchange="CitationEditor.citationTypeSelected($(this));" name="type">
                    <option value="">[Select Citation Type]</option>
                    {% for type in citationTypes %}
                        <option value="{{type.name}}" should='{{type.should|json_encode()}}' must='{{type.must|json_encode()}}'>{{type.name|trans}}</option>
                    {%endfor%}
                </select>
                <br><br>
                <div class="citationDetailsFields form-inline"></div>
            </div>
        </div>
    </div>

</form>
<hr>
<br>