{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.journal_period_show'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
    {'link': path('ojs_journal_dashboard_index', {journalId: selectedJournal().id}), 'title': 'dashboard'|trans},
    {'link': path('ojs_journal_period_index', {'journalId': selectedJournal().id}),'title': 'journal.period'|trans},
    {'title': 'title.journal_period_show'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    <h1>{{ "journalperiod"|trans }}</h1>
    {% include '::flashbag.html.twig' %}
    <table class="record_properties  table">
        <tbody>
        <tr>
            <th>{{ 'id'|trans }}</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>{{ "period"|trans }}</th>
            <td>{{ entity.period }}</td>
        </tr>
        </tbody>
    </table>

    {{
    actions({
        'back': {'href': path('ojs_journal_period_index', {'journalId': selectedJournal().id})},
        'edit': {'href': path('ojs_journal_period_edit', {'id': entity.id, 'journalId': selectedJournal().id})},
        'delete': {'href': path('ojs_journal_period_delete', {'id': entity.id, 'journalId': selectedJournal().id}), 'attributes': {'data-token': token}},
    })
    }}
{% endblock %}
