{% extends '::vipabase.html.twig' %}
{% block title %}{{ 'title.issue_edit'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
    {'link': path('vipa_journal_dashboard_index', {journalId: selectedJournal().id}), 'title': 'dashboard'|trans},
    {'link': path('vipa_journal_issue_index', {'journalId': selectedJournal().id}),'title': 'issue'|trans},
    {'title': 'title.issue_edit'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    <h1>{{ 'title.issue_edit'|trans }}</h1>
    <a href="{{ path('vipa_journal_issue_file_index', {journalId: entity.journal.id, issueId: entity.id}) }}" class="btn btn-primary">
        {{ 'title.issue_files'|trans }}
    </a>

    {{ form_start(edit_form, { 'attr': { 'enctype' :'multipart/form-data'} }) }}
    {% include '::flashbag.html.twig' %}
    {{ form_errors(edit_form) }}
    {{ form_widget(edit_form) }}

    <button type="submit" id="vipa_userbundle_user_submit" class="btn btn-primary">
        {{ "save"|trans }}
    </button>
    {{ form_end(edit_form) }}
    <hr/>

    {{ getLogs(entity) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ form_javascript(edit_form) }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ form_stylesheet(edit_form) }}
{% endblock %}
