{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.issue_new'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
    {'link': path('ojs_journal_dashboard_index', {journalId: selectedJournal().id}), 'title': 'dashboard'|trans},
    {'link': path('ojs_journal_issue_index', {'journalId': selectedJournal().id}),'title': 'issue'|trans},
    {'title': 'title.issue_new'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    <h1>{{ 'title.issue_new'|trans }}</h1>

    <a class="btn btn-default" href="{{ path('ojs_journal_issue_index', {'journalId': selectedJournal().id}) }}">{{ "back"|trans }}</a>

    {{ form_start(form, { 'attr': { 'enctype' :'multipart/form-data'} }) }}
    {% for label, flashes in app.session.flashbag.all %}
        {% for flash in flashes %}
            <div class="alert alert-{{ label }}">
                {{ flash }}
            </div>
        {% endfor %}
    {% endfor %}
    {{ form_errors(form) }}
    {{ form_widget(form) }}

    <button type="submit" id="ojs_userbundle_user_submit" class="btn btn-primary">
        {{ "create"|trans }}
    </button>
    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ form_javascript(form) }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ form_stylesheet(form) }}
{% endblock %}
