{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.profile_update'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
    {'link': path('dashboard'), 'title': 'user'|trans},
    { 'link': path('ojs_admin_user_index'), 'title': 'user.update_profile'|trans},
    { 'title': 'user.update_profile'|trans},
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    <div class="large-12 columns">
        {% include 'OjsSiteBundle:User:tabs.html.twig' with {activo:1} %}
        <div class="tab-content">
            <div class="panel">
                {% include '::flashbag.html.twig' %}
                <div class="record_actions">
                    {{ form(edit_form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function() {
            function reviseInstitutionInputs(){
                $.each($('.institutionNotListed'), function (index, value) {
                    var $institutionSelect = $(this).parent().parent().parent().parent().find('.institution');
                    var $institutionName = $(this).parent().parent().parent().parent().find('.institutionName');
                    if(this.checked){
                        $institutionName.parent().removeClass('hidden');
                        $institutionSelect.parent().addClass('hidden');
                    }else{
                        $institutionName.parent().addClass('hidden');
                        $institutionSelect.parent().removeClass('hidden');
                    }
                });
            }
            reviseInstitutionInputs();
            setInterval(function(){ reviseInstitutionInputs(); }, 1000);
            $(document).on('change', '.institutionNotListed', function () {
                var $institutionSelect = $(this).parent().parent().parent().parent().find('.institution');
                var $institutionName = $(this).parent().parent().parent().parent().find('.institutionName');
                if(this.checked){
                    $institutionName.parent().removeClass('hidden');
                    $institutionSelect.parent().addClass('hidden');
                }else{
                    $institutionName.parent().addClass('hidden');
                    $institutionSelect.parent().removeClass('hidden');
                }
            });
        });
    </script>
{% endblock %}