{% extends '::ojsbase.html.twig' %}
{% block breadcrumb %}{{ "proxy.your.client.user.list "|trans  }}{%endblock%}

{% block body -%} 

<table class="table records_list">
    <thead>
        <tr>
            <th>{{ "proxy.target.user.username"|trans  }}</th>
            <th>{{ "proxy.target.user.email"|trans  }}</th>
            <th>{{ "proxy.lastlogin"|trans  }}</th>
        </tr>
    </thead>
    <tbody>
        {% for entity in entities %}
        <tr>
            <td>{{ entity.clientUser.username }}</td>
            <td>{{ entity.clientUser.email }}</td>
            <td>{{ entity.clientUser.lastlogin|date('Y-m-d H:i:s') }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

    {% endblock %}
