{% extends '::ojsbase.html.twig' %}

{% set hideleft = 1 %}
{% block title %}{{ "title.people_directory"|trans }} {{ parent() }}{% endblock %}
{% block breadcrumb %}
    {% set list = [
        {'link': path('ojs_public_index'), 'title': 'title.home'|trans},
        {'title': 'title.people_directory'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body %}
<div class="text-center">
    <ul class="pagination">
        {{ pagerfanta(pagerfanta,'twitter_bootstrap3') }}
    </ul>
</div>
<div class="container">
    <div class="col-sm-3">
        <div class="panel-group">
            <div class="panel panel-primary">
                <div class="panel-heading"><h4>{{ 'subjects'|trans }}</h4></div>
                <ul class="list-group">
                    {% for subject in subjects %}
                        <li class="list-group-item">
                            {% if subject_filters is empty %}
                                {% set parameter = subject.subject %}
                                <a href="{{ path('people_index', {
                                    subject_filters: subject.subject,
                                    role_filters: app.request.get('role_filters'),
                                    journal_filters: app.request.get('journal_filters')}) }}">{{ subject.subject }}</a>
                            {% else %}
                                {% if subject.subject in subject_filters %}
                                    {% set parameter = subject_filters|pop(subject.subject) %}
                                    {{ subject.subject }}
                                    <a href="{{ path('people_index', {
                                        subject_filters: parameter|join(','),
                                        role_filters: app.request.get('role_filters'),
                                        journal_filters: app.request.get('journal_filters')}) }}">
                                        <span class="label label-danger">
                                            <i class="glyphicon glyphicon-remove"></i>
                                        </span>
                                    </a>
                                {% else %}
                                    {% set parameter = subject_filters|merge([subject.subject]) %}
                                    <a href="{{ path('people_index', {
                                        subject_filters: parameter|join(','),
                                        role_filters: app.request.get('role_filters'),
                                        journal_filters: app.request.get('journal_filters')}) }}">{{ subject.subject }}</a>
                                {% endif %}
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="panel panel-primary">
                <div class="panel-heading"><h4>{{ 'journals'|trans }}</h4></div>
                <ul class="list-group">
                    {% for journal in journals %}
                        <li class="list-group-item">
                            {% if journal_filters is empty %}
                                {% set parameter = journal.title %}
                                <a href="{{ path('people_index', {
                                    journal_filters: journal.title,
                                    role_filters: app.request.get('role_filters'),
                                    subject_filters: app.request.get('subject_filters')}) }}">{{ journal.title }}</a>
                            {% else %}
                                {% if journal.title in journal_filters %}
                                    {% set parameter = journal_filters|pop(journal.title) %}
                                    {{ journal.title }}
                                    <a href="{{ path('people_index', {
                                        journal_filters: parameter|join(','),
                                        role_filters: app.request.get('role_filters'),
                                        subject_filters: app.request.get('subject_filters')}) }}">
                                        <span class="label label-danger">
                                            <i class="glyphicon glyphicon-remove"></i>
                                        </span>
                                    </a>
                                {% else %}
                                    {% set parameter = journal_filters|merge([journal.title]) %}
                                    <a href="{{ path('people_index', {
                                        journal_filters: parameter|join(','),
                                        role_filters: app.request.get('role_filters'),
                                        subject_filters: app.request.get('subject_filters')}) }}">{{ journal.title }}</a>
                                {% endif %}
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="panel panel-primary">
                <div class="panel-heading"><h4>{{ 'roles'|trans }}</h4></div>
                <ul class="list-group">
                    {% for role in roles %}
                        <li class="list-group-item">
                            {% if role_filters is empty %}
                                {% set parameter = role.name %}
                                <a href="{{ path('people_index', {
                                    role_filters: role.name,
                                    subject_filters: app.request.get('subject_filters'),
                                    journal_filters: app.request.get('journal_filters') }) }}">{{ role.name|trans }}</a>
                            {% else %}
                                {% if role.name in role_filters %}
                                    {% set parameter = role_filters|pop(role.name) %}
                                    {{ role.name|trans }}
                                    <a href="{{ path('people_index', {
                                        role_filters: parameter|join(','),
                                        subject_filters: app.request.get('subject_filters'),
                                        journal_filters: app.request.get('journal_filters')}) }}">
                                        <span class="label label-danger">
                                            <i class="glyphicon glyphicon-remove"></i>
                                        </span>
                                    </a>
                                {% else %}
                                    {% set parameter = role_filters|merge([role.name]) %}
                                    <a href="{{ path('people_index', {
                                        role_filters: parameter|join(','),
                                        subject_filters: app.request.get('subject_filters'),
                                        journal_filters: app.request.get('journal_filters')}) }}">{{ role.name|trans }}</a>
                                {% endif %}
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div class="col-sm-9">
    {% for person in people %}
        <div class="well col-sm-3">
            <div class="text-center">
                <a href="/@{{ person.username }}" class="thumbnail">
                    <img class="img-circle"
                         src="{{ person.avatar is defined ? '/uploads/avatarfiles/' ~ imagePath(person.avatar) : '#' }}"
                         alt="{{ person.username|default('image'|trans) }}"
                         data-src="holder.js/100x100/random"
                         style="width: 100px; height: 100px;">
                </a>

                <h3>
                    <a href="/@{{ person.username|default('') }}">
                    {% if person.firstName is defined and person.lastName is defined  %}
                        {{ person.firstName|default('') }} {{ person.lastName|default('') }}
                    {% else %}
                        {{ person.username }}
                    {% endif %}
                    </a>
                </h3>
            </div>

            <div>
                <h4>
                    {% for subject in person.subjects %}
                        <span class="label label-primary">{{ subject|trans }}</span>
                    {% endfor %}
                </h4>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
<div class="text-center">
    <ul class="pagination">
        {{ pagerfanta(pagerfanta,'twitter_bootstrap3') }}
    </ul>
</div>
{% endblock %}