{% extends '::ojsbase.html.twig' %}
{% set hideleft = 1 %}
{% block title %}{{ "title.people_directory"|trans }} {{ parent() }}{% endblock %}
{% block breadcrumb %}
    {% set list = [
    {'link': path('ojs_public_index'), 'title': 'title.home'|trans},
    {'title': 'title.people_directory'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body %}
    <div class="wrapper">
        <div class="header"
             style="background-image: url('https://images.unsplash.com/6/mountain.JPG?crop=entropy&fm=png&q=80&w=1450');">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h1 class="title">{{ "ojs.journal.welcome_msg"|trans }}</h1>
                        <h4></h4>
                        <br/>
                        <a href="#" data-href="#page-explore-journals"
                           class="btn btn-danger btn-raised btn-lg js-scroll-to">
                            <i class="fa fa-globe"></i> Explore
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="main main-raised" id="page-explore-journals">
            <div class="container">
                <div class="section">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="panel-group">

                                {% if roles %}
                                    <div class="panel panel-default">
                                        <div class="panel-heading">{{ 'roles'|trans }}</div>
                                        <ul class="list-group list">
                                            {% for role in roles %}
                                                <li class="list-group-item">
                                                    {% if role_filters is empty %}
                                                        {% set parameter = role.key %}
                                                        <a href="{{ path('ojs_site_people_index', {
                                                            role_filters: role.key,
                                                            subject_filters: app.request.get('subject_filters'),
                                                            journal_filters: app.request.get('journal_filters') }) }}"
                                                           class="role-name">{{ role.key|trans }}</a>
                                                    {% else %}
                                                        {% if role.key in role_filters %}
                                                            {% set parameter = role_filters|pop(role.key) %}
                                                            {{ role.key|trans }}
                                                            <a href="{{ path('ojs_site_people_index', {
                                                                role_filters: parameter|join(','),
                                                                subject_filters: app.request.get('subject_filters'),
                                                                journal_filters: app.request.get('journal_filters')}) }}">
                                        <span class="btn btn-xs btn-danger">
                                            <i class="glyphicon glyphicon-remove"></i>
                                        </span>
                                                            </a>
                                                        {% else %}
                                                            {% set parameter = role_filters|merge([role.key]) %}
                                                            <a href="{{ path('ojs_site_people_index', {
                                                                role_filters: parameter|join(','),
                                                                subject_filters: app.request.get('subject_filters'),
                                                                journal_filters: app.request.get('journal_filters')}) }}"
                                                               class="role-name">{{ role.key|trans }}</a>
                                                        {% endif %}
                                                    {% endif %}
                                                    <span class="badge">{{ role.doc_count }}</span>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endif %}
                                {% if subjects %}
                                    <div class="panel panel-default" id="subjects-filter-box">
                                        <div class="panel-heading">{{ 'subjects'|trans }}</div>
                                        {% if subjects|length > 5 %}
                                            <div class="input-group">
                                                <input class="search form-control no-radius"
                                                       placeholder="{{ "search"|trans }}"/>
                                                <div class="input-group-btn">
                                                    <button class="sort btn btn-primary no-radius" data-sort="subject">
                                                        <i class="fa fa-sort-alpha-asc"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        {% endif %}
                                        <ul class="list-group list filter-box">
                                            {% for subject in subjects %}
                                                <li class="list-group-item">
                                                    {% if subject_filters is empty %}
                                                        {% set parameter = subject.key %}
                                                        <a href="{{ path('ojs_site_people_index', {
                                                            subject_filters: subject.key,
                                                            role_filters: app.request.get('role_filters'),
                                                            journal_filters: app.request.get('journal_filters')}) }}"
                                                           class="subject">{{ subject.key }}</a>
                                                    {% else %}
                                                        {% if subject.key in subject_filters %}
                                                            {% set parameter = subject_filters|pop(subject.key) %}
                                                            {{ subject.key }}
                                                            <a href="{{ path('ojs_site_people_index', {
                                                                subject_filters: parameter|join(','),
                                                                role_filters: app.request.get('role_filters'),
                                                                journal_filters: app.request.get('journal_filters')}) }}">
                                        <span class="btn btn-xs btn-danger">
                                            <i class="glyphicon glyphicon-remove"></i>
                                        </span>
                                                            </a>
                                                        {% else %}
                                                            {% set parameter = subject_filters|merge([subject.key]) %}
                                                            <a href="{{ path('ojs_site_people_index', {
                                                                subject_filters: parameter|join(','),
                                                                role_filters: app.request.get('role_filters'),
                                                                journal_filters: app.request.get('journal_filters')}) }}"
                                                               class="subject">{{ subject.key }}</a>
                                                        {% endif %}
                                                    {% endif %}
                                                    <span class="badge">{{ subject.doc_count }}</span>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endif %}
                                {% if journals %}
                                    <div class="panel panel-default" id="journals-filter-box">
                                        <div class="panel-heading">{{ 'journals'|trans }}</div>
                                        {% if journals|length > 5 %}
                                            <div class="input-group">
                                                <input class="search form-control no-radius"
                                                       placeholder="{{ "search"|trans }}"/>
                                                <div class="input-group-btn">
                                                    <button class="sort btn btn-primary no-radius"
                                                            data-sort="journal-title">
                                                        <i class="fa fa-sort-alpha-asc"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        {% endif %}
                                        <ul class="list-group list filter-box">
                                            {% for journal in journals %}
                                                <li class="list-group-item">
                                                    {% if journal_filters is empty %}
                                                        {% set parameter = journal.key %}
                                                        <a href="{{ path('ojs_site_people_index', {
                                                            journal_filters: journal.key,
                                                            role_filters: app.request.get('role_filters'),
                                                            subject_filters: app.request.get('subject_filters')}) }}"
                                                           class="journal-title">{{ journal.key }}</a>
                                                    {% else %}
                                                        {% if journal.key in journal_filters %}
                                                            {% set parameter = journal_filters|pop(journal.key) %}
                                                            {{ journal.key }}
                                                            <a href="{{ path('ojs_site_people_index', {
                                                                journal_filters: parameter|join(','),
                                                                role_filters: app.request.get('role_filters'),
                                                                subject_filters: app.request.get('subject_filters')}) }}">
                                        <span class="btn btn-xs btn-danger">
                                            <i class="glyphicon glyphicon-remove"></i>
                                        </span>
                                                            </a>
                                                        {% else %}
                                                            {% set parameter = journal_filters|merge([journal.key]) %}
                                                            <a href="{{ path('ojs_site_people_index', {
                                                                journal_filters: parameter|join(','),
                                                                role_filters: app.request.get('role_filters'),
                                                                subject_filters: app.request.get('subject_filters')}) }}"
                                                               class="journal-title">{{ journal.key }}</a>
                                                        {% endif %}
                                                    {% endif %}
                                                    <span class="badge">{{ journal.doc_count }}</span>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endif %}
                            </div>
                        </div>

                        <div class="col-sm-9">
                            {% for person in people %}
                                {% include '::user.html.twig' %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12-xs">
                            <div class="text-center">
                                <ul class="pagination">
                                    {{ pagerfanta(pagerfanta,'twitter_bootstrap3') }}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts "@hovercard_js" output="assets/prod/js/hovercard.js" %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        {% if subjects and subjects|length>5 %}
        var options = {
            valueNames: ['subject']
        };
        var userList = new List('subjects-filter-box', options);
        {% endif %}
        {% if journals and journals|length>5 %}
        var journalOptions = {
            valueNames: ['journal-title']
        };
        var journalsList = new List('journals-filter-box', journalOptions);
        {% endif %}
        $(function () {
            $('.hovercard').each(function () {
                var elm, detail;
                elm = $(this);
                detail = $.trim(elm.parent().find('.hovercard-content').html());

                if (detail) {
                    elm.hovercard({
                        detailsHTML: detail
                    });
                }
            });
        });
    </script>
{% endblock %}
