{% extends '::ojsbase.html.twig' %}

{% set hideleft = 1 %}
{% block title %}{{ "title.people_directory"|trans }} {{ parent() }}{% endblock %}
{% block breadcrumb %}
    {% set list = [
        {'link': path('ojs_public_index'), 'title': 'title.home'|trans},
        {'title': 'title.people_directory'|trans}
    ] %}

    {{ breadcrumb(list) }}
{% endblock %}

{% block body %}
<div class="text-center">
    <ul class="pagination">
        {{ pagerfanta(pagerfanta,'twitter_bootstrap3') }}
    </ul>
</div>
<div class="container">
    {% for person in people %}
        <div class="col-sm-6 col-md-4">
            <div class="well">
                <div class="thumbnail">
                    <a href="/@{{ person.user.username }}"><img class="img-circle" src="{{ ('/uploads/avatarfiles/'~imagePath(person.user.avatar)) }}" data-src="holder.js/200x200/random"  style="width: 200px; height: 200px;" alt="{{ person.user.username }}"></a>
                </div>
                <div>
                    <h3><a href="/@{{ person.user.username }}">
                            {{ person.user.firstName }} {{ person.user.lastName }}
                        {{ 'profile'|trans }}</a></h3>
                    {% for journal in person.journals %}
                        <p class="btn btn-success">
                            {{ journal.journal.title }}
                            {% for role in journal.roles %}
                                <span class="badge">{{ role.name|trans }}</span>
                            {% endfor %}
                        </p>
                    {% endfor %}
                    <p>
                    </p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
<div class="text-center">
    <ul class="pagination">
        {{ pagerfanta(pagerfanta,'twitter_bootstrap3') }}
    </ul>
</div>
{% endblock %}