{% extends '::ojsbase.html.twig' %}

{% set hideleft = 1 %}
{% block title %}{{ "title.people_directory"|trans }} {{ parent() }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        @media (max-width: 1000px) {
            .well h3 a {
                /*font-size: 16px;*/
            }
        }
        .padding-5 {
            padding: 5px !important;
        }
        .no-padding {
            padding: 0 !important;
        }
    </style>
{% endblock %}
{% block breadcrumb %}
    {% set list = [
    {'link': path('ojs_public_index'), 'title': 'title.home'|trans},
    {'title': 'title.people_directory'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body %}
    <div class="text-center">
        <ul class="pagination">
            {{ pagerfanta(pagerfanta,'twitter_bootstrap3') }}
        </ul>
    </div>
    <div class="container no-padding">
        <div class="col-sm-3">
            <div class="panel-group">
                <div class="panel panel-primary">
                    <div class="panel-heading"><h4>{{ 'subjects'|trans }}</h4></div>
                    <ul class="list-group">
                        {% for subject in subjects %}
                            <li class="list-group-item">
                                {% if subject_filters is empty %}
                                    {% set parameter = subject.key %}
                                    <a href="{{ path('ojs_site_people_index', {
                                        subject_filters: subject.key,
                                        role_filters: app.request.get('role_filters'),
                                        journal_filters: app.request.get('journal_filters')}) }}">{{ subject.key }}</a>
                                {% else %}
                                    {% if subject.key in subject_filters %}
                                        {% set parameter = subject_filters|pop(subject.key) %}
                                        {{ subject.key }}
                                        <a href="{{ path('ojs_site_people_index', {
                                            subject_filters: parameter|join(','),
                                            role_filters: app.request.get('role_filters'),
                                            journal_filters: app.request.get('journal_filters')}) }}">
                                        <span class="btn btn-xs btn-danger">
                                            <i class="glyphicon glyphicon-remove"></i>
                                        </span>
                                        </a>
                                    {% else %}
                                        {% set parameter = subject_filters|merge([subject.key]) %}
                                        <a href="{{ path('ojs_site_people_index', {
                                            subject_filters: parameter|join(','),
                                            role_filters: app.request.get('role_filters'),
                                            journal_filters: app.request.get('journal_filters')}) }}">{{ subject.key }}</a>
                                    {% endif %}
                                {% endif %}
                                <span class="badge">{{ subject.doc_count }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="panel panel-primary">
                    <div class="panel-heading"><h4>{{ 'journals'|trans }}</h4></div>
                    <ul class="list-group">
                        {% for journal in journals %}
                            <li class="list-group-item">
                                {% if journal_filters is empty %}
                                    {% set parameter = journal.key %}
                                    <a href="{{ path('ojs_site_people_index', {
                                        journal_filters: journal.key,
                                        role_filters: app.request.get('role_filters'),
                                        subject_filters: app.request.get('subject_filters')}) }}">{{ journal.key }}</a>
                                {% else %}
                                    {% if journal.key in journal_filters %}
                                        {% set parameter = journal_filters|pop(journal.key) %}
                                        {{ journal.key }}
                                        <a href="{{ path('ojs_site_people_index', {
                                            journal_filters: parameter|join(','),
                                            role_filters: app.request.get('role_filters'),
                                            subject_filters: app.request.get('subject_filters')}) }}">
                                        <span class="btn btn-xs btn-danger">
                                            <i class="glyphicon glyphicon-remove"></i>
                                        </span>
                                        </a>
                                    {% else %}
                                        {% set parameter = journal_filters|merge([journal.key]) %}
                                        <a href="{{ path('ojs_site_people_index', {
                                            journal_filters: parameter|join(','),
                                            role_filters: app.request.get('role_filters'),
                                            subject_filters: app.request.get('subject_filters')}) }}">{{ journal.key }}</a>
                                    {% endif %}
                                {% endif %}
                                <span class="badge">{{ journal.doc_count }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="panel panel-primary">
                    <div class="panel-heading"><h4>{{ 'roles'|trans }}</h4></div>
                    <ul class="list-group">
                        {% for role in roles %}
                            <li class="list-group-item">
                                {% if role_filters is empty %}
                                    {% set parameter = role.key %}
                                    <a href="{{ path('ojs_site_people_index', {
                                        role_filters: role.key,
                                        subject_filters: app.request.get('subject_filters'),
                                        journal_filters: app.request.get('journal_filters') }) }}">{{ role.key|trans }}</a>
                                {% else %}
                                    {% if role.key in role_filters %}
                                        {% set parameter = role_filters|pop(role.key) %}
                                        {{ role.key|trans }}
                                        <a href="{{ path('ojs_site_people_index', {
                                            role_filters: parameter|join(','),
                                            subject_filters: app.request.get('subject_filters'),
                                            journal_filters: app.request.get('journal_filters')}) }}">
                                        <span class="btn btn-xs btn-danger">
                                            <i class="glyphicon glyphicon-remove"></i>
                                        </span>
                                        </a>
                                    {% else %}
                                        {% set parameter = role_filters|merge([role.key]) %}
                                        <a href="{{ path('ojs_site_people_index', {
                                            role_filters: parameter|join(','),
                                            subject_filters: app.request.get('subject_filters'),
                                            journal_filters: app.request.get('journal_filters')}) }}">{{ role.key|trans }}</a>
                                    {% endif %}
                                {% endif %}
                                <span class="badge">{{ role.doc_count }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-sm-8">
            {% for person in people %}
                <div class="col-sm-6 padding-5">
                    <div class="well col-sm-12" style="height: 20em; margin: 0;">
                        <div class="col-sm-4">
                            <a href="/@{{ person.username }}" class="thumbnail">
                                <img class="img-circle"
                                     src="{{ person.avatar is defined ? person.avatar|imagine_filter('avatar_thumb') : '#' }}"
                                     alt="{{ person.username|default('image'|trans) }}"
                                     data-src="holder.js/100x100/random"
                                     style="width: 100px; height: 100px;">
                            </a>
                            <div class="text-center">
                                {% if person.title is defined %}
                                    <h5>{{ person.title }}</h5>
                                {% endif %}

                                <h4>
                                    <a href="/@{{ person.username|default('') }}">
                                        {% if person.firstName is defined and person.lastName is defined %}
                                            {{ person.firstName|default('') }} {{ person.lastName|default('') }}
                                        {% else %}
                                            {{ person.username }}
                                        {% endif %}
                                    </a>
                                </h4>
                            </div>
                        </div>

                        {% if person.journalUsers is not null %}
                        <div class="col-sm-8">
                            <h5>{{ 'journals'|trans }}</h5>
                            <ul class="list-unstyled">
                                {% for journalUser in person.journalUsers %}
                                    <li>
                                        <span class="btn btn-sm btn-danger">{{ journalUser.journal.title }}</span>
                                        {% for role in journalUser.roles %}
                                        <ul class="list-unstyled">
                                            <li style="margin-top: 3px; margin-left: 7px">
                                                <span class="btn btn-xs btn-primary">{{ role|trans }}</span>
                                            </li>
                                        </ul>
                                        {% endfor %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="text-center">
        <ul class="pagination">
            {{ pagerfanta(pagerfanta,'twitter_bootstrap3') }}
        </ul>
    </div>
{% endblock %}
