{% extends '::ojsbase.html.twig' %}

{% set hideleft = 1 %}
{% block title %}{{ "title.people_directory"|trans }} {{ parent() }}{% endblock %}
{% block breadcrumb %}
    {% set list = [
        {'link': path('ojs_public_index'), 'title': 'title.home'|trans},
        {'title': 'title.people_directory'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body %}
<div class="text-center">
    <ul class="pagination">
        {{ pagerfanta(pagerfanta,'twitter_bootstrap3') }}
    </ul>
</div>
<div class="container">
    <div class="col-sm-3">
        <div class="panel-group">
            <div class="panel panel-primary">
                <div class="panel-heading"><h4>{{ 'subjects'|trans }}</h4></div>
                <ul class="list-group">
                    {% for subject in subjects %}
                        <li class="list-group-item">
                            {% if filters is empty %}
                                {% set parameter = subject.subject %}
                            {% else %}
                                {% set parameter = filters ~ ',' ~ subject.subject %}
                            {% endif %}
                            <a href="{{ path('people_index', {filters: parameter}) }}">
                                {{ subject.subject }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div class="col-sm-9">
    {% for person in people %}
        <div class="well col-sm-3">
            <div class="text-center">
                <a href="/@{{ person.username }}" class="thumbnail">
                    <img class="img-circle" src="{{ ('/uploads/avatarfiles/'~imagePath(person.avatar)) }}"
                         data-src="holder.js/100x100/random"  style="width: 100px; height: 100px;"
                         alt="{{ person.username }}">
                </a>
                <h3><a href="/@{{ person.username }}">{{ person.firstName }} {{ person.lastName }}</a></h3>
            </div>

            <div>
                <h4>
                    {% for subject in person.subjects %}
                        <span class="label label-primary">{{ subject.subject|trans }}</span>
                    {% endfor %}
                </h4>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
<div class="text-center">
    <ul class="pagination">
        {{ pagerfanta(pagerfanta,'twitter_bootstrap3') }}
    </ul>
</div>
{% endblock %}