{% extends '::ojsbase.html.twig' %}
{% set hideleft = true %}
{% block title %}{{ 'title.journal_new'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
    {'link': path('dashboard'), 'title': 'dashboard'|trans},
    { 'link': path('ojs_admin_journal_index'),'title': 'journal.manager'|trans},
    {'title': 'new'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}

    <h1>{{ "journal.new"|trans }}</h1>

    {{ form_start(form, { 'attr': { 'enctype' :'multipart/form-data'} }) }}

    {{ form_widget(form) }}

    <button type="submit" id="ojs_userbundle_user_submit" class="btn btn-primary">
        {{ "create"|trans }}
    </button>
    {{ form_end(form) }}
    <div class="record_actions">
        {% set back_path = 'ojs_admin_journal_index' %}
        {% include '::actionbuttons.html.twig' %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ form_javascript(form) }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ form_stylesheet(form) }}

{% endblock %}
