{% extends '::ojsbase.html.twig' %}

{% block body -%}
    <h1>{{"contact.type.list"|trans}}</h1>

    <a href="{{ path('contacttypes_new') }}" class="btn btn-success">{{"c"|trans}}</a>
    <table class="records_list  table">
        <thead>
            <tr>
                <th>Id</th>
                <th>{{"name"|trans}}</th>
                <th>{{"description"|trans}}</th>
                <th>{{"actions"|trans}}</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('contacttypes_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                    <td>{{ entity.name }}</td>
                    <td>{{ entity.description }}</td>
                    <td>

                        {% set show_path = 'contacttypes_show' %}
                        {% set edit_path = 'contacttypes_edit' %}
                        {% set delete_path = 'contacttypes_delete' %}
                        {% include '::actionbtns.html.twig' %}

                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
