{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.issues'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
    {'link': path('dashboard'), 'title': 'dashboard'|trans},
    {'title': 'title.issues'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    <h1>{{ 'title.issues'|trans }}</h1>
    {% include '::flashbag.html.twig' %}
    {{ grid(grid) }}
    <hr>
    {% if is_granted('CREATE', selectedJournal(), 'issues') %}
        <a href="{{ path('ojs_journal_issue_new') }}" class="btn btn-info">
            <i class="fa fa-plus"></i> {{ "create"|trans }}
        </a>
    {% endif %}

{% endblock %}
