{% extends '::ojsbase.html.twig' %}

{% block body -%}
    <h1>{{"issue.new"|trans}}</h1>

    {% if isSystemAdmin() %}
        <a class="btn btn-default" href="{{ path('issue') }}">{{"back"|trans}}</a>
    {%endif%}
    {{ form_start(form, { 'attr': { 'enctype' :'multipart/form-data'} }) }}
    {% for label, flashes in app.session.flashbag.all %}
        {% for flash in flashes %}
            <div class="alert alert-{{ label }}">
                {{ flash }}
            </div>
        {% endfor %}
    {% endfor %}
    {{ form_errors(form) }}
    {{ form_widget(form) }}
    <div class="form-group">
        <label class="control-label" for="fileupload">{{"cover"|trans}}</label>

        <span class="btn btn-success fileinput-button form-control">
            <i class="fa fa-plus"></i>
            <span>{{"select.image.file"|trans}}</span>
            <input id="fileupload" type="file" data-url="{{ oneup_uploader_endpoint('journalfiles') }}">
        </span>

        <div id="journal_cover_upload_progress" style="display: none" class="label label-info">

        </div>
    </div>

    <div class="form-group">
        <label class="control-label" for="fileupload_header">{{"Header Image"|trans}}</label>

        <span class="btn btn-success fileinput-button form-control">
            <i class="fa fa-plus"></i>
            <span>{{"select.image.file"|trans}}</span>
            <input id="fileupload_header" type="file" data-url="{{ oneup_uploader_endpoint('journalfiles') }}">
        </span>

        <div id="journal_header_upload_progress" style="display: none" class="label label-info">

        </div>
    </div>
    <button type="submit" id="ojs_userbundle_user_submit" class="btn btn-primary">
        {{ "create"|trans }}
    </button>
    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts '@upload_js' output="c/upload.js" %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#fileupload').fileupload({});
            $('#fileupload').bind('fileuploadsend', function (e, data) {
                $('#journal_cover_upload_progress').show();
                $('#journal_cover_upload_progress').html("{{"uploading"|trans}}");
            }).bind('fileuploaddone', function (e, data) {
                $('#journal_cover_upload_progress').html("{{"done"|trans}}.");
                $('#ojs_journalbundle_issue_cover').attr('value', JSON.parse(data.result).files.name);
            });
            $('#fileupload_header').fileupload({});
            $('#fileupload_header').bind('fileuploadsend', function (e, data) {
                $('#journal_header_upload_progress').show();
                $('#journal_header_upload_progress').html("{{"uploading"|trans}}");
            }).bind('fileuploaddone', function (e, data) {
                $('#journal_header_upload_progress').html("{{"done"|trans}}.");
                $('#ojs_journalbundle_issue_header').attr('value', JSON.parse(data.result).files.name);
            });
        });
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@upload_css'  output="c/upload.css" filter="cssrewrite" %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}

{% endblock %}