{% extends '::ojsbase.html.twig' %}
{% block body -%}
    <h1>{{"issue"|trans}}</h1>
    {% include '::flashbag.html.twig' %}
    <table class="table record_properties">
        <tbody>
            <tr>
                <th>{{ 'id'|trans }}</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>{{"journal.id"|trans}}</th>
                <td>{{ entity.journalId }}</td>
            </tr>
            <tr>
                <th>{{"volume"|trans}}</th>
                <td>{{ entity.volume }}</td>
            </tr>
            <tr>
                <th>{{"issue.number"|trans}}</th>
                <td>{{ entity.number }}</td>
            </tr>
            <tr>
                <th>{{"title"|trans}}</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>{{"cover"|trans}}</th>
                <td>{{ entity.cover }}</td>
            </tr>
            <tr>
                <th>{{"special"|trans}}</th>
                <td>{{ entity.special }}</td>
            </tr>
            <tr>
                <th>{{"desc"|trans}}</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>{{"year"|trans}}</th>
                <td>{{ entity.year }}</td>
            </tr>
            <tr>
                <th>{{"publishdate"|trans}}</th>
                <td>{{ entity.datePublished|date('Y-m-d') }}</td>
            </tr>
            <tr>
                <th>{{"created"|trans}}</th>
                <td>{{ entity.created|date('Y-m-d') }}</td>
            </tr>
            <tr>
                <th>{{"updated"|trans}}</th>
                <td>{{ entity.updated|date('Y-m-d') }}</td>
            </tr>
            <tr>
                <th>{{"deleted"|trans}}</th>
                <td>{{ entity.deletedAt|date('Y-m-d') }}</td>
            </tr>
        </tbody>
    </table>
    <hr>

    {% set back_path = 'issue' %}
    {% set edit_path = 'issue_edit' %}
    {% set delete_path = 'issue_delete' %}
    {% include '::actionbtns.html.twig' %}

{% endblock %}
