{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.article_sort'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
    {'link': path('ojs_journal_dashboard_index', {journalId: selectedJournal().id}), 'title': 'dashboard'|trans},
    {'link': path('ojs_journal_issue_arrange', {'journalId': selectedJournal().id, 'id': issueId}), 'title': 'issue.arrange.article'|trans },
    {'title': 'title.article_sort'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    <h1>{{ 'sort.articles'|trans }} ({{ section.title }})</h1>
    {{ include('::flashbag.html.twig') }}
    <div class="row">
        <form method="post" action="{{ path('ojs_journal_issue_arrange_sort', {'journalId': selectedJournal().id, 'id': issueId, 'sectionId': section.id}) }}">
            <div class="col-sm-4 col-sm-push-4 well">
                <ul id="sortable" class="list-group">
                    <input type="hidden" value='{{ jsonSortData|raw }}' name="sortData"/>
                    {% for article in articles %}
                        <li class="list-group-item" data-id="{{ article.id }}">
                            <h5>
                                <i class="fa fa-arrows-v" aria-hidden="true"></i>
                                {{ article.title }}
                            </h5>
                        </li>
                    {% endfor %}
                </ul>
                <button class="btn btn-primary pull-right">
                    {{ 'update'|trans }}
                </button>
            </div>
        </form>
    </div>

    {{ actions({'back': {'href': path('ojs_journal_issue_arrange', {'journalId': selectedJournal().id, 'id': issueId})}}) }}
{% endblock %}
