{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.issue_view'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
    { 'link': path('ojs_journal_dashboard_index', {journalId: selectedJournal().id}), 'title': 'dashboard'|trans },
    { 'link': path('ojs_journal_issue_index', {'journalId': selectedJournal().id}), 'title': 'issue.manager'|trans },
    { 'title': 'title.issue_view'|trans }
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body %}
    <div class="panel">
        <h1>
            {% if issue.special %}<span class="label label-success"><i class="fa fa-star"></i></span>{% endif %}
            {{ "issue"|trans }}
            {% if is_granted('EDIT', selectedJournal(), 'issues') %}
                <small class="pull-right">
                    <a href="{{ path('ojs_journal_issue_arrange', {'id': issue.id, 'journalId': selectedJournal().id}) }}" class="btn btn-info btn-small">
                        <i class="fa fa-cog"></i> {{ 'issue.arrange.article'|trans }}
                    </a>
                </small>
            {% endif %}
        </h1>
        {% include '::flashbag.html.twig' %}
        <ul>
            <li>{{ "volume"|trans }} : <strong>{{ issue.volume }}</strong></li>
            <li>{{ "issue.number"|trans }} : <strong>{{ issue.number }}</strong></li>
            <li>{{ "title"|trans }} : <strong>{{ issue.title }}</strong></li>
            <li>{{ "year"|trans }} : <strong>{{ issue.year|date('Y') }}</strong></li>
            <li>{{ "date.publish"|trans }} : {{ issue.datePublished|date('Y-m-d') }} </li>
            <li>{{ "full_file"|trans }} : <a href="{{ asset('uploads/issuefiles/'~ issue.fullFile) }}"
                                             target="_blank">{{ issue.fullFile }}</a></li>
        </ul>
        <h4>{{ "articles"|trans }}</h4>
        {% for article in articles %}
            <div class="list-group">
                <div class="list-group-item">
                    <a title="{{ "page.plural"|trans }}" class="label label-default">{{ article.firstPage }}
                        - {{ article.lastPage }}</a>
                    <a target="_blank"
                       href="{{ path('ojs_article_page_without_publisher', {'issue_id':issue.id , 'slug': article.journal.slug, 'article_id' : article.id  } ) }}">
                        {{ article.title }}
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
