{% extends '::ojsbase.html.twig' %}

{% block body -%}
    <h1>JournalContact</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Journalid</th>
                <td>{{ entity.journalId }}</td>
            </tr>
            <tr>
                <th>Contactid</th>
                <td>{{ entity.contactId }}</td>
            </tr>
            <tr>
                <th>Contacttypeid</th>
                <td>{{ entity.contactTypeId }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('journalcontact') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('journalcontact_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
