{% extends '::ojsbase.html.twig' %}

{% block breadcrumb %}
    {% set list = [
    {'link': path('dashboard'), 'title': 'dashboard'|trans},
    { 'title': 'report.plural'|trans, 'link': path('reports_index') },
    { 'title': 'user.analytics'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}


{% block body -%}
    <div class="col-md-12">
        {# @todo a summary user chart should be added here #}
        <h3>Titles Chart</h3>
        <div id="titles_chart"></div>

        <hr>
        <h3>Gender Chart</h3>
        <div id="gender_chart"></div>

        <hr>
        <h3>New Users</h3>
        <div id="new_users"></div>
    </div>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@stats_css' filter='uglifycss' filter='cssrewrite' output="assets/prod/css/appstats.css" %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts '@stats_js' filter='uglifyjs' output="assets/prod/js/appstats.js" %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
           $(function(){
               var userTitleChart = c3.generate({
                   bindto:"#titles_chart",
                   data: {
                       columns: [
                           {% for titleAgg in aggs.title.buckets %}
                           ['{{ titleAgg.key }}',{{ titleAgg.doc_count }}]{% if not loop.last %}, {% endif %}
                           {% endfor %}
                       ],
                       type: 'pie'
                   }
               });
               var userGenderChart = c3.generate({
                   bindto: "#gender_chart",
                   data: {
                       columns: [

                           {% for genderAgg in aggs.gender.buckets %}
                           ['{{ genderAgg.key }}',{{ genderAgg.doc_count }}]{% if not loop.last %}, {% endif %}
                           {% endfor %}
                       ],
                       type: 'pie'
                   }
               })
               var newUserChart = c3.generate({
                   bindto: "#new_users",
                   data: {
                       x: 'x',
                       columns: [
                           ['x',
                           {% for new_user in datedAggs.dateHistogram.buckets %}
                           '{{ new_user.key_as_string }}'{% if not loop.last %}, {% endif %}
                           {% endfor %}
                           ],
                               ['new_users',
                           {% for new_user in datedAggs.dateHistogram.buckets %}
                           {{ new_user.doc_count }}{% if not loop.last %}, {% endif %}
                           {% endfor %}
                               ]
                       ],
                       type: 'spline'
                   },
                   axis: {
                       x: {
                           type: 'timeseries',
                           tick: {
                               format: '%Y-%m-%d'
                           }
                       }
                   }
               })
           });
    </script>
{% endblock %}
