{% extends '::ojsbase.html.twig' %}

{% block breadcrumb %}
    {% set list = [
    {'link': path('dashboard'), 'title': 'Dashboard'},
    {'title': '<strong>Page Management</strong>' },
    { 'title': 'All Pages' }
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}


{% block body -%}
    <h1>All Pages</h1>

    <table class="records_list table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Body</th>
                <th>Tags</th>
                <th>Image</th>
                <th>{{"actions"|trans}}</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('admin_page_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                    <td>{{ entity.title }}</td>
                    <td>{{ entity.body }}</td>
                    <td>{{ entity.tags }}</td>
                    <td>{{ entity.image }}</td>
                    <td>
                        {% set back_path = 'admin_page_show' %}
                        {% set edit_path = 'admin_page_edit' %}
                        {% set delete_path = 'admin_page_delete' %}
                        {% include '::actionbtns.html.twig' %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
 
            <a href="{{ path('admin_page_new') }}" class="btn btn-primary">
                {{"c"|trans}}
            </a> 
{% endblock %}
