{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.announcements'|trans }} {{ parent() }}{% endblock %}
{% set hideleft = 1 %}

{% block breadcrumb %}
    {% set list = [
    {'link': path('ojs_public_index'), 'title': project_name},
    {'link':generateJournalUrl(journal), 'title': journal.title},
    {'title': "announcements"|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body %}

    <div class="container">
        <!-- The carousel -->
        <div class="page-header">
            <h1>{{ journal.title }}</h1>
            <h6>{{ journal.subtitle }}</h6>
        </div>
        <div class="row">
            <div class="col-md-9 col-sm-8">
                {% for announcement in announcements %}
                    <div class="panel panel-default">
                        <div class="panel-heading toggle-list">
                            <h3 class="panel-title btn-link">{{ announcement.title|raw }}</h3>
                        </div>
                        <div class="panel-body">
                            {{ announcement.content|raw }}
                        </div>
                    </div>
                {% else %}
                    <div class="alert alert-info">
                        {{ 'ojs.any_content'|trans }}
                    </div>
                {% endfor %}
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                {% include 'VipaSiteBundle:Journal:journal_right_block.html.twig' %}
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        analytics.increase('journal', {{ journal.id }})
    </script>
{% endblock %}
