{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.design_edit'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
        {'link': path('ojs_admin_dashboard'), 'title': 'dashboard'|trans},
        {'link': path('ojs_admin_design_index'),'title': 'title.designs'|trans},
        {'title': 'title.design_edit'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@jqueryui_css' output="c/jqueryui_min.css" filter="cssrewrite" %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
    <style>
        .column {
            width: 170px;
            float: left;
            padding-bottom: 100px;
        }

        .portlet {
            margin: 0 1em 1em 0;
            padding: 0.3em;
        }

        .portlet-header {
            padding: 0.2em 0.3em;
            margin-bottom: 0.5em;
            position: relative;
        }

        .portlet-toggle {
            position: absolute;
            top: 50%;
            right: 0;
            margin-top: -8px;
        }

        .portlet-content {
            padding: 0.4em;
        }

        .portlet-placeholder {
            border: 1px dotted black;
            margin: 0 1em 1em 0;
            height: 50px;
        }
    </style>

{% endblock %}
{% block body -%}
    <h1>{{ "design.edit"|trans }}</h1>
    {% include '::flashbag.html.twig' %}
    {{ form(edit_form) }}

    {% block portlets -%}
        <div class="column">

            <div class="portlet">
                <div class="portlet-header">Feeds</div>
                <div class="portlet-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>
            </div>

            <div class="portlet">
                <div class="portlet-header">News</div>
                <div class="portlet-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>
            </div>

        </div>

        <div class="column">

            <div class="portlet">
                <div class="portlet-header">Shopping</div>
                <div class="portlet-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>
            </div>

        </div>

        <div class="column">

            <div class="portlet">
                <div class="portlet-header">Links</div>
                <div class="portlet-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>
            </div>

            <div class="portlet">
                <div class="portlet-header">Images</div>
                <div class="portlet-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</div>
            </div>

        </div>
    {% endblock %}

    {% set back_path = 'ojs_admin_design_index' %}
    {% if is_granted('DELETE', edit_form.vars.data) %}
        {% set delete_path = 'ojs_admin_design_delete' %}
    {% endif %}
    {% include '::actionbuttons.html.twig' %}

    {{ getLogs(entity) }}
{% endblock %}

{% block javascripts -%}
    {{ parent() }}
    <script></script>

    {% javascripts "@jqueryui_js" output="c/jqueryui_min.js" %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script>
        $(function () {
            $(".column").sortable({
                connectWith: ".column",
                handle: ".portlet-header",
                cancel: ".portlet-toggle",
                placeholder: "portlet-placeholder ui-corner-all"
            });

            $(".portlet")
                    .addClass("ui-widget ui-widget-content ui-helper-clearfix ui-corner-all")
                    .find(".portlet-header")
                    .addClass("ui-widget-header ui-corner-all")
                    .prepend("<span class='ui-icon ui-icon-minusthick portlet-toggle'></span>");

            $(".portlet-toggle").click(function () {
                var icon = $(this);
                icon.toggleClass("ui-icon-minusthick ui-icon-plusthick");
                icon.closest(".portlet").find(".portlet-content").toggle();
            });
        });
    </script>
{% endblock %}
