{% extends '::ojsbase.html.twig' %}
{% import "::design_macros.html.twig" as macros %}
{% set hideleft = true %}
{% block title %}{{ 'title.design_new'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
    {'link': path('ojs_admin_dashboard'), 'title': 'dashboard'|trans},
    {'link': path('ojs_admin_design_index'),'title': 'title.designs'|trans},
    {'title': 'title.journal_design_new'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@jqueryui_css' output="assets/prod/css/jqueryui_min.css" filter="cssrewrite" %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}

    <link rel="stylesheet" href="{{ asset('vendor/gridmanager.js/dist/css/jquery.gridmanager-light.css') }}"/>

    <style type="text/css">
        .gm-save {
            display: none !important;
        }
    </style>
{% endblock %}

{% block body -%}
    <h1>{{ "journal.design.new"|trans }}</h1>

    {{ form(form) }}

    <p id="widgetNotSelected" class="text-danger hide">Lütfen bir bileşen seçin!</p>
    <p id="widgetNoColumn" class="text-danger hide">Lütfen bileşen eklemek istediğiniz alanları seçin!</p>
    <select id="widgetSelect">
        <option value="default">Bileşen seç ..</option>
        <option value="cover">Dergi Kapağı</option>
        <option value="description">Tanım</option>
        <option value="journalMenu">Dergi Menüsü</option>
        <option value="socialButtons">Sosyal Ağlar</option>
        <option value="journalIndexes">Dergi Dizinleri</option>
        <option value="archive">Arşiv</option>
        <option value="articles">Yazılar</option>
        <option value="pages">Sayfalar</option>
        <option value="custom">Özel</option>
    </select>
    <button id="widgetButton" class="btn btn-sm btn-success">Bileşen Ekle</button>
    <br>
    <textarea id="customCode" class="hide"></textarea>
    <br>
    <br>

    <div id="gridDesign">
        <div class="row">
            <div class="col-md-3">
                <span class="design-hide-span hide">
                    {{ macros.imageOptions() }}
                </span>

                <span class="design-hide-block hide">
                    {{ macros.journalImage() }}
                </span>
                <img src="" data-src="holder.js/280x380/random/text: Örnek Dergi "
                     class="img-responsive img-rounded float-left holder-remove" alt=""/>
                <span class="design-hide-endblock hide"></span>

                <a href="#" class="list-group-item ">
                    <span class="row-fluid">
                        <span class="col-md-6 nopadding">
                            <span class="list-group-item-heading count"><i class="fa fa-eye"></i>
                                <span class="design-inline" title="{{ "{{ journal.viewCount|number_format(0,'.','.') }}" }}">21.312</span>
                            </span>
                        </span>
                        <span class="col-md-6 nopadding">
                            <span class="list-group-item-heading count"><i class="fa fa-download"></i>
                                <span class="design-inline" title="{{ "{{ journal.downloadCount|number_format(0,'.','.') }}" }}">4.223</span>
                            </span>
                        </span>
                        <span class="clearfix"></span>
                    </span>
                </a>
            </div>
            <div class="col-md-6">
                <span class="design-hide-block hide">
                    {{ macros.journalUrl() }}
                </span>
                <a href="#" target="_blank">
                    <small>http://demo.io</small>
                </a>
                <span class="design-hide-endblock hide"></span>
                <span class="design-inline" title="{{ "{{ journal.description|raw }}" }}">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum interdum leo quis pretium. Sed id
                    suscipit est, vitae posuere ante. Aenean semper commodo molestie. Donec nulla est, aliquam sit amet
                    feugiat eu, lobortis sed enim. Morbi vestibulum vitae nisl id aliquet. Donec felis urna, pharetra varius
                    sollicitudin eu, placerat non quam. Class aptent taciti sociosqu ad litora torquent per conubia nostra,
                    per inceptos himenaeos. Integer orci mi, viverra eu ligula sit amet, condimentum tincidunt magna.

                    In semper laoreet sapien, ac tincidunt massa ullamcorper nec. Nunc condimentum velit at mi dapibus
                    dignissim. Aenean tristique mi a enim mollis rhoncus. Aenean non metus dictum, tempus ante eget,
                    suscipit orci. Vivamus gravida, neque sed fermentum molestie, nibh erat tristique magna, quis ornare
                    libero dolor ac diam. Donec sodales sapien ut fringilla semper. Morbi tempus convallis condimentum.
                    Phasellus pellentesque odio vitae felis pulvinar rutrum. Quisque eu cursus lacus, faucibus dignissim
                    ligula. Vestibulum enim velit, elementum vel eros sed, tincidunt vehicula diam. Cras id metus egestas,
                    finibus lacus et, aliquam sem. Pellentesque scelerisque congue velit, vitae consequat justo tincidunt
                    at. In convallis sollicitudin tortor.
                </span>
            </div>

            <div class="col-md-3">
                <!--gm-editable-region-->
                <div class="list-group journal-stats">
                    <div class="list-group-item ">
                        <span class="design-hide-block hide">
                            {{ macros.journalSearchBox() }}
                        </span>
                        <form role="search" action="#" method="get">
                            <span class="design-hide-endblock hide"></span>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="{{ "search.on.journal"|trans }}"
                                       name="q">
                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <span class="design-hide-block hide">
                        {{ macros.articleSubmission() }}
                    </span>
                    <a href="#"
                       class="list-group-item list-group-item-success"><h5><i
                                    class="fa fa-plus-circle"></i> {{ "article.submit"|trans }}</h5>
                    </a>
                    <span class="design-hide-endblock hide"></span>

                    <a href="" class="list-group-item ">
                        <h5><i class="fa fa-file-o"></i> {{ "about"|trans }}</h5>
                    </a>

                    <span class="design-hide-block hide">
                        {{ macros.journalArchive() }}
                    </span>
                    <a href="#" class="list-group-item ">
                        <h5><i class="fa fa-archive"></i> {{ "archive"|trans }}</h5>
                    </a>
                    <span class="design-hide-endblock hide"></span>

                    <span class="design-hide-block hide">
                        {{ macros.journalContact() }}
                    </span>
                    <a href="#" class="list-group-item ">
                        <h5><i class="fa fa-phone"></i> {{ "journalcontact.singular"|trans }}</h5>
                    </a>
                    <span class="design-hide-endblock hide"></span>

                    <span class="design-hide-block hide">
                        {{ macros.journalAnnouncements() }}
                    </span>
                    <a href="#" class="list-group-item ">
                        <h5><i class="fa fa-newspaper-o"></i> {{ "announcements"|trans }}</h5>
                    </a>
                    <span class="design-hide-endblock hide"></span>

                    <div class="list-group-item ">
                        <span class="design-hide-block hide">
                            {{ macros.journalSubscribeForm() }}
                        </span>
                        <form role="search" action="#" method="post">
                        <span class="design-hide-endblock"></span>
                            <div class="input-group">
                                <input type="text" class="form-control"
                                       placeholder="{{ "subscribe.this.journal"|trans }}" name="mail">
                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="submit"><i class="fa fa-send"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!--/gm-editable-region-->
                <!--gm-editable-region-->
                <div>
                    <span class="design-hide-block hide">
                        {{ macros.socialButtons() }}
                    </span>
                    <a href="#" class="list-group-item facebook-like">
                        <h3 class="pull-right">
                            <i class="fa fa-facebook-square"></i>
                        </h3>
                        <h5 class="list-group-item-heading count">
                            {{ random(10000) }}</h5>

                        <p class="list-group-item-text">
                            Facebook Likes</p>
                    </a>
                    <a href="#" class="list-group-item google-plus">
                        <h3 class="pull-right">
                            <i class="fa fa-google-plus-square"></i>
                        </h3>
                        <h5 class="list-group-item-heading count">
                            {{ random(10000) }}</h5>

                        <p class="list-group-item-text">
                            Google+</p>
                    </a>
                    <a href="#" class="list-group-item twitter">
                        <h3 class="pull-right">
                            <i class="fa fa-twitter-square"></i>
                        </h3>
                        <h5 class="list-group-item-heading count">
                            {{ random(10000) }}</h5>

                        <p class="list-group-item-text">
                            Twitter Followers</p>
                    </a>
                    <span class="design-hide-endblock hide"></span>
                </div>
                <!--/gm-editable-region-->
                <!--gm-editable-region-->
                <div class="list-group">
                    <span class="design-hide-block hide">
                        {{ macros.journalIndexes }}
                    </span>
                    <div class="list-group-item">
                        <a href="#" target="_blank">
                            <h5>
                                <img src="" data-src="holder.js/60x40/random/text: Örnek Dergi "
                                     class="img-responsive img-rounded float-left holder-remove" alt=""/>
                                Index
                            </h5>
                        </a>
                    </div>
                    <div class="list-group-item">
                        <a href="#" target="_blank">
                            <h5>
                                Index 2
                            </h5>
                        </a>
                    </div>
                    <div class="list-group-item">
                        <a href="#" target="_blank">
                            <h5>
                                Index 3
                            </h5>
                        </a>
                    </div>
                    <span class="design-hide-endblock hide"></span>
                </div>
                <!--/gm-editable-region-->
            </div>
            <div class="col-md-12">
                <h5 class="page-header"><span class="panel-title">{{ "journal_index.issues"|trans }}</span></h5>
            </div>
            <div class="col-md-4">
                <div id="issuetree">
                    <span class="design-hide-block hide">
                        {{ macros.issuesByYear() }}
                    </span>
                    <ul>
                        <li>
                            <h4 title=" {{ "year"|trans }}"> 2014</h4>
                            <ul>
                                <li>
                                    <a href="#">
                                        {{ "volume"|trans }}  {{ random(10) }}
                                        - {{ "issue.number"|trans }} {{ random(100) }}
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        {{ "volume"|trans }}  {{ random(10) }}
                                        - {{ "issue.number"|trans }} {{ random(100) }}
                                        <span class="label label-success">
                                            <i class="fa fa-star" title="{{ "special.issue"|trans }}"></i>
                                            {{ "special.issue"|trans }}
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        {{ "volume"|trans }}  {{ random(10) }}
                                        - {{ "issue.number"|trans }} {{ random(100) }}
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <h4 title=" {{ "year"|trans }}"> 2013</h4>
                            <ul>
                                <li>
                                    <a href="#">
                                        {{ "volume"|trans }}  {{ random(10) }}
                                        - {{ "issue.number"|trans }} {{ random(100) }}
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        {{ "volume"|trans }}  {{ random(10) }}
                                        - {{ "issue.number"|trans }} {{ random(100) }}
                                        <span class="label label-success">
                                            <i class="fa fa-star" title="{{ "special.issue"|trans }}"></i>
                                            {{ "special.issue"|trans }}
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <span class="design-hide-endblock hide"></span>
                    <span class="design-hide-block hide">
                        {{ macros.journalArchiveButton }}ç
                    </span>
                    <a class="btn btn-primary" href="#">
                        <i class="fa fa-arrow-right"></i>{{ "archive"|trans }}
                    </a>
                    <span class="design-hide-endblock hide"></span>
                </div>
            </div>
            <div class="col-md-5">
                <span class="design-hide-block hide">
                    {{ macros.journalLastIssue() }}
                </span>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Son Sayı başlığı</strong>
                        {{ "issue.number"|trans }} {{ random(100) }} {{ "volume"|trans }} {{ random(10) }}
                        - Haziran 2015
                        <span class="badge badge-warning pull-right">{{ "read.lastissue"|trans }}</span>
                    </div>
                    <div class="panel-body">
                        <ul>
                            <li>
                                <a href="#">Bir Makale</a>
                            </li>
                            <li>
                                <a href="#">Bir Yazı</a>
                            </li>
                            <li>
                                <a href="#">Başka Bir Yazı</a>
                            </li>
                        </ul>

                    </div>
                </div>
                <span class="design-hide-endblock hide"></span>
            </div>
            <div class="col-md-3">
                <span class="design-hide-block hide">
                    {{ macros.rightBlockInclude() }}
                </span>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <span class="panel-title">Sayfalar</span>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="#" target="_blank">Ref Link Instructions</a>
                        </li>
                        <li class="list-group-item">
                            <a href="#" target="_blank">Reader Information</a>
                        </li>
                        <li class="list-group-item">
                            <a href="#" target="_blank">Proof Instructions</a>
                        </li>
                        <li class="list-group-item">
                            <a href="#" target="_blank">Copy Edit Instructions</a>
                        </li>
                        <li class="list-group-item">
                            <a href="#" target="_blank">Author Information</a>
                        </li>
                    </ul>
                </div>
                <span class="design-hide-endblock hide"></span>
            </div>
        </div>
    </div>

    {% set back_path = 'ojs_admin_design_index' %}
    {% include '::actionbuttons.html.twig' %}

    <!-- Widgets -->
    {% include '::designWidgets.html.twig' %}
{% endblock %}

{% block javascripts -%}
    {{ parent() }}
    <script></script>

    {% javascripts "@jqueryui_js" output="assets/prod/js/jqueryui_min.js" %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script src="{{ asset('vendor/gridmanager.js/dist/js/jquery.gridmanager.min.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('#widgetNotSelected').hide();
            $('#widgetNotSelected').removeClass('hide');
            $('#widgetNoColumn').hide();
            $('#widgetNoColumn').removeClass('hide');
            $('#customCode').hide();
            $('#customCode').removeClass('hide');
            var gm = $("#gridDesign").gridmanager().data('gridmanager');

            $('#widgetButton').on('click', function (e) {

                if (!$('.' + gm.options.gmEditClassSelected).length) {
                    $('#widgetNoColumn').show();
                    return;
                }
                else {
                    $('#widgetNoColumn').hide();
                }

                if ($('#widgetSelect').val() == 'default') {
                    $('#widgetNotSelected').show();
                    return;
                }
                else if ($('#widgetSelect').val() == 'custom') {
                    var widgetHtml = $('#customCode').val();
                }
                else {
                    var widgetHtml = $('#' + $('#widgetSelect').val()).html();
                }
                $('#widgetNotSelected').hide();

                var canvas = gm.$el.find("#" + gm.options.canvasId);
                var cols = canvas.find(gm.options.colSelector);
                $.each(cols, function () {
                    if ($(this).hasClass(gm.options.gmEditClassSelected)) {
                        var cTagOpen = '<!--' + gm.options.gmEditRegion + '-->',
                                cTagClose = '<!--\/' + gm.options.gmEditRegion + '-->',
                                elem = null;
                        $(('.' + gm.options.gmToolClass + ':last'), this)
                                .before(elem = $('<div>').addClass(gm.options.gmEditRegion + ' ' + gm.options.contentDraggableClass)
                                        .append(gm.options.controlContentElem + '<div class="' + gm.options.gmContentRegion + '"></div>')).before(cTagClose).prev().before(cTagOpen);
                        gm.initNewContentElem(elem);
                        $('.' + gm.options.gmEditRegion, this).last().append(widgetHtml);
                    }
                });
            });

            $('#widgetSelect').on('change', function () {
                if ($(this).val() != 'custom') {
                    $('#customCode').slideUp();
                }
                else {
                    $('#customCode').slideDown();
                }
            });

            $('#ojs_journalbundle_design_submit').attr('type', 'button');
            $('#ojs_journalbundle_design_submit').on('click', function(){
                gm.deinitCanvas();
                $('.holder-remove').removeAttr("src");
                $('.holder-remove').removeAttr("data-holder-rendered");
                $('#ojs_journalbundle_design_editableContent').val($("#" + gm.options.canvasId).html());
                $("form[name='ojs_journalbundle_design']").submit();
            });
        });


    </script>
{% endblock %}