{% extends '::ojsbase.html.twig' %}

{% block breadcrumb %}
    {% set list = [
                {'link': path('dashboard'), 'title': 'Dashboard'},
                {'link': path('ojs_review_form_items'), 'title': 'Review Form Items'},
                {'title': 'New Review Form Item'}
] %}
    {{breadcrumb(list)}}
{% endblock %}

{% block body -%}
    <div class="panel">
        <div class="panel-heading">
            <h1>New Review Form Item</h1>
        </div>
        <div class="panel-body"> 
            <div class="panel-body">
                <form method="post" class="form-row" action="{{path('ojs_review_form_items_create')}}">
                    <div class="form-group">
                        <label>Journal</label> 
                        <span>{{journal.title}}</span>
                    </div>

                    <div class="form-group">
                        <label>Title</label>
                        <input  id="titleinput" class="form-control" name="title" >
                    </div>

                    <div class="form-group">
                        <label>Mandotary?
                            <input type="checkbox" name="mandotary" id="mandotaryinput" value="1"> 
                        </label>
                        <span class="help-block">Is this question mandotary?</span>
                    </div>

                    <div class="form-inline">
                        <label>Input Type</label>
                        <select class="form-control select2" name="inputtype" id="inputtypeinput">
                            <option value="textbox">Textbox</option>
                            <option value="textarea">Textarea</option>
                            <option rel="hasfields" value="checkboxes">Checkboxes</option>
                            <option rel="hasfields" value="radio">Radio</option>
                            <option rel="hasfields" value="dropdown">Dropdown</option>
                            <option value="scale_1_5">Scale 1-5</option>
                        </select>

                    </div>

                    <div id="fieldspart" class="form-group" style="display:none">
                        <label>Fields</label>
                        <textarea id="fieldsinput" class="form-control" name="fields" rows="10" placeholder="Add each field text as one line" ></textarea>
                    </div>

                    <div>
                        <input type="submit" class="btn btn-success" value="Save" />
                        <a href="{{path('manage_workflowsteps')}}" class="btn btn-default">
                            <i class="fa fa-arrow-left"></i>
                            Back to List
                        </a>
                    </div>
                </form>

            </div>

        </div>
    </div>
{% endblock %}

{% block javascripts -%}
    {{  parent()  }}
    <script>
        $(document).ready(function () {
            $("#inputtypeinput").change(function () {
                if ($("#inputtypeinput option:selected").attr("rel") === "hasfields") {
                    $("#fieldspart").slideDown("fast");
                } else {
                    $("#fieldspart").slideUp("fast");
                }
            });
        });
    </script>
{% endblock %}
