{% extends '::ojsbase.html.twig' %}

{% block breadcrumb %}
    {% set list = [
                {'link': path('dashboard'), 'title': 'dashboard'},
                {'link': path('ojs_review_forms'), 'title': 'Review Forms'},
                {'link': path('ojs_review_form_items',{'formId':form.id}),'title': 'Form Items' },
                {'title': 'Review Form Item Details'}
] %}
    {{breadcrumb(list)}}
{% endblock %}

{% block body -%} 

    <h2><small>Title: </small> {{formItem.title}}</h2>

    <table class="table table-responsive">
        <tr>
            <td>Input type</td>
            <td>{{formItem.inputtype}}</td>
        </tr>
        <tr>
            <td>
                Mandatory?
            </td>
            <td>
                {% if formItem.mandatory %}  
                    <span class="label label-warning">
                        Yes    
                        <i class="fa fa-warning"></i>
                    </span>
                {%else%}
                    <span class="label label-info">
                        Optional
                        <i class="fa fa-check"></i>
                    </span>
                {% endif %}
            </td>
        </tr>

        <tr>
            <td>
                Confidentail?
            </td>
            <td>
                {% if formItem.confidential %}  
                    <span class="label label-warning">Yes <i class="fa fa-warning"></i></span>
                    {%else%}
                    <span class="label label-info"> No <i class="fa fa-check"></i></span>
                    {% endif %}
            </td>
        </tr>
        <tr>
            <td>Fields</td>
            <td>
                {%if formItem.fields %}
                    <ul>
                        {% for field in formItem.fields%}
                            <li>{{field}}</li>
                            {%endfor%}
                    </ul>
                {%endif%}
            </td>
        </tr>
        <tr>
            <td>Fieldset</td>
            <td>{{formItem.fieldset}}</td>
        </tr>
    </table>
{% endblock %}
