{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.board_edit'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
    {'link': path('dashboard'), 'title': 'dashboard'|trans},
    { 'link': path('admin_board'),'title': 'board'|trans},
    {'title': 'board.edit'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    <h1>{{ "board.edit"|trans }}</h1>
    {% include '::flashbag.html.twig' %}
    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    <button class="btn-primary btn" type="submit">{{ "u"|trans }}</button>
    {{ form_end(edit_form) }}


    <a href="{{ path('admin_board') }}">
        {{ "b"|trans }}
    </a>
    {% if is_granted('DELETE', selectedJournal(), 'boards') %}
        <a href="{{ path('admin_board_delete',{id: entity.id}) }}">
            {{ "d"|trans }}
        </a>
    {% endif %}

    {{ getLogs(entity) }}

{% endblock %}
