{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.boards'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
    {'link': path('dashboard'), 'title': 'dashboard'|trans},
    { 'title': 'board'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    <h1> {{ "boards"|trans }}</h1>
    {% include '::flashbag.html.twig' %}
    {% if is_granted('CREATE', selectedJournal(), 'boards') %}
        <a href="{{ path('admin_board_new') }}">
            {{ "c"| trans }}
        </a>
    {% endif %}
    <hr>
    {{ grid(grid) }}
{% endblock %}
