{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.board_new'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
    {'link': path('dashboard'), 'title': 'dashboard'|trans},
    { 'link': path('admin_board'),'title': 'board'|trans},
    {'title': 'new'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    {% if is_granted('CREATE', selectedJournal(), 'boards') %}
        <h1>{{ "board.create"|trans }}</h1>
    {% endif %}
    {{ form(form) }}

    <a href="{{ path('admin_board') }}">
        {{ "b"|trans }}
    </a>

{% endblock %}
