{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.admin_dashboard'|trans }} {{ parent() }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('vendor/c3/c3.min.css') }}"/>

    <style type="text/css">
        .btn-wrap {
            white-space: normal !important;
        }
    </style>
{% endblock %}

{% block breadcrumb %}
    <div class="text-center">
        <h3>{{ "dashboard"|trans }}</h3>
    </div>
{% endblock %}

{% block body %}
    {% include '::flashbag.html.twig' %}
    {% if selectedJournal() and is_granted('VIEW', selectedJournal(), 'adminMenu') %}

        [show here latest articles]
        <div>
            {{ getLogs(selectedJournal()) }}
        </div>

    {% else %}
        <div class="alert alert-info" role="alert">
            <h5>{{ "dashboard.use_left"|trans }}</h5>
        </div>
    {% endif %}
{% endblock %}