{% extends '::ojsbase.html.twig' %}
{% set hideleft = true %}
{% block title %}{{ 'title.journal_application_file'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
        {'link': path('ojs_admin_dashboard'), 'title': 'dashboard'|trans},
        { 'title': 'title.journal_application_file'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    <h1>{{ "journal_application_file.list"|trans }}</h1>
    {% include '::flashbag.html.twig' %}
    {% if is_granted('CREATE', getEntity('VipaJournalBundle:JournalApplicationFile')) %}
        <a href="{{ path('ojs_admin_application_file_new') }}" class="btn btn-success">
            {{ "c"|trans }}
        </a>
    {% endif %}

    <hr>
    {{ grid(grid) }}
{% endblock %}
