{% extends '::ojsbase.html.twig' %}
{% set hideleft = true %}
{% block title %}{{ 'title.journal_application_file'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
        {'link': path('ojs_admin_dashboard'), 'title': 'dashboard'|trans},
        { 'link': path('ojs_admin_application_file_index'),'title': 'title.journal_application_file'|trans},
        {'title': 'title.journal_application_file'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    <h1>{{ "journal_application_file.new"|trans }}</h1>

    {{ form(form) }}
    {% set back_path = 'ojs_admin_application_file_index' %}
    {% include '::actionbuttons.html.twig' %}
{% endblock %}
