{% extends '::ojsbase.html.twig' %}

{% block body -%}
    <h1>CitationSetting list</h1>

    <table class="records_list  table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Citationid</th>
                <th>Setting</th>
                <th>Value</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('citationsetting_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.citationId }}</td>
                <td>{{ entity.setting }}</td>
                <td>{{ entity.value }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('citationsetting_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('citationsetting_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('citationsetting_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
