{% extends '::ojsbase.html.twig' %}
{% block breadcrumb %}
    {% set list = [
    {'link': path('dashboard'), 'title': 'dashboard'|trans},
    { 'title': 'user.anonym'|trans},
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}
{% block body -%}
    <div class="row">
        <div class="panel">
            <h1>{{"user.anonym.list"|trans}}</h1>
            <table class="records_list  table">
                <thead>
                <tr>
                    <th>{{"user.anonym.firstname"|trans}}</th>
                    <th>{{"user.anonym.lastname"|trans}}</th>
                    <th>{{"user.anonym.email"|trans}}</th>
                    <th>{{"user.anonym.role"|trans}}</th>
                    <th>{{"user.anonym.used"|trans}}</th>
                    <th>{{"actions"|trans}}</th>
                </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    {% set _user=entity.userId|user(true) %}
                    <tr>
                        <td>{{ _user.firstName}}</td>
                        <td>{{ _user.lastName}}</td>
                        <td>{{ _user.email }}</td>
                        <td>{{ _user.roles|join(',') }}</td>
                        <td>{{ entity.used }}</td>
                        <td>
                            {% set edit_path = 'user_edit_anonym_login' %}
                            {% set delete_path = 'user_delete_anonym_login' %}
                            {% include '::actionbtns.html.twig' %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
