{% extends "::ojsbase.html.twig" %}

{% block body %}

    <div class="row">

        {% include '::flashbag.html.twig' %}

        <div class="col-md-12">
            <div class="container" style="margin-top:60px">
                <div class="col-md-6 col-md-offset-4">
                    <div class="panel panel-info">
                        <div class="panel-heading"><h1 class="panel-title"><i class="fa fa-user"></i> {{ "register"|trans }}</h1></div>
                        <div class="panel-body">


                            <form action="{{ path('register') }}" method="POST">
                                {{ form_errors(form) }}

                                <div class="form-group">
                                    {{ form_label(form.username) }}
                                    {{ form_widget(form.username,{ 'attr': { 'class': 'form-control' } }) }}
                                    <span class="help-block">{{ "This will be your unique short name in application"|trans }}</span>
                                    {{ form_errors(form.username) }}
                                </div>

                                <div class="form-group">
                                    {{ form_label(form.email) }}
                                    {{ form_widget(form.email,{ 'attr': { 'class': 'form-control' } }) }}
                                    {{ form_errors(form.email) }}
                                </div>

                                <div class="form-group">
                                    {{ form_label(form.firstName) }}
                                    {{ form_widget(form.firstName,{ 'attr': { 'class': 'form-control' } }) }}
                                    {{ form_errors(form.firstName) }}
                                </div>

                                <div class="form-group">
                                    {{ form_label(form.lastName) }}
                                    {{ form_widget(form.lastName,{ 'attr': { 'class': 'form-control' } }) }}
                                    {{ form_errors(form.lastName) }}
                                </div>

                                <div class="form-group">
                                    <label>Password</label>
                                    {{ form_widget(form.password.first,{ 'attr': { 'class': 'form-control' } }) }}
                                    {{ form_errors(form.password) }}
                                </div>
                                <div class="form-group">
                                    <label>Password (repeat)</label>
                                    {{ form_widget(form.password.second,{ 'attr': { 'class': 'form-control' } }) }}
                                    {{ form_errors(form.password) }}
                                </div>
                                <div class="form-group">
                                    {% trans with {'%tos%': path('tos')}%}
                                    By registering you accept <a target="_blank" href="%tos%">terms of use</a>.
                                    {% endtrans %}
                                </div>


                                {{ form_widget(form._token) }}

                                <button type="submit" class="btn btn-lg btn-primary pull-right">
                                    <i class="fa fa-sign-in"></i> {{ "register"|trans }}
                                </button>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
