{% extends '::vipabase.html.twig' %}
{% set hideleft = true %}
{% block title %}{{ 'title.language_show'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
        {'link': path('vipa_admin_dashboard'), 'title': 'dashboard'|trans},
        {'link': path('vipa_admin_post_index'),'title': 'title.posts'|trans},
        {'title': 'title.post_show'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    <h1>{{ 'title.post_show'|trans }}</h1>
    {% include '::flashbag.html.twig' %}
    {{ display(entity) }}
    {{
        actions({
            'back': {'href': path('vipa_admin_post_index')},
            'edit': {'href': path('vipa_admin_post_edit', {'id': entity.id})},
            'delete': {
                'href': path('vipa_admin_post_delete', {'id': entity.id}),
                'permission': is_granted('DELETE', entity),
                'attributes': {'data-token': token}
            },
        })
    }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        analytics.increase('post', {{ entity.id }})
    </script>
{% endblock %}