{% extends '::vipabase.html.twig' %}
{% set hideleft = true %}
{% block title %}{{ 'title.journal'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
    {'link': path('dashboard'), 'title': 'dashboard'|trans},
    { 'title': 'application.journal'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}


{% block body -%}
    <div class="col-md-12">
        <div class="panel">
            <h1>{{ "application.journal.list"|trans }}</h1>
            {{ grid(grid) }}
        </div>
    </div>
{% endblock %}

