{% extends '::vipabase.html.twig' %}
{% set hideleft = true %}
{% block title %}{{ 'title.journal_detail'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
    {'link': path('dashboard'), 'title': 'dashboard'|trans},
    { 'link': path('vipa_admin_application_journal_index'),'title': 'application.journal'|trans},
    {'title': 'show'|trans},
    {'title': entity.title}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}


{% block body -%}

    <div class="col-md-12">
        <div class="panel">
            <h1>{{ "application.journal.detail"|trans }}</h1>
            {% include '::flashbag.html.twig' %}
            {{ display(entity) }}
            <a class="btn btn-primary"
               href="{{ url('vipa_admin_application_journal_save',{id: entity.id}) }}">{{ "journal.application_accept"|trans }}
            </a>
            <a class="btn btn-warning"
               href="{{ url('vipa_admin_application_journal_reject',{id: entity.id}) }}">{{ "journal.application_reject"|trans }}
            </a>
        </div>
    </div>
{% endblock %}
