{% extends "::ojsbase.html.twig" %}

{% block body %} 

    <div class="row">
        <h1>{{"issue.edit"|trans}} </h1>
        <ul>
            <li><small>Journal : <strong>{{journal.title}}</strong> </small></li>
            <li><small>Volume : <strong>{{issue.volume}}</strong> </small></li>
            <li><small>Number : <strong>{{issue.number}}</strong> </small></li>
            <li><small>Title : <strong>{{issue.title}}</strong> </small></li>
            <li><small>Year : <strong>{{issue.year}}</strong> </small></li>
            <li><small>{{"date.publish"|trans}} : {{issue.datePublished|date('Y-m-d')}} </small></li>
        </ul>
        <div class="panel panel-info">
            <div class="panel-heading">Add article to this issue</div>
            <div class="panel-body">
                <form action="{{path('issue_manager_issue_add_article')}}" method="post">
                    <input type="hidden" name="issue_id" value="{{issue.id}}">
                    <div class="form-row">
                        <select name="unissued_article_id" id="unissuedArticles" class="select2  form-control">
                            <option></option>
                            {% for article in articlesUnissued %}
                                <option value="{{article.id}}" 
                                        rel="{{path('issue_manager_issue_add_article',{'id':issue.id,'articleId':article.id})}}">
                                    [#{{article.id}}] {{article.title|slice(0,200)}}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-row">
                        <a class="btn btn-primary" id="issueManagerAddArticle">
                            <i class="fa fa-plus-circle"></i> Add article
                        </a>
                        <a class="btn btn-default" id="issueManagerPreviewArticle">
                            <i class="fa fa-external-link"></i> Preview Article
                        </a>
                    </div>
                </form>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>{{"order"|trans}}</th>
                    <th>{{"article.singular"|trans}}</th>
                    <th>{{"page.first"|trans}}</th>
                    <th>{{"page.last"|trans}}</th>
                </tr>
            </thead>
            <tbody>
                {% for article in articles %}
                    <tr>
                        <td>                            
                            <input class="form-control input-sm" value="{{article.orderNum}}" type="number" style="width:50px">
                        </td>
                        <td>
                            <a href="{{path('ojs_article_page', {'slug': article.journal.slug, 'article_slug' : article.slug , 'institution' : article.journal.institution.slug  } )}}">
                                <small>{{article.title}}</small>
                            </a>
                        </td>
                        <td>
                            <input value="{{article.firstPage}}" class="input-sm form-control" style="width:80px" type="number">
                        </td>
                        <td>
                            <input value="{{article.lastPage}}" class="input-sm form-control" style="width:80px" type="number">
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>


    </div>
    <hr>
    <a href="#" class="btn btn-primary">
        <i class="fa fa-save"></i> {{"save"|trans}}
    </a>
    <a href="#" class="btn btn-warning">{{"cancel"|trans}}</a> 

{% endblock %}



{% block javascripts %}
    {{parent()}} 

    <script>
        $(function () {
            $("#issueManagerPreviewArticle").click(function () {
                if ($("#unissuedArticles").val().length > 0) {
                    window.open('/redirect/article/' + $("#unissuedArticles").val());
                }
            });
            $("#issueManagerAddArticle").click(function () {
                if ($("#unissuedArticles").attr('rel').length > 0) {
                    window.location.href = $("#unissuedArticles").attr('rel');
                }
            });
        });
    </script>
{% endblock %}
