{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.issues'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
        { 'link': path('dashboard'), 'title': 'dashboard'|trans },
        { 'link': path('issue_manager_index'), 'title': 'issue.manager'|trans }
    ] %}
    {{breadcrumb(list)}}
{% endblock %}

{% block body %}

    <div class="row">
        <div class="panel">
            <h1>{{"issue.plural"|trans}}</h1>
            {% include '::flashbag.html.twig' %}
            {{ grid(grid) }}
            <hr>
            <a href="{{path('issue_manager_issue_new')}}" class="btn btn-info">
                <i class="fa fa-plus"></i> {{"create"|trans}}
            </a>
        </div>
    </div>

{% endblock %}
