{% extends "::ojsbase.html.twig" %}

{% block body %}
    <h1>{{"dashboard.admin"|trans}}</h1>

    {% include '::flashbag.html.twig' %}
    <div class="col-md-6">
        <a href="{{path("dashboard_editor")}}"><strong>{{"dashboard.editor"|trans}}</strong></a>

        <h2>{{"dashboard.objects"|trans}}</h2>

        <ul class="list-group">

            <li class="list-group-item"><a href="{{path('article')}}">{{"article.plural"|trans}}</a></li>
            <li class="list-group-item"><a href="{{path('author')}}">{{"author.plural"|trans}}</a></li>
            <li class="list-group-item"><a href="{{path('contact')}}">{{"contact.plural"|trans}}</a></li>
            <li class="list-group-item"><a href="{{path('contacttypes')}}">{{"contacttype.plural"|trans}}</a></li>
            <li class="list-group-item"><a href="{{path('institution')}}">{{"institution.plural"|trans}}</a></li>
            <li class="list-group-item"><a href="{{path('institution_types')}}">{{"institutiontype.plural"|trans}}</a></li>
            <li class="list-group-item"><a href="{{path('issue')}}">{{"issue.plural"|trans}}</a></li>
            <li class="list-group-item"><a href="{{path('journal')}}">{{"journal.plural"|trans}}</a></li>
            <li class="list-group-item"><a href="{{path('subject')}}">{{"subject.plural"|trans}}</a></li>
            <li class="list-group-item"><a href="{{path('lang')}}">{{"lang.plural"|trans}}</a></li>
            <li class="list-group-item"><a href="{{path('theme')}}">{{"theme.plural"|trans}}</a></li>
            <li class="list-group-item"><a href="{{path('admin_journaltheme')}}">{{"journal.theme"|trans}}</a></li>
        </ul>
    </div>

    <div class="col-md-6">
        <h2>{{"dashboard.operations"|trans}}</h2>
        <ul class="list-group">
            <li class="list-group-item"><a href="{{path('user')}}">{{"user.plural"|trans}}</a></li>
            <li class="list-group-item"><a href="{{path('role')}}">{{"role.plural"|trans}}</a></li>
            <li class="list-group-item"><a href="{{path('user_create_anonym_login')}}">{{"user.anonym.new"|trans}}</a></li>
        </ul>
    </div>
    <div class="col-md-6">
        <h2>{{ "dashboard.suggestion"|trans }}</h2>
        <ul class="list-group">
            <li class="list-group-item"><a href="{{ path('journal_suggestion') }}">{{ "suggestion.journal"|trans }}</a></li>
            <li class="list-group-item"><a href="{{ path('institute_suggestion') }}">{{ "suggestion.institute"|trans }}</a></li>
        </ul>
    </div>
    <div class="col-md-6">
        <h2>{{ "dashboard.general.stats"|trans }}</h2>
        <ul class="list-group">
            <li class="list-group-item">{{ "total.user"|trans }} <span class="badge">{{ stats.userCount }}</span></li>
            <li class="list-group-item">{{ "total.article"|trans }} <span class="badge">{{ stats.articleCount }}</span></li>
            <li class="list-group-item">{{ "total.issue"|trans }} <span class="badge">{{ stats.issueCount }}</span></li>
        </ul>
    </div>
    <div class="col-md-12">
        {% if stats.article.mostViewedArticle is defined %}
            {% set article = stats.article.mostViewedArticle %}
            <h2>{{ "stats.most.viewed.article"|trans }}<span class="badge">{{ stats.article.mostViewedArticleCount }}</span></h2>
            <a href="{{ url('ojs_article_page',{article_id: article.id,slug: article.journal.slug,institution: article.journal.institution.slug}) }}">
                {{ article.title }}
            </a>
        {% else %}
            <h3>{{ "Any article viewed yet"|trans }}</h3>
        {% endif %}
    </div>
    <div class="col-md-12">
        {% if stats.article.mostDownloadedArticle is defined %}
            {% set article = stats.article.mostDownloadedArticle %}
            <h2>{{ "stats.most.downloaded.article"|trans }}<span class="badge">{{ stats.article.mostDownloadedArticleCount }}</span></h2>
            <a href="{{ url('ojs_article_page',{article_id: article.id,slug: article.journal.slug,institution: article.journal.institution.slug}) }}">
                {{ article.title }}
            </a>
        {% else %}
            <h3>{{ "Any article downloaded yet"|trans }}</h3>
        {% endif %}
    </div>
{% endblock %}
