{% extends '::ojsbase.html.twig' %}

{% block body -%}
<h1>{{ "notification.list"|trans }}</h1>

<table class="records_list table">
    <thead>
        <tr>
            <th>{{ "notification.id"|trans }}</th>
            <th>{{ "notification.sender.id"|trans }}</th>
            <th>{{ "notification.recipient.id"|trans }}</th>
            <th>{{ "notification.test"|trans }}</th>
            <th>{{ "notification.isread"|trans }}</th>
            <th>{{ "notification.level"|trans }}</th>
            <th>{{"actions"|trans}}</th>
        </tr>
    </thead>
    <tbody>
        {% for entity in entities %}
        <tr>
            <td><a href="{{ path('admin_notification_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.senderId }}</td>
            <td>{{ entity.recipientId }}</td>
            <td>{{ entity.text }}</td>
            <td>{{ entity.isRead }}</td>
            <td>{{ entity.level }}</td>
            <td>

                    {% set show_path = 'admin_notification_show' %}
                    {% set edit_path = 'admin_notification_edit' %}
                    {% set delete_path = 'admin_notification_delete' %}
                    {% include '::actionbtns.html.twig' %}


            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a class="btn btn-default" href="{{ path('admin_notification_new') }}">
    {{"c"|trans}}
</a>
    {% endblock %}
