{% extends '::ojsbase.html.twig' %}

{% block body -%}
<h1>{{ "notification.singular"|trans }}</h1>

<table class="record_properties table">
    <tbody>
        <tr>
            <th>{{ "notification.id"|trans }}</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>{{ "notification.sender.id"|trans }}</th>
            <td>{{ entity.senderId }}</td>
        </tr>
        <tr>
            <th>{{ "notification.recipient.id"|trans }}</th>
            <td>{{ entity.recipientId }}</td>
        </tr>
        <tr>
            <th>{{ "notification.entity.id"|trans }}</th>
            <td>{{ entity.entityId }}</td>
        </tr>
        <tr>
            <th>{{ "notification.entity.name"|trans }}</th>
            <td>{{ entity.entityName }}</td>
        </tr>
        <tr>
            <th>{{ "notification.subject"|trans }}</th>
            <td>{{ entity.subject }}</td>
        </tr>

        <tr>
            <th>{{ "notification.verb"|trans }}</th>
            <td>{{ entity.action }}</td>
        </tr>
        <tr>
            <th>{{ "notification.isread"|trans }}</th>
            <td>{{ entity.isRead }}</td>
        </tr>
        <tr>
            <th>{{ "notification.level"|trans }}</th>
            <td>{{ entity.level }}</td>
        </tr>
    </tbody>
</table>

    {% set back_path = 'admin_notification' %}
    {% set edit_path = 'admin_notification_edit' %}
    {% set delete_path = 'admin_notification_delete' %}
    {% include '::actionbtns.html.twig' %}
{% endblock %}
