{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.journal_roles'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
    {'link': path('dashboard'), 'title': 'dashboard'|trans},
    {'link': path('ojs_journal_role_index'),'title': 'user.journalrole'|trans},
    {'title': 'title.journal_roles'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    <div class="large-12 columns">
        <div class="panel">
            <h1>{{ 'title.journal_roles'|trans }}</h1>
            {% include '::flashbag.html.twig' %}
            {{ grid(grid) }}
            {% if is_granted('CREATE', selectedJournal(), 'userRole') %}
                {% set create_path = 'ojs_journal_role_new' %}
            {% endif %}
            {% include '::actionbuttons.html.twig' %}
        </div>
    </div>
{% endblock %}
