{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.journal_role_new'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
    {'link': path('dashboard'), 'title': 'dashboard'|trans},
    {'link': path('ojs_journal_role_index'),'title': 'user.journalrole'|trans},
    {'title': 'title.journal_role_new'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    <div class="large-12 columns">
        <div class="panel">
            <h1>{{ 'title.journal_role_new'|trans }}</h1>
            {% include '::flashbag.html.twig' %}
            <a href="{{ path('ojs_journal_user_new') }}" class="btn btn-default">{{ 'user.create'|trans }}</a>
            {{ form(form) }}
            {% set back_path = 'ojs_journal_role_index' %}
            {% include '::actionbuttons.html.twig' %}
        </div>
    </div>
{% endblock %}
