{% extends '::ojsbase.html.twig' %}
{% set hideleft = true %}
{% block title %}{{ 'title.publisher_new'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
    {'link': path('ojs_admin_dashboard'), 'title': 'dashboard'|trans},
    { 'link': path('ojs_admin_publisher_index'),'title': 'title.publishers'|trans},
    {'title': 'title.publisher_new'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}

    {{ form_start(form, { 'attr': { 'enctype' :'multipart/form-data'} }) }}
    {% for label, flashes in app.session.flashbag.all %}
        {% for flash in flashes %}
            <div class="alert alert-{{ label }}">
                {{ flash }}
            </div>
        {% endfor %}
    {% endfor %}
    {{ form_errors(form) }}

    {{ form_widget(form) }}
    <div class="form-group">
        <input id="late_long_input" class="form-control"/>

        <div id="locationpicker" style="width: 100%; height: 400px;"></div>
    </div>

    <button type="submit" id="ojs_userbundle_user_submit" class="btn btn-primary">
        {{ "c"|trans }}
    </button>
    {{ form_end(form) }}
    {% set back_path = 'ojs_admin_publisher_index' %}
    {% include '::actionbuttons.html.twig' %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#locationpicker').locationpicker({
                radius: 10,
                inputBinding: {
                    latitudeInput: $("input[data-id=addressLat]"),
                    longitudeInput: $("input[data-id=addressLong]"),
                    locationNameInput: $('#late_long_input')
                },
                enableAutocomplete: true
            });
        });
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
