<div class="btn-group">
    {% if(back_path is defined) %}
        <a class="btn btn-default btn-sm" href="{{ path(back_path, { 'id': entity.id }) }}" title="{{"b"|trans}}">
            <i class="fa fa-arrow-left"></i>
        </a>
    {% endif %}
    {% if(show_path is defined) %}
        <a class="btn btn-success btn-sm" href="{{ path(show_path, { 'id': entity.id }) }}" title="{{"details"|trans}}">
            <i class="fa fa-info-circle"></i>
        </a>
    {% endif %}
    {% if(edit_path is defined) %}
        <a class="btn btn-warning btn-sm" href="{{ path(edit_path, { 'id': entity.id }) }}" title="{{"edit"|trans}}">
            <i class="fa fa-pencil"></i>
        </a>
    {% endif %}
    {% if (cms_path is defined) %}
        <a class="btn-info btn-sm" 
           href="{{ path(cms_path, {'id': entity.id, 'object': entity|cmsobject }) }}" title="{{"cms"|trans}}">
            <i class="fa fa-anchor"></i>
        </a>
    {% endif %}
    {% if(delete_path is defined) %}
        <a class="btn btn-danger btn-sm" onclick="return confirm('{% trans %}sure{% endtrans %}');"
           href="{{ path(delete_path, { 'id': entity.id}) }}" title="{{"delete"|trans}}">
            <i class="fa fa-trash-o"></i>
        </a>
    {% endif %}
    {% if invite_user_path is defined %}
        <a class="btn btn-danger btn-sm" href="{{ url(invite_user_path,{'id':entity.id,'object':entity|cmsobject}) }}">
            <i class="fa fa-users"></i>
        </a>
    {% endif %}
    {% if (block_path is defined) %}

    {% endif %}
    {% if unblock_path is defined %}

    {% endif %}
</div>