{% macro journalCover() %}
    <span class="design-hide-block hide">
        {% raw %}
            <!--raw-->
            {#<!--
                <img src="{{ journal.image|imagine_filter('journal_cover') }}"
                    class="img-responsive img-rounded float-left" alt=""/>
            -->#}
            <!--endraw-->
        {% endraw %}
    </span>
    <img src=""
         class="img-responsive img-rounded float-left holder-remove tri" alt=""/>
    <span class="design-hide-endblock hide"></span>
    <span class="list-group-item ">
        <span class="row-fluid">
            <span class="half-column nopadding">
                <span class="list-group-item-heading count"><i class="fa fa-eye"></i>
                    <span class="design-inline" title="{{ "{{ journal.viewCount|number_format(0,'.','.') }}" }}">21.312</span>
                </span>
            </span>
            <span class="half-column nopadding">
                <span class="list-group-item-heading count"><i class="fa fa-download"></i>
                    <span class="design-inline" title="{{ "{{ journal.downloadCount|number_format(0,'.','.') }}" }}">4.223</span>
                </span>
            </span>
            <span class="clearfix"></span>
        </span>
    </span>
    <span>
        <span class="row-fluid">
            <span class="half-column nopadding">
                <span class="list-group-item-heading count">
                    <span class="design-inline" title="{{ "{{ journal.issn}}" }}">1234-1234</span>
                </span>
            </span>
            {% raw %}
            <!--raw-->
            {#<!--
            {% if journal.eissn is defined %}
            <span class="half-column nopadding">
                <span class="list-group-item-heading count">
                    <span class="design-inline" title="{{ journal.eissn }}">1234-1234</span>
                </span>
            </span>
            {% endif %}
            -->#}
                <!--endraw-->
            {% endraw %}
            <span class="clearfix"></span>
        </span>
    </span>
{% endmacro %}

{% macro journalDescription() %}
    <span class="design-hide-block hide">
        {% raw %}
            <!--raw-->
            {#<!--
            {% if journal.url %}
            <a href="{{ journal.url }}" target="_blank">
                <small>{{ journal.url }}</small>
            </a>
            {% endif %}
            -->#}
            <!--endraw-->
        {% endraw %}
    </span>
    <a href="#" target="_blank">
        <small>http://demo.io</small>
    </a>
    <span class="design-hide-endblock hide"></span>
    <span class="design-inline" title="{{ "{{ journal.description|raw }}" }}">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum interdum leo quis pretium. Sed id
        suscipit est, vitae posuere ante. Aenean semper commodo molestie. Donec nulla est, aliquam sit amet
        feugiat eu, lobortis sed enim. Morbi vestibulum vitae nisl id aliquet. Donec felis urna, pharetra varius
        sollicitudin eu, placerat non quam. Class aptent taciti sociosqu ad litora torquent per conubia nostra,
        per inceptos himenaeos. Integer orci mi, viverra eu ligula sit amet, condimentum tincidunt magna.

        In semper laoreet sapien, ac tincidunt massa ullamcorper nec. Nunc condimentum velit at mi dapibus
        dignissim. Aenean tristique mi a enim mollis rhoncus. Aenean non metus dictum, tempus ante eget,
        suscipit orci. Vivamus gravida, neque sed fermentum molestie, nibh erat tristique magna, quis ornare
        libero dolor ac diam. Donec sodales sapien ut fringilla semper. Morbi tempus convallis condimentum.
        Phasellus pellentesque odio vitae felis pulvinar rutrum. Quisque eu cursus lacus, faucibus dignissim
        ligula. Vestibulum enim velit, elementum vel eros sed, tincidunt vehicula diam. Cras id metus egestas,
        finibus lacus et, aliquam sem. Pellentesque scelerisque congue velit, vitae consequat justo tincidunt
        at. In convallis sollicitudin tortor.
    </span>
{% endmacro %}

{% macro journalMenu() %}
    <div>
        <div class="list-group journal-stats">
            <div class="list-group-item ">
                <span class="design-hide-block hide">
                    {% raw %}
                        <!--raw-->
                        {#<!--
                            <form role="search"
                                  action="{{ url('vipa_journal_index_search',{publisher: journal.publisher.slug, slug: journal.slug}) }}"
                                  method="get" id="search_on_journal">
                        -->#}
                        <!--endraw-->
                    {% endraw %}
                </span>
                <form role="search" action="#" method="get">
                <span class="design-hide-endblock hide"></span>
                    <div class="input-group">
                        <span class="design-hide-block hide">
                            {% raw %}
                                <!--raw-->
                                {#<!--
                                    <input type="text" class="form-control" placeholder="{{ "search.on.journal"|trans }}" name="q">
                                -->#}
                                <!--endraw-->
                            {% endraw %}
                        </span>
                            <input type="text" class="form-control" placeholder="{{ "search.on.journal"|trans }}" name="q">
                        <span class="design-hide-endblock hide"></span>
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>
            <span class="design-hide-block hide">
                {% raw %}
                    <!--raw-->
                    {#<!--
                        <a href="//{{ base_host }}{{ path('vipa_journal_submission_start',{"journalId":journal.id}) }}"
                                           class="list-group-item list-group-item-success">
                            <h5>
                                <i class="fa fa-plus-circle"></i>
                                {{ "article.submit"|trans }}
                            </h5>
                        </a>
                    -->#}
                    <!--endraw-->
                {% endraw %}
            </span>
                <a href="#"
                   class="list-group-item list-group-item-success"><h5><i
                                class="fa fa-plus-circle"></i> {{ "article.submit"|trans }}</h5>
                </a>
            <span class="design-hide-endblock hide"></span>

            <span class="design-hide-block hide">
                {% raw %}
                    <!--raw-->
                    {#<!--
                        <a href="#" class="list-group-item ">
                            <h5><i class="fa fa-file-o"></i>{{ "about"|trans }}</h5>
                        </a>
                    --->
                    <!--endraw-->
                {% endraw %}
            </span>
                <a href="#" class="list-group-item ">
                    <h5><i class="fa fa-file-o"></i>{{ "about"|trans }}</h5>
                </a>
            <span class="design-hide-endblock hide"></span>

            <span class="design-hide-block hide">
                {% raw %}
                    <!--raw-->
                    {#<!--
                        <a href="{{ archive_uri }}"
                           class="list-group-item "><h5><i class="fa fa-archive"></i> {{ "archive"|trans }}</h5>
                        </a>
                    --->
                    <!--endraw-->
                {% endraw %}
            </span>
                <a href="#" class="list-group-item ">
                    <h5><i class="fa fa-archive"></i> {{ "archive"|trans }}</h5>
                </a>
            <span class="design-hide-endblock hide"></span>

            <span class="design-hide-block hide">
                {% raw %}
                    <!--raw-->
                    {#<!--
                        <a href="{{ url('vipa_journal_contacts',{slug: journal.slug, publisher: journal.publisher.slug}) }}"
                           class="list-group-item "><h5><i class="fa fa-phone"></i> {{ "journalcontact.singular"|trans }}
                            </h5>
                        </a>
                    --->
                    <!--endraw-->
                {% endraw %}
            </span>
                <a href="#" class="list-group-item ">
                    <h5><i class="fa fa-phone"></i> {{ "journalcontact.singular"|trans }}</h5>
                </a>
            <span class="design-hide-endblock hide"></span>

            <span class="design-hide-block hide">
                {% raw %}
                    <!--raw-->
                    {#<!--
                        <a href="{{ url('vipa_announcement_index',{slug: journal.slug, publisher: journal.publisher.slug}) }}"
                           class="list-group-item ">
                           <h5><i class="fa fa-newspaper-o"></i> {{ "announcements"|trans }}</h5>
                        </a>
                    --->
                    <!--endraw-->
                {% endraw %}
            </span>
                <a href="#" class="list-group-item ">
                    <h5><i class="fa fa-newspaper-o"></i> {{ "announcements"|trans }}</h5>
                </a>
            <span class="design-hide-endblock hide"></span>

            <div class="list-group-item ">
                <span class="design-hide-block hide">
                    {% raw %}
                        <!--raw-->
                        {#<!--
                            <form role="search"
                                  action="{{ path('vipa_journal_subscribe',{slug: journal.slug, publisher: journal.publisher.slug}) }}"
                                  method="post">
                        --->
                        <!--endraw-->
                    {% endraw %}
                </span>
                <form role="search" action="#" method="post">
                <span class="design-hide-endblock"></span>
                    <div class="input-group">
                        <span class="design-hide-block hide">
                            {% raw %}
                                <!--raw-->
                                {#<!--
                                    <input type="text" class="form-control" placeholder="{{ "journal.subscribe"|trans }}" name="mail">
                                --->
                                <!--endraw-->
                            {% endraw %}
                        </span>
                            <input type="text" class="form-control" placeholder="{{ "journal.subscribe"|trans }}" name="mail">
                        <span class="design-hide-endblock hide"></span>
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit"><i class="fa fa-send"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endmacro %}


{% macro indexes() %}
    <div class="list-group">
        <span class="design-hide-block hide">
            {% raw %}
                <!--raw-->
                {#<!--
                    {% for journalIndex in journal.journalIndexs %}
                        <div class="list-group-item">
                            <a href="{{ journalIndex.link }}" target="_blank">
                                <h5>
                                    {% if journalIndex.index.logo %}
                                        <img src="{{ journalIndex.index.logo|imagine_filter('index_logo') }}"
                                             alt="{{ journalIndex.index.name }}"/>
                                    {% endif %}
                                    {{ journalIndex.index.name }}
                                </h5>
                            </a>
                        </div>
                    {% endfor %}
                --->
                <!--endraw-->
            {% endraw %}
        </span>
            <div class="list-group-item">
                <a href="#" target="_blank">
                    <h5>
                        <img src=""
                             class="img-responsive img-rounded float-left holder-remove tri" alt=""/>
                        Index
                    </h5>
                </a>
            </div>
            <div class="list-group-item">
                <a href="#" target="_blank">
                    <h5>
                        Index 2
                    </h5>
                </a>
            </div>
            <div class="list-group-item">
                <a href="#" target="_blank">
                    <h5>
                        Index 3
                    </h5>
                </a>
            </div>
        <span class="design-hide-endblock hide"></span>
    </div>
{% endmacro %}

{% macro archive() %}
    <div id="issuetree">
        <span class="design-hide-block hide">
            {% raw %}
                <!--raw-->
                {#<!--
                    <ul>
                        {% for key, issues in years %}
                        <li>
                            <h4 title=" {{ "year"|trans }}"> {{ key }}</h4>
                            <ul>
                                {% for issue in issues %}
                                <li>
                                    <a href="{{ issue.publicURI }}">
                                        {{ "volume"|trans }}  {{ issue.volume }}
                                        - {{ "issue.number"|trans }} {{ issue.number }}
                                        {% if issue.special %}
                                            <span class="label label-success">
                                                    <i class="fa fa-star"
                                                       title="{{ "special.issue"|trans }}"></i>
                                                {{ "special.issue"|trans }}
                                                </span>
                                        {% endif %}&nbsp;
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% endfor %}
                    </ul>
                --->
                <!--endraw-->
            {% endraw %}
        </span>
            <ul>
                <li>
                    <h4 title=" {{ "year"|trans }}"> 2014</h4>
                    <ul>
                        <li>
                            <a href="#">
                                {{ "volume"|trans }}  {{ random(10) }}
                                - {{ "issue.number"|trans }} {{ random(100) }}
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                {{ "volume"|trans }}  {{ random(10) }}
                                - {{ "issue.number"|trans }} {{ random(100) }}
                                <span class="label label-success">
                                                <i class="fa fa-star" title="{{ "special.issue"|trans }}"></i>
                                    {{ "special.issue"|trans }}
                                            </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                {{ "volume"|trans }}  {{ random(10) }}
                                - {{ "issue.number"|trans }} {{ random(100) }}
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <h4 title=" {{ "year"|trans }}"> 2013</h4>
                    <ul>
                        <li>
                            <a href="#">
                                {{ "volume"|trans }}  {{ random(10) }}
                                - {{ "issue.number"|trans }} {{ random(100) }}
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                {{ "volume"|trans }}  {{ random(10) }}
                                - {{ "issue.number"|trans }} {{ random(100) }}
                                <span class="label label-success">
                                                <i class="fa fa-star" title="{{ "special.issue"|trans }}"></i>
                                    {{ "special.issue"|trans }}
                                            </span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        <span class="design-hide-endblock hide"></span>

        <span class="design-hide-block hide">
            {% raw %}
                <!--raw-->
                {#<!--
                    <a class="btn btn-primary "
                       href="{{ archive_uri }}">
                        <i class="fa fa-arrow-right"></i>{{ "archive"|trans }}
                    </a>
                --->
                <!--endraw-->
            {% endraw %}
        </span>
            <a class="btn btn-primary" href="#">
                <i class="fa fa-arrow-right"></i>{{ "archive"|trans }}
            </a>
        <span class="design-hide-endblock hide"></span>
    </div>
{% endmacro %}

{% macro journalLastIssue() %}
    <span class="design-hide-block hide">
        {% raw %}
            <!--raw-->
            {#<!--
                {% if last_issue %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>{{ last_issue.title }}</strong>
                            {{ "issue.number"|trans }} {{ last_issue.number }} {{ "volume"|trans }} {{ last_issue.volume }}
                            - {{ last_issue.datePublished|localizeddate("medium",'none',null,null,'MMM Y') }}
                            <span class="badge badge-warning pull-right">{{ "read.lastissue"|trans }}</span>
                        </div>
                        <div class="panel-body">
                            <ul>
                                {% for article in last_issue.articles[:10] %}
                                <li>
                                    <a href="{{ article.publicURI }}">{{ article.title }}
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>

                        </div>
                    </div>
                {% endif %}
            --->
            <!--endraw-->
        {% endraw %}
    </span>
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Son Sayı başlığı</strong>
                {{ "issue.number"|trans }} {{ random(100) }} {{ "volume"|trans }} {{ random(10) }}
                - Haziran 2015
                <span class="badge badge-warning pull-right">{{ "read.lastissue"|trans }}</span>
            </div>
            <div class="panel-body">
                <ul>
                    <li>
                        <a href="#">Bir Makale</a>
                    </li>
                    <li>
                        <a href="#">Bir Yazı</a>
                    </li>
                    <li>
                        <a href="#">Başka Bir Yazı</a>
                    </li>
                </ul>

            </div>
        </div>
    <span class="design-hide-endblock hide"></span>
{% endmacro %}

{% macro rightBlock() %}
    <span class="design-hide-block hide">
        {% raw %}
            <!--raw-->
            {#<!--{% include 'OjsSiteBundle:Journal:journal_right_block.html.twig' %}--->
            <!--endraw-->
        {% endraw %}
    </span>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span class="panel-title">Sayfalar</span>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="#" target="_blank">Ref Link Instructions</a>
                </li>
                <li class="list-group-item">
                    <a href="#" target="_blank">Reader Information</a>
                </li>
                <li class="list-group-item">
                    <a href="#" target="_blank">Proof Instructions</a>
                </li>
                <li class="list-group-item">
                    <a href="#" target="_blank">Copy Edit Instructions</a>
                </li>
                <li class="list-group-item">
                    <a href="#" target="_blank">Author Information</a>
                </li>
            </ul>
        </div>
    <span class="design-hide-endblock hide"></span>
{% endmacro %}

{% macro publisherHeader() %}
    <span class="design-hide-block hide">
        {% raw %}
            <!--raw-->
            {#<!--
            {% if entity.header is not null %}
                <img src="{{ entity.header|imagine_filter('publisher_header') }}"
                    class="img-responsive img-rounded float-left img-center" alt=""/>
            {% endif %}
            --->
            <!--endraw-->
        {% endraw %}
    </span>
    <img src=""
         class="img-responsive img-rounded float-left img-center holder-remove tri" alt=""/>
    <span class="design-hide-endblock hide"></span>
{% endmacro %}

{% macro publisherLogo() %}
    <span class="design-hide-block hide">
        {% raw %}
            <!--raw-->
            {#<!--
                {% if entity.logo is not null %}
                <img src="{{ entity.logo|imagine_filter('publisher_logo') }}"
                    class="img-responsive img-rounded float-left img-center" alt=""/>
               {% endif %}
            --->
            <!--endraw-->
        {% endraw %}
    </span>
    <img src=""
         class="img-responsive img-rounded float-left img-center holder-remove tri" alt=""/>
    <span class="design-hide-endblock hide"></span>
{% endmacro %}

{% macro publisherAbout() %}
    <h5> <span class="design-inline" title="{{ "{{ 'about'|trans }}" }}">{{ 'about'|trans }}</span> </h5>
    <span class="design-inline" title="{{ "{{ entity.about }}" }}">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum interdum leo quis pretium.
        Sed id suscipit est, vitae posuere ante. Aenean semper commodo molestie. Donec nulla est, aliquam
        sit amet feugiat eu, lobortis sed enim. Morbi vestibulum vitae nisl id aliquet. Donec felis urna,
        pharetra varius sollicitudin eu, placerat non quam
    </span>
    <hr>
    <p>
        <i class="fa fa-tags"></i>
        <span class="design-inline" title="{{ "{{ 'tags'|trans }}" }}">{{ 'tags'|trans }}</span>
        <span class="design-hide-block hide">
            {% raw %}
                <!--raw-->
                {#<!--
                    {% if entity.tags %}
                        {% set tags = entity.tags|split(',') %}
                        {% for tag in tags %}
                            <a href="#"><span class="badge">{{ tag }}</span></a>
                        {% endfor %}
                    {% endif %}
                --->
                <!--endraw-->
            {% endraw %}
        </span>
            <a href="#"><span class="badge">Örnek</span></a>
            <a href="#"><span class="badge">Diğer</span></a>
        <span class="design-hide-endblock hide"></span>
    </p>
{% endmacro %}

{% macro contactDetails() %}
    <div itemscope itemtype="http://schema.org/Organization">
        <span itemprop="name">Örnek Yayıncı</span>
        Contact Details:
        <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
            Main address:
            <span itemprop="address">
                <span class="design-inline" title="{{ "{{ entity.address }}" }}">
                    Hürriyet Mah. 968. Sokak No:9/1 Yenimahalle / ANKARA
                </span>
            </span>
            <span itemprop="addressLat">
                <span class="design-inline" title="{{ "{{ entity.addressLat }}" }}">
                    40.7324319
                </span>
            </span>
            <span itemprop="addressLong">
                <span class="design-inline" title="{{ "{{ entity.addressLong }}" }}">
                    -73.82480799999996
                </span>
            </span>
            <span itemprop="addressLocality">
                <span class="design-inline" title="{{ "{{ entity.city }}" }}">
                    Ankara
                </span>,
                <span class="design-inline" title="{{ "{{ entity.country }}" }}">
                    Türkiye
                </span>
            </span>
        </div>
        Tel:    <span itemprop="telephone">
                    <span class="design-inline" title="{{ "{{ entity.phone }}" }}">
                        0316 123 45 67
                    </span>
                </span>,
        Fax:    <span itemprop="faxNumber">
                    <span class="design-inline" title="{{ "{{ entity.fax }}" }}">
                        0316 123 45 68
                    </span>
                </span>,
        E-mail: <span itemprop="email">
                    <span class="design-inline" title="{{ "{{ entity.email }}" }}">
                        o.yayıncı@localhost.com
                    </span>
                </span>
        Web:    <span itemprop="url">
                    <span class="design-inline" title="{{ "{{ entity.url }}" }}">
                        ornekyayıncı.com.tr
                    </span>
                </span>
        Wiki:    <span itemprop="url">
                    <span class="design-inline" title="{{ "{{ entity.wiki }}" }}">
                        wiki.ornekyayıncı.com.tr
                    </span>
                </span>
    </div>
{% endmacro %}

{% macro publisherJournals() %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="design-inline" title="{{ "{{ 'journal.plural'|trans }}" }}">
                {{ 'journal.plural'|trans }}
            </span>
        </div>
        <ul class="list-group">
            <span class="design-hide-block hide">
                {% raw %}
                    <!--raw-->
                    {#<!--
                        {% for journal in entity.journals %}
                            <li class="list-group-item">
                                <a href="{{ journal.publicURI }}">{{ journal.title }}</a>
                            </li>
                        {% endfor %}
                    --->
                    <!--endraw-->
                {% endraw %}
            </span>
                <li class="list-group-item">
                    <a href="#">Örnek Dergi</a>
                </li>
                <li class="list-group-item">
                    <a href="#">Örnek Dergi 2</a>
                </li>
                <li class="list-group-item">
                    <a href="#">Örnek Dergi 3</a>
                </li>
            <span class="design-hide-endblock hide"></span>
        </ul>
    </div>
{% endmacro %}
