<div class="grid-item journal-item">
    <div class="views-field-field-journal-cover-fid">
        <span class="field-content">
            {% if url is not defined or url is empty %}
                {% set url =  path('ojs_journal_index_without_publisher', {slug: journal.slug}) %}
            {% endif %}
            <a href="{{ url }}">
                {% if journal.image is defined and journal.image is not null %}
                    {% set src = journal.image|imagine_filter('journal_croped') %}
                    <img src="{{ src }}"
                         alt="{{ journal.title }}" title="{{ journal.title }}" width="150" height="200"
                         class="imagecache imagecache-journallist_default imagecache-default imagecache-journallist_default_default">
                {% else %}
                    <img src="#"
                         alt="{{ journal.title }}" title="{{ journal.title }}" width="150" height="200"
                         class="imagecache imagecache-journallist_default imagecache-default imagecache-journallist_default_default tri">
                {% endif %}
            </a>
        </span>
    </div>
    {% if journal.title is defined %}
        <div class="views-field-title">
            <span class="field-content">
                <a href="{{ url }}">{{ journal.title }}</a></span>
        </div>
    {% endif %}

    {% if journal.eissn is defined and journal.eissn is not null %}
        <div class="views-field-field-eissn-value">
            <label class="views-label-field-eissn-value">
                {{ "journal.eissn"|trans }}:
            </label>
            <span class="field-content">{{ journal.eissn }}</span>
        </div>
    {% endif %}
    {% if journal.issn is defined and journal.issn is not null %}
        <div class="views-field-field-issn-value">
            <label class="views-label-field-issn-value">
                {{ "journal.issn"|trans }}:
            </label>
            <span class="field-content">{{ journal.issn }}</span>
        </div>
    {% endif %}

    {% if journal.periods is defined and journal.periods|length >0 %}
        <div class="views-field-field-publish-periods-value">
        <span class="field-content">
                {% for period in journal.periods %}
                    {{ period.period }}
                {% endfor %}
        </span>
        </div>
    {% endif %}
    {% if journal.founded is defined %}
        <div class="views-field-field-year-founded-value">
            <label class="views-label-field-year-founded-value">
                {{ "journal.founded"|trans }}:
            </label>
            <span class="field-content">{{ journal.founded|date('Y') }}</span>
        </div>
    {% endif %}
    {% if journal.viewCount is defined and journal.downloadCount is defined %}
        <div class="view-stats">
            <i class="fa fa-eye"></i> {{ journal.viewCount|number_format(0,'.','.') }}
            <i class="fa fa-download"></i> {{ journal.downloadCount|number_format(0,'.','.') }}
        </div>
    {% endif %}
    {% if journal.accessModal is defined and journal.accessModal==0 %}
        <div class="view-stats">
            <img src="{{ asset("assets/app/images/open_access.png") }}" alt="">
        </div>
    {% endif %}
</div>