{% set userjournals = userjournals() %}
{% set userJournalRoles = userJournalRoles() %}
{% if page is defined %}
{% else %}
    {% set page = "index" %}
{%endif%}
<!DOCTYPE html>
<html>
    <head  prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
        <meta charset="UTF-8" />
        <title>{% block title %}Ojs{% endblock %}</title>
        {% if schemaMetaTag is defined %}
            {{schemaMetaTag|raw }}
        {% endif %}
        {% if meta is defined %}  
            {{meta.getRaw('article:modified_time')|raw}}
            {{meta.getRaw('article:published_time')|raw}}
            {{meta.getRaw('og:type')|raw}}
            {{meta.getRaw('og:title')|raw}}
            {{meta.getRaw('og:url')|raw}}

            {{meta.tag('DC.Title')|raw}}
            {{meta.tag('DC.Description')|raw}} 

            {{meta.tag('DC.Source')|raw}}
            {{meta.tag('DC.Source.ISSN')|raw}}
            {{meta.tag('DC.Source.Issue')|raw}}
            {{meta.tag('DC.Source.URI')|raw}}
            {{meta.tag('DC.Source.Volume')|raw}}
            {{meta.tag('DC.Type')|raw}}
            {{meta.tag('DC.Type.articleType')|raw}}

            {{meta.tag('DC.Contributor.Sponsor')|raw}}
            {{meta.tag('DC.Creator.PersonalName')|raw}}
            {{meta.tag('DC.Identifier')|raw}}
            {{meta.tag('DC.Identifier.pageNumber')|raw}}
            {{meta.tag('DC.Identifier.DOI')|raw}}
            {{meta.tag('DC.Identifier.URI')|raw}}
            {{meta.tag('DC.Language')|raw}}

            {{meta.tag('citation_author')|raw}}

            {{meta.tag('citation_author_institution')|raw }}
            {{meta.tag('citation_title')|raw }}
            {{meta.tag('citation_date')|raw }}
            {{meta.tag('citation_volume')|raw }}
            {{meta.tag('citation_issue')|raw}}
            {{meta.tag('citation_firstpage')|raw}}
            {{meta.tag('citation_lastpage')|raw}}
            {{meta.tag('citation_doi')|raw}}
            {{meta.tag('citation_abstract_html_url')|raw}}
            {{meta.tag('citation_language')|raw}}
            {{meta.tag('citation_keywords')|raw}}
            {{meta.tag('citation_pdf_url')|raw }}

        {% endif %}
        {% block stylesheets %}
            {% stylesheets '@admin_main_css' filter='uglifycss' filter='cssrewrite' output="c/appmain.css"   %}   
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %} 
            {% if journal is defined and journal.theme %}
                <link rel="stylesheet" href="/assets/theme/{{ journal.theme.name }}/css/style.css" /> 
            {% endif %}

        {% endblock %}


        <link rel="icon" type="image/x-icon" href="{{ asset('/assets/app/images/favicon.png') }}" />
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries --> 
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    </head>
    <body class="page-{{page}}">
        {% block header %}
            {%include '::ojsheader.html.twig'%}
        {% endblock %}
        <div class="container ">
            <div class="row">
                {% if app.user and hideleft is not defined %}
                    {%include '::ojsleft.html.twig'%}
                {% endif %}

                <!-- Main content -->
                {% if app.user and hideleft is not defined  %}
                    <div class="col-sm-9 col-md-9">
                        <div class="panel panel-default sub-middle-panel">
                            <div class="panel-heading">
                                <div class="panel-title">
                                    {% block breadcrumb %}
                                        <h5>
                                            <a href="/dashboard">{{"dashboard"|trans}}</a>
                                            <small>Control panel</small>
                                        </h5>
                                    {% endblock %}  
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="col-sm-12">
                                    <!-- cccc -->
                                {%endif%}
                            {% block body %}{% endblock %}

                            {% if app.user and hideleft is not defined  %}
                                <!-- cccc -->
                            </div>
                        </div>
                    </div>
                </div>
            {%endif%}



        {% if journal is defined %}
            <div class="journal-footer">
                {{ journal.footerText|raw }}
            </div>
                {% endif %}
        </div>
        {% block footer %}
            {%include '::ojsfooter.html.twig'%}
        {% endblock %}
        {{ render(controller('OkulbilisimFeedbackBundle:Widget:fixed')) }}
    </div><!-- .container -->

    {% block javascripts %}

        {% javascripts '@main_js' filter='uglifyjs' output="c/appmain.js" %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}  
        {% if currentJournal is defined and journal.theme %}
            <script type="text/javascript" src="/assets/theme/{{ journal.theme.name }}/js/main.js"></script>
        {% endif %}

        <script>
            {% if apiKey() %}
                $(document).ready(function () {
                    OjsCommon.api.userApikey = "{{apiKey()}}";
                });
            {% endif%}
            {% if((userjournals[session('selectedJournalId')] is defined) and userjournals[session('selectedJournalId')].setupStatus)!=true %}
                $(document).ready(function(){
                   notify("It seems that you have not finished <a href='{{path('manager_current_journal_setup')}}'>Journal Setup</a>","information");
                });
            {% endif %}
        </script>
    {% endblock %}
</body>
</html>
