{% set userjournals = userjournals() %}
{% set userJournalRoles = userJournalRoles() %}
{% if page is defined %}
{% else %}
    {% set page = "index" %}
{%endif%}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Ojs{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets '@admin_main_css' filter='uglifycss' filter='cssrewrite' output="c/appmain.css"   %}   
            <link rel="stylesheet" href="{{ asset_url }}" /> {% endstylesheets %}
        {% endblock %}


        <link rel="icon" type="image/x-icon" href="{{ asset('/assets/app/images/favicon.png') }}" />
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries --> 
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    </head>
    <body class="page-{{page}}">
        {%include '::ojsheader.html.twig'%}
        <div class="container">
            <div class="row">
                {% if app.user and hideleft is not defined %}
                    {%include '::ojsleft.html.twig'%}
                {% endif %}

                <!-- Main content -->
                {% if app.user and hideleft is not defined  %}
                    <div class="col-sm-9 col-md-9">
                        <div class="panel panel-default sub-middle-panel">
                            <div class="panel-heading">
                                <div class="panel-title">
                                    {% block breadcrumb %}
                                        <h5>
                                            <a href="/dashboard">{{"dashboard"|trans}}</a>
                                            <small>Control panel</small>
                                        </h5>
                                    {% endblock %}  
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="col-sm-12">
                                    <!-- cccc -->
                                {%endif%}
                            {% block body %}{% endblock %}

                            {% if app.user and hideleft is not defined  %}
                                <!-- cccc -->
                            </div>
                        </div>
                    </div>
                </div>
            {%endif%}




        </div>
        {%include '::ojsfooter.html.twig'%}

    </div><!-- .container -->

    {% block javascripts %}
        {% javascripts '@main_js' filter='uglifyjs' output="c/appmain.js" %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}  
    {% endblock %}
</body>
</html>
