{% if page is not defined %}
    {% set page = "index" %}
{% endif %}
<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')[0] }}">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{% block title %}&raquo; {{ project_name }}{% endblock %}</title>
    <base href="{{ app.request.getBaseURL() }}/"/>
    <meta name="generator" content="ojs.io"/>
    {% if schemaMetaTag is defined %}
        {{ schemaMetaTag|raw }}
    {% endif %}
    {% if meta is defined %}
        {{ meta.getRaw('article:modified_time')|raw }}
        {{ meta.getRaw('article:published_time')|raw }}
        {{ meta.getRaw('og:type')|raw }}
        {{ meta.getRaw('og:title')|raw }}
        {{ meta.getRaw('og:url')|raw }}

        {{ meta.tag('DC.Title')|raw }}
        {{ meta.tag('DC.Description')|raw }}

        {{ meta.tag('DC.Source')|raw }}
        {{ meta.tag('DC.Source.ISSN')|raw }}
        {{ meta.tag('DC.Source.Issue')|raw }}
        {{ meta.tag('DC.Source.URI')|raw }}
        {{ meta.tag('DC.Source.Volume')|raw }}
        {{ meta.tag('DC.Type')|raw }}
        {{ meta.tag('DC.Type.articleType')|raw }}

        {{ meta.tag('DC.Contributor.Sponsor')|raw }}
        {{ meta.tag('DC.Creator.PersonalName')|raw }}
        {{ meta.tag('DC.Identifier')|raw }}
        {{ meta.tag('DC.Identifier.pageNumber')|raw }}
        {{ meta.tag('DC.Identifier.DOI')|raw }}
        {{ meta.tag('DC.Identifier.URI')|raw }}
        {{ meta.tag('DC.Language')|raw }}

        {{ meta.tag('citation_author')|raw }}

        {{ meta.tag('citation_author_publisher')|raw }}
        {{ meta.tag('citation_title')|raw }}
        {{ meta.tag('citation_date')|raw }}
        {{ meta.tag('citation_volume')|raw }}
        {{ meta.tag('citation_issue')|raw }}
        {{ meta.tag('citation_firstpage')|raw }}
        {{ meta.tag('citation_lastpage')|raw }}
        {{ meta.tag('citation_doi')|raw }}
        {{ meta.tag('citation_abstract_html_url')|raw }}
        {{ meta.tag('citation_language')|raw }}
        {{ meta.tag('citation_keywords')|raw }}
        {{ meta.tag('citation_pdf_url')|raw }}

    {% endif %}
    {% block stylesheets %}
        {% stylesheets '@admin_main_css' filter='uglifycss' filter='cssrewrite' output="assets/prod/css/appmain.css" %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
        <link href="{{ asset('bundles/jbfileuploader/lib/jquery-file-upload/css/jquery.fileupload.css') }}"
              type="text/css" rel="stylesheet"/>
        <link href="{{ asset('bundles/jbfileuploader/css/jbfileupload.css') }}" type="text/css" rel="stylesheet"/>
        <link href="{{ asset('bundles/jbfileuploader/lib/jcrop/css/jquery.Jcrop.min.css') }}" type="text/css"
              rel="stylesheet"/>
        {% if form is defined %}
            {{ form_stylesheet(form) }}
        {% endif %}
        {% if journal is defined and journal.theme %}
            <style>
                {{ journal.theme.css|raw }}
            </style>
        {% endif %}
    {% endblock %}


    <link rel="icon" type="image/x-icon" href="{{ ojs_favicon }}"/>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <script type="text/javascript">
        var current_language = '{{ app.request.locale }}';
    </script>
</head>
<body class="page-{{ page }} {% if isJournalHosting is defined and isJournalHosting == true %}journal_hosting{% endif %}">
{% if isJournalHosting is defined and isJournalHosting == true %}
{% else %}
{% block header %}
    {% include '::ojsheader.html.twig' %}
{% endblock %}
{% endif %}
<div class="container ">
    {% if app.user and hideleft is not defined %}
    <div class="row">
        {% include '::ojsleft.html.twig' %}
        {% endif %}

        <!-- Main content -->
        {% if app.user and hideleft is not defined %}
        <div class="col-sm-9 col-md-9">
            <div class="panel panel-default sub-middle-panel">
                <div class="panel-heading">
                    <div class="panel-title">
                        {% block breadcrumb %}
                            {% if app.user and hideleft is not defined %}
                                <h5>
                                    <a href="{{ url('dashboard') }}">{{ "dashboard"|trans }}</a>
                                    <small>{{ "controlPanel"|trans }}</small>
                                </h5>
                            {% endif %}
                        {% endblock %}
                    </div>
                </div>
                <div class="panel-body">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
{% else %}
    <div class="row">
        <div class="col-md-12">
            {{ block('breadcrumb') }}
        </div>
    </div>
    {{ block('body') }}
    {% endif %}

    {% if journal is defined %}
        <div class="journal-footer">
            {{ journal.footerText|raw }}
        </div>
    {% endif %}
</div>
<!-- .container -->
{% if isJournalHosting is defined and isJournalHosting == true %}
{% else %}
{% block footer %}
    {% include '::ojsfooter.html.twig' %}
{% endblock %}
{% endif %}
{% if isJournalHosting is defined and isJournalHosting == true %}
    <div id="ojs_badge" style="position: fixed;
  top: 20px;
  right: 0;
  z-index: 50;
  border: none;
  padding: 0;
  width: auto;
  height: auto;
  text-align: right;">
        <a href="{{ base_host }}?source=badge" target="_blank" data-placement="left" title="Hosted By {{ base_host }}">
            <img src="{{ ojs_logo }}" height="20"/>
        </a>
    </div>
{% endif %}
{% block javascripts %}

    {% javascripts '@main_js'%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% if currentJournal is defined and journal.theme %}
    <script type="text/javascript" src="/assets/theme/{{ journal.theme.name }}/js/main.js"></script>
    {% endif %}
    {% if form is defined %}
        {{ form_javascript(form) }}
    {% endif %}

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>

    <script type="text/javascript"
            src="{{ asset('bundles/jbfileuploader/lib/jquery-file-upload/js/vendor/jquery.ui.widget.js') }}"></script>
    <script type="text/javascript"
            src="{{ asset('bundles/jbfileuploader/lib/jquery-file-upload/js/jquery.iframe-transport.js') }}"></script>
    <script type="text/javascript"
            src="{{ asset('bundles/jbfileuploader/lib/jquery-file-upload/js/jquery.fileupload.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/app/js/jbfileupload.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/jbfileuploader/lib/jcrop/js/jquery.Jcrop.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.jb_fileupload').jbFileUpload();
        });
    </script>
    <script>
        {{ app.request.attributes.get('_system_setting').systemFooterScript|raw }}
    </script>
{% endblock %}
</body>
</html>
