<hr>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <p class="text-center">
                    <a href="#" target="_blank" title="Twitter"><i class="fa fa-3x fa-twitter"></i></a>
                    <a href="#" target="_blank" title="Facebook"><i class="fa fa-3x fa-facebook"></i></a>
                    <span class="text-muted">/DergiPark</span>
                </p>
            </div>

            <div class="col-md-4">
                <ul class="list-inline">
                    <li><a href="{{ path('about') }}">{{ "about"|trans }}</a></li>
                    <li><a href="{{ path('privacy') }}">{{ "privacy"|trans }}</a></li>
                    <li><a href="{{ path('tos') }}">{{ "tos"|trans }}</a></li>
                    <li><a href="{{ path('wiki') }}">{{ "wiki"|trans }}</a></li>
                    <li><a href="{{ path('support') }}">{{ "support"|trans }}</a></li>
                    <li><a href="{{ path('faq') }}">{{ "faq"|trans }}</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<hr/>
