<hr>
<footer>
    <div class="row">
        <div class="col-md-3 col-sm-4">

            <p>&copy;</p>
            <p>
                <a href="#" target="_blank" title="Twitter"><i class="fa fa-3x fa-twitter"></i></a>
                <a href="#" target="_blank" title="Facebook"><i class="fa fa-3x fa-facebook"></i></a>
                <span class="text-muted">/DergiPark</span>
            </p>
        </div>
        <div class="col-md-3">
            <ul class="list-unstyled">
                <li><i class="fa fa-asterisk"></i> OJS<li>
                <li><a href="#">{{"about"|trans}}</a></li>
                <li><a href="/privacy">{{"privacy"|trans}}</a></li>
                <li><a href="/tos">{{"tos"|trans}}</a></li>
                <li><a href="#">{{ "wiki"|trans }}</a></li>
                <li><a href="#">{{ "support"|trans }}</a></li>
                <li><a href="#">{{"faq"|trans}}</a></li>
                <li><a href="#">{{"blog"|trans}}</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <ul class="list-unstyled">
                <li><i class="fa fa-bookmark"></i> {{"documents"|trans}}<li>
                <li><a href="#">{{"presentations"|trans}}</a></li>
                <li><a href="#">{{"videos"|trans}}</a></li>
                <li><a href="#">{{"journals"|trans}}</a></li>
                <li><a href="#">{{"photos"|trans}}</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <ul class="list-unstyled">
                <li><i class="fa fa-building-o"></i> {{"ulakbim"|trans}}<li>
                <li><a href="#">{{"discovery"|trans}}</a></li>
                <li><a href="#">{{"announcements"|trans}}</a></li>
            </ul>
        </div>
    </div>
</footer>
<hr />
