<hr>
<footer>
    <div class="row">
        <div class="col-md-3">
            <ul class="list-unstyled">
                <li><i class="fa fa-asterisk"></i> Ujs<li>
                <li><a href="#">{{"about"|trans}}</a></li>
                <li><a href="#">{{"blog"|trans}}</a></li>
                <li><a href="#">{{"contact & help"|trans}}</a></li>
                <li><a href="#">{{"faq"|trans}}</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <ul class="list-unstyled">
                <li><i class="fa fa-bookmark"></i>{{"documents"|trans}}<li>
                <li><a href="#">{{"presentations"|trans}}</a></li>
                <li><a href="#">{{"videos"|trans}}</a></li>
                <li><a href="#">{{"journals"|trans}}</a></li>
                <li><a href="#">{{"photos"|trans}}</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <ul class="list-unstyled">
                <li><i class="fa fa-building-o"></i>{{"ulakbim"|trans}}<li>
                <li><a href="#">{{"discovery"|trans}}</a></li>
                <li><a href="#">{{"announcements"|trans}}</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <ul class="list-unstyled">
                <li><i class="fa fa-building"></i>{{"tubitak"|trans}}<li>
                <li><a href="#">{{"tubitak_journals"|trans}}</a></li>
            </ul>
        </div>
    </div>
    <hr>
    <p>&copy; | <a href="/privacy">{{"privacy"|trans}}</a> | <a href="/tos">{{"tos"|trans}}</a></p>
</footer>
