<hr class="top30">
<footer class="top60">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <p class="text-center">
                    {% if ojs_tw is defined %}
                        <a href="https://twitter.com/{{ ojs_tw }}" target="_blank" title="Twitter"><i
                                    class="fa fa-3x fa-twitter"></i></a>
                    {% endif %}
                    {% if ojs_tw is defined %}
                        <a href="https://facebook.com/{{ ojs_fb }}" target="_blank" title="Facebook"><i
                                    class="fa fa-3x fa-facebook"></i></a>
                    {% endif %}
                </p>
            </div>

            <div class="col-md-4">
                <ul class="list-inline text-center">
                    {% for adminPage in getAdminPages() %}
                        <li><a href="{{ path('ojs_site_cms_page', {'slug': adminPage.slug}) }}">{{ adminPage.translate(app.request.locale).title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</footer>
<hr/>
{% if isPublisherHosting is defined and isJournalHosting is defined %}
    <div id="ojs_badge" style="position: fixed;
  top: 20px;
  right: 0;
  z-index: 50;
  border: none;
  padding: 0;
  width: auto;
  height: auto;
  text-align: right;">
        <a href="{{ base_host }}?source=badge" target="_blank" data-placement="left" title="Hosted By {{ base_host }}">
            <img src="{{ ojs_logo }}" height="20"/>
        </a>
    </div>
{% endif %}
{% include '::fab.html.twig' %}
