<div class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">{% trans %}toggle_navigation{% endtrans %}</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">{% trans %}ojs{% endtrans %}</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li{%if page == 'index'%} class="active"{%endif%}><a href="/">{% trans %}home{% endtrans %}</a></li>
                <li{%if page == 'institution'%} class="active"{%endif%}><a href="/institutions">{% trans %}institutions{% endtrans %}</a></li>
                <li{%if page == 'journals'%} class="active"{%endif%}><a href="/journals">{% trans %}journals{% endtrans %}</a></li>
                <li{%if page == 'submission'%} class="active"{%endif%}><a href="http://dergipark.gov.tr/basvur">{% trans %}register_journal{% endtrans %}</a></li>
                <li{%if page == 'send'%} class="active"{%endif%}><a href="#">{% trans %}send_article{% endtrans %}</a></li>

                {%include '::language_selector.html.twig'%}
            </ul>

            <div class="navbar-right">
                <ul class="nav navbar-nav"> 
                    {% if app.user %}
                        <li>
                            <a title="User Page" href="{{path('ojs_user_index')}}">
                                <i class="fa fa-cog"></i>
                            </a>
                        </li>
                        <li class="dropdown user user-menu">

                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-user"></i>
                                <span>{{app.user.getUsername()}} <i class="caret"></i></span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image --> 
                                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_EDITOR') %}
                                    <li>
                                        <a href="/dashboard"><i class="fa fa-shield"></i> {% trans %}dashboard{% endtrans %}</a>
                                    </li>
                                {%endif%}
                                {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                                    <li>
                                        <a class="btn btn-link" href="/?_su=_exit"><i class="fa fa-sign-out"></i> {% trans %}log_out_from_user{% endtrans %}</a>
                                    </li>
                                {%endif%}
                                <!-- Menu Footer-->
                                <li>
                                    <a href="{{path('ojs_user_index')}}">
                                        <i class="fa fa-cog"></i> {% trans %}user_page{% endtrans %}</a>
                                </li>
                                <li>
                                    <a href="{{path('myprofile')}}">
                                        <i class="fa fa-user"></i> {% trans %}profile{% endtrans %}</a>
                                </li>
                                <li>
                                    <a href="{{ path('logout') }}">
                                        <i class="fa fa-sign-out"></i> {% trans %}log_out{% endtrans %}</a>
                                </li>                           
                                <li class="divider"></li>
                                <li>
                                    <a href="{{path('user_my_proxy_parents')}}">{% trans %}proxy_users{% endtrans %}</a>
                                </li>
                                {% if userclients() %}

                                    <li>
                                        <a> <i class="fa fa-key"></i> {% trans %}login_as{% endtrans %}</a>          
                                    </li>
                                    <li >                             

                                        {% for client in userclients()  %}
                                        <li><a href="/?_su={{client.proxyUser.username}}">
                                                {{client.proxyUser.username}}</a>
                                        </li>
                                    {% endfor %}
                                    <li><a href="{{path('user_my_proxy_clients')}}">
                                            {% trans %}list_my_proxys{% endtrans %} 
                                        </a>
                                    </li>
                                {%endif%}
                            </ul> 
                        </li>
                    {%endif%}
                    <ul class="nav navbar-nav navbar-right">
                        {% if app.user == false %}
                            <li>
                                <a class="btn btn-link" href="{{path('login')}}">
                                    <i class="fa fa-sign-in"></i> {% trans %}login{% endtrans %}</a>
                            </li>
                        {%endif%}
                        <li>
                            <a class="btn btn-link" href="#search">
                                <i class="fa fa-search"></i> {% trans %}search{% endtrans %}</a>
                            <div id="search">
                                <button type="button" class="close">×</button>
                                <form action="/search" method="get">
                                    <input type="search" name="q" value="" placeholder="{% trans %}search_query{% endtrans %}" />
                                    <button type="submit" class="btn btn-primary">{% trans %}search{% endtrans %}</button>
                                </form>
                            </div>
                        </li>
                    </ul>
                </ul>
            </div>
        </div>
    </div>
</div>