<div class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">{{"toggle_navigation"|trans}}</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" style="display:none">{{"ojs"|trans}}</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{"DergiPark"|trans}} <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li{%if page == 'index'%} class="active"{%endif%}><a href={{ path('ojs_public_index') }}>{{"home"|trans}}</a></li>
                        <li class="divider"></li>
                        <li><a href="#">{{ "about"|trans }}</a></li>
                        <li><a href="#">{{ "wiki"|trans }}</a></li>
                        <li><a href="#">{{ "support"|trans }}</a></li>
                    </ul>
                </li>

                <li{%if page == 'institution'%} class="active"{%endif%}><a href={{ path('ojs_institutions_index') }}>{{"institutions"|trans}}</a></li>
                <li{%if page == 'journals'%} class="active"{%endif%}><a href={{ path('ojs_journals_index') }}>{{"journals"|trans}}</a></li>
            </ul>
            
            <div class="navbar-right col-md-4">
                <ul class="nav navbar-nav"> 
                    {%include '::language_selector.html.twig'%}

                    {% if app.user %}
                        <li>
                            <a title="User Page" href="{{path('ojs_user_index')}}">
                                <i class="fa fa-cog"></i>
                            </a>
                        </li>
                        <li class="dropdown user user-menu">
                            {# notification dropdown #}
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-bell-o"></i> <span class="label label-warning">5</span> 
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image --> 
                                <li>
                                    <a href="#"  >
                                        <i class="fa fa-comment fa-fw"></i> New Comment 
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-envelope fa-fw"></i> Message Sent 
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-tasks fa-fw"></i> New Task 
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-bolt fa-fw"></i> New Task 
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-warning fa-fw"></i> New Task 
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown user user-menu">

                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-user"></i>
                                <span> <i class="caret"></i></span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image --> 
                                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_EDITOR') %}
                                    <li>
                                        <a href="/dashboard"><i class="fa fa-shield"></i> {{"dashboard"|trans}}</a>
                                    </li>
                                {%endif%}
                                {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                                    <li>
                                        <a class="btn btn-link" href="/?_su=_exit"><i class="fa fa-sign-out"></i> {{"log_out_from_user"|trans}}</a>
                                    </li>
                                {%endif%}
                                <!-- Menu Footer-->
                                <li>
                                    <a href="{{path('ojs_user_index')}}">
                                        <i class="fa fa-cog"></i> {{"user_page"|trans}}</a>
                                </li>
                                <li>
                                    <a href="{{ url('ojs_user_edit_profile') }}" title="Edit Profile">
                                        <i class="fa fa-edit">{{"Edit Profile"|trans}}</i>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path('logout') }}">
                                        <i class="fa fa-sign-out"></i> {{"log_out"|trans}}</a>
                                </li>

                                <li class="divider"></li>
                                <li>
                                    <a href="{{path('user_my_proxy_parents')}}">{{"proxy_users"|trans}}</a>
                                </li>
                                {% if userclients() %}

                                    <li>
                                        <a> <i class="fa fa-key"></i> {{"login_as"|trans}}</a>          
                                    </li>
                                    <li >                             

                                        {% for client in userclients()  %}
                                        <li><a href="/?_su={{client.proxyUser.username}}">
                                                {{client.proxyUser.username}}</a>
                                        </li>
                                    {% endfor %}
                                    <li><a href="{{path('user_my_proxy_clients')}}">
                                            {{"list_my_proxys"|trans}} 
                                        </a>
                                    </li>
                                {%endif%}
                                <li class="divider"></li>
                                <li> 
                                    <a><small>Last login : {{app.user.getLastlogin()|date('Y-m-d H:i:s')}}</small></a>
                                </li>
                            </ul> 
                        </li>
                    {%endif%}

                    {% if app.user == false %}
                        <li>
                            <a class="btn btn-link" href="{{path('login')}}">
                                <i class="fa fa-sign-in"></i> {{"login"|trans}}</a>
                        </li>
                    {%endif%}
                </ul>
            </div>
        </div>
    </div>
</div>
