<div class="navbar navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">{{ "toggle_navigation"|trans }}</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="{% if page == 'index' %}active{% endif %} navbar-btn hidden-xs">
                    <a href="{{ url('ojs_public_index') }}" title="{{ "home"|trans }}" data-placement="bottom">
                        <i class="fa fa-home fa-fw"></i>
                        <span class="hidden-sm hidden-md hidden-lg">{{ "home"|trans }}</span>
                    </a>
                </li>
                <li class="{% if page == 'ojs_public_index' %}active{% endif %} navbar-btn hidden-xs">
                    <a href="{{ url('ojs_public_index') }}page/about" data-placement="bottom"
                       title="{{ "title.about"|trans }}"><i
                                class="fa fa-info fa-fw"></i></a>
                </li>
                <li class="{% if page == 'ojs_site_explore_publisher' %}active{% endif %} navbar-btn">
                    <a href="{{ url('ojs_site_explore_publisher') }}" data-placement="bottom"
                       title="{{ "title.publishers"|trans }}"><i
                                class="fa fa-university fa-fw"></i> {{ "title.publishers"|trans }}</a>
                </li>
                <li class="{% if page == 'ojs_site_people_index' %}active{% endif %} navbar-btn">
                    <a href="{{ url('ojs_site_people_index') }}" data-placement="bottom"
                       title="{{ "title.people_directory"|trans }}"><i
                                class="fa fa-user fa-fw"></i> {{ "title.people_directory"|trans }}</a>
                </li>
                <li class="{% if page == 'explore' %}active{% endif %} navbar-btn">
                    <a href="{{ url('ojs_site_explore_index') }}" data-placement="bottom"
                       title="{{ "title.explore"|trans }}"><i
                                class="fa fa-compass fa-fw"></i> {{ "title.explore"|trans }}</a>
                </li>
            </ul>
            {% if page != 'index' %}
                <div class="navbar-search-box">
                    <form class="navbar-form" role="search" action="{{ url('ojs_search_index') }}" method="get">
                        <div class="input-group">
                            <input type="text" class="form-control"
                                   placeholder="{{ "search.on.everywhere" | trans({'%project_name%' : project_name}) }}"
                                   name="q">
                            <div class="input-group-btn">
                                <button class="btn btn-primary btn-lg" type="submit"><i class="glyphicon glyphicon-search"></i>
                                </button>
                            </div>
                            {% if search_section is defined %}
                                <input type="hidden" name="section" value="{{ search_section }}">
                            {% endif %}
                        </div>
                    </form>
                </div>
            {% endif %}

            <div class="navbar-right">
                <ul class="nav navbar-nav">
                    {% include '::language_selector.html.twig' %}

                    {% if app.user %}
                        <li class="navbar-btn"><a href="{{ url('dashboard') }}" data-placement="bottom"
                                                  title="{{ "dashboard"|trans }}"><i class="fa fa-cog"></i>
                                <b>{{ "dashboard"|trans }}</b></a></li>
                        <li>
                        <li class="dropdown user user-menu  navbar-btn">

                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-user fa-fw"></i>
                                <span> <i class="caret"></i></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ url('ojs_user_profile', {slug: app.user.username}) }}"
                                       title="{{ "you"|trans }}">@{{ app.user.username }}</a></li>

                                <li>
                                    <a href="{{ url('ojs_user_index') }}">
                                        <i class="fa fa-cog"></i> {{ "user_page"|trans }}</a>
                                </li>
                                <li>
                                    <a href="{{ url('ojs_user_edit_profile') }}" title="{{ "user.profile.edit"|trans }}"
                                       data-placement="left">
                                        <i class="fa fa-edit"> {{ "user.profile.edit"|trans }}</i>
                                    </a>
                                </li>

                                <li class="divider"></li>
                                {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                                    <li>
                                        <a class="btn btn-link" href="{{ url('ojs_public_index') }}?_su=_exit"
                                           title="{{ "log_out_from_user"|trans }}" data-placement="left"><i
                                                    class="fa fa-sign-out"></i> {{ "log_out_from_user"|trans }}</a>
                                    </li>
                                {% endif %}
                                <li>
                                    <a>
                                        <small>{{ "user.lastlogin"|trans }}
                                            : {{ app.user.getLastlogin()|date('Y-m-d H:i:s') }}</small>
                                    </a>
                                </li>

                                <li>
                                    <a href="{{ url('logout') }}">
                                        <i class="fa fa-sign-out"></i> {{ "log_out"|trans }}</a>
                                </li>
                            </ul>
                        </li>
                    {% endif %}

                    {% if app.user == false %}
                        <li class="navbar-btn">
                            <a class="btn btn-link" href="{{ url('login') }}">
                                <i class="fa fa-sign-in"></i> {{ "login"|trans }}</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>
