<div class="navbar navbar-default navbar-fixed-top navbar-alt navbar-ng" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">{{ "toggle_navigation"|trans }}</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url('ojs_public_index') }}"><img src="{{ ojs_logo }}"
                                                                               alt="{{ project_name }}"/></a>
        </div>
        <div class="navbar-collapse collapse">
            <div class="navbar-right">
                <ul class="nav navbar-nav">
                    {% include '::language_selector.html.twig' %}

                    {% if app.user %}
                        <li class="navbar-btn"><a href="{{ url('dashboard') }}"
                                                  title="{{ "dashboard"|trans }}"><i class="fa fa-cog"></i>
                                <b>{{ "dashboard"|trans }}</b></a></li>
                        <li>
                        <li class="dropdown user user-menu  navbar-btn">

                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-user fa-fw"></i>
                                <span> <i class="caret"></i></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ url('ojs_user_profile', {slug: app.user.username}) }}"
                                       title="{{ "you"|trans }}">@{{ app.user.username }}</a></li>

                                <li>
                                    <a href="{{ url('ojs_user_index') }}">
                                        <i class="fa fa-cog"></i> {{ "user_page"|trans }}</a>
                                </li>
                                <li>
                                    <a href="{{ url('ojs_user_edit_profile') }}" title="{{ "user.profile.edit"|trans }}"
                                       data-placement="left">
                                        <i class="fa fa-edit"> {{ "user.profile.edit"|trans }}</i>
                                    </a>
                                </li>

                                <li class="divider"></li>
                                {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                                    <li>
                                        <a class="btn btn-link" href="{{ url('ojs_public_index') }}?_su=_exit"
                                           title="{{ "log_out_from_user"|trans }}" data-placement="left"><i
                                                    class="fa fa-sign-out"></i> {{ "log_out_from_user"|trans }}</a>
                                    </li>
                                {% endif %}
                                <li>
                                    <a>
                                        <small>{{ "user.lastlogin"|trans }}
                                            : {{ app.user.getLastlogin()|date('Y-m-d H:i:s') }}</small>
                                    </a>
                                </li>

                                <li>
                                    <a href="{{ url('logout') }}">
                                        <i class="fa fa-sign-out"></i> {{ "log_out"|trans }}</a>
                                </li>
                            </ul>
                        </li>
                    {% endif %}

                    {% if app.user == false %}
                        <li class="navbar-btn">
                            <a class="btn btn-link" href="{{ url('login') }}">
                                <i class="fa fa-sign-in"></i> {{ "login"|trans }}</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>
