{% block sidebar %}
    <div class="col-sm-3 col-md-3">
        <div class="panel-group">
            <div class="panel panel-default left-menu-bgcolor">
                <div class="panel-heading  text-center">
                    {% if(app.user.getAvatar()) %}
                        {% set imageoptions=getImageOptions(app.user,'avatar') %}

                        <img src="{{ ('/uploads/avatarfiles/'~imagePath(app.user.getAvatar())) | imagine_filter('avatar_thumb',{"crop":{"start":[imageoptions.x,imageoptions.y],"size":[imageoptions.width,imageoptions.height]}})}}"
                             class="avatar img-circle img-responsive" />
                    {%else%}
                        <img src="/assets/app/images/buddy_sample.png" 
                             class="img-circle img-responsive" />
                    {%endif%}  
                    <h4 class="panel-title">
                        <small>{{app.user.getUsername()}}</small>
                        {% if userJournalRoles %}
                            {%for role in userJournalRoles %}
                                <span class="label label-default">{{role.role|trans}}</span> 
                            {%endfor%}
                        {%endif%}
                    </h4>
                </div>
                <div class="panel-collapse collapse in">
                    {%if userjournals%}
                        <div class="dropdown">
                            <button class="dropdown-toggle btn btn-block" type="button" id="dropdownMenu1" data-toggle="dropdown">
                                {{ userjournals[session('selectedJournalId')].title[:22]  }}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu list-group" role="menu" aria-labelledby="dropdownMenu1">
                                {%for journal in userjournals%}
                                    <li class=list-group-item">
                                        <a href="{{path('change_selected_journal',{'journal_id':journal.id})}}">
                                            {{journal.title}}
                                        </a>
                                    </li> 
                                {%endfor%}
                            </ul>
                        </div>
                    {%endif%}
                    <a class="list-group-item list-group-item-success"  href="{{path('article_submission_new')}}">
                        <i class="fa fa-plus-circle"></i> 
                        {{"article.submit"|trans}}
                    </a>
                    <a class="list-group-item"  href="{{path('dashboard')}}">
                        <i class="fa fa-dashboard"></i> 
                        {{"dashboard"|trans}}
                    </a>
                    <a class="list-group-item list-group-item-warning" href="{{path('okulbilisim_message_user_index')}}">
                        <i class="fa fa-envelope"></i>
                        {{"messages"|trans}}</a>
                </div>
            </div>

            {% if hasRole('ROLE_JOURNAL_MANAGER') %}

                <div class="panel panel-default left-menu-bgcolor">
                    <div class="panel-heading">{{"Journal Manager"|trans}}</div>
                    <div>
                        {# Links for journal manager  #}

                        {% if session('selectedJournalId') %}
                            <a class="list-group-item"  href="{{path('issue_manager_index')}}">
                                <i class="fa fa-cog"></i> 
                                {{"issue.manager"|trans}}
                            </a>
                            <a class="list-group-item"  href="{{path('manager_current_journal_settings')}}">
                                <i class="fa fa-cog"></i> 
                                {{"settings"|trans}}
                            </a>
                            <a class="list-group-item"  href="{{path('ojs_review_forms')}}">
                                <i class="fa fa-cog"></i> 
                                {{"review.form.plural"|trans}}
                            </a>
                            <a class="list-group-item"  href="{{path('dashboard')}}">
                                <i class="fa fa-th"></i> 
                                {{"journal.users"|trans}}
                            </a>
                            <a class="list-group-item"  href="{{path('reports_index')}}">
                                <i class="fa fa-th"></i> 
                                {{"reports.title"|trans}}
                            </a>
                        {% else %}
                            <a class="list-group-item list-group-item-warning" href="#">
                                <i class="fa fa-exclamation-circle"></i>
                                {{ "haveNoJournals"|trans }} {{"createOne"|trans}}
                            </a>
                        {% endif %}
                    </div>
                </div>
            {% endif %} 

            <div class="panel panel-default left-menu-bgcolor">
                <a class="list-group-item" href="{{path('ojs_workflow_homepage')}}">
                    <i class="fa fa-recycle"></i>  
                    {{"workflow"|trans}} </a>

                <a class="list-group-item" href="{{path('user_show_my_journals')}}">
                    <i class="fa fa-list"></i>  
                    {{"journals"|trans}} </a>

                <div class="panel-heading"><i class="fa fa-list"></i>
                    {{"Articles"|trans}}</div>
                <div class="panel-collapse collapse in">
                    {% if isSystemAdmin() or isJournalManager()  %}
                        {%set submissions_path = "article_submissions_all" %}
                    {%else%}
                        {%set submissions_path = "article_submissions_me" %}
                    {% endif %}
                    <a class="list-group-item list-group-item-info" href="{{path(submissions_path)}}">
                        <i class="fa fa-flag"></i>
                        Submissions
                    </a>

                    <a class="list-group-item list-group-item-success" href="#"><i class="fa fa-check-circle"></i> Published</a>
                    <a class="list-group-item list-group-item-warning" href="#"><i class="fa fa-clock-o"></i> Waiting</a>
                    <a class="list-group-item list-group-item-danger" href="#"><i class="fa fa-exclamation-circle"></i> Rejected</a>
                </div>
            </div>

            {% if isSystemAdmin() %}
                <div class="panel panel-default left-menu-bgcolor">
                    <div class="panel-heading">{{"Admin"|trans}}</div>
                    <div class="panel-collapse collapse in">
                        <a class="list-group-item" href="{{path('user')}}"><i class="fa fa-cogs"></i> Users</a>
                        <a class="list-group-item" href="{{path('role')}}"><i class="fa fa-cogs"></i> Roles</a>
                        <a class="list-group-item" href="{{path('ujr')}}"><i class="fa fa-cogs"></i> User Journal Roles</a>
                        <a class="list-group-item" href="{{path('article')}}"><i class="fa fa-cogs"></i> Article</a>
                        <a class="list-group-item" href="{{path('institution')}}"><i class="fa fa-cogs"></i> Institutions</a>
                        <a class="list-group-item" href="{{path('subject')}}"><i class="fa fa-cogs"></i> Subjects</a>
                        <a class="list-group-item" href="{{path('eventlog')}}"><i class="fa fa-cogs"></i> Activity Log</a>
                        <a class="list-group-item" href="{{path('okulbilisim_feedback_homepage')}}"><i class="fa fa-envelope"></i> Feedback</a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
