{% block sidebar %}
    <div class="col-sm-3 col-md-3">
        <div class="panel-group">
            <div class="panel panel-default">
                {% if (session('selectedJournalId') and userjournals[session('selectedJournalId')] is defined and userjournals) %}
                    <div class="panel-heading">
                        {{ userjournals[session('selectedJournalId')].title }}
                    </div>
                    <div class="panel-bodyx">
                        <div class="dropdown">
                            <button class="dropdown-toggle btn btn-block text-center" type="button" id="dropdownMenu1"
                                    data-toggle="dropdown">
                                {% if((userjournals[session('selectedJournalId')] is defined) and userjournals[session('selectedJournalId')].image) %}
                                    <img src="{{ ('/uploads/journalfiles/'~imagePath( userjournals[session('selectedJournalId')].image))|imagine_filter('journal_cover') }}"
                                         class="avatar"/>
                                {% else %}
                                    <img src="holder.js/96x96/#459:#fff/text:{{ userjournals[session('selectedJournalId')].title }}" />
                                {% endif %}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu list-group" role="menu" aria-labelledby="dropdownMenu1">
                                {% for journal in userjournals %}
                                    <li class=list-group-item">
                                        <a href="{{ path('change_selected_journal',{'journal_id':journal.id}) }}">
                                            {{ journal.title }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <small>{{'loggedAs'|trans}} : <span style="color:#003399">{{app.user.username}}</span></small>
                            {% if userJournalRoles %}
                                {% for role in userJournalRoles %}
                                <span class="label label-default">{{ role.role|trans }}</span>
                            {% endfor %}
                        {% endif %}
                    </div>
                {% else %}
                    <a class="list-group-item" href="{{ path('user_join_journal') }}">
                        <i class="fa fa-star"></i> {{ "journal.join"|trans }}
                    </a>
                {% endif %}
            </div>
            <div class="panel panel-default left-menu-bgcolor">
                <div class="panel-collapse collapse in">
                    <a class="list-group-item" href="{{ path('dashboard') }}">
                        <i class="fa fa-dashboard"></i>
                        {{ "dashboard"|trans }}
                    </a>
                    {% if( session('selectedJournalId')) and userjournals[session('selectedJournalId')] is defined %}
                        {% set submitButton = 0 %}
                        {% for submitRole in userjournals[session('selectedJournalId')].submitRoles %}
                            {% if (hasRole(submitRole.role)) and (submitButton == 0) %}
                                <a id="summissionLinkLeft" class="list-group-item list-group-item-success"
                                   href="{{ path('article_submission_new') }}">
                                    <i class="fa fa-plus-circle"></i>
                                    {{ "article.submit"|trans }}
                                </a>
                                {% set submitButton = 1 %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    {% if hasRole('ROLE_AUTHOR') %}
                        {% if isSystemAdmin() or isJournalManager() %}
                            {% set submissions_path = "article_submissions_all" %}
                        {% else %}
                            {% set submissions_path = "article_submissions_me" %}
                        {% endif %}
                        <a class="list-group-item list-group-item-info" href="{{ path(submissions_path) }}">
                            <i class="fa fa-flag"></i>
                            {{ "articles"|trans }}
                        </a>
                    {% endif %}
                </div>
            </div>
            {% if isJournalManager() or isEditor() %}

                <div class="panel panel-default left-menu-bgcolor">
                    <div class="panel-heading">{{ "journal.manager"|trans }}</div>
                    <div>
                        {# Links for journal manager  #}
                        <a class="list-group-item" href="{{ path('ojs_workflow_homepage') }}">
                            <i class="fa fa-recycle"></i>
                            {{ "workflow"|trans }} </a>
                            {% if session('selectedJournalId') %}
                            <a class="list-group-item" href="{{ path('issue_manager_index') }}">
                                <i class="fa fa-cog"></i>
                                {{ "issue.manager"|trans }}
                            </a>
                            <a class="list-group-item"
                               href="{{ path('ujr_show_users_ofjournal',{'journal_id':session('selectedJournalId')}) }}">
                                <i class="fa fa-users"></i>
                                {{"journal.users"|trans}}
                            </a>
                            <a class="list-group-item" href="{{ path('manager_journalcontact') }}">
                                <i class="fa fa-users"></i>
                                {{ "contact.plural"|trans }}
                            </a>
                            <a class="list-group-item" href="{{ path('mailtemplate_manager') }}">
                                <i class="fa fa-envelope-o"></i>
                                {{"mail.templates"|trans}}
                            </a>
                            <a class="list-group-item" href="{{ path('manager_current_journal_settings') }}">
                                <i class="fa fa-cog"></i>
                                {{ "settings"|trans }}
                            </a> 
                            <a class="list-group-item" href="{{ path('ojs_review_forms') }}">
                                <i class="fa fa-cog"></i>
                                {{ "review.forms"|trans }}
                            </a>
                            <a class="list-group-item" href="{{ path('reports_index') }}">
                                <i class="fa fa-th"></i>
                                {{ "reports.title"|trans }}
                            </a>
                            <a class="list-group-item" href="{{ path('manager_journal_section') }}">
                                <i class="fa fa-apple"></i>
                                {{ "journalsection"|trans }}
                            </a>
                        {% else %}
                            <a class="list-group-item list-group-item-warning" href="#">
                                <i class="fa fa-exclamation-circle"></i>
                                {{ "haveNoJournals"|trans }} {{ "createOne"|trans }}
                            </a>
                        {% endif %}
                    </div>
                </div>
            {% endif %}

            <div class="panel panel-default left-menu-bgcolor">
                <a class="list-group-item" href="{{ path('user_show_my_journals') }}">
                    <i class="fa fa-list"></i>
                    {{ "journals"|trans }} </a>
            </div>

            {% if isSystemAdmin() %}
                <div class="panel panel-default left-menu-bgcolor">
                    <div class="panel-heading">{{ "Admin"|trans }}</div>
                    <div class="panel-collapse collapse in">
                        <a class="list-group-item" href="{{ path('user') }}"><i class="fa fa-cogs"></i> {{"users"|trans}}</a>
                        <a class="list-group-item" href="{{ path('role') }}">
                            <i class="fa fa-cogs"></i> {{"roles"|trans}}
                        </a>
                        <a class="list-group-item" href="{{ path('ujr') }}">
                            <i class="fa fa-cogs"></i> {{"User Journal Roles"|trans}}
                        </a> 
                        <a class="list-group-item" href="{{ path('article') }}"><i class="fa fa-cogs"></i> {{"articles"|trans}}</a>
                        <a class="list-group-item" href="{{ path('issue') }}">
                            <i class="fa fa-cogs"></i> {{"issue"|trans}}
                        </a>
                        <a class="list-group-item" href="{{ path('admin_file') }}">
                            <i class="fa fa-cogs"></i> {{"file"|trans}}
                        </a>
                        <a class="list-group-item" href="{{ path('institution') }}">
                            <i class="fa fa-cogs"></i> {{"institution"|trans}}
                        </a>
                        <a class="list-group-item" href="{{ path('institution_types') }}">
                            <i class="fa fa-cogs"></i> {{"institutiontype.plural"|trans}}
                        </a>
                        <a class="list-group-item" href="{{ path('citation') }}">
                            <i class="fa fa-cogs"></i> {{"citations"|trans}}
                        </a>
                        <a class="list-group-item" href="{{ path('contact') }}">
                            <i class="fa fa-cogs"></i>  {{"contact"|trans}}
                        </a>
                        <a class="list-group-item" href="{{ path('admin_journalindex') }}">
                            <i class="fa fa-cogs"></i>  {{"journalsindex.plural"|trans}}
                        </a>
                        <a class="list-group-item" href="{{ path('subject') }}"><i class="fa fa-cogs"></i> {{"subject.plural"|trans}}</a>
                        <a class="list-group-item" href="{{ path('okulbilisim_feedback_homepage') }}"><i
                                class="fa fa-envelope"></i>  {{"feedback"|trans}}</a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}