{% block sidebar %}
    <div class="col-sm-3 col-md-3">
        <div class="panel-group">
            <div class="panel panel-default">
                {% if selectedJournal() and userjournals %}
                    <div class="panel-heading">
                        {{ selectedJournal().title }}
                    </div>
                    <div class="panel-bodyx">
                        <div class="dropdown">
                            <button class="dropdown-toggle btn btn-block text-center" type="button" id="dropdownMenu1"
                                    data-toggle="dropdown">
                                {% if selectedJournal().image %}
                                    <img src="{{ selectedJournal().image|imagine_filter('journal_cover') }}"
                                         width="96" height="96"
                                         class="avatar"/>
                                {% else %}
                                    <img src="holder.js/96x96/#459:#fff/text:{{ selectedJournal().title }}" />
                                {% endif %}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu list-group" role="menu" aria-labelledby="dropdownMenu1">
                                {% for journal in userjournals %}
                                    {% if journal.id %}
                                    <li class=list-group-item">
                                        <a href="{{ path('change_selected_journal',{'journalId':journal.id}) }}">
                                            <span class="label label-primary">{{ journal.institution.name }}</span> &raquo; {{ journal.title }}
                                        </a>
                                    </li>
                                        {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <small>{{'loggedAs'|trans}} : <span style="color:#003399">{{app.user.username}}</span></small>
                        {% for journalRole in userJournalRoles() %}
                            <span class="label label-default">{{ journalRole.name|trans }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    <a class="list-group-item list-group-item-warning" href="{{ path('ojs_journal_user_register_list') }}">
                        <i class="fa fa-exclamation-circle"></i> {{ "journal.join"|trans }}
                    </a>
                {% endif %}
            </div>
            <div class="panel panel-default left-menu-bgcolor">
                <div class="panel-collapse collapse in">
                    {% if selectedJournal() %}
                    <a class="list-group-item" href="{{ path('ojs_journal_dashboard_index', {journalId: selectedJournal().id}) }}">
                        <i class="fa fa-dashboard"></i>
                        {{ "dashboard"|trans }}
                    </a>
                        {% if is_granted('CREATE', selectedJournal(), 'articles') %}
                            <a id="summissionLinkLeft" class="list-group-item list-group-item-success"
                               href="{{ path('ojs_journal_new_submission_new', {journalId: selectedJournal().id}) }}">
                                <i class="fa fa-plus-circle"></i>
                                {{ "article.submit"|trans }}
                            </a>
                        {% endif %}
                        {% if is_granted('VIEW', selectedJournal()) %}
                            {% set submissions_path = "ojs_journal_new_submission_me" %}
                            {% if is_granted('EDIT', selectedJournal()) %}
                                {% set submissions_path = "ojs_journal_new_submission_all" %}
                            {% endif %}
                            <a class="list-group-item list-group-item-info" href="{{ path(submissions_path, {journalId: selectedJournal().id}) }}">
                                <i class="fa fa-flag"></i>
                                {{ "articles"|trans }}
                            </a>
                        {% endif %}
                        <a class="list-group-item list-group-item-info" href="{{ path('okul_bilisim_workflow_articles_active', {journalId: selectedJournal().id}) }}">
                            <i class="fa fa-flag"></i>
                            {{ "Article in Review"|trans }}
                        </a>

                    {% endif %}
                </div>
            </div>
            {% if selectedJournal() and is_granted('VIEW', selectedJournal(), 'adminMenu') %}
            <div class="panel panel-default left-menu-bgcolor">
                <div class="panel-heading">{{ "journal.manager"|trans }}</div>
                <div class="list-group">
                    {% if is_granted('EDIT', selectedJournal()) %}
                        <a class="list-group-item" href="{{ path('ojs_journal_settings_index', {'journalId': selectedJournal().id}) }}">
                            <span style="color: #3c763d; margin-right: 3px;">
                                <i class="fa fa-cog"></i>
                            </span>
                            {{ "settings"|trans }}
                        </a>
                    {% endif %}

                    <a class="list-group-item" href="{{ path('ojs_journal_user_index', {'journalId': selectedJournal().id}) }}">
                        <span style="color: #3c763d; margin-right: 3px;">
                            <i class="fa fa-key"></i>
                        </span>
                        {{ "journal.users"|trans }}
                    </a>

                    {% if is_granted('VIEW', selectedJournal(), 'articles') %}
                        <a class="list-group-item" href="{{ path('ojs_journal_article_index', {'journalId': selectedJournal().id}) }}">
                        <span style="color: #3c763d; margin-right: 3px;">
                            <i class="fa fa-file-text"></i>
                        </span>
                            {{"journal.articles"|trans}}
                        </a>
                    {% endif %}

                    {% if is_granted('VIEW', selectedJournal(), 'sections') %}
                        <a class="list-group-item" href="{{ path('ojs_journal_section_index', {'journalId': selectedJournal().id}) }}">
                            <span style="color: #3c763d; margin-right: 3px;">
                                <i class="fa fa-square"></i>
                            </span>
                            {{ "journalsection"|trans }}
                        </a>
                    {% endif %}

                    {% if is_granted('VIEW', selectedJournal(), 'issues') %}
                        <a class="list-group-item" href="{{ path('ojs_journal_issue_index', {journalId: selectedJournal().id}) }}">
                            <span style="color: #3c763d; margin-right: 3px;">
                                <i class="fa fa-newspaper-o"></i>
                            </span>
                            {{ "issue.manager"|trans }}
                        </a>
                    {% endif %}

                    {% if is_granted('VIEW', selectedJournal(), 'contacts') %}
                    <a class="list-group-item" href="{{ path('ojs_journal_journal_contact_index', {'journalId': selectedJournal().id}) }}">
                        <span style="color: #3c763d; margin-right: 3px;">
                            <i class="fa fa-credit-card"></i>
                        </span>
                        {{ "contact.plural"|trans }}
                    </a>
                    {% endif %}

                    {% if is_granted('VIEW', selectedJournal(), 'mailTemplate') %}
                    <a class="list-group-item" href="{{ path('ojs_journal_mail_template_index', {'journalId': selectedJournal().id}) }}">
                        <span style="color: #3c763d; margin-right: 3px;">
                            <i class="fa fa-envelope"></i>
                        </span>
                        {{"mail.templates"|trans}}
                    </a>
                    {% endif %}

                    {% if is_granted('VIEW', selectedJournal(), 'design') %}
                    <a class="list-group-item" href="{{ path('ojs_journal_design_index', {'journalId': selectedJournal().id}) }}">
                        <span style="color: #3c763d; margin-right: 3px;">
                            <i class="fa fa-navicon"></i>
                        </span>
                        {{ "journal.design"|trans }}
                    </a>
                    {% endif %}

                    {% if is_granted('VIEW', selectedJournal(), 'design') %}
                    <a class="list-group-item" href="{{ path('ojs_journal_theme_index', {'journalId': selectedJournal().id}) }}">
                        <span style="color: #3c763d; margin-right: 3px;">
                            <i class="fa fa-th-large"></i>
                        </span>
                        {{ "journal.theme"|trans }}
                    </a>
                    {% endif %}

                    {% if is_granted('VIEW', selectedJournal(), 'boards') %}
                        <a class="list-group-item" href="{{ path('ojs_journal_board_index', {'journalId': selectedJournal().id}) }}">
                            <span style="color: #3c763d; margin-right: 3px;">
                                <i class="fa fa-users"></i>
                            </span>
                            {{ "boards"|trans }}
                        </a>
                    {% endif %}

                    {% if is_granted('VIEW', selectedJournal(), 'boards') %}
                        <a class="list-group-item" href="{{ path('okul_bilisim_workflow_step_index', {'journalId': selectedJournal().id}) }}">
                            <span style="color: #3c763d; margin-right: 3px;">
                                <i class="fa fa-random"></i>
                            </span>
                            {{ "workflow.steps"|trans }}
                        </a>
                    {% endif %}

                    <a class="list-group-item" href="{{ path('reports_index') }}">
                        <span style="color: #3c763d; margin-right: 3px;">
                            <i class="fa fa-file"></i>
                        </span>
                        {{ "reports.title"|trans }}
                    </a>
                </div>
            </div>

            {% endif %}
            <div class="panel panel-default left-menu-bgcolor">
                <a class="list-group-item" href="{{ path('ojs_journal_user_my') }}">
                    <i class="fa fa-list"></i>
                    {{ "journals"|trans }} </a>
            </div>
        </div>
    </div>
{% endblock %}
