{% block sidebar %}
    <div class="col-sm-3 col-md-3">
        <div class="panel-group">
            <div class="panel panel-default">
                {% if selectedJournal() and userjournals %}
                    <div class="panel-heading">
                        {{ selectedJournal().title }}
                    </div>
                    <div class="panel-bodyx">
                        <div class="dropdown">
                            <button class="dropdown-toggle btn btn-block text-center" type="button" id="dropdownMenu1"
                                    data-toggle="dropdown">
                                {% if selectedJournal().image %}
                                    <img src="{{ selectedJournal().image|imagine_filter('journal_cover') }}"
                                         class="avatar"/>
                                {% else %}
                                    <img src="#" class="tri"/>
                                {% endif %}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu list-group" role="menu" aria-labelledby="dropdownMenu1">
                                {% for journal in userjournals %}
                                    {% if journal.id %}
                                        <li class=list-group-item">
                                            <a href="{{ path('ojs_journal_dashboard_index', {'journalId': journal.id}) }}">
                                                <span class="label label-primary">{{ journal.publisher.name }}</span> &raquo; {{ journal.title }}
                                            </a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <small>{{ 'loggedAs'|trans }} : <span style="color:#003399">{{ app.user.username }}</span>
                        </small>
                        {% for journalRole in userJournalRoles() %}
                            <span class="label label-default">{{ journalRole.name|trans }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    <a class="list-group-item list-group-item-warning"
                       href="{{ path('ojs_journal_user_register_list') }}">
                        <i class="fa fa-plus-square"></i> {{ "journal.join"|trans }}
                    </a>

                    <a class="list-group-item list-group-item-default" href="{{ path('ojs_journal_user_my') }}">
                        <i class="fa fa-book"></i>
                        {{ "journals"|trans }} </a>
                {% endif %}
            </div>
            {% if selectedJournal() %}
                <div class="panel panel-default left-menu-bgcolor">
                    <div class="panel-collapse collapse in">
                        <a class="list-group-item"
                           href="{{ path('ojs_journal_dashboard_index', {journalId: selectedJournal().id}) }}">
                            <i class="fa fa-dashboard"></i>
                            {{ "dashboard"|trans }}
                        </a>
                        {% if is_granted('CREATE', selectedJournal(), 'articles') %}
                            <a id="summissionLinkLeft" class="list-group-item list-group-item-success"
                               href="{{ path('ojs_journal_submission_new', {journalId: selectedJournal().id}) }}">
                                <i class="fa fa-plus-circle"></i>
                                {{ "article.submit"|trans }}
                            </a>
                        {% endif %}
                        {% if is_granted('VIEW', selectedJournal(), 'articles') %}
                            {% set submissions_path = "ojs_journal_submission_me" %}
                            {% if is_granted('EDIT', selectedJournal(), 'articles') %}
                                {% set submissions_path = "ojs_journal_submission_all" %}
                            {% endif %}
                            <a class="list-group-item list-group-item-info"
                               href="{{ path(submissions_path, {journalId: selectedJournal().id}) }}">
                                <i class="fa fa-flag"></i>
                                {{ "articles"|trans }}
                            </a>
                        {% endif %}
                        <a class="list-group-item list-group-item-warning"
                           href="{{ path('okul_bilisim_workflow_articles_active', {journalId: selectedJournal().id}) }}">
                            <i class="fa fa-flag"></i>
                            {{ "articles_in_review"|trans }}
                        </a>
                    </div>
                </div>
            {% endif %}
            {% if selectedJournal() and is_granted('VIEW', selectedJournal(), 'adminMenu') %}
                <div class="panel panel-default left-menu-bgcolor">
                    <div class="panel-heading">
                        {{ "journal.manager"|trans }}
                        <a class="btn btn-default btn-xs hidden-sm hidden-md hidden-lg pull-right" role="button"
                           data-toggle="collapse" href="#journalManagerMenu" aria-expanded="false"
                           aria-controls="journalManagerMenu">
                            <i class="fa fa-caret-down"></i>
                            {{ "Expand"|trans }}
                        </a>
                    </div>

                    <div class="list-group">
                        {{ knp_menu_render('OjsJournalBundle:MenuBuilder:leftMenu') }}
                    </div>
                </div>

            {% endif %}
            {% if isGrantedForPublisher() and selectedJournal().publisher.id is defined %}
                <div class="panel panel-default left-menu-bgcolor">
                    <a class="list-group-item"
                       href="{{ path('ojs_publisher_manager_design_index', {publisherId: selectedJournal().publisher.id}) }}">
                        <i class="fa fa-list"></i>
                        {{ "publisher.design"|trans }} </a>
                    <a class="list-group-item"
                       href="{{ path('ojs_publisher_manager_theme_index', {publisherId: selectedJournal().publisher.id}) }}">
                        <i class="fa fa-list"></i>
                        {{ "publisher.theme"|trans }} </a>
                    <a class="list-group-item"
                       href="{{ path('ojs_publisher_manager_edit', {publisherId: selectedJournal().publisher.id}) }}">
                        <i class="fa fa-list"></i>
                        {{ "publisher.edit"|trans }} </a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
