{% block a2lix_translations_widget %}
    {{ form_errors(form) }}
    <div class="a2lix_translations tabbable well">
        <ul class="a2lix_translationsLocales nav nav-tabs">
            {% for translationsFields in form %}
                {% set locale = translationsFields.vars.name %}
                <li {% if form.vars.default_locale == locale %}class="active"{% endif %}>
                    <a href="#" data-toggle="tab" data-target=".a2lix_translationsFields-{{ locale }}" {% if translationsFields.vars.valid == false %}style="color:red"{% endif %} >
                        {{ locale|capitalize }}
                        {% if form.vars.default_locale != locale
                            or translationsFields.vars.required != true %}[{{ 'optional'|trans }}]{% endif %}
                        {% if form.vars.default_locale == locale %}[{{ 'default'|trans }}]{% endif %}
                        {% if translationsFields.vars.required %}*{% endif %}
                    </a>
                </li>
            {% endfor %}
        </ul>

        <div class="a2lix_translationsFields tab-content">
            {% for translationsFields in form %}
                {% set locale = translationsFields.vars.name %}

                <div class="a2lix_translationsFields-{{ locale }} tab-pane {% if form.vars.default_locale == locale %}active{% endif %}">
                    {{ form_errors(translationsFields) }}
                    {{ form_widget(translationsFields) }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block a2lix_translationsForms_widget %}
    {{ block('a2lix_translations_widget') }}
{% endblock %}
