<div class="col-sm-3">
    <div class="person-box ng">
        <div class="avatar">
            <a href="{{ path('vipa_user_profile', {slug: person.username}) }}">
                <img
                        {% if person.avatar is defined and person.avatar is not null %}
                            class="img-circle"

                            alt="" src="{{ person.avatar|imagine_filter('user_croped') }}"
                        {% else %}
                            class="img-circle"  src="{{ asset('assets/app/images/buddy_sample.png') }}"
                        {% endif %}
                        style="width: 100px; height: 100px;"/>
            </a>
        </div>
        <div class="content">
            <a class="hovercard" href="{{ path('vipa_user_profile', {slug: person.username}) }}">
                {% if person.title is not empty %}
                    {{ person.title.title }}
                {% endif %}
                {% if person.firstName is defined and person.lastName is defined %}
                    {{ person.firstName|default('') }} {{ person.lastName|default('') }}
                {% else %}
                    {{ person.username }}
                {% endif %}
            </a>
            {% if person.journalUsers is not null %}
                <div class="hovercard-content hidden">
                    {% for journalUser in person.journalUsers %}
                        <h5>{{ journalUser.journal.title }}</h5>
                        {% for role in journalUser.roles %}
                            <span class="badge">{{ role|trans }}</span>
                        {% endfor %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
</div>
