{% extends '::ojsbase.html.twig' %}

{% block body -%}
<h1>Attorney</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Attorneyuserid</th>
            <td>{{ entity.attorneyUserId }}</td>
        </tr>
        <tr>
            <th>Targetuserid</th>
            <td>{{ entity.targetUserId }}</td>
        </tr>

    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('admin_attorney') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('admin_attorney_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
