{% extends '::ojsbase.html.twig' %}
{% set hideleft = true %}
{% block title %}{{ 'title.publisher_design'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
        {'link': path('ojs_user_index'), 'title': 'user_page'|trans},
    { 'title': 'title.publisher_design'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    <h1>{{ "publisherdesign.list"|trans }}</h1>
    {% include '::flashbag.html.twig' %}

    {% if isGrantedForPublisher() %}
        <a href="{{ path('ojs_publisher_manager_design_new', {publisherId: publisher.id}) }}" class="btn btn-success">
            {{ "c"|trans }}
        </a>
    {% endif %}

    <hr>
    {{ grid(grid) }}
{% endblock %}
