{% extends '::ojsbase.html.twig' %}

{% block body -%}
    <h1>{{"institutiontype.edit"|trans}}</h1>
    {% include '::flashbag.html.twig' %}
    {{ form(edit_form) }}
    <div class="btn-group">
        <a class="btn btn-default" href="{{ path('institution_types') }}">
            <i class="fa fa-arrow-left"></i> {{"b"|trans}}
        </a>
    </div>
    <div class="pull-right">
        {{ form(delete_form) }}
    </div>
{% endblock %}
