{% extends '::ojsbase.html.twig' %}

{% block breadcrumb %}
    {% set list = [
        {'link': path('dashboard'), 'title': 'dashboard'|trans},
        {'link': path('institution_types'),'title': 'institutiontype'|trans},
        {'title': 'new'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    <h1>{{"institutiontype.new"|trans}}</h1>

    <a href="{{ path('institution_types') }}">{{"b"|trans}}</a>
    {{ form(form) }}
{% endblock %}
