{% extends '::ojsbase.html.twig' %}

{% block body -%}
    <h1>{{"institutiontype.list"|trans}}</h1>

    <table class="record_properties  table">
        <tbody>
            <tr>
                <th>{{ 'id'|trans }}</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>{{"name"|trans}}</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>{{"description"|trans}}</th>
                <td>{{ entity.description }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="record_actions">
        <li>
            <a href="{{ path('institution_types') }}">{{"b"|trans}}</a>
        </li>
        <li>
            <a href="{{ path('institution_types_edit', { 'id': entity.id }) }}">{{"e"|trans}}</a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %}
