{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.file_show'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
        {'link': path('ojs_journal_dashboard_index', {journalId: selectedJournal().id}), 'title': 'dashboard'|trans},
        {'link': path('ojs_journal_filemanager_index', {'journalId': selectedJournal().id}),'title': 'title.files'|trans},
        {'title': 'title.file_show'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    {% include '::flashbag.html.twig' %}
    <h1>{{ 'file'|trans }}</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>{{ 'id'|trans }}</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>{{ 'name'|trans }}</th>
            <td>{{ entity.name }}</td>
        </tr>
        <tr>
            <th>{{ 'description'|trans }}</th>
            <td>{{ entity.description }}</td>
        </tr>
        <tr>
            <th>{{ 'file.path'|trans }}</th>
            <td>
                <a href="http://ojs.dev/uploads/files/{{ entity.path }}">
                    http://ojs.dev/uploads/files/{{ entity.path }}
                </a>
            </td>
        </tr>
        <tr>
            <th>{{ 'size'|trans }}</th>
            <td>{{ entity.size }}</td>
        </tr>
        <tr>
            <th>{{ 'tags'|trans }}</th>
            <td>{{ entity.tags }}</td>
        </tr>
        </tbody>
    </table>

    {{
        actions({
            'back': {'href': path('ojs_journal_filemanager_index', {'journalId': selectedJournal().id})},
            'edit': {'href': path('ojs_journal_filemanager_edit', {'id': entity.id, 'journalId': selectedJournal().id})},
            'delete': {
                'href': path('ojs_journal_filemanager_delete', {'id': entity.id, 'journalId': selectedJournal().id}),
                'permission': is_granted('DELETE', entity),
                'attributes': {'data-token': token}
            },
        })
    }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        analytics.increase('post', {{ entity.id }})
    </script>
{% endblock %}