{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.block_create'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
    {'link': path('ojs_public_index'), 'title': project_name},
    {'title': 'block'|trans},
    {'title': "create"|trans }
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    <h4>Create New Block</h4>
    {% for label, flashes in app.session.flashbag.all %}
        {% for flash in flashes %}
            <div class="alert alert-{{ label }}">
                {{ flash }}
            </div>
        {% endfor %}
    {% endfor %}
    <form action="" method="post">
        {{ form_widget(form) }}
        <div class="record_actions">
            <button class="btn btn-default" type="submit">{{ "save"|trans }}</button>
        </div>
    </form>
{% endblock %}
