{% extends '::ojsbase.html.twig' %}
{% set hideleft = true %}
{% block title %}{{ 'title.publisher_type_edit'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
        {'link': path('ojs_admin_dashboard'), 'title': 'dashboard'|trans},
    {'link': path('ojs_admin_publisher_type_index'),'title': 'title.publisher_types'|trans},
    {'title': 'title.publisher_type_edit'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    <h1>{{ "publishertype.edit"|trans }}</h1>
    {% include '::flashbag.html.twig' %}
    {{ form(edit_form) }}
    {% set back_path = 'ojs_admin_publisher_type_index' %}
    {% include '::actionbuttons.html.twig' %}

    {{ getLogs(entity) }}
{% endblock %}
