{% extends '::vipabase.html.twig' %}
{% set hideleft = true %}
{% block title %}{{ 'title.publisher_type_show'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
        {'link': path('vipa_admin_dashboard'), 'title': 'dashboard'|trans},
    { 'link': path('vipa_admin_publisher_type_index'),'title': 'title.publisher_types'|trans},
    {'title': 'title.publisher_type_show'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    <h1>{{ entity.name|trans }}</h1>
    {% include '::flashbag.html.twig' %}
    {{ display(entity) }}
    {% set back_path = 'vipa_admin_publisher_type_index' %}
    {% if is_granted('EDIT', entity) %}
        {% set edit_path = 'vipa_admin_publisher_type_edit' %}
    {% endif %}
    {% if is_granted('DELETE', entity) %}
        {% set delete_path = 'vipa_admin_publisher_type_delete' %}
    {% endif %}
    {% include '::actionbuttons.html.twig' %}
{% endblock %}
