<li class="list-group-item">
    <a href="{{path('editor_articles_uncomplete')}}">{{"editor.articles_uncomplete"|trans}}</a>
</li>
<li class="list-group-item">
    <a href="{{path('editor_articles_waiting')}}">{{"editor.articles_waiting"|trans}}</a>
</li>
<li class="list-group-item">
    <a href="{{path('editor_articles_assigned')}}">{{"editor.articles_assigned"|trans}}</a>
</li>
<li class="list-group-item">
    <a href="{{path('editor_articles_published')}}">{{"editor.articles_published"|trans}}</a>
</li>
<li class="list-group-item">
    <a href="{{path('editor_articles_unpublished')}}">{{"editor.articles_unpublished"|trans}}</a>
</li>
<li class="list-group-item">
    <a href="{{path('editor_articles_rejected')}}">{{"editor.articles_rejected"|trans}}</a>
</li>
