{% extends '::vipabase.html.twig' %}
{% import "::design_macros.html.twig" as macros %}
{% set hideleft = true %}
{% block title %}{{ 'title.design_new'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
    {'link': path('vipa_journal_dashboard_index', {journalId: selectedJournal().id}), 'title': 'dashboard'|trans},
    {'link': path('vipa_journal_design_index', {'journalId': selectedJournal().id}),'title': 'journal.design'|trans},
    {'title': 'title.design_new'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@jqueryui_css' output="assets/prod/css/jqueryui_min.css" filter="cssrewrite" %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}

    <link rel="stylesheet" href="{{ asset('vendor/gridmanager.js/dist/css/jquery.gridmanager-light.css') }}"/>
{% endblock %}

{% block body -%}
    <h1>{{ "title.design_new"|trans }}</h1>

    {{ form(form) }}

    <p id="widgetNotSelected" class="text-danger hide">Lütfen bir bileşen seçin!</p>
    <p id="widgetNoColumn" class="text-danger hide">Lütfen bileşen eklemek istediğiniz alanları seçin!</p>
    <select id="widgetSelect">
        <option value="default">Bileşen seç ..</option>
        <option value="cover">Dergi Kapağı</option>
        <option value="description">Tanım</option>
        <option value="journalMenu">Dergi Menüsü</option>
        <option value="indexes">Dergi Dizinleri</option>
        <option value="archive">Arşiv</option>
        <option value="articles">Yazılar</option>
        <option value="pages">Sayfalar</option>
        <option value="custom">Özel</option>
    </select>
    <button id="widgetButton" class="btn btn-sm btn-success">Bileşen Ekle</button>
    <br>
    <textarea id="customCode" class="hide"></textarea>
    <br>
    <br>

    <div id="gridDesign">
        <div class="row">
            <div class="col-md-3">
                {{ macros.journalCover() }}
            </div>
            <div class="col-md-6">
                {{ macros.journalDescription() }}
            </div>

            <div class="col-md-3">
                <!--gm-editable-region-->
                {{ macros.journalMenu() }}
                <!--/gm-editable-region-->
                <!--gm-editable-region-->
                {{ macros.indexes() }}
                <!--/gm-editable-region-->
            </div>
            <div class="col-md-12">
                <h5 class="page-header"><span class="panel-title">{{ "journal_index.issues"|trans }}</span></h5>
            </div>
            <div class="col-md-4">
                {{ macros.archive() }}
            </div>
            <div class="col-md-5">
                {{ macros.journalLastIssue() }}
            </div>
            <div class="col-md-3">
                {{ macros.rightBlock() }}
            </div>
        </div>
    </div>

    <a class="btn btn-default btn-sm" href="{{ path('vipa_journal_design_index', {journalId: selectedJournal().id}) }}"
       title="{{ "b"|trans }}">
        <i class="fa fa-arrow-left"></i>
    </a>

    <!-- Widgets -->
    <div id="cover" class="hide">
        {{ macros.journalCover() }}
    </div>

    <div id="description" class="hide">
        {{ macros.journalDescription() }}
    </div>

    <div id="journalMenu" class="hide">
        {{ macros.journalMenu() }}
    </div>

    <div id="indexes" class="hide">
        {{ macros.indexes() }}
    </div>

    <div id="archive" class="hide">
        {{ macros.archive() }}
    </div>

    <div id="articles" class="hide">
        {{ macros.journalLastIssue() }}
    </div>

    <div id="pages" class="hide">
        {{ macros.rightBlock() }}
    </div>
{% endblock %}

{% block javascripts -%}
    {{ parent() }}

    {% javascripts "@jqueryui_js" output="assets/prod/js/jqueryui_min.js" %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script src="{{ asset('vendor/gridmanager.js/dist/js/jquery.gridmanager.min.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('#widgetNotSelected').hide().removeClass('hide');
            $('#widgetNoColumn').hide().removeClass('hide');
            $('#customCode').hide().removeClass('hide');
            var gm = $("#gridDesign").gridmanager().data('gridmanager');

            $('#widgetButton').on('click', function () {

                if (!$('.' + gm.options.gmEditClassSelected).length) {
                    $('#widgetNoColumn').show();
                    return;
                }
                else {
                    $('#widgetNoColumn').hide();
                }

                if ($('#widgetSelect').val() == 'default') {
                    $('#widgetNotSelected').show();
                    return;
                }
                else if ($('#widgetSelect').val() == 'custom') {
                    var widgetHtml = $('#customCode').val();
                }
                else {
                    var widgetHtml = $('#' + $('#widgetSelect').val()).html();
                }
                $('#widgetNotSelected').hide();

                var canvas = gm.$el.find("#" + gm.options.canvasId);
                var cols = canvas.find(gm.options.colSelector);
                $.each(cols, function () {
                    if ($(this).hasClass(gm.options.gmEditClassSelected)) {
                        var cTagOpen = '<!--' + gm.options.gmEditRegion + '-->',
                                cTagClose = '<!--\/' + gm.options.gmEditRegion + '-->',
                                elem = null;
                        $(('.' + gm.options.gmToolClass + ':last'), this)
                                .before(elem = $('<div>').addClass(gm.options.gmEditRegion + ' ' + gm.options.contentDraggableClass)
                                        .append(gm.options.controlContentElem + '<div class="' + gm.options.gmContentRegion + '"></div>')).before(cTagClose).prev().before(cTagOpen);
                        gm.initNewContentElem(elem);
                        $('.' + gm.options.gmEditRegion, this).last().append(widgetHtml);
                    }
                });
            });

            $('#widgetSelect').on('change', function () {
                if ($(this).val() != 'custom') {
                    $('#customCode').slideUp();
                }
                else {
                    $('#customCode').slideDown();
                }
            });

            $('#vipa_journalbundle_design_submit').attr('type', 'button')
                    .on('click', function () {
                        gm.deinitCanvas();
                        $('.holder-remove').removeAttr("src")
                                .removeAttr("data-holder-rendered");
                        $('#vipa_journalbundle_design_editableContent').val($("#" + gm.options.canvasId).html());
                        $("form[name='vipa_journalbundle_design']").submit();
                    });
        });


    </script>
{% endblock %}
