{% extends '::ojsbase.html.twig' %}

{% block breadcrumb %}
    {% set list = [
    {'link': path('ojs_journal_dashboard_index', {journalId: selectedJournal().id}), 'title': 'dashboard'|trans},
    {'link': path('ojs_journal_mail_template_index', {'journalId': selectedJournal().id}),'title': 'mail.template'|trans},
    {'title': 'title.mail_template_edit'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    <script type="text/javascript" src="{{ asset('vendor/ace-builds/src/ace.js') }}"></script>

    <h1>{{ 'title.mail_template_edit'|trans }}</h1>
    {% include '::flashbag.html.twig' %}
    {{ form(edit_form) }}

    {{
    actions({
        'back': {'href': path('ojs_journal_mail_template_index', {'journalId': selectedJournal().id})}
    })
    }}

    {{ getLogs(entity) }}
{% endblock %}
