{% extends '::ojsbase.html.twig' %}

{% block body -%}
    {% include '::flashbag.html.twig' %}
    <h1>{{ 'mailtemplate.list'|trans }}</h1>
    {{ grid(db_templates) }}

    <h1>{{ 'mailtemplate.default.list'|trans }}</h1>
    {{ grid(default_templates) }}

    <hr>
    <a class="btn btn-default" href="{{ path('mailtemplate_manager_new') }}">
      {{"c"|trans}}
    </a>
{% endblock %}
