{% extends '::ojsbase.html.twig' %}

{% block body -%}
<div class="large-12 columns">
    <div class="panel">
        <h1>{{ "role.edit"|trans }} #{{ entity.id }}</h1>

    {{ form(edit_form) }}

        <div class="record_actions">

                <a class="button" href="{{ path('role') }}">
                    {{"b"|trans}}
                </a>


            {{ form(delete_form) }}

        </div>
    </div>
</div>
{% endblock %}
