{% extends '::ojsbase.html.twig' %}

{% block body -%}
<div class="col-md-12">
    <div class="panel">
        <h1>{{ "role.list"|trans }}</h1>

        <table class="table table-striped" style="width: 100%">
            <thead>
                <tr>
                    <th>{{ "role.id"|trans }}</th>
                    <th>{{ "role.name"|trans }}</th>
                    <th>{{ "role.role"|trans }}</th>
                    <th>{{ "role.issystemrole"|trans }}</th>
                    <th>{{"actions"|trans}}</th>
                </tr>
            </thead>
            <tbody>
        {% for entity in entities %}
                <tr>
                    <td>
                        <a href="{{ path('role_show', { 'id': entity.id }) }}">
                            <span class="label label-default" >#{{ entity.id }}</span>
                        </a>
                    </td>
                    <td>{{ entity.name }}</td>
                    <td><span>{{ entity.role }}</span></td>
                    <td>{% if entity.isSystemRole %}<i class="fa fa-check"></i>{%endif%}</td>

                    <td>
                        <a href="{{ path('role_show', { 'id': entity.id }) }}" class="btn btn-sm btn-info">{{"s"|trans}}</a>
                        <a href="{{ path('role_edit', { 'id': entity.id }) }}" class="btn btn-sm btn-warning">{{"e"|trans}}</a>

                    </td>
                </tr>
        {% endfor %}
            </tbody>
        </table>
        <a class="button success" href="{{ path('role_new') }}">
            {{"c"|trans}}
        </a>
    </div>
</div>
    {% endblock %}
