{% extends '::ojsbase.html.twig' %}

{% block body -%}
<div class="large-12 columns">
    <div class="panel">
        <h1>{{ "role.singular"|trans }} #{{ entity.id }}</h1>
        {% include '::flashbag.html.twig' %}

        <table class="record_properties  table">
            <tbody>
                <tr>
                    <th>{{ "role.id"|trans }}</th>
                    <td>{{ entity.id }}</td>
                </tr>
                <tr>
                    <th>{{ "role.name"|trans }}</th>
                    <td>{{ entity.name|trans }}</td>
                </tr>
                <tr>
                    <th>{{ "role.role"|trans }}</th>
                    <td>{{ entity.role|trans }}</td>
                </tr>

                <tr>
                    <th>{{ "role.users"|trans }}</th>
                    <td>
                {% for user in entity.users %}
                        <a href="{{ path('user_show', { 'id': user.id }) }}">
                     {{user.username}}</a>
                        <a href="mailto:{{user.email}}">
                            (<strong>{{user.email}}</strong>)
                        </a><hr>

                {% endfor %}
                    </td>

                </tr>
            </tbody>
        </table>

        <div  class="button-group">
            <a href="{{ path('role') }}" class="button">
                {{"b"|trans}}
            </a>
            <a  class="button" href="{{ path('role_edit', { 'id': entity.id }) }}">
                {{ "e"|trans }}
            </a>
        </div>
    {{ form(delete_form) }}
    </div>
</div>
{% endblock %}
