{% extends '::ojsbase.html.twig' %}

{% block body -%}
<h1>Notification list</h1>

<table class="records_list table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Senderid</th>
            <th>Recipientid</th>
            <th>Entityid</th>
            <th>Entityname</th>
            <th>Isread</th>
            <th>Level</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for entity in entities %}
        <tr>
            <td><a href="{{ path('admin_notification_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.senderId }}</td>
            <td>{{ entity.recipientId }}</td>
            <td>{{ entity.entityId }}</td>
            <td>{{ entity.entityName }}</td>
            <td>{{ entity.isRead }}</td>
            <td>{{ entity.level }}</td>
            <td>


            {% set show_path = 'admin_notification_show' %} 
            {% set delete_path = 'admin_notification_delete' %}
            {% include '::actionbtns.html.twig' %} 

            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

    {% endblock %}
