{% extends '::ojsbase.html.twig' %}

{% block body -%}
<h1>Notification</h1>

<table class="record_properties table">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Senderid</th>
            <td>{{ entity.senderId }}</td>
        </tr>
        <tr>
            <th>Recipientid</th>
            <td>{{ entity.recipientId }}</td>
        </tr>
        <tr>
            <th>Entityid</th>
            <td>{{ entity.entityId }}</td>
        </tr>
        <tr>
            <th>Entityname</th>
            <td>{{ entity.entityName }}</td>
        </tr>
        <tr>
            <th>Subject</th>
            <td>{{ entity.subject }}</td>
        </tr>

        <tr>
            <th>Verb</th>
            <td>{{ entity.action }}</td>
        </tr>
        <tr>
            <th>Isread</th>
            <td>{{ entity.isRead }}</td>
        </tr>
        <tr>
            <th>Level</th>
            <td>{{ entity.level }}</td>
        </tr>
    </tbody>
</table>

    {% set back_path = 'admin_notification' %}
    {% set edit_path = 'admin_notification_edit' %} 
    {% set delete_path = 'admin_notification_delete' %} 
    {% include '::actionbtns.html.twig' %}
{% endblock %}
