{% extends '::ojsbase.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@apptour_css' output="c/apptour.css" %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}  
{% endblock %}

{% block breadcrumb %}
    {{ breadcrumb([ {'link': path('dashboard'), 'title': 'dashboard'|trans}, { 'title': 'workflow'|trans} ]) }}
{% endblock %}


{% block body -%}
    {% include '::flashbag.html.twig' %}

    {% if articleStep.ownerUser %}
        <div class="alert alert-warning " id="article_workflow_someone_working">
            <i class="fa fa-cog"></i>
            {% if isJournalManager() == true or step.isVisible %}
                <a
                    href="{{ path("user_profile",{"username":articleStep.ownerUser.username}) }}">
                    {{ articleStep.ownerUser.username }}
                </a>
            {% else %}
                Someone
            {% endif %}
            is working on this step 
        </div>
    {% else %}
        <a class="btn btn-warning"
           onclick="return confirm('{{ "sure"|trans }}');"
           href="{{ path('article_step_start_review',{"id":articleStep.id}) }}">
            <i class="fa fa-clock-o"></i> Start Review
        </a>
    {% endif %}
    <small>
        <strong>Started :</strong>
        <span class="">{{ articleStep.startedDate|date('Y-m-d') }}</span> |
        <strong>Deadline :</strong>
        <span class="">{{ articleStep.reviewDeadline|date('Y-m-d') }}</span>
    </small>

    <h4 class="pull-right btn-group " id="workflow_days">
        {%if step.canEdit %}<a href="#" class="  editSection btn btn-warning"><i class="fa fa-edit"></i> Edit</a>{%endif%}
        {% if daysOverDue %}
            <a class="btn btn-danger">{{ daysOverDue }} days overdue</a>
        {% endif %}
        {% if daysRemaining %}
            <a class=" btn btn-info">{{ daysRemaining }} days remaining</a>
        {% endif %}
    </h4> 
    <div class="panel-body">
        <table class="table">
            {% if prevStep.action is defined and  prevStep.action %}
                <tr>
                    <td>Previous Review Result</td>
                    <td>
                        <small class="label label-info">{{  ("reviewResultCodes."~prevStep.action)|trans }}</small>
                    </td>
                </tr>
            {% endif %}
            <tr>
                <td>Submission Reference</td>
                <td>
                    <small class="badge">{{ id }}</small>
                </td>
            </tr>
        </table>
    </div> 
    {% if invitations %} 
        <div class="panel-body">
            <h4>Invited Users</h4>
            <div class="list-group">
                {% for invite in invitations %}
                    <a class="list-group-item">
                        #{{invite.userId}} {{invite.userEmail}}    
                        {% if invite.accept %}
                            <span class="label label-success">Accepted</span>
                        {% elseif invite.reject %}
                            <span class="label label-danger">Rejected</span>
                        {% else %}
                            <span class="label label-default">{{"wating"|trans}}</span>
                        {%endif%}
                    </a>
                {%endfor%}
            </div>
        </div>
    {% endif %}
    {% for lang, articleRevised in articleStep.articleRevised.articleData  %}
        <h2>
            <span class="badge">{{lang}}</span> 
            {{ articleRevised.title }}
            <span class="btn-group">
                <a id="article_search_google" target="_blank" class="btn btn-xs btn-default" title="{{ "searchon.google"|trans }}"
                   href="http://scholar.google.com.tr/scholar?q={{ articleRevised.title|url_encode }}">
                    <i class="fa fa-google"></i>
                </a>
                <a id="article_search_wiki" target="_blank" class="btn btn-xs btn-default" title="{{ "searchon.wikipedia"|trans }}"
                   href="http://en.wikipedia.org/w/index.php?search={{ articleRevised.title|url_encode }}">
                    W
                </a>
                <a id="article_search_pubmed" target="_blank" class="btn btn-xs btn-default" title="{{ "searchon.pubmed"|trans }}"
                   href="http://www.ncbi.nlm.nih.gov/pubmed?term={{ articleRevised.title|url_encode }}&cmd=search">
                    PubMed
                </a> 
                <a id="article_search_pubmed" target="_blank" class="btn btn-xs btn-default" title="{{ "searchon.doaj"|trans }}"
                   href="http://doaj.org/search?source={%raw%}{%22query%22:{%22filtered%22:{%22query%22:{%22query_string%22:{%22query%22:%22{%endraw%}{{ articleRevised.title|url_encode }}{%raw%}%22,%22default_operator%22:%22AND%22}},%22filter%22:{%22bool%22:{%22must%22:[{%22term%22:{%22_type%22:%22journal%22}}]}}}}}{%endraw%}">
                    Doaj
                </a> 
            </span>
        </h2>

        <div class="panel-body">
            <table class="table">

                <tr>
                    <td>Subjects</td>
                    <td>
                        <span class="editable">{{ article.subjects }}</span>
                        <input  name="subjects[{{lang}}]" class="form-control hide" value="{{ articleRevised.subjects }}">
                    </td>
                </tr>
                <tr>
                    <td>Keywords</td>
                    <td>
                        <span class="editable">{{ article.keywords }}</span>
                        <input name="keywords[{{lang}}]" class="form-control hide" value="{{ articleRevised.subjects }}">
                    </td>
                </tr>
                <tr>
                    <td>Abstract</td>
                    <td>
                        <span class="editable">{{ article.abstract|raw }}</span>
                        <textarea  name="abstract[{{lang}}]" class="form-control hide" >{{ articleRevised.abstract|raw }}</textarea>
                    </td>
                </tr>
                <tr>
                    <td>Section</td>
                    <td>
                        <span class="editable">{{ article.section.title|raw }}</span>
                    </td>
                </tr>
            </table>  

        {% endfor %}
        <hr>
    </div>
    <hr/>

    {% if  isJournalManager() == true or step.canSeeAuthor %}
        <h2>Authors</h2>

        <table class="table">
            {% for author in articleStep.articleRevised.authors %}
                <tr>
                    <td>
                        <span class="editable">{{ author.firstName }}</span>
                        <input style="margin:4px" name="authorFirstname[]" class="hide form-control hide" value="{{ author.firstName }}">
                        <span class="editable">{{ author.firstName }}</span>
                        <input style="margin:4px" name="authorMiddlename[]" class="hide form-control hide" value="{{ author.middleName }}">
                        <span class="editable">{{ author.firstName }}</span>
                        <input style="margin:4px" name="authorLastname[]" class="hide form-control hide" value="{{ author.lastName }}">
                        <span class="editable label label-default">{{ author.email }}</span>
                        <input style="margin:4px" name="authorEmail[]"  class="hide form-control hide" value="{{ author.email }}">

                        <span class="btn-group">
                            <a class="btn btn-xs btn-default" title="{{ "searchon.google"|trans }}"
                               href="http://scholar.google.com.tr/scholar?q={{ (author.firstName ~ " "~author.middleName ~" "~ author.lastName)|url_encode }}">
                                <i class="fa fa-google"></i>
                            </a>
                            <a class="btn btn-xs btn-default" title="{{ "searchon.wikipedia"|trans }}"
                               href="http://en.wikipedia.org/w/index.php?search={{ (author.firstName ~ " "~author.middleName ~" "~ author.lastName)|url_encode }}">
                                W
                            </a>
                        </span>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <hr/>
    {% endif %}

    <h2>Citations</h2>
    <table class="table">
        {% for citation in articleStep.articleRevised.citation %}
            <tr>
                <td>
                    <span class="editable">{{ citation.raw }}</span>
                    <input style="margin:4px" name="citationRaw[]"  class="hide form-control hide" value="{{ citation.raw }}">
                </td>
            </tr>
        {% endfor %}
    </table>

    <hr>
    <h2>Files</h2>
    <table class="table">
        {% for articlefile in article.articlefiles %}
            <tr>
                <td>
                    <span class="badge sm">#{{ articlefile.file.id }}</span>
                    <span class="label label-info">{{ fileType(articlefile.type) }}</span>
                    {{ articlefile.title }} <a href="{{ articlefile.file.id }}"><i class="fa fa-download"></i></a>
                        {% if articlefile.description %}
                        <p> {{ articlefile.description }} </p>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
    <hr>

    {% if articleStep.note %}
        <div>
            <h2>Notes</h2>
            {{articleStep.note }}
        </div>
    {% endif %}

    {% if articleStep.reviewNotes %}
        <div>
            <h2>Review Notes</h2>
            {{articleStep.reviewNotes }}
        </div>
    {% endif %}  

    <hr> 
    {% if articleStep.ownerUser and articleStep.ownerUser.username == app.user.username %}

        <div class="jumbotron">
            {% if prevStep %}
                <h3>Previous Review Report</h3>
                {{prevStep.reviewFormResults|raw}}
                <hr>
            {% endif %}
            <form class=""
                  action="{{ path("article_step_next",{id: articleStep.id }) }}"
                  method="POST">
                <textarea name="notes" placeholder="notes" class="form-control" rows="4"></textarea>
                <br> 
                {% if step.reviewForms %}
                    <div class="form-group">
                        <label>Review Form  : </label> 
                        <select name="reviewFormId" style="min-width:120px;margin-left:10px" id="reviewFormSelector" class="select2-element">
                            {% for reviewForm in step.reviewForms%}
                                <option value="{{reviewForm.id}}">{{reviewForm.title}}</option> 
                            {% endfor %}
                        </select> 
                    </div>
                    {% for reviewForm in step.reviewForms%}
                        <div class="panel panel_reviewforms" id="panel_{{reviewForm.id}}" style="{% if loop.first == false%}display:none{%endif%}">
                            <div class="panel-body"> {{ render(controller( 'OjsWorkflowBundle:ReviewForm:itemsBlock',{ 'id': reviewForm.id })) }}      </div>    
                        </div>
                    {% endfor %}

                {% endif%}

                <div class="form-inline">
                    {% if step.canReview %}
                        <select name="reviewResultCode" class="select2-element  form-control">
                            {% for i in range(0,4) %}
                                <option value="{{ i }}">
                                    {{ ("reviewResultCodes."~i~"")|trans }}
                                </option>
                            {% endfor %}
                        </select>
                    {% endif %}
                    {% if step.onlyReply %}
                        <input type="hidden" name="nextStepId" value="{{ articleStep.from.step.id }}" />
                    {%else%}
                        <select name="nextStepId" class="select2-element form-control" style="width:200px">
                            {% for nextStep in step.nextSteps %}
                                <option value="{{ nextStep.id }}">{{ nextStep.title }}</option>
                            {% endfor %}
                        </select>
                    {%endif %}
                    <div class="btn-group">
                    {% if step.canRejectSubmission %}
                        <a  href="#" class="btn btn-warning pull-right btn-lg" onclick="return confirm('{{"sure"|trans}}')">
                            <i class="fa fa-arrow-right"></i> Reject
                        </a>
                    {% endif %}
                    <button type="submit" class="btn btn-warning pull-right btn-lg" onclick="return confirm('{{"sure"|trans}}')">
                        <i class="fa fa-arrow-right"></i> End Review
                    </button>
                    </div>
                </div>

            </form>

        </div>
    {% endif %}

</div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {% javascripts '@apptour_js' output="c/apptour.js" %}
    <script type="text/javascript" src="{{ asset_url }}"></script> 
    {% endjavascripts %}
    {% javascripts  '@OjsWorkflowBundle/Resources/public/js/tour/workflow_article_tour.js' output="c/article_workflow_tour.js" %}
    {% if app.user.setting('tour.admin.workflow.article') == FALSE %}<script type="text/javascript" src="{{ asset_url }}"></script> {% endif %}
        {% endjavascripts %}
        <script>
            function toggleEditableAll(el) {
                var section = el.parent().closest('.panel-body');
                $(".editable", section).toggle();
                $(".form-control", section).toggleClass('hide');
            }

            function toggleEditableDblOne(el) {
                el.toggle();
                el.next(".form-control").toggleClass('hide');
            }

            $(document).ready(function () {
                $(".editSection").click(function () {
                    toggleEditableAll($(this));
                    return false;
                });
                $(".editable").dblclick(function () {
                    toggleEditableDblOne($(this));
                    return false;
                });
                $('.select2-element').select2({placeholder: '', allowClear: true, closeOnSelect: false});
                $('#reviewFormSelector').on("change", function (e) {
                    $(".panel_reviewforms").hide();
                    $("#panel_" + $("#reviewFormSelector").val()).show();
                });

            });
        </script>
        {% endblock %}




