{% extends '::ojsbase.html.twig' %}

{% block breadcrumb %} 
    {{breadcrumb([ {'link': path('dashboard'), 'title': 'dashboard'|trans}, { 'title': 'workflow'|trans} ])}}
{% endblock %}


{% block body -%}

    <div class="panel">
        <div class="panel-body">
            <span>
                Started : 
                <span class="label label-success">{{articleStep.startedDate|date('Y-m-d H:i:s') }}</span>
                <br>
                Deadline :         
                <span class="label label-success">{{articleStep.reviewDeadline|date('Y-m-d H:i:s') }}</span>
            </span>

            <h1>{{"article.singular"|trans}} 
                <small class="badge">{{id}}</small> 

                {% if daysRemaining %}
                    <span class="pull-right label label-info">{{daysRemaining}} days remaining</span>
                {% endif %}

                {% if daysOverDue %}
                    <span class="pull-right label label-danger">{{daysOverDue}} days overdue</span>
                {% endif %}
            </h1>

            <div class="panel-body">
                <table class="table">
                    <tr>
                        <td>Title</td>
                        <td>{{article.title}}</td>
                    </tr>
                    <tr>
                        <td>Subjects</td>
                        <td>{{article.subjects}}</td>
                    </tr>
                    <tr>
                        <td>Keywords</td>
                        <td>{{article.keywords}}</td>
                    </tr>
                    <tr>
                        <td>Abstract</td>
                        <td>{{article.abstract|raw}}</td>
                    </tr>  
                </table>
                <hr>
            </div>
            <hr />

            {% if step.canSeeAuthor %}
                <h2>Authors</h2>

                <table class="table">
                    {% for articleAuthor in article.articleAuthors %}
                        <tr> 
                            <td>
                                {{ articleAuthor.author.fullName }}
                                <span class="btn-group">
                                    <a class="btn btn-xs btn-default" title="Search on google"
                                       href="http://scholar.google.com.tr/scholar?q={{ articleAuthor.author.fullName|url_encode }}">
                                        <i class="fa fa-google"></i>
                                    </a>
                                    <a class="btn btn-xs btn-default" title="Search on Wikipedia"
                                       href="http://en.wikipedia.org/w/index.php?search={{ articleAuthor.author.fullName|url_encode }}">
                                        W
                                    </a>
                                </span>
                                <span class="label label-default">{{articleAuthor.author.email}}</span>
                            </td>
                        </tr>
                    {% endfor%}
                </table>
                <hr/>
            {% endif %}

            <h2>Citations</h2>
            <table class="table">
                {% for citation in article.citations %}
                    <tr> 
                        <td>{{citation.raw}}</td>
                    </tr>
                {% endfor%}
            </table>

            <hr>
            <h2>Files</h2>
            <table class="table">
                {% for articlefile in article.articlefiles %}
                    <tr> 
                        <td>
                            <span class="badge sm">#{{articlefile.file.id}}</span> 
                            <span class="label label-info">{{fileType(articlefile.type)}}</span>
                            {{articlefile.title}} <a href="{{articlefile.file.id}}"><i class="fa fa-download"></i></a>
                                {% if articlefile.description %}
                                <p> {{articlefile.description}} </p>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor%}
            </table>
            <hr>


            <div class="jumbotron">

                <textarea placeholder="notes" class="form-control" rows="4"></textarea>
                <br><br>
                <select class="select2-element lg" style="width:200px">
                    {% for nextStep in step.nextSteps %}
                        <option>{{ nextStep.title }}</option>
                    {%endfor%}
                </select>

                <a class="btn btn-warning pull-right btn-lg">Next</a> 
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block javascripts %}
    {{parent()}}
    <script>
        $(document).ready(function () {
            $('.select2-element').select2({placeholder: '', allowClear: true, closeOnSelect: false});
        });
    </script>
{% endblock %}