{% extends '::vipabase.html.twig' %}
{% set hideleft = true %}
{% block title %}{{ 'title.user_welcome'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    <h1 class="text-center">
        {{ breadcrumb([{ 'title': 'title.user_welcome'|trans }]) }}
    </h1>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('vendor/c3/c3.min.css') }}"/>
{% endblock %}

{% block body %}
    {% include '::flashbag.html.twig' %}
    <div class="panel panel-success">
        <div class="panel-heading">
            <h4>
                <i class="fa fa-random"></i>
                {{ 'admin.dashboard.switcher.title'|trans }}
            </h4>
        </div>
        <div class="panel-body">
            {% if switcher %}
                {{ form(switcher) }}
            {% elseif journalUsers|length > 0 %}
                {% for user in journalUsers %}
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <a href="{{ path('vipa_journal_dashboard_index', {'journalId': user.journal.id}) }}"
                               class="btn btn-success btn-block">
                                <i class="fa fa-arrow-right pull-right"></i>
                                {{ user.journal.title }}
                            </a>
                        </div>
                        <div class="panel-body">
                            {% for role in user.roles %}
                                {{ role.name|trans }}
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="alert alert-warning">
                    {{ "journal.no_journal_you_have"|trans }}
                    <hr/>
                    <a class="btn btn-default btn-block" href="{{ path('vipa_site_explore_index') }}"><i
                                class="fa fa-compass fa-fw"></i>{{ "explore"|trans }}</a>
                </div>
            {% endif %}
        </div>
    </div>

    {% if articles %}

        <div class="panel panel-success">
            <div class="panel-heading toggle-body">
                <i class="fa fa-archive fa-fw"></i> {{ "title.article_my"|trans }}
                <i class="pull-right fa fa-angle-double-up"></i>
            </div>

            <div class="panel-body">
                <table class="table table-bordered table-striped">
                    <tr>
                        <th>{{ 'title.journal'|trans }}</th>
                        <th>{{ 'title.article'|trans }}</th>
                        <th>{{ 'status'|trans }}</th>
                        <th>{{ 'submissionDate'|trans }}</th>
                        <th>{{ 'actions'|trans }}</th>
                    </tr>

                    {% for article in articles %}
                        <tr>
                            <td>{{ article.journal.title }}</td>
                            <td>{{ article.title }}</td>
                            <td>{{ article.statusText|trans }}</td>
                            <td>{{ article.submissionDate|date('Y-m-d H:i:s') }}</td>
                            <td>
                                {% if article.statusText ==  'status.not_submitted' %}
                                    <a href="{{ path('vipa_journal_submission_edit', {journalId: article.journal.id, id: article.id}) }}"
                                       class="btn btn-warning btn-xs" data-toggle="tooltip" title="{{ 'edit'|trans }}">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                    <a href="{{ path('vipa_journal_submission_cancel', {journalId: article.journal.id, id: article.id}) }}"
                                       class="btn btn-danger btn-xs" data-toggle="tooltip" title="{{ 'delete'|trans }}" data-method="delete" data-confirm="{{ 'sure'|trans }}">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                {% elseif article.statusText ==  'status.inreview' %}
                                    {{ twigEventDispatch({'event_name': 'VIPA_USER_ARTICLE_ACTIONS', 'article': article})|raw }}
                                {% elseif article.statusText ==  'status.published' %}
                                    {% if article.issue is not null %}
                                        <a href="{{ path('vipa_article_page', {
                                            slug: article.journal.slug,
                                            issue_id: article.issue.id,
                                            article_id: article.id
                                        }) }}"
                                           target="_blank" class="btn btn-primary btn-xs" data-toggle="tooltip" title="{{ 'view'|trans }}">
                                            <i class="fa fa-external-link"></i>
                                        </a>
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    {% endif %}
    {% if data.articlesMonthly %}

        <div class="panel panel-success">
            <div class="panel-heading toggle-body">
                <i class="fa fa-bar-chart-o fa-fw"></i> {{ "stats"|trans }}
                <i class="pull-right fa fa-angle-double-up"></i>
            </div>

            <div class="panel-body">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#article" aria-controls="home" role="tab"
                                                              data-toggle="tab">{{ "title.articles"|trans }}</a></li>
                    <li role="presentation"><a href="#articleFile" aria-controls="profile" role="tab"
                                               data-toggle="tab">{{ "title.article_files"|trans }}</a></li>
                </ul>
                <div id="statistics" class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="article">
                        <div id="articles"></div>
                        <h3>{{ "stats.most_viewed_articles"|trans }}</h3>
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#articleMonthly" aria-controls="home"
                                                                      role="tab"
                                                                      data-toggle="tab">{{ "stats.this_month"|trans }}</a>
                            </li>
                            <li role="presentation"><a href="#articleAllTime" aria-controls="profile" role="tab"
                                                       data-toggle="tab">{{ "stats.all_time"|trans }}</a></li>
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade in active" id="articleMonthly">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>{{ "article.title"|trans }}</th>
                                        <th>{{ "stats.views"|trans }}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for article in data.articlesMonthly %}
                                        <tr>
                                            <td>{{ article[0] }}</td>
                                            <td>{{ article[1] }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="articleAllTime">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>{{ "article.title"|trans }}</th>
                                        <th>{{ "stats.views"|trans }}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for article in data.articles %}
                                        <tr>
                                            <td>{{ article[0] }}</td>
                                            <td>{{ article[1] }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="articleFile">
                        <div id="articleFiles"></div>
                        <h3>{{ "stats.most_downloaded_article_files"|trans }}</h3>
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#articleFileMonthly" aria-controls="home"
                                                                      role="tab"
                                                                      data-toggle="tab">{{ "stats.this_month"|trans }}</a>
                            </li>
                            <li role="presentation"><a href="#articleFileAllTime" aria-controls="profile" role="tab"
                                                       data-toggle="tab">{{ "stats.all_time"|trans }}</a></li>
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade in active" id="articleFileMonthly">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <td></td>
                                        <td>{{ "stats.downloads"|trans }}</td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for articleFile in data.articleFilesMonthly %}
                                        <tr>
                                            <td>{{ articleFile[0] }}</td>
                                            <td>{{ articleFile[1] }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="articleFileAllTime">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <td></td>
                                        <td>{{ "stats.downloads"|trans }}</td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for articleFile in data.articleFiles %}
                                        <tr>
                                            <td>{{ articleFile[0] }}</td>
                                            <td>{{ articleFile[1] }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block javascripts -%}
    {{ parent() }}
    <script src="{{ asset('vendor/d3/d3.min.js') }}"></script>
    <script type="text/javascript">
        var data = {{ data.stats|raw }};
        analytics.createChart('#articles', data['articleViews']);
        analytics.createPieChart('#articleFiles', data['articleFileDownloads']);
    </script>
{% endblock %}

