{% extends '::vipabase.html.twig' %}
{% set hideleft = true %}
{% block title %}{{ 'title.publisher_theme_edit'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
        {'link': path('vipa_user_index'), 'title': 'user_page'|trans},
    {'link': path('vipa_publisher_manager_theme_index', {publisherId: publisher.id}),'title': 'title.publisher_theme'|trans},
    {'title': 'title.publisher_theme_edit'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    <h1>{{ "publishertheme.edit"|trans }}</h1>
    {% include '::flashbag.html.twig' %}
    {{ form(edit_form) }}
    {# @todo revise there
    {% set back_path = 'vipa_publisher_manager_theme_index' %}
    {% if isGrantedForPublisher() %}
        {% set delete_path = 'vipa_publisher_manager_theme_delete' %}
    {% endif %}
    {% include '::actionbuttons.html.twig' %}
    #}
    {{ getLogs(entity) }}
{% endblock %}
