{% extends '::vipabase.html.twig' %}
{% set hideleft = true %}
{% block title %}{{ 'title.publisher_theme_new'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
        {'link': path('vipa_user_index'), 'title': 'user_page'|trans},
    {'link': path('vipa_publisher_manager_theme_index', {publisherId: publisher.id}),'title': 'title.publisher_theme'|trans},
    {'title': 'title.publisher_theme_new'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    <h1>{{ "publishertheme.new"|trans }}</h1>

    <a href="{{ path('vipa_publisher_manager_theme_index', {publisherId: publisher.id}) }}">{{ "b"|trans }}</a>
    {{ form(form) }}
{% endblock %}
