{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.boards'|trans }} {{ parent() }}{% endblock %}
{% set hideleft = 1 %}
{% block stylesheets %}
    {{ parent() }}

    <style type="text/css">
        .float-left {
            float: left;
            margin-right: 10px;
        }
    </style>
{% endblock %}

{% block breadcrumb %}
    {% set list = [
    {'link': path('ojs_public_index'), 'title': project_name},
    {'link':generateJournalUrl(journal), 'title': journal.title},
    {'title': "board"|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body %}

<div class="container">
    <br>
    <!-- The carousel -->
    <div class="page-header">
        <img
                {% if journal.image is not null %}
                    src="{{ journal.image|imagine_filter('journal_croped') }}" class="img-responsive img-rounded float-left"
                {% else %}
                    src="#" class="img-responsive img-rounded float-left tri"
                {% endif %}
                alt="{{ 'cover_image'|trans }} " width="200" height="300"/>

        <div>
            <h1>{{ journal.title }}</h1>
            <h6>{{ journal.subtitle }}</h6>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="row">
        <div class="col-md-9 col-sm-8">
            {% if board is defined and board is not null and board|length>0 %}
            {% for board_item in board %}
            <div class="panel panel-default">

                <div class="panel-heading text-center">
                    <h4>
                        {{ board_item.name }}
                        <small>{{ board_item.description }}</small>
                    </h4>
                </div>
                <div class="panel-body row">
                    {% if board_members[board_item.id] is defined and board_members[board_item.id]|length>0 %}
                        {% for board_member in board_members[board_item.id] %}
                            {% set person = board_member.user %}
                            <div class="col-sm-8 col-sm-push-2" style="margin-bottom: 20px;">
                                <div class="col-sm-10">
                                    <address>
                                        <h4>
                                            <a href="{{ path('ojs_user_profile', {slug: person.username}) }}">
                                                {{ person.fullName }}
                                            </a>
                                        </h4>
                                        {% if person.country is not empty %}
                                            <h6>
                                                {{ person.country }}
                                            </h6>
                                        {% endif %}
                                        {% if board_member.showMail %}
                                            <h6>
                                                <a href="mailto:{{ person.email }}">
                                                    {{ person.email }}
                                                </a>
                                            </h6>
                                        {% endif %}
                                        {% if person.subjects|length>0 %}
                                            <h6>
                                                <i>{{ 'subjects'|trans }}</i>:
                                                {{ person.subjects|join(',') }}
                                            </h6>
                                        {% endif %}
                                        {% if person.about is not empty %}
                                            <h6>
                                                <i>{{ 'about'|trans }}</i>:
                                                {{ person.about }}
                                            </h6>
                                        {% endif %}
                                        {% if (person.institutionNotListed == true) or (person.institution is not empty)  %}
                                            <h6>
                                                <i>{{ 'institution'|trans }}</i>:
                                                {% if person.institutionNotListed %}
                                                    {{ person.institutionName }}
                                                {% else %}
                                                    {{ person.institution }}
                                                {% endif %}
                                            </h6>
                                        {% endif %}
                                    </address>
                                </div>
                                <div class="col-sm-2">
                                    {% if person.avatar is defined and person.avatar is not null %}
                                        <img src="{{ person.avatar|imagine_filter('user_croped') }}" style="width: 100px; height: 100px;" class="img-circle"/>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>

            {% endfor %}
            {% endif %}
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
            {% include 'OjsSiteBundle:Journal:journal_right_block.html.twig' %}
        </div>
    </div>
</div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        analytics.increase('journal', {{ journal.id }})
    </script>
{% endblock %}
