{% extends "::ojsbase.html.twig" %}
{% set hideleft = 1 %}
{% block breadcrumb %}{% endblock %}
{% block body %}
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="/">Ojs</a></li>
            <li><a href="{{ url('ojs_journals_index') }}">{{ "Journals"|trans }}</a></li>
            <li class="active">{{ "List"|trans }}</li>
        </ol>
        <div class="row">
            <div class="col-sm-3 col-md-3">
                <div class="panel-group">
                    {% if institutionObject is not defined %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <span class="fa fa-folder"></span> {{ "institutiontype.plural"|trans }}
                            </h4>
                        </div>

                        <ul class="list-group" id="institution_types">
                            {% for institution_type in aggregations.institution %}
                                <li class="list-group-item">
                                    <a href="{{ url('ojs_journals_index',{filter:filter|merge({institution:institution_type.data.id})}) }}">
                                        {{ institution_type.data.name }}
                                    </a>
                                    <span class="badge">{{ institution_type.bucket.doc_count }}</span>
                                    {% if filter['institution'] is defined and filter['institution']==institution_type.data.id %}
                                        <a title="{{ "filter.remove"|trans }}" href="{{ url('ojs_journals_index',{filter:filter|merge({institution:null})}) }}" class="btn btn-danger btn-xs"><i class="fa fa-close"></i></a>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <span class="fa fa-th"></span> {{ "subject.plural"|trans }}
                            </h4>
                        </div>
                        <ul class="list-group">
                            {% for subject in aggregations.subject %}
                                <li class="list-group-item">
                                    <a href="{{ path("ojs_journals_index" ,{filter:filter|merge({subject:subject.data.id})}) }}">{{ subject.data.subject }}</a>
                                    <span class="badge">{{ subject.bucket.doc_count }}</span>

                                    {% if filter['subject'] is defined and filter['subject']==subject.data.id %}
                                        <a title="{{ "filter.remove"|trans }}" href="{{ url('ojs_journals_index',{filter:filter|merge({subject:null})}) }}" class="btn btn-danger btn-xs"><i class="fa fa-close"></i></a>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                </div>
            </div>
            <div class="col-sm-9 col-md-9">
                <div class="row">
                    {% for journal in result %}
                        <div class="col-sm-3 col-md-3">
                            <div class="post">
                                <div class="post-img-content">
                                    <a href="{{ url('ojs_journal_index',{slug: journal.slug, institution: journal.institution.slug}) }}">
                                        <img src="{{ ('/uploads/journalfiles/'~imagePath(journal.image))|imagine_filter('journal_cover') }}"
                                             data-src="holder.js/200x300/random/text:{{ journal.title }}"
                                             class="img-responsive img-rounded float-left" alt=""/>
                                    </a>
                                </div>

                                <div class="content">
                                    <span class="post-title"><b>{{ journal.title }}</b></span>
                                    {% if journal_detail_box is defined %}
                                        <div>
                                            <a href="{{ url('ojs_journal_index',{slug: journal.slug, institution: journal.institution.slug}) }}"
                                               class="btn-link btn-sm">
                                                <i class="fa fa-link"></i> Dergi</a>
                                            <a href="{{ url('ojs_last_articles_index',{slug: journal.slug,institution: journal.institution.slug}) }}"
                                               class="btn-link btn-sm">
                                                <i class="fa fa-bookmark-o"></i> Son Sayı</a>
                                        </div>

                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="alert alert-info">
                            No Content
                        </div>
                    {% endfor %}
                </div>
                {% if page_count>0 %}
                    <div class="row">

                        <ul class="pagination ">
                            {% if page_count>1 and current_page!=1 %}
                                <li>
                                    <a href="{{ url('ojs_journals_index',{page:current_page-1 }) }}">
                                        <span aria-hidden="true">&laquo;</span><span class="sr-only"></span></a>
                                </li>
                            {% endif %}

                            {% for p in 1..page_count %}
                                <li>
                                    <a href="{{ url('ojs_journals_index',{page:p }) }}">{{ p }}</a>
                                </li>
                            {% endfor %}
                            {% if page_count>1 and current_page!=page_count %}
                                <li>
                                    <a href="{{ url('ojs_journals_index',{page:current_page+1}) }}">
                                        <span aria-hidden="true">&raquo;</span><span class="sr-only"></span>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                {% endif %}
            </div>

        </div>
    </div>

{% endblock %}
