{% extends "::ojsbase.html.twig" %}
{% set hideleft = 1 %}
{% block breadcrumb %}{% endblock %}
{% block body %}

    <div class="container">
        {% block journalheader %}
            <div id="header">
                {% set imageoptions=getImageOptions(journal,'header','journal_header') %}
                <img src="{{ ('/uploads/journalfiles/'~imagePath(journal.header))|imagine_filter('journal_header',{"crop":{"start":[imageoptions.x,imageoptions.y],"size":[imageoptions.width,imageoptions.height] }}) }}"
                     data-src="holder.js/1400x100/random/text:{{ journal.title }}/size:11/font:Arial/#34465D:#ffffef" alt="" class="img-responsive"/>
                <div class="col-md-12">
                    <dl class="journal-meta">
                        {% if journal.issn %}
                            <dt>ISSN</dt>
                            <dd>{{ journal.issn }}</dd>
                        {% endif %}
                        {% if journal.eissn %}
                            <dt>e-ISSN</dt>
                            <dd>{{ journal.eissn }}</dd>
                        {% endif %}
                        <dt>{{ "journal_langs"|trans }}</dt>
                        <dd>{% for language in journal.languages %}<span
                                class="badge badge-success">{{ language.name }}</span> {% endfor %}</dd>
                        <dt>{{ "first_publish_date"|trans }}</dt>
                        <dd>{{ journal.firstPublishDate|date('Y-m-d') }}</dd>
                        <dt>{{ "period"|trans }}</dt>
                        <dd>{{ journal.period }}</dd>
                        <!--
                        {% if journal.country %}
                        <dt>{{ "country"|trans }}</dt>
                        <dd>{{ journal.country }}</dd>
                        {% endif %}
                        -->
                    </dl>
                </div>
                <h1>{{ journal.title }}
                    {% if journal.url %}
                        <a href="{{ journal.url }}" target="_blank"><small>{{ journal.url }}</small></a>
                    {% endif %}
                </h1>
                <h6> {{ journal.titleAbbr }}  </h6>
                <!--
                <h6>{{ journal.subtitle }}
                    <small>{{ journal.titleTransliterated }}</small>
                </h6>
                -->
            </div>
        {% endblock %}
        <div class="row">
            <div class="col-md-2">
                {% set imageoptions=getImageOptions(journal,'cover','journal_cover') %}

                <img src="{{ ('/uploads/journalfiles/'~imagePath(journal.image))|imagine_filter('journal_cover',{"crop":{"start":[imageoptions.x,imageoptions.y],"size":[imageoptions.width,imageoptions.height] }}) }}"
                     data-src="holder.js/120x180/random/text:{{ journal.title }}"
                     class="img-responsive img-rounded float-left" alt=""/>
            </div>
            <div class="col-md-4">
                <h5>{{ "scope"|trans }}</h5>

                <p>
                    {{ journal.scope }}
                </p>
            </div>
            <div class="col-md-3">

                <h5>{{ "mission"|trans }}</h5>

                <p>
                    {{ journal.mission }}
                </p>
            </div>
            <div class="col-md-3">


                <div class="list-group journal-stats">
                    <div class="list-group-item ">
                        <form   role="search" action="/search" method="get">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="{{"search"|trans}}" name="q">
                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <a href="{{ url('ojs_archive_index',{slug: journal.slug, institution: journal.institution.slug}) }}"
                       class="list-group-item "><h4><i class="fa fa-archive"></i> {{ "archive"|trans }}</h4></a>

                    <a href="#" class="list-group-item visitor">
                        <h3 class="pull-right">
                            <i class="fa fa-eye"></i>
                        </h3>
                        <h4 class="list-group-item-heading count">
                            {{random(10000)}}</h4>

                        <p class="list-group-item-text">
                            Article Views</p>
                    </a>
                    <a href="#" class="list-group-item visitor">
                        <h3 class="pull-right">
                            <i class="fa fa-download"></i>
                        </h3>
                        <h4 class="list-group-item-heading count">
                            {{random(10000)}}</h4>

                        <p class="list-group-item-text">
                            Article Downloads</p>
                    </a>
                    {% if enable_social is defined  %}
                    <a href="#" class="list-group-item facebook-like">
                        <h3 class="pull-right">
                            <i class="fa fa-facebook-square"></i>
                        </h3>
                        <h4 class="list-group-item-heading count">
                            {{random(10000)}}</h4>

                        <p class="list-group-item-text">
                            Facebook Likes</p>
                    </a>
                    <a href="#" class="list-group-item google-plus">
                        <h3 class="pull-right">
                            <i class="fa fa-google-plus-square"></i>
                        </h3>
                        <h4 class="list-group-item-heading count">
                            {{random(10000)}}</h4>

                        <p class="list-group-item-text">
                            Google+</p>
                    </a>
                    <a href="#" class="list-group-item twitter">
                        <h3 class="pull-right">
                            <i class="fa fa-twitter-square"></i>
                        </h3>
                        <h4 class="list-group-item-heading count">
                            1000</h4>

                        <p class="list-group-item-text">
                            Twitter Followers</p>
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
        <hr/> 
        <div class="row">

            <div class="col-md-12">
                <h4 class="page-header"><span class="panel-title">{{ "issues"|trans }}</span></h4>

                <div class="col-md-4">

                    <div id="issuetree">
                        <ul>
                            {% for volume in volumes %}
                                <li>
                                    {{ "Volume"|trans }} {{ volume.volume }}
                                    - {{ volume.issues|length }} {{ "Issues " }}
                                    <ul>
                                        {% for issue in volume.issues %}
                                            <li>
                                                <a href="{{ url('ojs_issue_page',{institution: issue.journal.institution.slug,id: issue.id}) }}">{{ "Issue"|trans }} {{ issue.title }} {{ issue.datePublished|date("M Y") }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                </div>
                <div class="col-md-8" id="issue-container">

                    <div class="panel panel-default">
                        <div class="panel-heading"><strong>{{ last_issue.title }}</strong>
                            - {{ last_issue.datePublished|date("M Y") }}</div>
                        <div class="panel-body">
                            <ul>
                                {% for article in last_issue.articles %}
                                    <li><a href="{{ url('ojs_article_page',{slug:article.journal.slug,article_slug:article.slug,institution:article.journal.institution.slug}) }}">{{ article.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>

                        </div>
                    </div>

                </div>

            </div>

        </div>

        <div class="row">
            <div class="col-md-12">
                <h4 class="page-header"><span class="panel-title">{{ "editorial"|trans }}</span></h4>

                <p>
                    {% for key,user in users %}
                        <strong>{{ key|trans }}</strong> <br/>
                        {% for u in user %}
                            {{ u.title }} {{ u.fullName }}<br/>
                        {% endfor %}
                        <br/>
                    {% endfor %}
                </p>
            </div>
        </div>
        {% include 'OjsSiteBundle:Journal:journal_right_block.html.twig' %}

    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        analytics.increase('journal', {{ journal.id }})
    </script>
{% endblock %}
