{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.journal'|trans }} {{ parent() }}{% endblock %}
{% set hideleft = 1 %}
{% block stylesheets %}
    {{ parent() }}

    <style type="text/css">
        .margin-bot {
            margin-bottom: 10px;
        }
    </style>
{% endblock %}

{% if isInstitutionHosting is defined %}
    {% set journalUrl = url('institution_hosting_journal_index',{slug:journal.slug}) %}
{% elseif isJournalHosting is defined %}
    {% set journalUrl = url('journal_institution_hosting') %}
{% else %}
    {% set journalUrl = generateJournalUrl(journal) %}
{% endif %}

{% block breadcrumb %}
    {% set list = [
    {'link': path('ojs_public_index'), 'title': 'ojs.title'|trans},
    {'link': journalUrl, 'title': journal.title}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body %}
    <div class="container">
        {% if design is defined and design is not null %}
            {% include template_from_string(design.content) %}
        {% else %}
            {% block journalheader %}
                <div id="header">
                    {% if journal.header %}
                        <div class="col-md-12"><img
                                    src="{{ journal.header|imagine_filter('journal_header') }}"
                                    data-src="holder.js/1400x100/random/text:{{ journal.title }}/size:11/font:Arial/#34465D:#ffffef"
                                    class="width100 img-responsive"/>
                        </div>
                    {% endif %}
                    <h1>{{ journal.title }}</h1>
                    <div class="col-md-12">
                        {% include '::flashbag.html.twig' %}
                        <dl class="journal-meta">
                            {% if journal.issn %}
                                <dt>ISSN</dt>
                                <dd>{{ journal.issn }}</dd>
                            {% endif %}
                            {% if journal.eissn %}
                                <dt>e-ISSN</dt>
                                <dd>{{ journal.eissn }}</dd>
                            {% endif %}

                            {% if journal.period %}
                                <dt>{{ "period"|trans }}</dt>
                                <dd>{{ journal.period }}</dd>
                            {% endif %}
                            <!--
                            {% if journal.country %}
                            <dt>{{ "country"|trans }}</dt>
                            <dd>{{ journal.country }}</dd>
                            {% endif %}
                            -->
                        </dl>
                    </div>
                    <!--
                    <h6> {{ journal.titleAbbr }}  </h6>
                    <h6>{{ journal.subtitle }}
                        <small>{{ journal.titleTransliterated }}</small>
                    </h6>
                    -->
                </div>
            {% endblock %}
            <div class="row">
                <div class="col-md-2 col-sm-3 col-xs-8 col-xs-offset-2 col-sm-offset-0 margin-bot">
                    <img
                        {% if journal.image is not null %}
                        src="{{ journal.image|imagine_filter('journal_cover') }}"
                        {% else %}
                        src="#"
                        {% endif %}
                         data-src="holder.js/253x180/random/text:{{ journal.title }} "
                         class="img-responsive img-rounded float-left" alt=""/>

                    <a href="#" class="list-group-item ">
                        <span class="pull-right">

                        </span>
                        <span class="row-fluid">
                            <span class="col-md-6 nopadding">
                                <span class="list-group-item-heading count"><i class="fa fa-eye"></i> {{ journal.viewCount|number_format(0,'.','.') }}</span>
                            </span>
                            <span class="col-md-6 nopadding">
                                <span class="list-group-item-heading count"><i class="fa fa-download"></i> {{ journal.downloadCount|number_format(0,'.','.') }} </span>
                            </span>
                            <span class="clearfix"></span>
                        </span>
                    </a>
                </div>
                <div class="col-md-7 col-sm-5 margin-bot">
                    {% if journal.url %}
                        <a href="{{ journal.url }}" target="_blank">
                            <small>{{ journal.url }}</small>
                        </a>
                    {% endif %}
                    {{ journal.description|raw }}
                </div>
                <div class="col-md-3 col-sm-4">


                    <div class="list-group journal-stats">
                        <div class="list-group-item ">
                            <form role="search" action="{{ url('ojs_journal_index_search',{institution: journal.institution.slug, slug: journal.slug}) }}" method="get" id="search_on_journal">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="{{ "search.on.journal"|trans }}" name="q">

                                    <div class="input-group-btn">
                                        <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <a href="//{{ base_host }}{{ path('ojs_journal_submission_start',{"journalId":journal.id}) }}"
                           class="list-group-item list-group-item-success"><h5><i
                                        class="fa fa-plus-circle"></i> {{ "article.submit"|trans }}</h5>
                        </a>


                        <a href="" class="list-group-item "><h5><i class="fa fa-file-o"></i> {{ "about"|trans }}</h5>
                        </a>

                        <a href="{% if isInstitutionHosting is defined %}
                                    {{ url('institution_hosting_journal_archive',{slug: journal.slug}) }}
                                {% elseif isJournalHosting is defined %}
                                    {{ url('journal_hosting_archive') }}
                                {% else %}
                                    {{ url('ojs_archive_index',{slug: journal.slug, institution: journal.institution.slug}) }}
                                {% endif %}"
                           class="list-group-item "><h5><i class="fa fa-archive"></i> {{ "archive"|trans }}</h5>
                        </a>

                        <a href="{{ url('ojs_journal_contacts',{slug: journal.slug, institution: journal.institution.slug}) }}"
                           class="list-group-item "><h5><i class="fa fa-phone"></i> {{ "journalcontact.singular"|trans }}
                            </h5>
                        </a>
                        <a href="{{ url('ojs_announcement_index',{slug: journal.slug, institution: journal.institution.slug}) }}"
                           class="list-group-item "><h5><i class="fa fa-newspaper-o"></i> {{ "announcements"|trans }}</h5>
                        </a>
                        <div class="list-group-item ">
                            <form role="search" action="{{ path('ojs_journal_subscribe',{slug: journal.slug, institution: journal.institution.slug}) }}" method="post">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="{{ "subscribe.this.journal"|trans }}" name="mail">

                                    <div class="input-group-btn">
                                        <button class="btn btn-default" type="submit"><i class="fa fa-send"></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>


                        {% if enable_social is defined %}
                            <a href="#" class="list-group-item facebook-like">
                                <h3 class="pull-right">
                                    <i class="fa fa-facebook-square"></i>
                                </h3>
                                <h5 class="list-group-item-heading count">
                                    {{ random(10000) }}</h5>

                                <p class="list-group-item-text">
                                    Facebook Likes</p>
                            </a>
                            <a href="#" class="list-group-item google-plus">
                                <h3 class="pull-right">
                                    <i class="fa fa-google-plus-square"></i>
                                </h3>
                                <h5 class="list-group-item-heading count">
                                    {{ random(10000) }}</h5>

                                <p class="list-group-item-text">
                                    Google+</p>
                            </a>
                            <a href="#" class="list-group-item twitter">
                                <h3 class="pull-right">
                                    <i class="fa fa-twitter-square"></i>
                                </h3>
                                <h5 class="list-group-item-heading count">
                                    1000</h5>

                                <p class="list-group-item-text">
                                    Twitter Followers</p>
                            </a>
                        {% endif %}
                    </div>
                    <div class="list-group">
                        {% for index in journal.journalsIndexs %}
                            <div class="list-group-item">
                                <a href="{{ index.link }}" target="_blank">
                                    <h5>
                                        {% if index.journalIndex.logo %}
                                            <img src="{{ index.journalIndex.logo|imagine_filter('journalindex_logo') }}"
                                                 alt="{{ index.journalIndex }}"/>
                                        {% endif %}
                                        {{ index.journalIndex.name }}
                                    </h5>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-12">
                    <h5 class="page-header"><span class="panel-title">{{ "journal_index.issues"|trans }}</span></h5>
                </div>

                <div class="col-md-9 col-sm-8">
                    <div class="row">
                        <div class="col-md-5 col-sm-12 margin-bot">
                            <div id="issuetree">
                                <ul>
                                    {% for key, issues in years %}
                                        <li>
                                            <h4 title=" {{ "year"|trans }}"> {{ key }}</h4>

                                            <ul>
                                                {% for issue in issues %}
                                                    <li>
                                                        <a href="
                                                {% if isInstitutionHosting is defined %}
                                                    {{ url('institution_hosting_journal_issue',{journal_slug:journal.slug,id: issue.id}) }}
                                                {% elseif isJournalHosting is defined %}
                                                    {{ url('journal_hosting_issue',{id: issue.id}) }}
                                                {% else %}
                                                    {{ url('ojs_issue_page',{journal_slug:journal.slug,id: issue.id, institution: journal.institution.slug}) }}
                                                {% endif %}">
                                                            {{ "volume"|trans }}  {{ issue.volume }}
                                                            - {{ "issue.number"|trans }} {{ issue.number }}
                                                            {% if issue.special %}
                                                            <span class="label label-success">
                                                            <i class="fa fa-star"
                                                               title="{{ "special.issue"|trans }}"></i>
                                                                {{ "special.issue"|trans }}
                                                        </span>
                                                            {% endif %}&nbsp;
                                                        </a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    {% endfor %}

                                </ul>
                                <a class="btn btn-primary "
                                   href="{% if isInstitutionHosting is defined %}
                                    {{ url('institution_hosting_journal_archive',{slug: journal.slug}) }}
                                {% elseif isJournalHosting is defined %}
                                    {{ url('journal_hosting_archive') }}
                                {% else %}
                                    {{ url('ojs_archive_index',{slug: journal.slug, institution: journal.institution.slug}) }}
                                {% endif %}">
                                    <i class="fa fa-arrow-right"></i>{{ "archive"|trans }}</a>

                            </div>
                        </div>
                        <div class="col-md-7 col-sm-12" id="issue-container">
                            {% if last_issue %}
                                <div class="panel panel-default">
                                    <div class="panel-heading"><strong>{{ last_issue.title }}</strong>
                                        {{ "issue.number"|trans }} {{ last_issue.number }} {{ "volume"|trans }} {{ last_issue.volume }}
                                        - {{ last_issue.datePublished|localizeddate("medium",'none',null,null,'MMM Y') }}
                                        <span class="badge badge-warning pull-right">{{ "read.lastissue"|trans }}</span>
                                    </div>
                                    <div class="panel-body">
                                        <ul>
                                            {% for article in last_issue.articles[:10] %}
                                                <li>
                                                    <a href="
                                            {% if isInstitutionHosting is defined %}
                                                {{ url('institution_hosting_journal_issue_article',{slug:journal.slug,issue_id:article.issue.id  , article_id:article.id}) }}
                                            {% elseif isJournalHosting is defined %}
                                                {{ url('journal_hosting_issue_article',{issue_id:article.issue.id  , article_id:article.id}) }}
                                            {% else %}
                                                {{ url('ojs_article_page',{slug:journal.slug,issue_id:article.issue.id  , article_id:article.id,institution:journal.institution.slug}) }}
                                            {% endif %}">{{ article.title }}</a>
                                                </li>
                                            {% endfor %}
                                        </ul>

                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-4">
                    {% include 'OjsSiteBundle:Journal:journal_right_block.html.twig' %}
                </div>
            </div>
        {% endif %}
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        analytics.increase('journal', {{ journal.id }})
    </script>
    {% if journal.googleAnalyticsId is not null %}
        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                        m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', '{{ journal.googleAnalyticsId }}', 'auto');
            ga('send', 'pageview');
        </script>
    {% endif %}
{% endblock %}
