{% extends "::ojsbase.html.twig" %}
{% set hideleft = 1%}

{%block breadcrumb %}{% endblock %}
{% block body %}

    <div class="container">

        <div class="row">
            <div class="col-md-12 text-center">
                {% set imageoptions=getImageOptions(journal,'header') %}

                <img src="{{ ('/uploads/journalfiles/'~imagePath(journal.header))|imagine_filter('journal_header',{"crop":{"start":[imageoptions.x,imageoptions.y],"size":[imageoptions.width,imageoptions.height]}}) }}" data-src="holder.js/960x200/random/text:{{journal.title}}" class="img-responsive img-rounded float-left" alt="" />
            </div>
        </div>
        <div class="page-header">
            <h1>{{journal.title}} <small>{{ journal.titleAbbr }}</small></h1>
            <h6>{{journal.subtitle}} <small>{{ journal.titleTransliterated }}</small></h6>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="row">
                <div class="col-md-4">
                    {% set imageoptions=getImageOptions(journal,'cover') %}

                    <img src="{{ ('/uploads/journalfiles/'~imagePath(journal.image))|imagine_filter('journal_cover',{"crop":{"start":[imageoptions.x,imageoptions.y],"size":[imageoptions.width,imageoptions.height]}}) }}" data-src="holder.js/200x300/random/text:{{journal.title}}" class="img-responsive img-rounded float-left" alt="" />
                </div>

                <div class="col-md-4">
                    <h3>{{"scope"|trans}}</h3>
                    <p class="text-default">
                        {{journal.scope}}
                    </p>
                    <h3>{{"mission"|trans}}</h3>
                    <p class="text-default">
                        {{journal.mission}}
                    </p>
                    <h3>{{"scope"|trans}}</h3>
                    <p class="text-default">
                        {{ journal.scope }}
                    </p>
                </div>
                <div class="col-md-4">
                    <a href="{{ url('ojs_last_articles_index',{slug: journal.slug, institution: journal.institution.slug}) }}" class="btn btn-alt btn-xs btn-sky"><i class="fa fa-eye"></i> {{"read.lastissue"|trans}}</a>
                    <a href="{{ url('ojs_archive_index',{slug: journal.slug, institution: journal.institution.slug}) }}" class="btn btn-alt btn-xs btn-sunny"><i class="fa fa-archive"></i> {{"archive"|trans}}</a>
                    <p class="text-default">
                        <span id="journal-issn" class="label label-info"><strong>ISSN</strong>: {{journal.issn}}</span>
                        <span id="journal-eissn" class="label label-info"><strong>e-ISSN</strong>: {{journal.eissn}}</span>
                    </p>
                    <dl>
                        <dt>{{"journal_langs"|trans}}</dt><dd>{% for language in journal.languages %}<span class="badge badge-success">{{language.name}}</span>{%endfor%}</dd>
                        <dt>{{"first_publish_date"|trans}}</dt><dd>{{ journal.firstPublishDate|date('Y-m-d') }}</dd>
                        <dt>{{"period"|trans}}</dt><dd>{{ journal.period }}</dd>
                        <dt>{{"url"|trans}}</dt><dd><a href="{{ journal.url }}" target="_blank">{{ journal.url }}</a></dd>
                        <dt>{{"country"|trans}}</dt><dd>{{ journal.country }}</dd>
                    </dl>  

                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h4 class="page-header"><span class="panel-title">{{"editorial"|trans}}</span></h4>
                    <p>
                        {% for key,user in users %}
                            <strong>{{ key|trans }}</strong> <br/>
                            {% for u in user %}
                                {{ u.title }} {{ u.fullName }}<br/>
                            {% endfor %}
                            <br/>
                        {% endfor %}
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            {%include 'OjsSiteBundle:Journal:journal_right_block.html.twig'%}
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        analytics.increase('journal',{{ journal.id }} )
    </script>
{% endblock %}
