{% extends "::ojsbase.html.twig" %}
{% set hideleft = 1%}
{%block breadcrumb %}{% endblock %}
{% block body %}
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="/">Ojs</a></li>
            <li><a href="{{ url('ojs_journals_index') }}">{{ "Journals"|trans}}</a></li>
            <li class="active">{{ "List"|trans }}</li>
        </ol>
        <div class="row">
            <div class="col-sm-3 col-md-3">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                    <span class="fa fa-folder"></span> Kurum Türleri</a>
                            </h4>
                        </div>

                        <ul class="list-group">
                            {% for institution_type in institution_types %}
                                <li class="list-group-item">
                                    <a href="{{ url('ojs_journals_index',{start:start ,offset: offset }) }}?{{ addFilters('institution', institution_type.slug) }}">{{institution_type.name}}</a>
                                    <!-- span class="badge pull-right">130</span -->
                                </li>
                            {% endfor%}
                        </ul>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                    <span class="fa fa-th"></span> Konular</a>
                            </h4>
                        </div>
                        <ul class="list-group">
                            {% for subject in subjects %}
                                <li class="list-group-item">
                                    <a href="{{ path("ojs_journals_index" , {start:start , offset: offset }) }}?{{ addFilters('subject',subject.slug) }}">{{subject.subject}}</a>
                                    <span class="label label-success pull-right">{{subject.totalJournalCount}}</span>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                </div>
            </div>


            <div class="col-sm-9 col-md-9">
                <div class="row">
                    {% for journal in journals %}
                        <div class="col-sm-3 col-md-3">
                            <div class="post">
                                <div class="post-img-content">
                                    <a href="/journal/{{journal.id}}">
                                        <img src="{{ ('/uploads/journalfiles/'~imagePath(journal.image))|apply_filter('journal_cover') }}" data-src="holder.js/200x300/random/text:{{journal.slug}}" class="img-responsive img-rounded float-left" alt="" />
                                    </a>
                                </div>
                                <div class="content">
                                    <span class="post-title"><b>{{journal.title}}</b></span>
                                    <div class="smallinfo">
                                        <span class="pull-left">Cil 8/Sayı 4 </span>
                                        <time datetime="2014-01-20"  class="pull-right">18 Haziran 2014</time>
                                    </div>

                                    <div>
                                        <a href="/journal/{{journal.id}}" class="btn-link btn-sm"><i class="fa fa-link"></i> Dergi</a>
                                        <a href="/journal/{{journal.id}}/articles" class="btn-link btn-sm"><i class="fa fa-bookmark-o"></i> Son Sayı</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% else %}
                        <div class="alert alert-info">
                            No Content
                        </div>
                    {% endfor %}
                </div>
                {% if totalPageCount>0 %}
                <div class="row">
                    <ul class="pagination">
                        {% for p in 0..totalPageCount-1 %}
                            <li><a href="{{ url('ojs_journals_index',{start:p*offset, offset: offset }) }}?{{ addFilters() }}">{{ p+1 }}</a></li>
                        {% endfor %}
                        </ul>
                </div>
                {% endif %}
            </div>

        </div>
    </div>

{% endblock %}
