{% extends '::ojsbase.html.twig' %}
{#
journal.show tpl for editors
#}

{% block breadcrumb %}
    {% set list = [
                {'link': path('dashboard'), 'title': 'Editor Dashboard'},
                { 'title': 'Journal Detail'},

] %}
    {{breadcrumb(list)}}
{% endblock %}
{% block body -%}
    <table class="record_properties  table" style="width:100%">

        <tbody>
            <tr>
                <th width="300px">Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>Titleabbr</th>
                <td>{{ entity.titleAbbr }}</td>
            </tr>
            <tr>
                <th>Titletransliterated</th>
                <td>{{ entity.titleTransliterated }}</td>
            </tr>
            <tr>
                <th>Journal Languages</th>
                <td>{% for language in entity.languages %}{{language.name}}{%endfor%}</td>
            </tr>

            <tr>
                <th>Subtitle</th>
                <td>{{ entity.subtitle }}</td>
            </tr>
            <tr>
                <th>Issn</th>
                <td>{{ entity.issn }}</td>
            </tr>
            <tr>
                <th>Eissn</th>
                <td>{{ entity.eissn }}</td>
            </tr>
            <tr>
                <th>Firstpublishdate</th>
                <td>{{ entity.firstPublishDate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Period</th>
                <td>{{ entity.period }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ entity.url }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ entity.country }}</td>
            </tr>
            <tr>
                <th>published</th>
                <td>{{ entity.published }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ entity.status }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ entity.image }}</td>
            </tr>
            <tr>
                <th>Scope</th>
                <td>{{ entity.scope }}</td>
            </tr>
            <tr>
                <th>Mission</th>
                <td>{{ entity.mission }}</td>
            </tr>
            <tr>
                <th>Themeid</th>
                <td>{{ entity.themeId }}</td>
            </tr>
            <tr>
                <th>Users</th>
                <td><a href="{{ path('ujr_show_users_ofjournal',{ 'journal_id': entity.id }) }}">Show Users</a>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="record_actions">
        <a href="{{ path('journal') }}" class="btn btn-primary">
            {% trans %}back{% endtrans %}
        </a>
        <a href="{{ path('journal_edit', { 'id': entity.id }) }}" class="btn btn-success pull-right">
            {%trans%}e{%endtrans%}
        </a>

    </div>
{% endblock %}
