{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.users'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
    {'link': path('dashboard'), 'title': 'dashboard'|trans},
    { 'title': 'user.manager'|trans},
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}
{% block body -%}
    <div class="row">
        <div class="col-sm-12">
            {% include '::flashbag.html.twig' %}
            {% if is_granted('CREATE', getEntity('OjsUserBundle:User')) %}
                <a href="{{ path('ojs_admin_user_new') }}" class="btn btn-info pull-right">
                    <i class="fa fa-plus"></i> {{ "user.new"|trans }}
                </a>
            {% endif %}
            <h1>{{ "user.list"|trans }}</h1>

            {{ grid(grid) }}
        </div>
    </div>
{% endblock %}
