{% extends '::ojsbase.html.twig' %}
{% set hideleft = true %}
{% block title %}{{ 'title.password_change'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
        {'link': path('ojs_admin_dashboard'), 'title': 'dashboard'|trans},
        { 'link': path('ojs_admin_user_index'), 'title': 'user.manager'|trans},
        { 'title': 'title.password_change'|trans},
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    <div class="large-12 columns">
        <div class="panel">
            <h1>{{ "user.edit"|trans }}</h1>
            {% include '::flashbag.html.twig' %}

            {{ form(form) }}

            {{ actions({'back': {'href': path('ojs_admin_user_index')}}) }}
        </div>
    </div>
{% endblock %}
