{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.user_show'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
    {'link': path('dashboard'), 'title': 'dashboard'|trans},
    { 'link': path('ojs_admin_user_index'), 'title': 'user.manager'|trans},
    { 'title': 'user.show'|trans},
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}



{% block body %}
    {% include '::flashbag.html.twig' %}
    <h1>{% if entity.avatar %}
            <img class="thumbnail pull-left" style="margin-right:5px;"
                 src="/uploads/avatars/thumbnail/{{ entity.avatar }}"/>
        {% endif %}
        {{ entity.username }}
        <small style="color:green">{% if(entity.isActive != 0) %}<i class="fa fa-check-circle"></i>{% endif %}</small>

    </h1>
    <table class="record_properties  table">
        <tbody>
        <tr>
            <th>{{ "user.id"|trans }}</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>{{ "user.username"|trans }}</th>
            <td>{{ entity.username }}</td>
        </tr>
        <tr>
            <th>{{ "user.email"|trans }}</th>
            <td>{{ entity.email }}</td>
        </tr>
        <tr>
            <th>{{ "user.roles"|trans }}</th>
            <td>
                {% for role in entity.roles %}
                    <span class="label label-info" title="{{ role }}">{{ role|trans }}</span> <br/>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <th>{{ "user.subjects"|trans }}</th>
            <td>
                {% for subject in entity.subjects %}
                    <span class="label label-primary">{{ subject.subject }}</span>
                {% endfor %}
            </td>
        </tr>
        </tbody>
    </table>
    {% set back_path = 'ojs_admin_user_index' %}
    {% if is_granted('EDIT', entity) %}
        {% set edit_path = 'ojs_admin_user_edit' %}
    {% endif %}
    {% if is_granted('DELETE', entity) %}
        {% set delete_path = 'ojs_admin_user_delete' %}
    {% endif %}
    {% include '::actionbuttons.html.twig' %}
{% endblock %}
