{% extends '::ojsbase.html.twig' %}


{% block breadcrumb %}
    {% set list = [
                {'link': path('dashboard'), 'title': 'dashboard'},
                { 'title': 'Reports', 'link': path('reports_index')},
                { 'title': 'Analytics Reports'}
] %}
    {{breadcrumb(list)}}
{% endblock %}


{% block body -%}
    <div class="col-md-12">
        {% for stat in stats %}
           {% for object in stat %}
               <div id="stat_{{ object.info.id }}"></div>
           {% endfor %}
        {% endfor %}
        {# @todo a summary analytics chart should be added here #}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://www.google.com/jsapi" type="text/javascript"></script>
    <script>
        var datas = [
            {% for stat in stats %}
                {% for object in stat %}
                    {
                        title: '{{ object.info.title[:100] }} Stats',
                        element: 'stat_{{ object.info.id }}',
                        data: [
                            {% for s in object.stats %}
                            {% if loop.first %}
                                ['{{ s.entity }}', 'Total'],
                            {% endif %}
                                ['{{ s.pageUrl }}',{{ s.total }}]
                            {% if not loop.last %},{% endif %}
                            {% endfor %}
                        ]
                    }
                {% if not loop.last %},{% endif %}
                {% endfor %}
            {% if not loop.last %},{% endif %}
            {% endfor %}

        ];
        google.load('visualization', '1.0', {'packages': ['corechart']});

        var drawcharts = function () {
            for (var i = 0; i < datas.length; i++) {
                var data = new google.visualization.arrayToDataTable(datas[i].data);
                var options = {
                    title: datas[i].title
                };
                var chart = new google.visualization.PieChart(document.getElementById(datas[i].element));
                chart.draw(data, options);
            }
        };
        google.setOnLoadCallback(drawcharts);
    </script>
{% endblock %}