{% extends '::vipabase.html.twig' %}
{% block title %}{{ 'title.post_new'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
        {'link': path('vipa_admin_dashboard'), 'title': 'dashboard'|trans},
        {'link': path('vipa_journal_post_index', {'journalId': selectedJournal().id}),'title': 'title.posts'|trans},
        {'title': 'title.post_new'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    <h1>{{ 'title.post_new'|trans }}</h1>
    {{ form(form) }}
    {{ actions({'back': {'href': path('vipa_journal_post_index', {'journalId': selectedJournal().id})}}) }}
{% endblock %}
