<div class="submission-subform">
    {{ form_row(form.file) }}
    {{ form_row(form.type) }}
    {{ form_row(form.langCode) }}
    {{ form_row(form.title) }}
    {{ form_row(form.description) }}
    <button type="button" class="btn btn-warning btn-sm submission-subform-remove-panel remove-articlefile">
        <i class="fa fa-trash"></i>
    </button>
</div>
