{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.submissions'|trans }} {{ parent() }}{% endblock %}
{% block breadcrumb %}
    {% set list = [
    { 'link': path('ojs_journal_dashboard_index', {journalId: selectedJournal().id}), 'title': 'dashboard'|trans },
    { 'link': path('ojs_journal_submission_me', {journalId: selectedJournal().id}), 'title': 'article.mysubmits'|trans }
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    {% include '::flashbag.html.twig' %}
    <h2>{{ 'title.submissions'|trans }}</h2>
    {% if is_granted('CREATE', selectedJournal()) %}
        <a href="{{ path('ojs_journal_submission_start', {journalId: selectedJournal().id}) }}" class="btn btn-success">
            {{ "article.submit"|trans }}
        </a>
    {% endif %}

    <hr>
    <div class="btn-group">
        <a class="btn {% if all == false %}btn-info{% else %}btn-default{% endif %}" href="{{ path('ojs_journal_submission_me', {journalId: selectedJournal().id}) }}">{{ "article.mysubmits"|trans }}</a>
        {% if is_granted('EDIT', selectedJournal()) %}
            <a class="btn {% if all %}btn-info{% else %}btn-default{% endif %}"
               href="{{ path('ojs_journal_submission_all', {journalId: selectedJournal().id}) }}">{{ "article.all"|trans }}</a>
        {% endif %}
    </div>

    <h3>{{ 'Drafts'|trans }}</h3>
    {{ grid(drafts) }}

    <h3>{{ 'Submissions'|trans }}</h3>
    {{ grid(submissions) }}
{% endblock %}
