{% extends '::vipabase.html.twig' %}
{% block title %}{{ 'title.submission_new'|trans }} {{ parent() }}{% endblock %}
{% set hideleft = 1 %}
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@submission_css' output="assets/prod/css/submission.css" filter="cssrewrite" %}
    <link rel="stylesheet" href="{{ asset_url }}" xmlns="http://www.w3.org/1999/html"/>
    {% endstylesheets %}
{% endblock %}

{% block body -%}
<div class="alert alert-success">
    <h2 class="text-center">
        <i>{{ journal.title }}</i>
    </h2>
</div>
    {% if draftErrors|length > 0 %}
        {% if app.request.method == 'POST' %}
<div class="alert alert-danger">
        {% else %}
    <div class="alert alert-warning">
        {% endif %}
        {{ 'submission.whats_missing'|trans }}
        <ul>
            {% for error in draftErrors %}
                <li>{{ error.message }}</li>
            {% endfor %}
        </ul>
        </div>
    {% endif %}
    <div class="panel panel-info panel-steps">
        <div class="panel-heading">
            <ul class="nav nav-wizard submission-progress" id="article-submission-steps">
                <li id="submission-progress-step1">
                    <a href="{{ path('vipa_journal_submission_start', {journalId: selectedJournal().id}) }}">
                        <span class="badge">1</span>
                        {{ "submission.starting"|trans }}
                    </a>
                </li>
                <li id="submission-progress-step2">
                    <a href="{{ path('vipa_journal_submission_edit', {journalId: selectedJournal().id, id: article.id}) }}">
                        <span class="badge">2</span>
                        {{ "article.singular"|trans }}
                    </a>
                </li>
                <li id="submission-progress-step6 last-step" class="active">
                    <a href="{{ path('vipa_journal_submission_preview', {journalId: selectedJournal().id, articleId: article.id}) }}">
                        <span class="badge">3</span>
                        {{ "preview"|trans }} & {{ "submit"|trans }}
                    </a>
                </li>
            </ul>
        </div>
        <div class="panel-body">
            <div id="step1-container" class="step">

                <div class="panel panel-info">
                    <div class="panel-heading">{{ "article.metadata"|trans }}</div>
                    {% for lang, translation in  translations %}
                        <div class="panel panel-body table-responsive">
                            <table class="table table-striped">
                                <tr colspan="2">
                                    <td><span class="label label-info">{{ lang }}</span></td>
                                </tr>
                                <tr>
                                    <td>{{ "title"|trans }}</td>
                                    <td>{{ translation.title }}</td>
                                </tr>
                                <tr>
                                    <td>{{ "keywords"|trans }}</td>
                                    <td>{{ translation.keywords }}</td>
                                </tr>
                                <tr>
                                    <td>{{ "abstract"|trans }}</td>
                                    <td>{{ translation.abstract|raw }}</td>
                                </tr>
                            </table>
                        </div>
                    {% endfor %}
                    <div class="panel panel-body table-responsive">
                        <table class="table table-striped">
                            <tr>
                                <td>{{ "subjects"|trans }}</td>
                                <td>{{ article.subjects|join(' ,') }}</td>
                            </tr>
                            <tr>
                                <td>{{ "article.type"|trans }}</td>
                                <td>{{ article.articleType }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="panel panel-info">
                    <div class="panel-heading">{{ "article.authors"|trans }}</div>
                    <div class="panel panel-body table-responsive">
                        <table class="table table-condensed">
                            {% for key,articleAuthor in article.articleAuthors %}
                                <tr>
                                    <td colspan="2">
                                        <br>
                                        <span class="label label-info">{{ articleAuthor.authorOrder }}</span></td>
                                </tr>
                                <tr>
                                    <td>{{ "author.initials"|trans }}</td>
                                    <td>{{ articleAuthor.author.initials }}</td>
                                </tr>
                                <tr>
                                    <td>{{ "author.firstname"|trans }}</td>
                                    <td>{{ articleAuthor.author.firstName }}</td>
                                </tr>
                                <tr>
                                    <td>{{ "author.middlename"|trans }}</td>
                                    <td>{{ articleAuthor.author.middleName }}</td>
                                </tr>
                                <tr>
                                    <td>{{ "author.lastname"|trans }}</td>
                                    <td>{{ articleAuthor.author.lastName }}</td>
                                </tr>
                                <tr>
                                    <td>{{ "email"|trans }}</td>
                                    <td>{{ articleAuthor.author.email }}</td>
                                </tr>
                                <tr>
                                    <td>{{ "author.orcid"|trans }}</td>
                                    <td>{{ articleAuthor.author.orcid }}</td>
                                </tr>
                                <tr>
                                    <td>{{ "author.biography"|trans }}</td>
                                    <td>{{ articleAuthor.author.biography }}</td>
                                </tr>
                                <tr>
                                    <td>{{ "author.institution"|trans }}</td>
                                    <td>{{ articleAuthor.author.institution }}</td>
                                </tr>
                                <tr>
                                    <td>{{ "author.phone"|trans }}</td>
                                    <td>{{ articleAuthor.author.phone }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
                <hr>
                {% if article.citations is defined and article.citations|length > 0 %}
                <div class="panel panel-info">
                    <div class="panel-heading">{{ "article.citations"|trans }}</div>
                    <div class="panel panel-body">
                            {% for key, citation  in article.citations %}
                                <table class="table top30">
                                <tr>
                                    <td colspan="2">
                                        <span class="badge">{{ citation.orderNum + 1 }}</span> {{ citation.raw }}
                                    </td>
                                </tr>
                                {{ twigEventDispatch({'event_name': 'VIPA_SUBMISSION_CITATION_VIEW', 'citation': citation})|raw }}
                                </table>
                            {% endfor %}
                    </div>
                </div>
                <hr>
                {% endif %}
                <div class="panel panel-info">
                    <div class="panel-heading">{{ "article.files"|trans }}</div>
                    <div class="panel panel-body table-responsive">
                        <table class="table">
                            {% for key,articleFile  in article.articleFiles %}
                                {% if articleFile.type != -1 %}
                                    <tr>
                                        <td>
                                            <a class="label label-info" target="_blank"
                                               href="{{ asset('uploads/articlefiles/' ~ articleFile.file) }}">
                                                {{ fileTypes[articleFile.type]|trans }}  {% if articleFile.langCode is defined %}({{ articleFile.langCode }}) {% endif %}
                                                <i class="fa fa-download"></i>
                                            </a>

                                            {% if articleFile.title is defined %}
                                                <br>
                                                <small><b>{{ "title"|trans }} : </b>
                                                    {{ articleFile.title }}
                                                </small>
                                            {% endif %}
                                            {% if articleFile.description is defined %}
                                                <br>
                                                <small>
                                                    <b>{{ "desc"|trans }} : </b>
                                                    {{ articleFile.description }}
                                                </small>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}

                        </table>
                    </div>
                </div>
                <hr>
                <div class="panel panel-info">
                    <div class="panel-heading">{{ "sure"|trans }}</div>
                    <div class="panel panel-body">
                        {{ form_start(form) }}
                        {{ form_row(form.note) }}
                        {{ form_row(form.submit) }}
                        {{ form_end(form) }}
                        <hr>
                        <a href="{{ path('vipa_journal_submission_edit', {'journalId': selectedJournal().id,'id': article.id}) }}"
                           class="btn btn-danger btn-block">{{ "submission.continue_edit"|trans }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}

    {% block javascripts %}
        {{ parent() }}
        <script>
            $("form[name='vipa_article_submission']").submit(function () {
                {% if submissionSetting is not empty %}
                return confirm("{{ submissionSetting.submissionConfirmText }}");
                {% else %}
                return confirm("{{ 'sure'|trans }}");
                {% endif %}
            });
        </script>
    {% endblock %}
