{% extends '::vipabase.html.twig' %}
{% block title %}{{ 'title.submission_new'|trans }} {{ parent() }}{% endblock %}
{% set hideleft = 1 %}
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@submission_css' output="assets/prod/css/submission.css" filter="cssrewrite" %}
    <link rel="stylesheet" href="{{ asset_url }}" xmlns="http://www.w3.org/1999/html"/>
    {% endstylesheets %}
    <style>
        .fileinput-button input {
            font-size: 40px !important;
            width: 95px;
            height: 40px;
            cursor: pointer;
            top: -10px;
            left: -10px;
        }
    </style>
{% endblock %}

{% block body -%}
    <div class="alert alert-success">
        <h2 class="text-center">
            <i>{{ journal.title }}</i>
        </h2>
    </div>
    <div class="panel panel-info panel-steps">
        <div class="panel-heading">
            <ul class="nav nav-pills nav-justified submission-progress" id="article-submission-steps">
                <li id="submission-progress-step1" class="active">
                    <a class="btn btn-block"
                       href="{{ path('vipa_journal_submission_start', {journalId: selectedJournal().id}) }}">
                        1.
                        {{ "submission.starting"|trans }}
                        <i class="fa fa-arrow-right"></i>
                    </a>
                </li>
                <li id="submission-progress-step2">
                    <a class="btn btn-block" href="javascript:void(0)">
                        2.
                        {{ "article.singular"|trans }}
                        <i class="fa fa-edit"></i>
                    </a>
                </li>
                <li id="submission-progress-step6" class="last-step">
                    <a class="btn btn-block" href="javascript:void(0)">
                        3.
                        {{ "preview"|trans }} & {{ "submit"|trans }}
                        <i class="fa fa-check-square-o"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="panel-body">
            <div id="step1-container" class="step">
                <div class="panel panel-default">
                    <div class="panel-heading panel-warning">
                        {{ "help.preSubmission.header"|trans|raw }}
                    </div>
                </div>
                {% include '::flashbag.html.twig' %}
                <div class="panel-body">
                    {{ form_start(form) }}

                        <div class="panel panel-info submission-subform-panel">
                            <div class="panel-heading">{{ 'submission.files'|trans }}</div>
                            <div class="submission-subform-container panel-body">
                                {% for index,submissionFileForm in form.articleSubmissionFiles %}
                                    <div class="well">
                                        <div class="alert alert-info" role="alert">
                                            <span>
                                                {{ journalSubmissionFiles[index].title }}
                                                {% if journalSubmissionFiles[index].required %}
                                                    <b>({{ 'required'|trans }})</b>
                                                {% else %}
                                                    <b>({{ 'optinal'|trans }})</b>
                                                {% endif %}
                                            </span>
                                            {% if journalSubmissionFiles[index].file is not empty %}
                                                <a href="{{ asset('uploads/submissionfiles/' ~ journalSubmissionFiles[index].file) }}" target="_blank">
                                                    {{ 'from.here'|trans }}
                                                </a>
                                            {% endif %}
                                            {% if journalSubmissionFiles[index].detail is not null %}
                                                <br>
                                                <p>
                                                    <b>{{ 'description'|trans }}</b>:
                                                    {{ journalSubmissionFiles[index].detail }}
                                                </p>
                                            {% endif %}
                                        </div>
                                        {{ form_row(submissionFileForm.file) }}
                                    </div>
                                {% endfor %}
                                {% if form.articleSubmissionFiles|length < 1 %}
                                    <div class="alert alert-warning" role="alert">
                                        {{ 'submission.no_file'|trans }}
                                    </div>
                                    {% do form.articleSubmissionFiles.setRendered %}
                                {% endif %}
                            </div>
                        </div>
                        <hr>
                        {{ form_errors(form.checks) }}
                        {% for index, formCheck in form.checks %}
                            <div class="panel-body">
                                <fieldset>
                                    <legend>
                                        <label>
                                            {{ form_widget(formCheck, {'required': true}) }}
                                            {{ checkLists[index].label|raw }}
                                        </label>
                                    </legend>
                                    {% if checkLists[index].detail and checkLists[index].detail != null %}
                                        <div style="height: 100px;overflow: scroll">
                                            {{ checkLists[index].detail|raw }}
                                        </div>
                                    {% endif %}
                                </fieldset>

                            </div>
                        {% endfor %}

                        {% if form.checks|length < 1 %}
                            <div class="alert alert-warning" role="alert">
                                {{ 'submission.no_checklist'|trans }}
                            </div>
                            {% do form.checks.setRendered %}
                        {% endif %}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
