{% extends '::ojsbase.html.twig' %}
{% set hideleft = true %}
{% block title %}{{ 'title.event_logs'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
    {'link': path('dashboard'), 'title': 'dashboard'|trans},
    {'link': path('ojs_admin_event_log_index'),'title': 'eventlog'|trans},
    {'title': 'list'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    <div class="col-sm-12">
        <h1 class="pull-left">{{ "eventlog.list"|trans }}</h1>
        {% if isSystemAdmin() %}
            <a href="{{ path('ojs_admin_event_log_flush') }}" class="btn btn-danger pull-right">{{ "flush.all.log"|trans }}</a>
        {% endif %}
    </div>

    <div class="col-sm-12">
        {% include '::flashbag.html.twig' %}
    </div>
    {{ grid(grid) }}
{% endblock %}
