{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.theme_edit'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
    {'link': path('dashboard'), 'title': 'dashboard'|trans},
    {'link': path('ojs_admin_theme_index'),'title': 'theme'|trans},
    {'title': 'edit'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    <h1>{{ "theme.edit"|trans }}</h1>
    {% include '::flashbag.html.twig' %}
    {{ form(edit_form) }}

    {% set back_path = 'ojs_admin_theme_index' %}
    {% if is_granted('DELETE', edit_form.vars.data) %}
        {% set delete_path = 'ojs_admin_theme_delete' %}
    {% endif %}
    {% include '::actionbuttons.html.twig' %}

    {{ getLogs(entity) }}
{% endblock %}
