{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.theme_new'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
    {'link': path('dashboard'), 'title': 'dashboard'|trans},
    {'link': path('ojs_admin_theme_index'),'title': 'theme'|trans},
    {'title': 'new'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    <h1>{{ "theme.new"|trans }}</h1>

    {{ form(form) }}

    <a class="btn btn-default" href="{{ path('ojs_admin_theme_index') }}">
        {{ "b"|trans }}
    </a>
{% endblock %}
