{% extends '::ojsbase.html.twig' %}

{% block body -%}
    <ul class="nav nav-tabs">
        <li role="presentation" class=""><a href="{{ url('article_edit',{id: entity.article.id}) }}">{{ "Info"|trans }}</a></li>
        <li role="presentation" class="active"><a href="{{ url('articlefile',{article: entity.article.id}) }}">{{ "Article Files"|trans }}</a></li>
    </ul>

    <h1>ArticleFile edit</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('articlefile',{'article':entity.article.id}) }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
