{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.article_files_edit'|trans }} {{ parent() }}{% endblock %}
{% block breadcrumb %}
    {% set list = [
        {'link': path('ojs_journal_dashboard_index', {journalId: selectedJournal().id}), 'title': 'dashboard'|trans},
        {'link': path('ojs_journal_article_file_index', {'articleId': entity.article.id, 'journalId': selectedJournal().id}),'title': 'title.article_files'|trans},
        {'title': 'title.article_files_edit'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    <h1>{{ 'title.article_files_edit'|trans }}</h1>

    {% include '::flashbag.html.twig' %}
    {{ form(edit_form) }}

    {{
    actions({
        'back': {'href': path('ojs_journal_article_file_index', {'articleId': entity.article.id, 'journalId': selectedJournal().id})}
    })
    }}

    {{ getLogs(entity) }}

{% endblock %}
