{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.article_files'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
    {'link': path('dashboard'), 'title': 'dashboard'|trans},
    {'title': 'article.file'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}

    {% include '::flashbag.html.twig' %}

    <ul class="nav nav-tabs">
        <li role="presentation" class=""><a href="{{ url('ojs_journal_article_show', {id: article.id}) }}">{{ "Info"|trans }}</a></li>
        <li role="presentation" class="active"><a href="{{ url('articlefile', {article: article.id}) }}">{{ "Article Files"|trans }}</a></li>
    </ul>
    {{ grid(grid) }}


    <a class="btn btn-primary"
       href="{{ url('articlefile_new',{article: article.id}) }}">{{ "articlefile.new"|trans }}</a>


{% endblock %}
