{% extends '::ojsbase.html.twig' %}

{% block body -%}
    <h1>{{ "articlefile"|trans }}</h1>
    {% include '::flashbag.html.twig' %}
    <table class="record_properties">
        <tbody>

        <tr>
            <th>{{ "articlefile.title"|trans }}</th>
            <td>{{ entity.title }}</td>
        </tr>
        <tr>
            <th>{{ "articlefile.type"|trans }}</th>
            <td>{{ type|trans }}</td>
        </tr>
        <tr>
            <th>{{ "article"|trans }}</th>
            <td><a target="_blank"
                   href="{{ url('article_edit',{id: entity.articleId}) }}">{{ entity.article.title }}</a></td>
        </tr>
        <tr>
            <th>{{ "articlefile.version"|trans }}</th>
            <td>{{ entity.version }}</td>
        </tr>
        <tr>
            <th>{{ "keywords"|trans }}</th>
            <td>{{ entity.keywords }}</td>
        </tr>
        <tr>
            <th>{{ "file"|trans }}</th>
            <td><a href="{{ asset(entity.file.path~entity.file.name) }}" target="_blank"> {{ entity.file.name }} </a></td>
        </tr>
        <tr>
            <th>{{ "description"|trans }}</th>
            <td>{{ entity.description }}</td>
        </tr>
        <tr>
            <th>{{ "lang"|trans }}</th>
            <td>{{ entity.langCode }}</td>
        </tr>
        </tbody>
    </table>
    <br/><br/>
    <a href="{{ path('articlefile',{article: entity.id}) }}" class="btn btn-warning">
        {{ "b"|trans }}
    </a>
    <a href="{{ path('articlefile_edit', { 'id': entity.id }) }}" class="btn btn-success">
        {{ "e"|trans }}
    </a>
    </ul>
{% endblock %}
