{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.institutions'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
    {'link': path('dashboard'), 'title': 'dashboard'|trans},
    { 'title': 'institution.manager'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    {% include '::flashbag.html.twig' %}
    {% if is_granted('CREATE', getEntity('OjsJournalBundle:Institution')) %}
        <a href="{{ path('institution_new') }}" class="btn btn-success">{{ "c"|trans }}</a>
    {% endif %}
    {{ grid(grid) }}

{% endblock %}
