{% extends '::ojsbase.html.twig' %}

{% block breadcrumb %} 
    {{breadcrumb([ {'link': path('dashboard'), 'title': 'Dashboard'}, 
    { 'title': 'Institution Manager', 'link' : path('institution')},
    { 'title': 'Institution Details'}])}}
{% endblock %} 

{% block body -%} 

    <table class="record_properties  table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ entity.address }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ entity.country }}</td>
            </tr>
            <tr>
                <th>Address lat.</th>
                <td>{{ entity.addressLat }}</td>
            </tr>
            <tr>
                <th>Address long.</th>
                <td>{{ entity.addressLong }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ entity.phone }}</td>
            </tr>
            <tr>
                <th>Fax</th>
                <td>{{ entity.fax }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entity.email }}</td>
            </tr>
        </tbody>
    </table>


    {% set edit_path = 'institution_edit' %}
    {% set show_path = 'institution_show' %}
    {% set delete_path = 'institution_delete' %}
    {% include '::actionbtns.html.twig' %}
{% endblock %}
