{% extends '::ojsbase.html.twig' %}

{% block breadcrumb %} 
    {{breadcrumb([ {'link': path('dashboard'), 'title': 'dashboard'|trans},
    { 'title': 'institution.manager'|trans, 'link' : path('institution')},
    { 'title': 'institution.detail'|trans}])}}
{% endblock %} 

{% block body -%} 

    <table class="record_properties  table">
        <tbody>
            <tr>
                <th>{{ 'id'|trans }}</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>{{"name"|trans}}</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>{{"address"|trans}}</th>
                <td>{{ entity.address }}</td>
            </tr>
            <tr>
                <th>{{"country"|trans}}</th>
                <td>{{ entity.country }}</td>
            </tr>
            <tr>
                <th>{{"address_lat"|trans}}</th>
                <td>{{ entity.addressLat }}</td>
            </tr>
            <tr>
                <th>{{"address_long"|trans}}</th>
                <td>{{ entity.addressLong }}</td>
            </tr>
            <tr>
                <th>{{"phone"|trans}}</th>
                <td>{{ entity.phone }}</td>
            </tr>
            <tr>
                <th>{{"fax"|trans}}</th>
                <td>{{ entity.fax }}</td>
            </tr>
            <tr>
                <th>{{"email"|trans}}</th>
                <td>{{ entity.email }}</td>
            </tr>
        </tbody>
    </table>


    {% set edit_path = 'institution_edit' %}
    {% set show_path = 'institution_show' %}
    {% set delete_path = 'institution_delete' %}
    {% include '::actionbtns.html.twig' %}
{% endblock %}
