{% extends '::ojsbase.html.twig' %}

{% block breadcrumb %}
    {% set list = [
        {'link': path('dashboard'), 'title': 'dashboard'|trans},
        {'title': 'design'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    <h1>{{"design.list"|trans}}</h1>
    {% include '::flashbag.html.twig' %}
    {{ grid(grid) }}
    <a href="{{ path('design_new') }}" class="btn btn-success">
        {{"c"|trans}}
    </a>
{% endblock %}
