{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.journal_edit'|trans }} {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@upload_css' output="assets/prod/css/upload.css" filter="cssrewrite" %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}

    <style>
        #preview_image, #preview_image div, #preview_image_cover, #preview_image_cover div {
            margin: 0 !important;
        }
    </style>
    {{ form_stylesheet(form) }}
{% endblock %}

{% block breadcrumb %}
    {% set list = [
    {'link': path('dashboard'), 'title': 'dashboard'|trans},
    { 'link': path('ojs_admin_journal_index'),'title': 'journal.manager'|trans},
    {'title': 'edit'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    {% if (selectedJournal() and selectedJournal().setupStatus)!=true %}
        <div class="alert alert-warning">
            {{ 'ojs.setup_not_completed'|trans({"%setup_url%":path('ojs_journal_setup')})|raw }}
        </div>
    {% endif %}
    <div class="large-12 columns">
        <div class="panel">
            {% include 'OjsJournalBundle:Journal:journal_settings_nav.html.twig' with {'active':1} only %}
            {{ form_start(form, { 'attr': { 'enctype' :'multipart/form-data'} }) }}
            {% include '::flashbag.html.twig' %}
            {{ form_errors(form) }}

            {{ form_widget(form) }}
            <div class="form-group">
                <label class="control-label" for="fileupload">{{ "logo"|trans }}</label>

                <div id="preview_image_logo" style="width:200px">
                    <img src="{{ ('/uploads/journalfiles/'~imagePath(entity.logo)) }}"
                         data-src="holder.js/200x200/random/text:{{ entity.title }}" alt="" class="img-responsive"/>
                    {% set imageoptions=getImageOptions(entity,'logo','journal_logo') %}
                    <input id="logo_height" name="logo[height]" type="hidden" value="{{ imageoptions.height }}"/>
                    <input id="logo_width" name="logo[width]" type="hidden" value="{{ imageoptions.width }}"/>
                    <input id="logo_x" name="logo[x]" type="hidden" value="{{ imageoptions.x }}"/>
                    <input id="logo_y" name="logo[y]" type="hidden" value="{{ imageoptions.y }}"/>
                </div>
        <span class="btn btn-success fileinput-button form-control">
            <i class="fa fa-plus"></i>
            <span>{{ "select.image.file"|trans }}</span>
            <input id="fileupload_logo" type="file" data-url="{{ oneup_uploader_endpoint('journalfiles') }}">
        </span>

                <div id="journal_logo_upload_progress" style="display: none" class="label label-info">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="fileupload">{{ "cover"|trans }}</label>

                <div id="preview_image_cover" style="width:200px">
                    <img src="{{ ('/uploads/journalfiles/'~imagePath(entity.image)) }}"
                         data-src="holder.js/200x300/random/text:{{ entity.title }}" class="img-responsive" alt=""/>
                    {% set imageoptions=getImageOptions(entity,'cover','wide_200') %}
                    <input id="cover_height" name="cover[height]" type="hidden" value="{{ imageoptions.height }}"/>
                    <input id="cover_width" name="cover[width]" type="hidden" value="{{ imageoptions.width }}"/>
                    <input id="cover_x" name="cover[x]" type="hidden" value="{{ imageoptions.x }}"/>
                    <input id="cover_y" name="cover[y]" type="hidden" value="{{ imageoptions.y }}"/>

                </div>
        <span class="btn btn-success fileinput-button form-control">
            <i class="fa fa-plus"></i>
            <span>{{ "select.image.file"|trans }}</span>
            <input id="fileupload" type="file" data-url="{{ oneup_uploader_endpoint('journalfiles') }}">
        </span>

                <div id="journal_cover_upload_progress" style="display: none" class="label label-info">

                </div>
            </div>

            <div class="form-group">
                <label class="control-label" for="fileupload_header">{{ "Header Image"|trans }}</label>

                <div id="preview_image">
                    <img src="{{ ('/uploads/journalfiles/'~imagePath(entity.header)) }}"
                         data-src="holder.js/960x200/random/text:{{ entity.title }}" class="img-responsive" alt=""/>
                    {% set imageoptions=getImageOptions(entity,'header','wide_960') %}
                    <input id="header_height" name="header[height]" type="hidden" value="{{ imageoptions.height }}"/>
                    <input id="header_width" name="header[width]" type="hidden" value="{{ imageoptions.width }}"/>
                    <input id="header_x" name="header[x]" type="hidden" value="{{ imageoptions.x }}"/>
                    <input id="header_y" name="header[y]" type="hidden" value="{{ imageoptions.y }}"/>
                </div>
        <span class="btn btn-success fileinput-button form-control">
            <i class="fa fa-plus"></i>
            <span>{{ "select.image.file"|trans }}</span>
            <input id="fileupload_header" type="file" data-url="{{ oneup_uploader_endpoint('journalfiles') }}">
        </span>

                <div id="journal_header_upload_progress" style="display: none" class="label label-info">

                </div>
            </div>
            <div class="competing_interest_file_top_div">
                <h4>
                    {{ "competingOfInterest"|trans }}
                </h4>
                <span class="btn btn-success fileinput-button">
                    {% set competingFile = entity.competingInterestFile %}
                    <i class="fa fa-plus"></i>
                    <span>{{ "select.article.file"|trans }}</span>
                    <input class="competing_interest_file_upload" type="file"
                           data-url="{{ oneup_uploader_endpoint('journalfiles') }}"/>
                    <input name="competing_interest_file_id"
                           class="filename competing_interest_file_id"
                           value="{% if competingFile is not null %}{{ competingFile.id }}{% endif %}"
                           type="hidden"/>
                    <input name="competing_interest_file"
                           class="filename competing_interest_file_input"
                           value="{% if competingFile is not null %}{{ competingFile.path }}{% endif %}"
                           type="hidden"/>
                    <input name="competing_interest_file_mime_type"
                           value="{% if competingFile is not null %}{{ competingFile.mimeType }}{% endif %}"
                           type="hidden"/>
                    <input name="competing_interest_file_size"
                           value="{% if competingFile is not null %}{{ competingFile.size }}{% endif %}"
                           type="hidden"/>
                </span>
                {% if competingFile is not null %}
                    <a target="_blank" class="label label-info previewLink"
                       href="uploads/journalfiles/{{ filePath(competingFile.path) }}">{{ "preview"|trans }}</a>
                {% else %}
                    <a target="_blank" class="label label-info hide previewLink" href="#">{{ "preview"|trans }}</a>
                {% endif %}
                <span class="upload_progress label label-info" style="display: none"></span>
            </div>
            <div class="btn-group">
                {% block cancelbtn %}
                    <button class="btn btn-default" href="{{ path('ojs_admin_journal_index') }}">
                        <i class="fa fa-backward"></i> {{ "cancel"|trans }}
                    </button>
                {% endblock %}
                <button type="submit" id="ojs_userbundle_user_submit" class="btn btn-primary">
                    {{ "update"|trans }}
                </button>
            </div>
            {{ form_end(form) }}

            {{ getLogs(entity) }}
        </div>
    </div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts '@upload_js' output="assets/prod/js/upload.js" %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('[name=_method]').val('POST'); // fuck you chrome
            $('#fileupload').fileupload({
                type: 'POST'
            });
            $('#fileupload').bind('fileuploadsend', function (e, data) {
                $('#journal_cover_upload_progress').show();
                $('#journal_cover_upload_progress').html("{{"uploading"|trans}}");
            }).bind('fileuploaddone', function (e, data) {
                var result = JSON.parse(data.result)
                $('#journal_cover_upload_progress').html("{{"done"|trans}}.");
                $('#ojs_journalbundle_journal_image').attr('value', result.files.name);
                $("#preview_image_cover > img").cropper('replace', '/media/cache/resolve/wide_200' + result.files.fullpath + '/' + result.files.name);
            });
            $('#fileupload_header').fileupload({
                type: 'POST'
            });
            $('#fileupload_header').bind('fileuploadsend', function (e, data) {
                $('#journal_header_upload_progress').show();
                $('#journal_header_upload_progress').html("{{"uploading"|trans}}");
            }).bind('fileuploaddone', function (e, data) {
                var result = JSON.parse(data.result)
                $('#journal_header_upload_progress').html("{{"done"|trans}}.");
                $('#ojs_journalbundle_journal_header').attr('value', result.files.name);
                $("#preview_image > img").cropper('replace', '/media/cache/resolve/wide_960' + result.files.fullpath + '/' + result.files.name);
            });
            $('#fileupload_logo').fileupload({
                type: 'POST'
            });
            $('#fileupload_logo').bind('fileuploadsend', function (e, data) {
                $('#journal_logo_upload_progress').show();
                $('#journal_logo_upload_progress').html("{{"uploading"|trans}}");
            }).bind('fileuploaddone', function (e, data) {
                var result = JSON.parse(data.result)

                $('#journal_logo_upload_progress').html("{{"done"|trans}}.");
                $('#ojs_journalbundle_journal_logo').attr('value', result.files.name);
                $("#preview_image_logo > img").cropper('replace', '/media/cache/resolve/wide_200' + result.files.fullpath + '/' + result.files.name);
            });
            $("#preview_image > img").cropper({
                aspectRatio: 960 / 200,
                maxWidth: 960,
                maxHeight: 200,
                {% set imageoptions=getImageOptions(entity,'header','journal_header') %}
                data: {
                    x: {{ imageoptions.x }},
                    y: {{ imageoptions.y }},
                    height: {{ imageoptions.height }},
                    width: {{ imageoptions.width }}
                },
                done: function (data) {
                    $("#header_height").val(data.height);
                    $("#header_width").val(data.width);
                    $("#header_x").val(data.x);
                    $("#header_y").val(data.y)
                }
            });
            $("#preview_image_cover > img").cropper({
                aspectRatio: 200 / 300,
                maxWidth: 200,
                maxHeight: 300,
                {% set imageoptions=getImageOptions(entity,'cover','journal_cover') %}
                data: {
                    x: {{ imageoptions.x }},
                    y: {{ imageoptions.y }},
                    height: {{ imageoptions.height }},
                    width: {{ imageoptions.width }}
                },
                done: function (data) {
                    $("#cover_height").val(data.height);
                    $("#cover_width").val(data.width);
                    $("#cover_x").val(data.x);
                    $("#cover_y").val(data.y)
                }
            });
            $("#preview_image_logo > img").cropper({
                aspectRatio: 96 / 128,
                maxWidth: 200,
                maxHeight: 200,
                {% set imageoptions=getImageOptions(entity,'logo','journal_logo') %}
                data: {
                    x: {{ imageoptions.x }},
                    y: {{ imageoptions.y }},
                    height: {{ imageoptions.height }},
                    width: {{ imageoptions.width }}
                },
                done: function (data) {
                    $("#logo_height").val(data.height);
                    $("#logo_width").val(data.width);
                    $("#logo_x").val(data.x);
                    $("#logo_y").val(data.y)
                }
            });
            $('.competing_interest_file_upload').fileupload({
                type: 'POST'
            });
            $('.competing_interest_file_upload').bind('fileuploadsend', function (e, data) {
                $uploadIndicator = $('.upload_progress', $(this).parent().parent());
                $uploadIndicator.show();
                $uploadIndicator.html("Uploading...");
            }).bind('fileuploaddone', function (e, data) {
                $('[name=_method]').val('PUT');
                $('.upload_progress', $(this).parent().parent()).html("Done.");
                $obj = JSON.parse(data.result);
                $('.previewLink', $(this).parent().parent()).attr('href', 'uploads/journalfiles/' + $obj.files.path + $obj.files.name).removeClass('hide');
                $('.competing_interest_file_input', $(this).parent()).attr('value', $obj.files.name);
                $('input[name="competing_interest_file_mime_type"]', $(this).parent()).attr('value', $obj.files.mimeType);
                $('input[name="competing_interest_file_size"]', $(this).parent()).attr('value', $obj.files.size);
                $('input[name="competing_interest_file_id"]', $(this).parent()).attr('value', '');
            });
        });
    </script>

    {{ form_javascript(form) }}
{% endblock %}
