{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.home'|trans }} {{ parent() }}{% endblock %}
{% set hideleft = 1 %}
{% block stylesheets %}
    {{ parent() }}

    {% stylesheets "@bxslider_css" output="assets/prod/js/bxslider.css" %}
    <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}
{% block body %}
    <div class="container">
        <section role="presentation">
            <div class="row">
                <div class="col-md-12 text-center">
                    <a href="{{ path("ojs_public_index") }}"><img id="logo" src="{{ ojs_logo }}"/></a>
                </div>
            </div>
        </section>
        <section role="search" id="search_section">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <form action="{{ path('ojs_search_index') }}" method="get">
                        <div class="input-group">
                            <input type="text" name="q" class="form-control" value=""
                                   placeholder="{{ "search.on.everywhere" | trans({'%project_name%' : project_name}) }}"
                                   id="q"/>
                            <span class="input-group-btn">
                                        <button class="btn btn-primary" type="submit" title="{{ "search"|trans }}"><i
                                                    class="fa fa-search"></i></button>
                                    </span>
                        </div>
                        <input type="hidden" name="type" value="basic" id="search-type">
                    </form>
                    <div id="stats">
                        <dl class="home-stats">
                            <dd>
                                <span>{{ stats.journal|number_format(0,'.','.') }}</span>
                                <br>
                                {{ "journal"|trans }}
                            </dd>
                            <dd>
                                <span>{{ stats.article|number_format(0,'.','.') }}</span>
                                <br>
                                {{ "article"|trans }}
                            </dd>
                            <dd>
                                <span>{{ stats.user|number_format(0,'.','.') }}</span>
                                <br>
                                {{ "user"|trans }}
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </section>
        <section role="actions">
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <p id="homepage-buttons" class="text-center">
                        {% if not app.user %}
                            {% if app.request.attributes.get('_system_setting').userRegistrationActive %}
                                <a href="{{ path('fos_user_registration_register') }}"
                                   class="btn btn-primary btn-labeled">
                                        <span class="btn-label pull-left">
                                            <i class="fa fa-user fa-fw"></i>
                                        </span>
                                    {{ "register"|trans }}
                                </a>
                            {% endif %}
                        {% endif %}

                        {% if app.request.attributes.get('_system_setting').publisherApplicationActive %}
                            <a href="{{ url("ojs_apply_publisher") }}"
                               class="btn btn-primary  btn-labeled">
                                    <span class="btn-label pull-left">
                                        <i class="fa fa-institution fa-fw"></i>
                                    </span>
                                {{ 'application.publisher.apply'|trans }}
                            </a>
                        {% endif %}
                        {% if app.request.attributes.get('_system_setting').journalApplicationActive %}
                            <a href="{{ url('ojs_apply_journal') }}" class="btn btn-primary btn-labeled">
                                    <span class="btn-label pull-left">
                                        <i class="fa fa-book fa-fw"></i>
                                    </span>
                                {{ "apply"|trans }}
                            </a>
                        {% endif %}
                    </p>
                </div>
            </div>
        </section>
        {% if announcements is defined and announcements is not empty %}
        <section role="presentation">
            <div class="row">
                <div class="col-xs-12">
                    {% include '::slider.html.twig' %}
                </div>
            </div>
        </section>
        {% endif %}
        <section role="featured">
            <h4 class="page-header text-success"><i class="fa fa-trophy"></i> {{ 'featured'|trans }}</h4>

            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <div class="row">
                        {% for journal in journals %}
                            {% set journalDefault = journal.setDefaultLocale(app.request.defaultLocale) %}
                            {% include '::journal.html.twig' %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>

        {% if subjects is not empty %}
            <section role="topics">
                <h4 class="page-header text-info"><i class="fa fa-bookmark"></i> {{ "subject.plural"|trans }}</h4>

                <div class="row">
                    <div class="col-md-12 col-xs-12 home-subject-tree">
                        {{ subjects|raw }}
                    </div>
                </div>
            </section>
        {% endif %}

        {% if posts | length > 0 %}
            <section role="posts">
                <h4 class="page-header text-success">
                    <i class="fa fa-file-text"></i>
                    {{ 'title.posts'|trans }}
                </h4>

                <div class="row">
                    <ul class="fa-ul">
                        {% for post in posts %}
                            <li>
                                <i class="fa-li fa fa-file-text-o"></i>
                                <a href="{{ path('ojs_site_cms_post', {'slug': post.slug}) }}">
                                    <h5>{{ post.title }}</h5>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </section>
        {% endif %}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts "@bxslider_js" output="assets/prod/js/bxslider.js" %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        $(function () {
            $('.bxslider').bxSlider({
                video: false,
                useCSS: false,
                autoStart: false
            });
        });
    </script>
{% endblock %}
