{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.submission_checklists'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
    {'link': path('dashboard'), 'title': 'dashboard'|trans},
    {'title': 'title.submission_checklists'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    {% include 'OjsJournalBundle:Journal:journal_settings_nav.html.twig' with {'active':4} only %}
    {% include '::flashbag.html.twig' %}
    <br>
    {% if is_granted('CREATE', selectedJournal(), 'checklist') %}
        <a href="{{ path('ojs_journal_checklist_new') }}" class="btn btn-success">
            {{ "c"|trans }}
        </a>
    {% endif %}

    <hr>
    {{ grid(grid) }}
{% endblock %}
