{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.submission_checklist_new'|trans }} {{ parent() }}{% endblock %}

{% block  stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('/vendor/bootstrap3-wysihtml5-bower/dist/bootstrap3-wysihtml5.css') }}"/>
{% endblock %}

{% block breadcrumb %}
    {% set list = [
    {'link': path('dashboard'), 'title': 'dashboard'|trans},
    {'link': path('ojs_journal_checklist_index'),'title': 'submission_checklist.show'|trans},
    {'title': 'title.submission_checklist_new'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    {% include 'OjsJournalBundle:Journal:journal_settings_nav.html.twig' with {'active':4} only %}

    <h1>{{ 'title.submission_checklist_new'|trans }}</h1>

    {{ form(form) }}

    {% set back_path = 'ojs_journal_checklist_index' %}
    {% include '::actionbuttons.html.twig' %}
{% endblock %}


{% block  javascripts %}
    {{ parent() }}
    <script type="text/javascript"
            src="{{ asset('/vendor/bootstrap3-wysihtml5-bower/dist/bootstrap3-wysihtml5.all.min.js') }}"></script>
    <script>
        $(document).ready(function () {
            $("textarea").wysihtml5({
                toolbar: {
                    "font-styles": false,
                    "emphasis": true,
                    "lists": false,
                    "html": false,
                    "link": true,
                    "image": false,
                    "color": false,
                    "blockquote": true
                }
            });
        });
    </script>
{% endblock %}
