{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.submission_checklist_show'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
    {'link': path('ojs_journal_dashboard_index', {journalId: selectedJournal().id}), 'title': 'dashboard'|trans},
    {'link': path('ojs_journal_checklist_index', {'journalId': selectedJournal().id}),'title': 'submission_checklist.show'|trans},
    {'title': 'title.submission_checklist_show'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    <h1>{{ 'title.submission_checklist_show'|trans }}</h1>
    {% include '::flashbag.html.twig' %}
    <table class="record_properties table">
        <tbody>
        <tr>
            <th>{{ 'id'|trans }}</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>{{ 'submission_checklist.label'|trans }}</th>
            <td>{{ entity.label|raw }}</td>
        </tr>
        <tr>
            <th>{{ 'submission_checklist.detail'|trans }}</th>
            <td>
                <div class="well">
                    {{ entity.detail|raw }}
                </div>
            </td>
        </tr>
        <tr>
            <th>Visible</th>
            <td>{% if entity.visible %}{{ 'yes'|trans }}{% else %}{{ 'no'|trans }}{% endif %}</td>
        </tr>
        </tbody>
    </table>

    {{
    actions({
        'back': {'href': path('ojs_journal_checklist_index', {'journalId': selectedJournal().id})},
        'edit': {'href': path('ojs_journal_checklist_edit', {'id': entity.id, 'journalId': selectedJournal().id})},
        'delete': {'href': path('ojs_journal_checklist_delete', {'id': entity.id, 'journalId': selectedJournal().id}), 'attributes': {'data-token': token}},
    })
    }}
{% endblock %}
