{% extends '::ojsbase.html.twig' %}


{% block breadcrumb %}
    {% set list = [
    {'link': path('dashboard'), 'title': 'dashboard'},
    { 'title': 'reports'|trans, 'link': path('reports_index')},
    { 'title': 'analytics_reports'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}


{% block body -%}
    <div class="col-md-12">
        <h2>{{ "View Stats"|trans }}</h2>
        <div id="view_stat"></div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@stats_css' filter='uglifycss' filter='cssrewrite' output="assets/prod/css/appstats.css" %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts '@stats_js' filter='uglifyjs' output="assets/prod/js/appstats.js" %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        $(function(){
            var view_stat = c3.generate({
                bindto: "#view_stat",
                data: {
                    x: 'x',
                    columns: [
                        ['x',
                            {% for day,stat in article_stats %}
                            '{{ day }}'{% if not loop.last %}, {% endif %}
                            {% endfor %}
                        ],
                        ['hit',
                            {% for stat in article_stats %}
                            {{ stat }}{% if not loop.last %}, {% endif %}
                            {% endfor %}
                        ]
                    ],
                    type: 'spline'
                },
                axis: {
                    x: {
                        type: 'timeseries',
                        tick: {
                            format: '%d-%m-%Y'
                        }
                    }
                },
                subchart: {
                    show: true
                }
            })
        });
    </script>
{% endblock %}