{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.institution_types'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
    {'link': path('dashboard'), 'title': 'dashboard'|trans},
    { 'title': 'institutiontype'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
<h1>{{ "institutiontype.list"|trans }}</h1>
{% include '::flashbag.html.twig' %}
    {% if is_granted('CREATE', getEntity('OjsJournalBundle:InstitutionTypes')) %}
        <a href="{{ path('ojs_admin_institution_type_new') }}" class="btn btn-success">{{ "c"|trans }}</a>
    {% endif %}
    {{ grid(grid) }}
{% endblock %}
