{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.institution_type_new'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
    {'link': path('dashboard'), 'title': 'dashboard'|trans},
    {'link': path('ojs_admin_institution_type_index'),'title': 'institutiontype'|trans},
    {'title': 'new'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    <h1>{{ "institutiontype.new"|trans }}</h1>

    <a href="{{ path('ojs_admin_institution_type_index') }}">{{ "b"|trans }}</a>
    {{ form(form) }}
{% endblock %}
