{% extends '::vipabase.html.twig' %}
{% block title %}{{ 'title.journal_application'|trans }} {{ parent() }}{% endblock %}
{% set hideleft = 1 %}
{% block stylesheets %}
    {{ parent() }}

    <style type="text/css">
        .graphics-panel .control-label {
            text-align: left !important;
            font-size: 14px;
            padding: 5px 0 !important;
        }
        .apply-journal-cf .control-label {
            text-align: left !important;
            font-size: 14px;
            padding: 5px 0 !important;
            display: block;
            float: none;
        }

        #publisher-form {
            visibility: hidden;
        }
    </style>
{% endblock %}

{% block breadcrumb %}
    {% set list = [
        {'link': path('vipa_public_index'), 'title': project_name},
        {'title': "journal.apply.form" | trans }
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body %}
    <div class="container">
        <!-- Page Content -->
        <h1 class="page-header">{{ "journal.apply.form"|trans }}</h1>

        {{ form_start(form, {'attr': {'enctype': 'multipart/form-data'}, 'style': 'horizontal'}) }}
        {{ form_row(form._token) }}
        <div class="panel panel-default">
            <div class="panel-heading"><h4>{{ "journal.about"|trans }}</h4></div>
            <div class="panel-body">
                {% include '::flashbag.html.twig' %}
                {{ form_errors(form) }}

                <div class="panel panel-info">
                    <div class="panel-heading"><h4>{{ "application.basic"|trans }}</h4></div>
                    <div class="panel-body">
                        {% for field in [form.mandatoryLang, form.title, form.subtitle,
                        form.title_abbr, form.titleTransliterated, form.url, form.domain,
                        form.country, form.issn, form.eissn, form.founded,
                        form.periods, form.tags, form.journalIndexesBag, form.languages, form.subjects, form.accessModal] %}
                            {{ form_row(field) }}
                        {% endfor %}
                    </div>
                </div>
                <div class="panel panel-info">
                    <div class="panel-heading"><h4>{{ "publisher"|trans }}</h4></div>
                    <div class="panel-body">
                        {{ form_row(form.publisher, {'help_text': "application.journal.new_publisher_help"|trans}) }}
                        <span id="new-publisher" class="btn btn-default btn-labeled pull-right">
                            <span class="btn-label">
                                <i class="fa fa-plus"></i>
                            </span>
                            {{ "application.journal.new_publisher"|trans }}
                        </span>

                        <div id="publisher-form">
                            <label for="publisher-form-prototype">
                                {{ "application.journal.new_publisher"|trans }}
                            </label>
                            <textarea id="publisher-form-prototype">
                                {{ form(publisherForm) }}
                            </textarea>
                        </div>
                    </div>
                </div>

                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4>{{ "application.contact"|trans }}</h4>
                    </div>
                    <div class="panel-body">
                        <div class="well">
                            {% for field in [form.address, form.phone, form.email] %}
                                {{ form_row(field) }}
                            {% endfor %}
                        </div>

                        <div id="contacts" data-index="{{ form.journalContacts|length }}" data-prototype="{% filter escape %}
                            {{- include('@VipaSite/Application/_journal_contact_form.html.twig', { 'form': form.journalContacts.vars.prototype, 'removable': true }) -}}
                        {% endfilter %}">
                            {% for journalContact in form.journalContacts %}
                                {% set removable = true %}
                                {% if loop.index == 1 or loop.index == 2 %}
                                    {% set removable = false %}
                                {% endif %}
                                {{ include('@VipaSite/Application/_journal_contact_form.html.twig', { 'form': journalContact ,'removable': removable }) }}
                            {% endfor %}
                        </div>

                        {% do form.journalContacts.setRendered %}
                        <button type="button" id="add_contact" class="btn btn-success btn-labeled pull-right">
                            <span class="btn-label">
                                <i class="fa fa-plus"></i>
                            </span>
                            {{ "application.journal.add_contact"|trans }}
                        </button>
                    </div>
                </div>

                <div class="panel panel-info graphics-panel">
                    <div class="panel-heading"><h4>{{ "application.graphics"|trans }}</h4></div>
                    <div class="panel-body">
                        {{ form_row(form.image) }}

                        {{ form_row(form.header) }}
                    </div>
                </div>

                {% if form.journalApplicationUploadFiles is not empty %}
                <div class="panel panel-info graphics-panel">
                    <div class="panel-heading"><h4>{{ "title.journal_application_file"|trans }}</h4></div>
                    <div class="panel-body">
                        {% for index,applicationFileForm in form.journalApplicationUploadFiles %}
                            <div class="well">
                                <div class="alert alert-info" role="alert">
                                            <span>
                                                {{ journalApplicationFiles[index].title }}
                                                {% if journalApplicationFiles[index].required %}
                                                    <b>({{ 'required'|trans }})</b>
                                                {% else %}
                                                    <b>({{ 'optinal'|trans }})</b>
                                                {% endif %}
                                            </span>
                                    <a href="{{ asset('uploads/submissionfiles/' ~ journalApplicationFiles[index].file) }}" target="_blank">
                                        {{ 'from.here'|trans }}
                                    </a>
                                    {% if journalApplicationFiles[index].detail is not null %}
                                        <br>
                                        <p>
                                            <b>{{ 'description'|trans }}</b>:
                                            {{ journalApplicationFiles[index].detail }}
                                        </p>
                                    {% endif %}
                                </div>
                                {{ form_row(applicationFileForm.file) }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
                {% else %}
                    {% do form.journalApplicationUploadFiles.setRendered %}
                {% endif %}

                {{ twigEventDispatch({'event_name': 'OJS_JOURNAL_APPLICATION_EXTRA_FIELDS', 'form': form})|raw }}

                <button type="submit" id="vipa_journalbundle_issue_submit" class="btn btn-success pull-right">
                    {{ "apply"|trans }}
                </button>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var collectionHolder;
        var addContactLink = $('#add_contact');
        var newPublisherButton = $('#new-publisher');
        var newPublisherForm = $('#publisher-form');
        var publisherSelector = $('#vipa_journalbundle_journalapplication_publisher').parent().parent();

        $(document).ready(function() {
            collectionHolder = $('#contacts');
            collectionHolder.data('index', collectionHolder.find(':input').length);

            addContactLink.on('click', function() {
                addContactForm(collectionHolder, addContactLink);
            });

            newPublisherButton.on('click', function() {
                newPublisherForm.css('visibility', 'visible');
                newPublisherForm.html($('#publisher-form-prototype').value);

                newPublisherButton.hide();
                publisherSelector.hide();

                $('#vipa_journalbundle_journalapplication_publisher').removeAttr('required');
            });

            newPublisherForm.find('input:not([type="hidden"]),select').each(function(item) {
                if (this.value != false) {
                    console.log(this.value);
                    newPublisherButton.click();
                    return false;
                }
            });

            $('.journalContact .remove_contact').on('click', function() {
                $(this).parent().remove();
            });
        });

        function addContactForm(collectionHolder, addLink) {
            var prototype = collectionHolder.data('prototype');
            var index = collectionHolder.data('index');
            var newForm = prototype.replace(/__name__/g, index);

            collectionHolder.data('index', index + 1);

            addLink.before(newForm);

            console.info($(addLink).parent().find('.journalContact:last'));
            $(addLink).parent().find('.journalContact:last .remove_contact').on('click', function() {
                $(this).parent().remove();
            });
        }
    </script>

    {{ twigEventDispatch({'event_name': 'OJS_JOURNAL_APPLICATION_SCRIPT'})|raw }}

    {{ form_javascript(form) }}
{% endblock %}
