{% extends '::vipabase.html.twig' %}
{% block title %}{{ 'title.publisher_application'|trans }} {{ parent() }}{% endblock %}
{% set hideleft = 1 %}

{% block breadcrumb %}
    {% set list = [
    {'link': path('vipa_public_index'), 'title': project_name},
    {'title': 'application.publisher.apply'|trans},
    {'title': 'success'}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body %}
    <div class="container">
        <!-- Page Content -->
        <h1 class="page-header">{{ "success"|trans }}</h1>

        <div class="jumbotron">
            {{ "your.application.saved.successfully"|trans }}
        </div>
    </div>
{% endblock %}
