{% extends '::ojsbase.html.twig' %}

{% block breadcrumb %}
    {% set list = [
                {'link': path('dashboard'), 'title': 'dashboard'|trans},
                { 'link': path('journal'), 'title': 'journal.manager'|trans},
                { 'title': 'journal.update'|trans},

] %}
    {{breadcrumb(list)}}
{% endblock %}

{% block body -%}
    <h1>{{"journal.edit"|trans}}</h1>

    {{ form_start(form, { 'attr': { 'enctype' :'multipart/form-data'} }) }}
    {% for label, flashes in app.session.flashbag.all %}
        {% for flash in flashes %}
            <div class="alert alert-{{ label }}">
                {{ flash }}
            </div>
        {% endfor %}
    {% endfor %}
    {{ form_errors(form) }}

    {{ form_widget(form) }}
    <div class="form-group">
        <label class="control-label" for="fileupload">{{"cover"|trans}}</label>

        <span class="btn btn-success fileinput-button form-control">
            <i class="fa fa-plus"></i>
            <span>{{"select.image.file"|trans}}</span>
            <input id="fileupload" type="file" data-url="{{ oneup_uploader_endpoint('journalfiles') }}">
        </span>

        <div id="journal_cover_upload_progress" style="display: none" class="label label-info">

        </div>
    </div>
    <div class="btn-group">
        {% block cancelbtn %}
            <button class="btn btn-default" href="{{path("journal")}}">
                <i class="fa fa-backward"></i> {{ "cancel"|trans }}
            </button> 
        {%endblock%}
        <button type="submit" id="ojs_userbundle_user_submit" class="btn btn-primary">
            {{ "update"|trans }}
        </button>
    </div>
    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts '@upload_js' output="c/upload.js" %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#fileupload').fileupload({});
            $('#fileupload').bind('fileuploadsend', function (e, data) {
                $('#journal_cover_upload_progress').show();
                $('#journal_cover_upload_progress').html("{{"uploading"|trans}}");
            }).bind('fileuploaddone', function (e, data) {
                $('#journal_cover_upload_progress').html("{{"done"|trans}}.");
                $('#ojs_journalbundle_journal_image').attr('value', JSON.parse(data.result).files.name);
            });
        });
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@upload_css' '%kernel.root_dir%/../web/vendor/select2/select2.css' output="c/user_admin.css" filter="cssrewrite" %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}

{% endblock %}