{% extends '::ojsbase.html.twig' %}

{% block breadcrumb %}
    {% set list = [
                {'link': path('dashboard'), 'title': 'Dashboard'},
                { 'title': 'Journal Manager'}
] %}
    {{breadcrumb(list)}}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@apptour_css' output="c/apptour.css" %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %} 
{% endblock %}

{% block body -%} 
    <div class="large-12 columns">
        <div class="panel">
            <h1>Journal List</h1>
            <div class="panel">
                <a class="btn btn-info" href="{{path('journal')}}">
                    <i class="fa fa-asterisk" id="link-admin-all-journals"></i> All journals</a>
                <a class="btn btn-default" id="link-admin-my-journals" href="{{path('user_show_my_journals')}}">
                    <i class="fa fa-user"></i> My journals</a>
            </div>
            <table class="records_list  table" style="width:100%">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Issn</th>
                        <th width="60px">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entity in entities %}
                        <tr>
                            <td><a  class="label label-success" href="{{ path('journal_show', { 'id': entity.id }) }}">id: {{ entity.id }}</a>
                                <a href="{{ entity.url }}">{{ entity.title }}</a> 

                                {% if entity.published == 1 %}
                                    <span class="label label-success" title="published"><i class="fa fa-check"></i></span>
                                {%else%}
                                    <span class="label label-danger" title="not-published"><i class="fa fa-circle-o"></i></span>
                                    {% endif %}

                                <span class="label label-info" title="Status">{{entity.status}}</span>
                            </td>
                            <td>{{ entity.issn }}</td>
                            <td>
                                {% set show_path = 'journal_show' %}
                                {% set edit_path = 'journal_edit' %}
                                {% set delete_path = 'journal_delete' %}
                                {% include '::actionbtns.html.twig' %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div>
                <a href="{{ path('journal_new') }}" class="btn btn-success">
                    {% trans %}c{% endtrans %}
                </a>
            </div>
        </div> 
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {% javascripts '@apptour_js' output="c/apptour.js" %}
    <script type="text/javascript" src="{{ asset_url }}"></script> 
    {% endjavascripts %}
    {% javascripts '@OjsJournalBundle/Resources/public/js/tour/journal_admin_tour.js' output="c/journal_admin_tour.js" %}
    {% if app.user.setting('tour.admin.journal') == FALSE %}<script type="text/javascript" src="{{ asset_url }}"></script> {% endif %}
        {% endjavascripts %}
        {% endblock %}