<ul class="nav nav-tabs">
    <li role="presentation" class="{% if active == 1 %}active{% endif %}">
        <a href="{{ url('manager_current_journal_settings') }}">{{ "journal.edit"|trans }}</a>
    </li>
    <li role="presentation" class="{% if active == 2 %}active{% endif %}">
        <a href="{{ url('manager_journals_indexes') }}">{{ "journalsindex.singular"|trans }}</a>
    </li>
      <li role="presentation" class="{% if active == 3 %}active{% endif %}">
        <a href="{{ url('manager_current_journal_submission_settings') }}">{{ "journal.settings.submission"|trans }}</a>
    </li>
    <li role="presentation" class="{% if active == 4 %}active{% endif %}">
        <a href="{{ url('manager_journal_licence') }}">{{ "journal_licence.singular"|trans }}</a>
    </li>
  
    <li role="presentation" class="{% if active == 5 %}active{% endif %}">
        <a href="{{ url('manager_current_journal_mail_settings') }}">{{ "journal.settings.mail"|trans }}</a>
    </li>
</ul>