{% extends '::ojsbase.html.twig' %}
{#
journal.public_index.html.twig
#}
{% block body -%}

    <div class="page-header">
        <h1>{{entity.title}}</h1>
        <h6>{{entity.subtitle}}</h6>
    </div>
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-12">
            <div class="row">
                <div class="col-md-4">
                    <img src="holder.js/200x300/#f9A497:#ffffff/text:{{entity.title}}" class="img-rounded img-responsive float-left" alt="" />
                </div>

                <div class="col-md-8">
                    <h3>{{"scope"|trans}}</h3>
                    <p class="text-default">
                        {{entity.scope}}
                    </p>
                    <h3>{{"mission"|trans}}</h3>
                    <p class="text-default">
                        {{entity.mission}}
                    </p>
                </div>
                <hr>
                <div class="col-md-8">
                    <a href="" class="btn btn-alt btn-xs btn-sky"><i class="fa fa-eye"></i> Son Sayıyı Oku</a>

                    <a href="" class="btn btn-alt btn-xs btn-sunny"><i class="fa fa-archive"></i> {{"archive"|trans}}</a>
                    <p class="text-default">
                        <span class="label label-info"><strong>ISSN</strong>: {{entity.issn}}</span>
                        <span class="label label-info"><strong>e-ISSN</strong>: {{entity.eissn}}</span>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h4 class="page-header"><span class="panel-title">Editoryal Bilgiler</span></h4>
                    <p>
                        <strong>Editor</strong>
                        <br>
                        Prof. Dr. Rauf AMİROV
                        <br>
                        <strong>Assistant Editors</strong><br>
                        Assoc. Prof. Dr. Nilüfer TOPSAKAL<br>
                        Assoc. Prof. Dr. Şifa TÜRKOĞLU<br>
                        Assist. Prof. Dr. Nüket KARTAL TEMEL<br>
                        Assist. Prof. Dr. Serkan AKKOYUN<br>
                    </p>

                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">



            <?php if (isset($_GET['user'])) {?>
            <div class="panel panel-default">
                <div class="panel-heading"><a href="#"><span class="panel-title"><i class="fa fa-plus"></i> Blok ekle</span></a></div>
            </div>
            <?php }?>
            <div class="panel panel-default">
                <div class="panel-heading"><span class="panel-title">Okuyucular için</span></div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <a href=""><i class="fa fa-eye"></i> Son Sayıyı Oku</a>
                    </li>
                    <li class="list-group-item">
                        <a href=""><i class="fa fa-archive"></i> Arşiv</a>
                    </li>
                    <?php if (isset($_GET['user'])) {?><li class="list-group-item"><a href="#"><i class="fa fa-plus"></i> <strong>Link ekle</strong></a></li><?php }?>
                </ul>
            </div>

            <div class="panel panel-warning">
                <div class="panel-heading"><span class="panel-title">Yazarlar ve Editörler için</span></div>
                <ul class="list-group">
                    <li class="list-group-item"><a href="#"><i class="fa fa-plus"></i> Online Makale Gönder</a></li>
                    <li class="list-group-item"><a href="#"><i class="fa fa-adjust"></i> Dergi Kapsamı ve Amacı</a></li>
                    <?php if (isset($_GET['user'])) {?><li class="list-group-item"><a href="#"><i class="fa fa-plus"></i> <strong>Link ekle</strong></a></li><?php }?>
                </ul>
            </div>
            <div class="panel panel-success">
                <div class="panel-heading"><span class="panel-title">Dergi Hakkında</span></div>
                <ul class="list-group">
                    <li class="list-group-item"><a href="#"><i class="fa fa-link"></i> Dergi Tarihçesi</a></li>
                    <li class="list-group-item"><a href="#"><i class="fa fa-link"></i> İletişim</a></li>
                    <li class="list-group-item"><a href="#"><i class="fa fa-link"></i> Bağlantılar</a></li>
                    <?php if (isset($_GET['user'])) {?><li class="list-group-item"><a href="#"><i class="fa fa-plus"></i> <strong>Link ekle</strong></a></li><?php }?>
                </ul>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading"><span class="panel-title">Indexler</span></div>
                <p>
                   demo content
                </p>
            </div>
        </div>


    </div>
{% endblock %}
