{% extends '::ojsbase.html.twig' %}
{#
journal.show tpl for super admin users
#}

{% block breadcrumb %}
    {% set list = [
                {'link': path('dashboard'), 'title': 'dashboard'|trans},
                { 'link': path('journal'), 'title': 'journal.manager'|trans},
                { 'title': 'journal.detail'|trans},

] %}
    {{breadcrumb(list)}}
{% endblock %}

{% block body -%}

    <ul class="list-group">
        <li class="list-group-item">

            <table class="record_properties  table">

                <tbody>
                    <tr>
                        <th width="300px">{{ 'id'|trans }}</th>
                        <td>{{ entity.id }}</td>
                    </tr>
                    <tr>
                        <th>{{"title"|trans}}</th>
                        <td>
                            {{ entity.title }}
                            <div class="btn-group">
                                <a id="article_search_google" target="_blank" class="btn btn-xs btn-default" title="{{ "searchon.google"|trans }}"
                                   href="http://scholar.google.com.tr/scholar?q={{ entity.title|url_encode }}">
                                    <i class="fa fa-google"></i>
                                </a> 
                                <a id="article_search_pubmed" target="_blank" class="btn btn-xs btn-default" title="{{ "searchon.pubmed"|trans }}"
                                   href="http://www.ncbi.nlm.nih.gov/pubmed?term={{ entity.title|url_encode }}&cmd=search">
                                    PubMed
                                </a> 
                                <a id="article_search_pubmed" target="_blank" class="btn btn-xs btn-default" title="{{ "searchon.doaj"|trans }}"
                                   href="http://doaj.org/search?source={%raw%}{%22query%22:{%22filtered%22:{%22query%22:{%22query_string%22:{%22query%22:%22{%endraw%}{{ entity.title|url_encode }}{%raw%}%22,%22default_operator%22:%22AND%22}},%22filter%22:{%22bool%22:{%22must%22:[{%22term%22:{%22_type%22:%22journal%22}}]}}}}}{%endraw%}">
                                    Doaj
                                </a> 
                                <a id="article_search_pubmed" target="_blank" class="btn btn-xs btn-default" title="{{ "searchon.crossref"|trans }}"
                                   href="http://www.crossref.org/titleList/?datatype=journals&search=title&view_records=Search&datatype=journals&search=title&jt=&offset=&rescount=7&journal={{ entity.title }}">
                                    Crossref
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>{{"titleabbr"|trans}}</th>
                        <td>{{ entity.titleAbbr }}</td>
                    </tr>
                    <tr>
                        <th>{{"titletransliterated"|trans}}</th>
                        <td>{{ entity.titleTransliterated }}</td>
                    </tr>
                    <tr>
                        <th>{{"journal.langs"|trans}}</th>
                        <td>{% for language in entity.languages %}{{language.name}}{%endfor%}</td>
                    </tr>

                    <tr>
                        <th>{{"subtitle"|trans}}</th>
                        <td>{{ entity.subtitle }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'ISSN'|trans }}</th>
                        <td>{{ entity.issn }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'e-ISSN'|trans }}</th>
                        <td>{{ entity.eissn }}</td>
                    </tr>
                    <tr>
                        <th>{{"firstpublishdate"|trans}}</th>
                        <td>{{ entity.firstPublishDate|date('Y-m-d') }}</td>
                    </tr>
                    <tr>
                        <th>{{"period"|trans}}</th>
                        <td>{{ entity.period }}</td>
                    </tr>
                    <tr>
                        <th>{{"URL"|trans}}</th>
                        <td>{{ entity.url }}</td>
                    </tr>
                    <tr>
                        <th>{{"country"|trans}}</th>
                        <td>{{ entity.country }}</td>
                    </tr>
                    <tr>
                        <th>{{"published"|trans}}</th>
                        <td>{{ entity.published }}</td>
                    </tr>
                    <tr>
                        <th>{{"status"|trans}}</th>
                        <td>{{ entity.status }}</td>
                    </tr>
                    <tr>
                        <th>{{"image"|trans}}</th>
                        <td>{{ entity.image }}</td>
                    </tr>
                    <tr>
                        <th>{{"scope"|trans}}</th>
                        <td>{{ entity.scope }}</td>
                    </tr>
                    <tr>
                        <th>{{"mission"|trans}}</th>
                        <td>{{ entity.mission }}</td>
                    </tr>
                    <tr>
                        <th>{{"theme.id"|trans}}</th>
                        <td>{{ entity.themeId }}</td>
                    </tr>
                    <tr>
                        <th>{{"users"|trans}}</th>
                        <td><a href="{{ path('ujr_show_users_ofjournal',{ 'journal_id': entity.id }) }}">{{"users"|trans}}</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="record_actions">
                {% set back_path = 'journal' %}
                {% set edit_path = 'journal_edit' %}
                {% set delete_path = 'journal_delete' %}
                {% include '::actionbtns.html.twig' %}
            </div>
        </li>
    </ul>
{% endblock %}
