{% set hideleft = 1 %}
{% extends "::ojsbase.html.twig" %}

{% block body %}
    <div class="container-fluid">
        <hgroup class="page-header">
            <h1>{{ "search.results"|trans }}</h1>

            <h2 class="lead">
                {% trans with {'%total%':total_count, '%term%':term} %}
                <strong class="text-danger">%total%</strong> results were found for the search
                for <strong class="text-danger">%term%</strong>
                {% endtrans %}

            </h2>
        </hgroup>
        <nav class="col-xs-12 col-sm-6 col-md-3">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Journals</div>
                <div class="list-group">
                    {% for journal in aggregations.journal %}
                        <a href="#" class="list-group-item">
                            <i class="fa fa-comment-o"></i> {{ journal.data.title }} <span class="badge">{{ journal.bucket.doc_count }}</span>
                        </a>
                    {% endfor %}
                </div>
                <div class="panel-heading">Authors</div>

                <div class="list-group">
                    {% for journal in aggregations.author %}
                        <a href="#" class="list-group-item">
                            <i class="fa fa-comment-o"></i> {{ journal.data.fullName }} <span class="badge">{{ journal.bucket.doc_count }}</span>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </nav>
        <section class="col-xs-12 col-sm-12 col-md-9">
            <ol>
                {% for article in result %}

                    <li>
                        <article>

                            <h4>
                                <a href="{{ url('ojs_article_page',{article_slug: article.slug,slug: article.journal.slug,institution: article.journal.institution.slug}) }}">{{ article.title }}</a>
                            </h4>

                            <p>
                                {% for author in article.articleAuthors %}
                                    <a href="">{{ author.author.lastName }}, {{ author.author.firstName }}</a>
                                {% endfor %}
                            </p>

                            <p class="text-muted">DOI: {{ article.doi }}</p>
                        </article>
                    </li>
                {% endfor %}
            </ol>
            <nav>

            </nav>
            <ul class="pagination ">
                {% for p in 1..page_count %}
                    {% if loop.first %}
                        <li>
                            <a href="{{ url('ojs_search_index',{page:p,q:term }) }}">
                                <span aria-hidden="true">&laquo;</span><span class="sr-only">{{ p }}</span></a>
                        </li>
                    {% elseif loop.last %}
                        <li>
                            <a href="{{ url('ojs_search_index',{page:p,q:term }) }}">
                                <span aria-hidden="true">&raquo;</span><span class="sr-only">{{ p }}</span>
                            </a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{{ url('ojs_search_index',{page:p,q:term }) }}">{{ p }}</a>
                        </li>
                    {% endif %}

                {% endfor %}

            </ul>

        </section>
    </div>
{% endblock %}
