{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.search'|trans }} {{ parent() }}{% endblock %}
{% set hideleft = 1 %}

{% block breadcrumb %}
    {% set list = [
        {'link': path('ojs_public_index'), 'title': ojs.title|trans},
        {'title': 'tag.search.results'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <hgroup class="page-header">
            <h2 class="lead">
                {% trans with {'%total%':total_count, '%term%':tag} %}
                    <strong class="text-danger">%total%</strong> results tagged with <strong class="text-danger">%term%</strong>
                {% endtrans %}
            </h2>
            <a href="{{ path('ojs_tags_cloud') }}" class="btn btn-default">{{ 'tags.cloud'|trans }}</a>
        </hgroup>

        <section class="col-xs-6 col-sm-6 col-md-9">
            <div role="tabpanel">
                <ul class="nav nav-tabs" role="tablist">
                    {% for key,result in results %}
                        {% if result.data|length > 0 %}
                            <li role="presentation" class="{% if loop.first %}in active{% endif %}">
                                <a href="#content_{{ key }}" aria-controls="content_{{ key }}" role="tab"
                                   data-toggle="tab">
                                    {{ result.type }}
                                    <span class="badge">{{ result.data|length }}</span>
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>

            <div class="tab-content">
                {% for key,result in results %}
                    <div role="tabpanel" class="tab-pane fade {% if loop.first %}in active{% endif %}" id="content_{{ key }}">
                        <table class="table table-bordered">
                            <thead>

                            </thead>
                            <tbody>
                                {% for res in result.data %}
                                    <tr>
                                        <td>
                                            <h4>
                                                <a href="{{ getTagDefinition(res)['route'] }}">{{ getTagDefinition(res)['name'] }}</a>
                                            </h4>
                                            <i class="fa fa-tags"></i> {{ "tags"|trans }}
                                            {% set tags = res.tags|split(',') %}
                                            {% for tag in tags %}
                                                <a href="{{ path('ojs_search_tags', {tag:tag}) }}"><span class="badge">{{ tag }}</span></a>
                                            {% endfor %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endfor %}
            </div>
        </section>
    </div>
{% endblock %}
