{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.journal_role_show_users'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
    {'link': path('dashboard'), 'title': 'dashboard'|trans},
    {'link': path('ojs_journal_role_index'),'title': 'user.journalrole'|trans},
    {'title': 'title.journal_role_show_users'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    <div class="large-12 columns">
        <div class="panel">
            <h1>{{ "user.journalrole.usersofjournal"|trans }}</h1>
            <hr/>
            {% include '::flashbag.html.twig' %}
            {% if is_granted('CREATE', selectedJournal(), 'users') %}
                <a href="{{ path('ojs_journal_role_new') }}" class="btn btn-success">
                    {{ "c"|trans }}
                </a>
            {% endif %}

            <hr>
            {{ grid(grid) }}
        </div>
    </div>
{% endblock %}
