{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.journal_role_show_users'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
    {'link': path('dashboard'), 'title': 'dashboard'|trans},
    {'link': path('ojs_journal_role_index'),'title': 'user.journalrole'|trans},
    {'title': 'title.journal_role_show_users'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    <div class="large-12 columns">
        <div class="panel">
            <h1>{{ "user.journalrole.usersofjournal"|trans }}</h1>
            <hr/>
            {% include '::flashbag.html.twig' %}
            {{ grid(grid) }}
            <a class="button btn btn-primary" href="{{ path('ojs_journal_role_new') }}">
                {{ "c"|trans }}
            </a>
        </div>
    </div>
{% endblock %}
