{% extends '::ojsbase.html.twig' %}

{% block body -%}
<div class="row">
    <div class="large-12 columns">
        <div class="panel">
            <h1>Subject list</h1>

            <table class="records_list" style="width:100%">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Subject</th>
                        <th>Description</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <td><a href="{{ path('admin_subject_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                        <td>{{ entity.subject }}</td>
                        <td>{{ entity.description }}</td>
                        <td>
                            <small>
                                <a href="{{ path('admin_subject_show', { 'id': entity.id }) }}" class="btn btn-info btn-sm">{% trans %}Show{% endtrans %}</a>
                                <a href="{{ path('admin_subject_edit', { 'id': entity.id }) }}" class="btn btn-warning btn-sm">{% trans %}Edit{% endtrans %}</a>
                            </small>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div>
                <a href="{{ path('admin_subject_new') }}" class="btn btn-success">
                     {% trans %}Create New{% endtrans %}
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
