{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.manager_dashboard'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    <!-- TODO: Place this elsewhere -->
    <div style="text-align: center">
        <h1>{{ "dashboard.admin"|trans }}</h1>

        {% if selectedJournal() %}
            <a href="{{ path("dashboard_editor") }}">
                <button class="btn btn-primary">
                    {{ selectedJournal().title }} {{ "dashboard.editor"|trans }}
                </button>
            </a>
        {% endif %}
    </div>
{% endblock %}

{% block body %}
    {% include '::flashbag.html.twig' %}
    <div class="col-md-6">

        <div class="panel panel-primary">
            <div class="panel-heading">
                <span style="font-size: 24px">{{ 'admin.dashboard.system_settings'|trans }}</span>
            </div>

            <div class="list-group">
                <a class="list-group-item" href="{{ path('ojs_admin_user_index') }}">
                    <span style="color: #337ab7; margin-right: 3px;">
                        <i class="fa fa-users"></i>
                    </span>
                    {{ "users"|trans }}
                </a>

                <a class="list-group-item" href="{{ path('ojs_admin_journal_index') }}">
                    <span style="color: #337ab7; margin-right: 3px;">
                        <i class="fa fa-newspaper-o"></i>
                    </span>
                    {{ "user.journalrole.alljournals"|trans }}
                </a>

                <a class="list-group-item" href="{{ path('ojs_admin_role_index') }}">
                    <span style="color: #337ab7; margin-right: 3px;">
                        <i class="fa fa-key"></i>
                    </span>
                    {{ "roles"|trans }}
                </a>

                <a class="list-group-item" href="{{ path('ojs_admin_language_index') }}">
                    <span style="color: #337ab7; margin-right: 3px;">
                        <i class="fa fa-language"></i>
                    </span>
                    {{ "languages"|trans }}
                </a>

                <a class="list-group-item" href="{{ path('ojs_admin_institution_index') }}">
                    <span style="color: #337ab7; margin-right: 3px;">
                        <i class="fa fa-university"></i>
                    </span>
                    {{ "institution"|trans }}
                </a>

                <a class="list-group-item" href="{{ path('ojs_admin_institution_type_index') }}">
                    <span style="color: #337ab7; margin-right: 3px;">
                        <i class="fa fa-building"></i>
                    </span>
                    {{ "institutiontype.plural"|trans }}
                </a>

                <a class="list-group-item" href="{{ path('ojs_admin_article_type_index') }}">
                    <span style="color: #337ab7; margin-right: 3px;">
                        <i class="fa fa-file-text"></i>
                    </span>
                    {{ "article.types"|trans }}
                </a>

                <a class="list-group-item" href="{{ path('ojs_admin_contact_type_index') }}">
                    <span style="color: #337ab7; margin-right: 3px;">
                        <i class="fa fa-user"></i>
                    </span>
                    {{ "contacttype.plural"|trans }}
                </a>

                <a class="list-group-item" href="{{ path('ojs_admin_subject_index') }}">
                    <span style="color: #337ab7; margin-right: 3px;">
                        <i class="fa fa-bookmark"></i>
                    </span>
                    {{ "subject.plural"|trans }}
                </a>

                <a class="list-group-item" href="{{ path('ojs_admin_theme_index') }}">
                    <span style="color: #337ab7; margin-right: 3px;">
                        <i class="fa fa-th-large"></i>
                    </span>
                    {{ "theme.plural"|trans }}
                </a>

                <a class="list-group-item" href="{{ path('ojs_admin_design_index') }}">
                    <span style="color: #337ab7; margin-right: 3px;">
                        <i class="fa fa-navicon"></i>
                    </span>
                    {{ "design"|trans }}
                </a>
            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">
                <span style="font-size: 24px">{{ 'admin.dashboard.journal_settings'|trans }}</span>
            </div>

            <div class="list-group">

                <a class="list-group-item" href="{{ path('ujr') }}">
                    <span style="color: #337ab7; margin-right: 3px;">
                        <i class="fa fa-key"></i>
                    </span>
                    {{ "User Journal Roles"|trans }}
                </a>

                <a class="list-group-item" href="{{ path('article') }}">
                    <span style="color: #337ab7; margin-right: 3px;">
                        <i class="fa fa-file-text"></i>
                    </span>
                    {{ "articles"|trans }}
                </a>

                <a class="list-group-item" href="{{ path('issue') }}">
                    <span style="color: #337ab7; margin-right: 3px;">
                        <i class="fa fa-newspaper-o"></i>
                    </span>
                    {{ "issue"|trans }}
                </a>

                <a class="list-group-item" href="{{ path('citation') }}">
                    <span style="color: #337ab7; margin-right: 3px;">
                        <i class="fa fa-quote-right"></i>
                    </span>
                    {{ "citations"|trans }}
                </a>

                <a class="list-group-item" href="{{ path('contact') }}">
                    <span style="color: #337ab7; margin-right: 3px;">
                        <i class="fa fa-user"></i>
                    </span>
                    {{ "contact"|trans }}
                </a>

                <a class="list-group-item" href="{{ path('admin_journalindex') }}">
                    <span style="color: #337ab7; margin-right: 3px;">
                        <i class="fa fa-sitemap"></i>
                    </span>
                    {{ "journalsindex.plural"|trans }}
                </a>

                <a class="list-group-item" href="{{ path('admin_board') }}">
                    <span style="color: #337ab7; margin-right: 3px;">
                        <i class="fa fa-users"></i>
                    </span>
                    {{ "boards"|trans }}
                </a>

                <a class="list-group-item" href="{{ path('okulbilisim_feedback_homepage') }}">
                    <span style="color: #337ab7; margin-right: 3px;">
                        <i class="fa fa-envelope"></i>
                    </span>
                    {{ "feedback"|trans }}
                </a>

                <a class="list-group-item" href="{{ path('admin_journaltheme') }}">
                    <span style="color: #337ab7; margin-right: 3px;">
                        <i class="fa fa-th-large"></i>
                    </span>
                    {{ "journal.theme"|trans }}
                </a>

                <a class="list-group-item" href="{{ path('admin_journaldesign') }}">
                    <span style="color: #337ab7; margin-right: 3px;">
                        <i class="fa fa-navicon"></i>
                    </span>
                    {{ "journal.design"|trans }}
                </a>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span style="font-size: 24px">{{ 'admin.dashboard.applications'|trans }}</span>
            </div>
            <div class="list-group">
                <a class="list-group-item" href="{{ path('ojs_admin_application_journal_index') }}">
                    <span style="color: #337ab7; margin-right: 3px;">
                        <i class="fa fa-newspaper-o"></i>
                    </span>
                    {{ "application.journal"|trans }}
                </a>

                <a class="list-group-item" href="{{ path('ojs_admin_application_institution_index') }}">
                    <span style="color: #337ab7; margin-right: 3px;">
                        <i class="fa fa-university"></i>
                    </span>
                    {{ "application.institute"|trans }}
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        {{ getLogs(selectedJournal()) }}
    </div>
{% endblock %}
