{% extends '::ojsbase.html.twig' %}
{% set hideleft = true %}
{% block stylesheets %}
    {{ parent() }}

    <style type="text/css">
        @media (max-width: 400px) {
            .btn-primary {
                font-size: 12px !important;
            }
        }
        .margin-bot {
            margin-bottom: 5px;
        }
    </style>
{% endblock %}
{% block title %}{{ 'title.admin_dashboard'|trans }} {{ parent() }}{% endblock %}

{% block body %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h1 class="text-center">{{ 'title.admin_dashboard'|trans }}</h1>
        </div>

        <div class="panel-body">
            <div class="col-sm-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4>
                            <i class="fa fa-random"></i>
                            {{ 'admin.dashboard.switcher.title'|trans }}
                        </h4>
                    </div>
                    <div class="panel-body">
                        <div class="form-inline">
                            <div class="form-group">
                                {{ form_label(switcher.journal) }}
                                {{ form_widget(switcher.journal) }}
                            </div>

                            <div class="form-group">
                                {{ form_widget(switcher.switch) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xs-12">
                {% include '::flashbag.html.twig' %}
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4>
                            <i class="fa fa-gears"></i>
                            {{ 'admin.dashboard.system_settings'|trans }}
                        </h4>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-6 col-xs-12 margin-bot">
                            <a href="{{ path('ojs_admin_user_index') }}"
                               class="btn btn-primary btn-labeled btn-block btn-lg">
                                <span class="btn-label pull-left col-md-3 col-xs-3">
                                    <i class="fa fa-users"></i>
                                </span>
                                {{ "title.users"|trans }}
                            </a>

                            <a href="{{ path('ojs_admin_journal_index') }}"
                               class="btn btn-primary btn-labeled btn-block btn-lg">
                                <span class="btn-label pull-left col-md-3 col-xs-3">
                                    <i class="fa fa-newspaper-o"></i>
                                </span>
                                {{ "title.journals"|trans }}
                            </a>

                            <a href="{{ path('ojs_admin_institution_index') }}"
                               class="btn btn-primary btn-labeled btn-block btn-lg">
                                <span class="btn-label pull-left col-md-3 col-xs-3">
                                    <i class="fa fa-university"></i>
                                </span>
                                {{ "title.institutions"|trans }}
                            </a>

                            <a href="{{ path('ojs_admin_subject_index') }}"
                               class="btn btn-primary btn-labeled btn-block btn-lg">
                                <span class="btn-label pull-left col-md-3 col-xs-3">
                                    <i class="fa fa-bookmark"></i>
                                </span>
                                {{ "title.subjects"|trans }}
                            </a>

                            <a href="{{ path('ojs_admin_language_index') }}"
                               class="btn btn-primary btn-labeled btn-block btn-lg">
                                <span class="btn-label pull-left col-md-3 col-xs-3">
                                    <i class="fa fa-language"></i>
                                </span>
                                {{ "title.languages"|trans }}
                            </a>

                            <a href="{{ path('ojs_admin_institution_type_index') }}"
                               class="btn btn-primary btn-labeled btn-block btn-lg">
                                <span class="btn-label pull-left col-md-3 col-xs-3">
                                    <i class="fa fa-building"></i>
                                </span>
                                {{ "title.institution_types"|trans }}
                            </a>

                            <a href="{{ path('ojs_admin_article_type_index') }}"
                               class="btn btn-primary btn-labeled btn-block btn-lg">
                                <span class="btn-label pull-left col-md-3 col-xs-3">
                                    <i class="fa fa-file-text"></i>
                                </span>
                                {{ "title.article_types"|trans }}
                            </a>

                            <a href="{{ path('ojs_admin_contact_type_index') }}"
                               class="btn btn-primary btn-labeled btn-block btn-lg">
                                <span class="btn-label pull-left col-md-3 col-xs-3">
                                    <i class="fa fa-user"></i>
                                </span>
                                {{ "title.contact_types"|trans }}
                            </a>

                            <a href="{{ path('ojs_admin_index_index') }}"
                               class="btn btn-primary btn-labeled btn-block btn-lg">
                                <span class="btn-label pull-left col-md-3 col-xs-3">
                                    <i class="fa fa-sitemap"></i>
                                </span>
                                {{ "title.journals_indexes"|trans }}
                            </a>

                            <a href="{{ path('ojs_admin_contact_index') }}"
                               class="btn btn-primary btn-labeled btn-block btn-lg">
                                <span class="btn-label pull-left col-md-3 col-xs-3">
                                    <i class="fa fa-users"></i>
                                </span>
                                {{ "title.contacts"|trans }}
                            </a>
                        </div>

                        <div class="col-md-6 col-xs-12">
                            <a href="{{ path('ojs_admin_post_index') }}"
                               class="btn btn-primary btn-labeled btn-block btn-lg">
                                <span class="btn-label pull-left col-md-3 col-xs-3">
                                    <i class="fa fa-file-o"></i>
                                </span>
                                {{ "title.post"|trans }}
                            </a>

                            <a href="{{ path('ojs_admin_page_index') }}"
                               class="btn btn-primary btn-labeled btn-block btn-lg">
                                <span class="btn-label pull-left col-md-3 col-xs-3">
                                    <i class="fa fa-file-text-o"></i>
                                </span>
                                {{ "title.pages"|trans }}
                            </a>

                            <a href="{{ path('ojs_admin_announcement_index') }}"
                               class="btn btn-primary btn-labeled btn-block btn-lg">
                                <span class="btn-label pull-left col-md-3 col-xs-3">
                                    <i class="fa fa-bullhorn"></i>
                                </span>
                                {{ "title.announcements"|trans }}
                            </a>

                            <a href="{{ path('ojs_admin_institution_theme_index') }}"
                               class="btn btn-primary btn-labeled btn-block btn-lg">
                                <span class="btn-label pull-left col-md-3 col-xs-3">
                                    <i class="fa fa-css3"></i>
                                </span>
                                {{ "title.institution_theme"|trans }}
                            </a>

                            <a href="{{ path('ojs_admin_institution_design_index') }}"
                               class="btn btn-primary btn-labeled btn-block btn-lg">
                                <span class="btn-label pull-left col-md-3 col-xs-3">
                                    <i class="fa fa-wrench"></i>
                                </span>
                                {{ "title.institution_design"|trans }}
                            </a>

                            <a href="{{ path('ojs_admin_institution_managers_index') }}"
                               class="btn btn-primary btn-labeled btn-block btn-lg">
                                <span class="btn-label pull-left col-md-3 col-xs-3">
                                    <i class="fa fa-users"></i>
                                </span>
                                {{ "title.institution_managers"|trans }}
                            </a>

                            <a href="{{ path('okulbilisim_feedback_homepage') }}"
                               class="btn btn-primary btn-labeled btn-block btn-lg">
                                <span class="btn-label pull-left col-md-3 col-xs-3">
                                    <i class="fa fa-envelope"></i>
                                </span>
                                {{ "feedback"|trans }}
                            </a>

                            <a href="{{ path('ojs_admin_system_setting_index') }}"
                               class="btn btn-primary btn-labeled btn-block btn-lg">
                                <span class="btn-label pull-left col-md-3 col-xs-3">
                                    <i class="fa fa-gears"></i>
                                </span>
                                {{ "title.system_settings"|trans }}
                            </a>

                            <a href="{{ path('ojs_admin_stats') }}"
                               class="btn btn-primary btn-labeled btn-block btn-lg">
                                <span class="btn-label pull-left col-md-3 col-xs-3">
                                    <i class="fa fa-bar-chart"></i>
                                </span>
                                {{ "stats"|trans }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-xs-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4>
                            <i class="fa fa-folder-open"></i>
                            {{ 'admin.dashboard.applications'|trans }}
                        </h4>
                    </div>
                    <div class="panel-body">
                        <div class="col-sm-12">
                            <a href="{{ path('ojs_admin_application_institution_index') }}"
                               class="btn btn-primary btn-labeled btn-block btn-lg">
                            <span class="btn-label pull-left col-md-2 col-xs-3">
                                <i class="fa fa-university"></i>
                            </span>
                                {{ "title.institution_application"|trans }}
                            </a>

                            <a href="{{ path('ojs_admin_application_journal_index') }}"
                               class="btn btn-primary btn-labeled btn-block btn-lg">
                            <span class="btn-label pull-left col-md-2 col-xs-3">
                                <i class="fa fa-newspaper-o"></i>
                            </span>
                                {{ "title.journal_application"|trans }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}