{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.issuefile.new'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
    {'link': path('ojs_journal_dashboard_index', {journalId: selectedJournal().id}), 'title': 'dashboard'|trans},
    {'link': path('ojs_journal_issue_index', {'journalId': selectedJournal().id}),'title': 'issuefile'|trans},
    {'title': 'title.issuefile.new'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    <h1>{{ "issuefile.new"|trans }}</h1>
    {% include '::flashbag.html.twig' %}
    {{ form(form) }}
{% endblock %}
