{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.journals_index_edit'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
    {'link': path('dashboard'), 'title': 'dashboard'|trans},
    {'link': path('ojs_journal_index_index'),'title': 'journals.index'|trans},
    {'title': 'title.journals_index_edit'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    {% include 'OjsJournalBundle:Journal:journal_settings_nav.html.twig' with {'active':2} only %}
    <h1>{{ 'journalsindex.edit'|trans }}</h1>
    {% include '::flashbag.html.twig' %}
    {{ form(edit_form) }}


    <a href="{{ path('ojs_journal_index_index') }}">
        {{ 'b'|trans }}
    </a>
    {% if is_granted('DELETE', selectedJournal(), 'index') %}
        <a href="{{ path('ojs_journal_index_index') }}">
            {{ 'd'|trans }}
        </a>
    {% endif %}

    {{ getLogs(entity) }}
{% endblock %}
