{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.journals_indexes'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
    {'link': path('dashboard'), 'title': 'dashboard'|trans},
    {'title': 'title.journals_indexes'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    {% include 'OjsJournalBundle:Journal:journal_settings_nav.html.twig' with {'active':2} only %}
    <h1>{{ 'title.journals_indexes'|trans }}</h1>
    {% include '::flashbag.html.twig' %}
    {{ grid(grid) }}
    {% if is_granted('CREATE', selectedJournal(), 'index') %}
        <a class="btn btn-success" href="{{ path('ojs_journal_index_new',{journal: journal_id}) }}">
            {{ 'add'|trans }}
        </a>
    {% endif %}
{% endblock %}
