{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.journals_index_show'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
    {'link': path('dashboard'), 'title': 'dashboard'|trans},
    {'link': path('ojs_journal_index_index',{journal: entity.journal.id}),'title': 'journals.index'|trans},
    {'title': 'title.journals_index_show'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    {% include 'OjsJournalBundle:Journal:journal_settings_nav.html.twig' with {'active':2} only %}
    <h1>{{ 'journalsindex.plural'|trans }}</h1>
    {% include '::flashbag.html.twig' %}
    <table class="record_properties">
        <tbody>
        <tr>
            <th>ID</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>{{ 'journalsindex.journalindex'|trans }}</th>
            <td>{{ entity.journalIndex }}</td>
        </tr>
        <tr>
            <th>{{ 'journalsindex.journal'|trans }}</th>
            <td>{{ entity.journal }}</td>
        </tr>
        <tr>
            <th>{{ 'journalsindex.link'|trans }}</th>
            <td>{{ entity.link }}</td>
        </tr>
        </tbody>
    </table>
    <a href="{{ path('ojs_journal_index_index',{journal: entity.journal.id}) }}">
        {{ 'b'|trans }}
    </a>
    {% if is_granted('EDIT', selectedJournal(), 'index') %}
        <a href="{{ path('ojs_journal_index_edit', { 'id': entity.id }) }}">
            {{ 'e'|trans }}
        </a>
    {% endif %}
    {% if is_granted('DELETE', selectedJournal(), 'index') %}
        <a href="{{ path('ojs_journal_index_delete', { 'id': entity.id }) }}">
            {{ 'd'|trans }}
        </a>
    {% endif %}

{% endblock %}
