{% extends '::ojsbase.html.twig' %}

{% block body -%}
    {% include 'OjsJournalBundle:Journal:journal_settings_nav.html.twig' with {'active':2} only %}
    <h1>{{ 'journalsindex.plural'|trans }}</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>{{ 'journalsindex.journalindex'|trans }}</th>
                <td>{{ entity.journalIndex }}</td>
            </tr>
            <tr>
                <th>{{ 'journalsindex.journal'|trans }}</th>
                <td>{{ entity.journal }}</td>
            </tr>
            <tr>
                <th>{{ 'journalsindex.link'|trans }}</th>
                <td>{{ entity.link }}</td>
            </tr>
        </tbody>
    </table>
    <a href="{{ path('manager_journals_indexes',{journal: entity.journal.id}) }}">
        {{ 'b'|trans }}
    </a> 
    <a href="{{ path('manager_journals_indexes_edit', { 'id': entity.id }) }}">
        {{ 'e'|trans }}
    </a> 
    {{ form(delete_form) }}

{% endblock %}
