{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.journal_contact_edit'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set index_path = 'ojs_journal_journal_contact_index' %}
    {% set list = [
    {'link': path('dashboard'), 'title': 'dashboard'|trans},
    {'link': path(index_path),'title': 'journal.contact'|trans},
    {'title': 'edit'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    <h1>{{ "journalContact.edit"|trans }}</h1>
    {% include '::flashbag.html.twig' %}
    {{ form(edit_form) }}


    <div class="record_actions">
        {% set back_path = 'ojs_journal_journal_contact_index' %}
        {% if is_granted('DELETE', selectedJournal(), 'contacts') %}
            {% set delete_path = 'ojs_journal_journal_contact_delete' %}
        {% endif %}
        {% include '::actionbuttons.html.twig' %}
    </div>

    {{ getLogs(entity) }}
{% endblock %}
