{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.journal_contact_edit'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% if isSystemAdmin() %}
        {% set index_path = 'journalcontact' %}
    {% else %}
        {% set index_path = 'manager_journalcontact' %}
    {% endif %}
    {% set list = [
        {'link': path('dashboard'), 'title': 'dashboard'|trans},
        {'link': path(index_path),'title': 'journal.contact'|trans},
        {'title': 'edit'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    <h1>{{"journalContact.edit"|trans}}</h1>
    {% include '::flashbag.html.twig' %}
    {{ form(edit_form) }}


    <div class="record_actions">
        {% if isSystemAdmin() %}
            {% set back_path = 'journalcontact' %}
            {% set delete_path = 'journalcontact_delete' %}
        {%else %}
            {% set back_path = 'manager_journalcontact' %}
            {% set delete_path = 'manager_journalcontact_delete' %}
        {% endif %}
        {% include '::actionbuttons.html.twig' %}
    </div>

    {{ getLogs(entity) }}
{% endblock %}
