{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.journal_contacts'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
        {'link': path('dashboard'), 'title': 'dashboard'|trans},
        {'title': 'journal.contact'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    <h1>{{ 'journalcontact.list'|trans }}
        {% if isSystemAdmin() %}
            {% set create_path = 'journalcontact_new' %}
        {%else %}
            {% set create_path = 'manager_journalcontact_new' %}
        {% endif %}
        {% include '::actionbuttons.html.twig' %}
    </h1>
    {% include '::flashbag.html.twig' %}

    {{grid(grid)}}
{% endblock %}
