{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.journal_contact_new'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
    {'link': path('dashboard'), 'title': 'dashboard'|trans},
    {'link': path('ojs_journal_journal_contact_index'),'title': 'journal.contact'|trans},
    {'title': 'new'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    <h1>{{ 'journalcontact.creation'|trans }}</h1>

    {{ form(form) }}

    <div class="record_actions">
        {% set back_path = 'ojs_journal_journal_contact_index' %}
        {% include '::actionbuttons.html.twig' %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('/bundles/ojslocation/js/location.js') }}"></script>
{% endblock %}
