{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.journal_contact_new'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% if isSystemAdmin() %}
        {% set index_path = 'journalcontact' %}
    {% else %}
        {% set index_path = 'manager_journalcontact' %}
    {% endif %}
    {% set list = [
        {'link': path('dashboard'), 'title': 'dashboard'|trans},
        {'link': path(index_path),'title': 'journal.contact'|trans},
        {'title': 'new'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    <h1>{{ 'journalcontact.creation'|trans }}</h1>

    {{ form(form) }}


    {% if is_granted('EDIT', selectedJournal()) %}
        <div class="alert alert-warning">
            <h4>Not listed here?</h4>
            <a class="btn btn-warning" href="">Add new contact details</a>
        </div>
    {% endif %}

    <div class="record_actions">
        {% if is_granted('ROLE_SUPER_ADMIN') %}
            {% set back_path = 'journalcontact' %}
        {% elsif is_granted('EDIT', selectedJournal()) %}
            {% set back_path = 'manager_journalcontact' %}
        {% endif %}
        {% include '::actionbuttons.html.twig' %}
    </div>
{% endblock %}
