{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.journal_contact_show'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
    {'link': path('dashboard'), 'title': 'dashboard'|trans},
    {'link': path('ojs_journal_journal_contact_index'),'title': 'journal.contact'|trans},
    {'title': 'show'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    <h1>{{ 'journalcontact.singular'|trans }}
        <small>#{{ entity.id }}</small>
    </h1>
    {% include '::flashbag.html.twig' %}
    <table class="record_properties  table">
        <tbody>
        <tr>
            <th>{{ 'id'|trans }}</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>{{ "title"|trans }}</th>
            <td>{{ entity.title }}</td>
        </tr>
        <tr>
            <th>{{ 'contact.type'|trans }}</th>
            <td>{{ entity.contactType.name }} - {{ entity.contactType.description }}</td>
        </tr>
        <tr>
            <th>{{ "firstname"|trans }}</th>
            <td>{{ entity.firstName }}</td>
        </tr>
        <tr>
            <th>{{ "lastname"|trans }}</th>
            <td>{{ entity.lastName }}</td>
        </tr>
        <tr>
            <th>{{ "adress"|trans }}</th>
            <td>{{ entity.address }}</td>
        </tr>
        <tr>
            <th>{{ "country"|trans }}</th>
            <td>{{ entity.city.country.name }}</td>
        </tr>
        <tr>
            <th>{{ "city"|trans }}</th>
            <td>{{ entity.city.name }}</td>
        </tr>
        <tr>
            <th>{{ "phone"|trans }}</th>
            <td>{{ entity.phone }}</td>
        </tr>
        <tr>
            <th>{{ "fax"|trans }}</th>
            <td>{{ entity.fax }}</td>
        </tr>
        <tr>
            <th>{{ "email"|trans }}</th>
            <td>{{ entity.email }}</td>
        </tr>
        </tbody>
    </table>

    <div class="record_actions">
        {% set back_path = 'ojs_journal_journal_contact_index' %}
        {% if is_granted('EDIT', selectedJournal(), 'contacts') %}
            {% set edit_path = 'ojs_journal_journal_contact_edit' %}
        {% endif %}
        {% if is_granted('DELETE', selectedJournal(), 'contacts') %}
            {% set delete_path = 'ojs_journal_journal_contact_delete' %}
        {% endif %}
        {% include '::actionbuttons.html.twig' %}
    </div>

{% endblock %}
