{% extends '::ojsbase.html.twig' %}

{% block body -%}
    <h1>{{ 'journalcontact.singular'|trans }}</h1>

    <table class="record_properties  table">
        <tbody>
            <tr>
                <th>{{ 'id'|trans }}</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>{{ 'journalcontact.journal.id'|trans }}</th>
                <td>{{ entity.journalId }}</td>
            </tr>
            <tr>
                <th>{{ 'journalcontact.contact.id'|trans }}</th>
                <td>{{ entity.contactId }}</td>
            </tr>
            <tr>
                <th>{{ 'journalcontact.contact.type.id'|trans }}</th>
                <td>{{ entity.contactTypeId }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="record_actions">
        <li>
            <a href="{{ path('journalcontact') }}">
                {{"b"|trans}}
            </a>
        </li>
        <li>
            <a href="{{ path('journalcontact_edit', { 'id': entity.id }) }}">
                {{"e"|trans}}
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %}
