{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.manager_dashboard'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
    {'link': path('dashboard'), 'title': 'dashboard'|trans},
    {'title': 'dashboard'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body %}
    <h1>{{ "dashboard.admin"|trans }}</h1>

    {% include '::flashbag.html.twig' %}
    <div class="col-md-6">
        {% if selectedJournal() %}
            <a href="{{ path("dashboard_editor") }}"><strong>{{ selectedJournal().title }} {{ "dashboard.editor"|trans }}</strong></a>
        {% endif %}
        <h2>{{ "dashboard.objects"|trans }}</h2>

        <div class="list-group">
            <a class="list-group-item" href="{{ path('ojs_admin_user_index') }}"><i class="fa fa-cogs"></i> {{ "users"|trans }}</a>
            <a class="list-group-item" href="{{ path('ojs_admin_role_index') }}">
                <i class="fa fa-cogs"></i> {{ "roles"|trans }}
            </a>
            <a class="list-group-item" href="{{ path('journal') }}">
                <i class="fa fa-asterisk"></i> {{ "user.journalrole.alljournals"|trans }}</a>
            <a class="list-group-item" href="{{ path('ujr') }}">
                <i class="fa fa-cogs"></i> {{ "User Journal Roles"|trans }}
            </a>
            <a class="list-group-item" href="{{ path('article') }}">
                <i class="fa fa-cogs"></i> {{ "articles"|trans }}
            </a>
            <a class="list-group-item" href="{{ path('ojs_admin_article_type_index') }}">
                <i class="fa fa-cogs"></i> {{ "article.types"|trans }}
            </a>
            <a class="list-group-item" href="{{ path('ojs_admin_language_index') }}">
                <i class="fa fa-cogs"></i> {{ "languages"|trans }}
            </a>
            <a class="list-group-item" href="{{ path('issue') }}">
                <i class="fa fa-cogs"></i> {{ "issue"|trans }}
            </a>

            <a class="list-group-item" href="{{ path('admin_file') }}">
                <i class="fa fa-cogs"></i> {{ "file"|trans }}
            </a>
            <a class="list-group-item" href="{{ path('ojs_admin_institution_index') }}">
                <i class="fa fa-cogs"></i> {{ "institution"|trans }}
            </a>
            <a class="list-group-item" href="{{ path('ojs_admin_institution_type_index') }}">
                <i class="fa fa-cogs"></i> {{ "institutiontype.plural"|trans }}
            </a>
            <a class="list-group-item" href="{{ path('citation') }}">
                <i class="fa fa-cogs"></i> {{ "citations"|trans }}
            </a>
            <a class="list-group-item" href="{{ path('contact') }}">
                <i class="fa fa-cogs"></i>  {{ "contact"|trans }}
            </a>
            <a class="list-group-item" href="{{ path('ojs_admin_contact_type_index') }}">{{ "contacttype.plural"|trans }}</a>
            <a class="list-group-item" href="{{ path('admin_journalindex') }}">
                <i class="fa fa-cogs"></i>  {{ "journalsindex.plural"|trans }}
            </a>
            <a class="list-group-item" href="{{ path('ojs_admin_subject_index') }}"><i class="fa fa-cogs"></i>
                {{ "subject.plural"|trans }}
            </a>
            <a class="list-group-item" href="{{ path('admin_board') }}">
                <i class="fa fa-cogs"></i>  {{ "boards"|trans }}
            </a>
            <a class="list-group-item" href="{{ path('okulbilisim_feedback_homepage') }}"><i
                        class="fa fa-envelope"></i>  {{ "feedback"|trans }}
            </a>
            <a class="list-group-item" href="{{ path('ojs_admin_theme_index') }}">{{ "theme.plural"|trans }}</a>
            <a class="list-group-item" href="{{ path('admin_journaltheme') }}">{{ "journal.theme"|trans }}</a>
            <a class="list-group-item" href="{{ path('admin_journaldesign') }}">{{ "journal.design"|trans }}</a>
            <a class="list-group-item" href="{{ path('design') }}">{{ "design"|trans }}</a>
        </div>
    </div>
    <div class="col-md-6">
        <h2>{{ "dashboard.application"|trans }}</h2>
        <ul class="list-group">
            <li class="list-group-item"><a
                        href="{{ path('journal_application') }}">{{ "application.journal"|trans }}</a></li>
            <li class="list-group-item"><a
                        href="{{ path('institution_application') }}">{{ "application.institute"|trans }}</a></li>
        </ul>
    </div>
    <div class="col-md-12">
        {{ getLogs(selectedJournal()) }}
    </div>
{% endblock %}
