{% extends '::ojsbase.html.twig' %}
{% set hideleft = true %}
{% block title %}{{ 'title.index_edit'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
        {'link': path('ojs_admin_dashboard'), 'title': 'dashboard'|trans},
    {'link': path('ojs_admin_index_index'),'title': 'title.indexes'|trans},
    {'title': 'title.index_edit'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    <h1>{{ 'journalindex.edit'|trans }}</h1>
    {% include '::flashbag.html.twig' %}

    {{ form(edit_form) }}

    <a href="{{ path('ojs_admin_index_index') }}" class="btn btn-warning">
        <i class="fa fa-arrow-left"></i> {{ 'b'|trans }}
    </a>

    {{ getLogs(entity) }}
{% endblock %}
