{% extends '::ojsbase.html.twig' %}
{% set hideleft = true %}
{% block title %}{{ 'title.journal_index_show'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
        {'link': path('ojs_admin_dashboard'), 'title': 'dashboard'|trans},
        {'link': path('ojs_admin_index_index'),'title': 'title.journal_indexes'|trans},
        {'title': 'title.journal_index_show'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    <h1>{{ entity.name|trans }}</h1>

    {% include '::flashbag.html.twig' %}
    <table class="record_properties  table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ entity.name }}</td>
        </tr>
        <tr>
            <th>Logo</th>
            <td>{{ entity.logo }}</td>
        </tr>
        <tr>
            <th>Status</th>
            <td>{{ entity.status }}</td>
        </tr>
        </tbody>
    </table>
    {% set back_path = 'ojs_admin_index_index' %}
    {% if is_granted('EDIT', selectedJournal(), 'index') %}
        {% set edit_path = 'ojs_admin_index_edit' %}
    {% endif %}
    {% if is_granted('DELETE', selectedJournal(), 'index') %}
        {% set delete_path = 'ojs_admin_index_delete' %}
    {% endif %}
    {% include '::actionbuttons.html.twig' %}
{% endblock %}
