{% extends '::vipabase.html.twig' %}
{% block title %}{{ 'title.board_new'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
    {'link': path('vipa_journal_dashboard_index', {journalId: selectedJournal().id}), 'title': 'dashboard'|trans},
    { 'link': path('vipa_journal_board_index', {'journalId': selectedJournal().id}),'title': 'board'|trans},
    {'title': 'title.board_new'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    {% if is_granted('CREATE', selectedJournal(), 'boards') %}
        <h1>{{ "board.create"|trans }}</h1>
    {% endif %}
    {{ form(form) }}

    {{
    actions({
        'back': {'href': path('vipa_journal_board_index', {'journalId': selectedJournal().id})},
    })
    }}

{% endblock %}
