{% extends '::vipabase.html.twig' %}
{% block title %}{{ 'title.file_edit'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
        {'link': path('vipa_journal_dashboard_index', {journalId: selectedJournal().id}), 'title': 'dashboard'|trans},
        {'link': path('vipa_journal_filemanager_index', {'journalId': selectedJournal().id}),'title': 'title.files'|trans},
        {'title': 'title.file_edit'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    <h1>{{ 'title.file_edit'|trans }}</h1>
    {% include '::flashbag.html.twig' %}
    {{ form(edit_form) }}

    <hr>

    {{
        actions({
            'back': {'href': path('vipa_journal_filemanager_index', {'journalId': selectedJournal().id})}
        })
    }}

    {{ getLogs(entity) }}
{% endblock %}
