{% extends '::vipabase.html.twig' %}
{% block title %}{{ 'title.files'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
        {'link': path('vipa_journal_dashboard_index', {journalId: selectedJournal().id}), 'title': 'dashboard'|trans},
        {'title': 'title.files'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    <h1>{{ "title.files"|trans }}</h1>
    {% include '::flashbag.html.twig' %}

    {% if is_granted('CREATE', selectedJournal(), 'files') %}
        <a href="{{ path('vipa_journal_filemanager_new', {'journalId': selectedJournal().id}) }}" class="btn btn-success">
            {{ "create"|trans }}
        </a>
    {% endif %}

    <hr>
    {{ grid(grid) }}
{% endblock %}
