{% extends '::vipabase.html.twig' %}
{% block title %}{{ 'title.file_show'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
        {'link': path('vipa_journal_dashboard_index', {journalId: selectedJournal().id}), 'title': 'dashboard'|trans},
        {'link': path('vipa_journal_filemanager_index', {'journalId': selectedJournal().id}),'title': 'title.files'|trans},
        {'title': 'title.file_show'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    {% include '::flashbag.html.twig' %}
    <h1>{{ 'file'|trans }}</h1>
    {{ display(entity) }}
    {{
        actions({
            'back': {'href': path('vipa_journal_filemanager_index', {'journalId': selectedJournal().id})},
            'edit': {'href': path('vipa_journal_filemanager_edit', {'id': entity.id, 'journalId': selectedJournal().id})},
            'delete': {
                'href': path('vipa_journal_filemanager_delete', {'id': entity.id, 'journalId': selectedJournal().id}),
                'permission': is_granted('DELETE', selectedJournal(), 'files'),
                'attributes': {'data-token': token}
            },
        })
    }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        analytics.increase('post', {{ entity.id }})
    </script>
{% endblock %}