{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Language list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Language</th>
                <th>Languagetranslated</th>
                <th>Code</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('admin_language_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.language }}</td>
                <td>{{ entity.languageTranslated }}</td>
                <td>{{ entity.code }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('admin_language_show', { 'id': entity.id }) }}">{% trans %}Show{% endtrans %}</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_language_edit', { 'id': entity.id }) }}">{% trans %}Edit{% endtrans %}</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('admin_language_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
