{% extends '::vipabase.html.twig' %}
{% block title %}{{ 'title.article_files_new'|trans }} {{ parent() }}{% endblock %}
{% block breadcrumb %}
    {% set list = [
        {'link': path('vipa_journal_dashboard_index', {journalId: selectedJournal().id}), 'title': 'dashboard'|trans},
        {'link': path('vipa_journal_article_file_index', {'articleId': article.id, 'journalId': selectedJournal().id}),'title': 'title.article_files'|trans},
        {'title': 'title.article_files_new'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    <h1>{{ 'title.article_files_new'|trans }}</h1>

    {% include '::flashbag.html.twig' %}
    {{ form(form) }}
    <ul class="record_actions">
        <li>
            <a href="{{ path('vipa_journal_article_file_index', {'articleId': article.id, 'journalId': selectedJournal().id}) }}">
                Back to the list
            </a>
        </li>
    </ul>
{% endblock %}
