{% extends '::ojsbase_modal.html.twig' %}

{% block breadcrumb %}
    {% set list = [
                {'link': path('dashboard'), 'title': 'dashboard'|trans},
                {'link': path('ojs_workflow_homepage'), 'title': 'workflow'|trans},
                {'title': 'workflow.step.graph'|trans}
] %}
    {{breadcrumb(list)}}
{% endblock %}

{% block body -%}
    <div class="panel">
        <div class="panel-heading">
            <h1>{{ 'workflow.step.graph'|trans }}</h1>
        </div>
        <div class="panel-body">

            <div class="mermaid">
                {{ 'sequenceDiagram'|trans }}


                {% for nStep in firstStep.nextSteps %}
                    loop {{ firstStep.title }} query
                    {{ firstStep.title }}->>{{ nStep.title }}: {% if firstStep.canReview %}{{ 'review.result'|trans }}{% else %}{{ 'accept'|trans }}{% endif %}

                    {% for n2Step in firstStep.nextSteps %}
                        {{ nStep.title }}->>{{ n2Step.title }}: {% if nStep.canReview %}{{ 'review.result'|trans }} {% else %}{{ 'accept'|trans }}{% endif %}

                    {% endfor  %}
                    end
                {% endfor  %}
            </div>


        </div>
    </div>
{% endblock %}


{% block javascripts %}
    {{parent()}}
    <script src="/vendor/mermaid/dist/mermaid.full.js"></script>

{% endblock %}
