{% extends '::ojsbase.html.twig' %}

{% block breadcrumb %}
    {% set list = [
                {'link': path('dashboard'), 'title': 'Dashboard'},
                {'link': path('ojs_workflow_homepage'), 'title': 'Workflow'},
                {'title': 'Workflow Steps'}
] %}
    {{breadcrumb(list)}}
{% endblock %}

{% block body -%}
    <div class="panel">
        <div class="panel-heading">
            <h1>Workflow Steps</h1>
        </div>
        <div class="panel-body">
            {% for entity in steps %}
                <div class="list-group-item">

                    <span>
                        <a href="{{ path('workflowsteps_show', { 'id': entity.id } ) }}">
                            <strong>
                                {%if entity.firststep%}<span class="badge">First</span><br>{%endif%}
                                {%if entity.laststep%}<span class="badge">Last</span><br>{%endif%}
                                {{entity.title}}

                            </strong>
                        </a>
                        <br>
                        {%for role in entity.roles%}
                            <span class="label label-info">{{role.name}}</span>
                        {%endfor%}
                        <br>
                    </span>

                    <span class="pull-right">
                        <a class="btn btn-info btn-sm" href="{{path('workflowsteps_show',{ 'id': entity.id })}}">
                            <i class="fa fa-info"></i>
                        </a>
                        {% if isJournalManager() %}
                            <a class="btn btn-warning btn-sm" href="{{path('workflowsteps_edit',{ 'id': entity.id })}}">
                                <i class="fa fa-pencil"></i>
                            </a>
                            <a class="btn btn-danger btn-sm" href="{{path('workflowsteps_delete',{ 'id': entity.id })}}">
                                <i class="fa fa-trash"></i>
                            </a> 
                        {% endif %}
                    </span>
                    <br>
                    <small>Possible Next Steps</small>
                    {%for step in entity.nextSteps%}
                        <span class="label label-success">{{step.title}}</span>
                    {%endfor%}
                    <hr>
                </div>
            {% endfor %}
            <hr>
            {% if isJournalManager() %}
                <a href="{{path('workflowstep_new')}}" class="btn btn-success">
                    <i class="fa fa-plus"></i> Create
                </a>
            {% endif %}
        </div>
    </div>
{% endblock %}
