{% extends '::ojsbase.html.twig' %}

{% block  stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="{{ asset('/vendor/bootstrap3-wysihtml5-bower/dist/bootstrap3-wysihtml5.css') }}" />   
{%endblock%}

{% block breadcrumb %}
    {% set list = [
                {'link': path('dashboard'), 'title': 'dashboard'},
                {'link': path('ojs_workflow_homepage'), 'title': 'Workflow'},
                {'title': 'New Workflow Step'}
] %}
    {{breadcrumb(list)}}
{% endblock %}

{% block body -%}
    <div class="panel">
        <div class="panel-heading">
            <h1>New Workflow Step</h1>
        </div>
        <div class="panel-body">
            <form method="post" class="form-row" action="{{path('workflowstep_create')}}">
                <div class="form-group">
                    <label>Journal</label>
                    <input type="hidden" name="journalId" value="{{journal.id}}" />
                    <span>{{journal.title}}</span>
                </div>

                <div class="form-group">
                    <label>Title</label>
                    <input id="titleinput" class="form-control" name="title" >
                </div>

                <div class="form-group">
                    <label>{{"color"|trans}} <a class="btn btn-default btn-xs generateRandomColor">{{"color.generate"|trans}}</a></label>
                    <input type="text" name="color"  class="form-control" id="inputcolor" value="" /> 
                    <a style="padding:2px;height:24px;display:block; " class="btn btn-link btn-block generateRandomColor" id="previewcolor" ></a>
                </div>

                <div class="form-group">
                    <label>Status Text</label>
                    <input id="statusinput" class="form-control" name="status" >
                    <span class="help-block">Authors <strong>won't</strong> see this status text.</span>
                </div>
                <div class="form-inline">
                    <label class="label label-info" style="line-height: 20px;display: inline-block;">
                        First Step?
                        <input type="checkbox" name="firstStep" value="1">
                    </label>
                    <label class="label label-warning" style="line-height: 20px;display: inline-block;">
                        Last Step?
                        <input type="checkbox" name="lastStep" value="1">
                    </label>
                </div>

                <div class="form-group">
                    <label>Possible Next Steps</label>

                    <select name="nextSteps[]"  style="min-width:200px" multiple="multiple" class="select2-element">
                        {%for step in nextSteps%}
                            <option value="{{step.id}}">{{step.title}}</option>
                        {%endfor%}
                    </select>
                </div> 

                <div class="form-group">
                    <label>{{"introduction"|trans}}</label>
                    <textarea name="introduction" class="form-control editor" rows="10"></textarea>
                </div>


                <div class="form-row">
                    <a href="#"  class="btn btn-info"
                       onclick="$('#advanced').slideToggle();
                               return false;"><i class="fa fa-angle-double-down"></i>
                        Advanced Settings</a>
                    <hr>
                </div>
                <div id="advanced" style="display:none">
                    <div class="form-group">
                        <label>{{"suggestedMaxDays"|trans}}</label>
                        <input class="form-control" name="maxdays" type="number" value="7"  min="1" max="10000" />
                    </div>


                    <div class="form-group">
                        <label>{{"role.plural"|trans}}</label>
                        <select id="rolesinput" name="roles[]"  style="min-width:200px" multiple="multiple" class="select2-element">>
                            {%for role in roles%}
                                <option value="{{role.id}}">{{role.role}}</option>
                            {%endfor%}
                        </select>
                    </div>

                    <div class="form-group">
                        <label class="label label-primary" style="line-height: 20px;display: inline-block;">
                            Can only reply back
                            <input type="checkbox" name="onlyreply" value="1"> 
                        </label>
                    </div>

                    <div class="form-group">
                        <label  style="line-height: 20px;display: inline-block;">
                            User must send a competing of interest statement.
                            <input type="checkbox" name="shouldFileCi" value="1"> 
                        </label>
                        <br>
                        <div id="ciTextHolder"  style="display:none">
                            Guidelines for filling a <i>competing of Interest</i> statement.
                            <br>
                            {% for template in ciTemplates %}
                                <a href="#" class="btn btn-default" id="abstractTemplateBtn{{template.id}}"
                                   onclick="$('textarea#ciTextInput').data('wysihtml5').editor.setValue($('#ciTemplate{{template.id}}').html());
                                           return false;">
                                    Template-{{template.id}} {{template.type}}
                                </a>
                                <div class="hide" id="ciTemplate{{template.id}}">{{template.template|raw}}</div>
                            {% endfor %}
                            <textarea class="editor form-control" id="ciTextInput" name="ciText"></textarea>
                        </div>
                    </div>

                    <div class="form-inline">
                        <label class="label label-warning" style="line-height: 20px;display: inline-block;">
                            Is visible to author?
                            <input type="checkbox" name="isVisible" value="1" checked="checked"> 
                        </label>
                        <label class="label label-warning" style="line-height: 20px;display: inline-block;">
                            {{"can.seeAuthor?"|trans}}
                            <input type="checkbox" name="canSeeAuthor" value="1" checked="checked">
                        </label>
                        <label class="label label-warning" style="line-height: 20px;display: inline-block;">
                            {{"can.edit?"|trans}}
                            <input type="checkbox" name="canEdit" value="1" checked="checked"> 
                        </label>
                        <label class="label label-warning" style="line-height: 20px;display: inline-block;">
                            {{"can.review?"|trans}}
                            <input type="checkbox" name="canReview" value="1" checked="checked"> 
                        </label>
                        <label class="label label-warning" style="line-height: 20px;display: inline-block;">
                            {%trans%}Must be assigned to someone?{%endtrans%}
                            <input type="checkbox" name="mustBeAssigned" value="1"> 
                        </label>

                        <label class="label label-warning" style="line-height: 20px;display: inline-block;">
                            Can reject the submission completely?
                            <input type="checkbox" name="canRejectSubmission" value="1"> 
                        </label>
                    </div>
                    <div class="form-group">
                        <label>{{"review.forms"|trans}}</label>
                        <select name="reviewforms[]" style="min-width:200px" multiple="multiple" class="select2-element">
                            <option>[No review form]</option>
                            {%for form in forms%}
                                <option value="{{form.id}}">{{form.title}}</option>
                            {%endfor%}
                        </select>
                        <small><a href="{{path("ojs_review_forms")}}">{{"reviewForms.manage"|trans}}</a></small>

                    </div>
                </div>

                <div>
                    <input type="submit" class="btn btn-success" value="Save" />
                    <a href="{{path('manage_workflowsteps')}}" class="btn btn-default">
                        <i class="fa fa-arrow-left"></i> {{"b"|trans}} </a>
                </div>
            </form>

        </div>
    </div>
{% endblock %}

{% block javascripts -%}
    {{  parent()  }}

    <script type="text/javascript" src="{{ asset('/vendor/bootstrap3-wysihtml5-bower/dist/bootstrap3-wysihtml5.all.min.js') }}"></script>
    <script>
        function randomColor() {
            $rndcolor = '#' + Math.floor(Math.random() * 16777215).toString(16);
            $("#inputcolor").val($rndcolor);
            $("#previewcolor").css("backgroundColor", $rndcolor);
            console.log($rndcolor);
        }
        $(document).ready(function () {
            $("textarea.editor").wysihtml5({
                toolbar: {"font-styles": true, "emphasis": true, "lists": false, "html": false, "link": true, "image": false, "color": true, "blockquote": true}
            });
            $("#titleinput").blur(function () {
                $("#statusinput").val($(this).val());
                $("#statusauthorinput").val('Review');
            });
            $("#inputcolor").on('keyup', function () {
                $("#previewcolor").css("backgroundColor", $("#inputcolor").val());
            });
            randomColor();
            $(".generateRandomColor").click(randomColor);
            $("input[name=shouldFileCi]").change(function () {
                $ciText = $("#ciTextHolder");
                if ($(this).is(':checked')) {
                    $ciText.show();
                } else {
                    $ciText.hide();
                }
            });

        });

    </script>


{% endblock %}
