{% extends '::ojsbase.html.twig' %}

{% block breadcrumb %}
    {% set list = [
                {'link': path('dashboard'), 'title': 'Dashboard'},
                {'link': path('workflow_templates'), 'title': 'Workflow Templates'},
                {'title': 'Workflow Template Details'}
] %}
    {{breadcrumb(list)}}
{% endblock %}

{% block body -%} 
    <h1>{{template.title}}<br> 
        <small>{{template.description}}</small>
    </h1> 

    {% for entity in steps %}
        <div class="list-group-item">

            <span>
                <a href="{{ path('workflowsteps_show', { 'id': entity.id } ) }}">
                    <strong>
                        {%if entity.firststep%}<span class="badge">First</span>{%endif%}
                        {%if entity.laststep%}<span class="badge">Last</span>{%endif%}
                        {{entity.title}}
                    </strong>
                </a> 

                {%for role in entity.roles%}
                    <span class="label label-info">{{role.name}}</span>
                {%endfor%}
            </span>

            <br>
            <span>
                <small>Next Steps :</small>
                {% if entity.getOnlyReply() %}
                    <span class="label label-primary">
                        Only Reply
                        <i class="fa fa-ok"></i>
                    </span>
                {% else %}
                    {%for step in entity.nextSteps%}
                        <a class="label label-success" href="{{path("workflowsteps_show",{"id":step.id})}}">{{step.title}}</a>
                    {%endfor%}
                {% endif %}
            </span> 

            <span class="pull-right btn-group">
                <a class="btn btn-info btn-xs" href="{{path('workflowsteps_show',{ 'id': entity.id })}}">
                    <i class="fa fa-info"></i>
                </a> 
            </span> 
        </div>
    {% endfor %}
    <hr>
    <a href="{{path('workflow_template_use',{'id':template.id})}}" class="btn btn-warning btn-lg pull-right" 
       onclick="return confirm('Your existing workflow design will be overwritten! Are you sure?');">
        <i class="fa fa-check"></i> {{"useThisTemplate"|trans}}
    </a> 


{% endblock %} 