{% extends '::vipabase.html.twig' %}
{% set hideleft = true %}
{% block title %}{{ 'title.index_new'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
        {'link': path('vipa_admin_dashboard'), 'title': 'dashboard'|trans},
        {'link': path('vipa_admin_index_index'),'title': 'title.journal_indexes'|trans},
    {'title': 'title.index_new'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    <h1>{{ 'title.index_new'|trans }}</h1>

    {% include '::flashbag.html.twig' %}

    {{ form(form) }}

    <a href="{{ path('vipa_admin_index_index') }}" class="btn btn-warning">
        <i class="fa fa-arrow-left"></i> {{ 'b'|trans }}
    </a>

{% endblock %}
