{% extends '::ojsbase.html.twig' %}

{% block body -%}
    <h2>{{"add_citation"|trans}} <small>{{  item.getTitle() }}</h2>
    <div class="col-md-12">
        <button class="btn btn-success" id="pasteArticleCitationInline">
            <i class="fa fa-edit"></i> {{"paste_extract_cititation"|trans}}
        </button>
        <button class="btn btn-info" id="addArticleCitationInline">
            <i class="fa fa-plus-circle"></i> {{"new_cititation"|trans}}
        </button>
        <div id="citationPasteField">
            <div class="form-row well">
                <textarea class="form-control citationPasteTextArea" rows="5"></textarea>
            </div>
        </div>
    </div>
    <form class="col-md-12 form-inline" action="">
        <br>
        <div id="citationContainer"></div>
        <input type="button" class="form-control btn btn-default" value="{{"save"|trans}}" id="saveArticleCitation" />
    </form>


    <div class="hide" id="citationInfoFields">
        <form class="cite-item form-row well">
            <input type="number" class="form-control" style="width:80px" name="orderNum" value="0" placeholder="Order">
            <input type="text" class="form-control" value="" name="raw" placeholder="{{"cititation"|trans}}">

            <a class="pull-right btn btn-warning removeArticleCitationInline">
                <i class="fa fa-minus-circle"></i>
            </a>
            <a href="#details" class="addCitationDetails">{{"details"|trans}}</a>

            <div class="citationDetails">
                <select class="form-control" name="type">
                    <option value="">[{{"select_citation_type"|trans}}]</option>
                    {% for type in citationTypes %}
                        <option value="{{type.name}}" should="{{type.should|json_encode()}}" must="{{type.must|json_encode()}}">{{type.name}}</option>
                    {%endfor%}
                </select>
                <br><br>
                <div class="citationDetailsFields"></div>
            </div>
        </form>
    </div>

{% endblock %}

{% block javascripts -%}
    {{  parent()  }}
    <script>
    var articleId = {{item.getId()}};</script>

    <script src="{{ asset('/assets/js/journalbundle/article_cite.js') }}" type="text/javascript"></script>

{% endblock %}
