{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.citations'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
        {'link': path('dashboard'), 'title': 'dashboard'|trans},
        {'link': path('article'), 'title': 'Article Manager'},
        {'title': 'citations'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}

    <ul class="nav nav-tabs">
        <li role="presentation"><a href="{{ url('article_edit', {id: entity.id}) }}">{{ "Info"|trans }}</a></li>
        <li role="presentation"><a href="{{ url('articlefile', {article: entity.id}) }}">{{ "Article Files"|trans }}</a></li>
        <li role="presentation" class="active"><a href="{{ url('article_citations', {id: entity.id}) }}">{{ "citation"|trans }}</a></li>
    </ul>

    {{ grid(grid) }}

    <a href="{{ path('article_citations_new', {'id': id}) }}">
        <button class="btn btn-success pull-right">{{ "create"|trans }}</button>
    </a>
{% endblock %}
