{% extends '::ojsbase.html.twig' %}

{% block breadcrumb %}
    {{ breadcrumb([ {'link': path('dashboard'), 'title': 'Dashboard'},
    { 'link': path('article'), 'title': 'Article Manager'},
    { 'title' : 'Edit Article'} ]) }}
{% endblock %}

{% block body -%}

    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#">{{ "Info"|trans }}</a></li>
        <li role="presentation" class=""><a href="{{ url('articlefile',{article: entity.id}) }}">{{ "Article Files"|trans }}</a></li>
    </ul>

    {{ form_start(edit_form, { 'attr': { 'enctype' :'multipart/form-data'} }) }}
    {% for label, flashes in app.session.flashbag.all %}
        {% for flash in flashes %}
            <div class="alert alert-{{ label }}">
                {{ flash }}
            </div>
        {% endfor %}
    {% endfor %}
    {{ form_errors(edit_form) }}
    {{ form_widget(edit_form) }}

    <div class="form-group">
        <label class="control-label" for="fileupload">{{ "Header Image"|trans }}</label>

        <div id="preview_image">
            {% if entity.header %}
                <img src="{{ ('/uploads/articlefiles/'~imagePath(entity.header)) | imagine_filter('wide_960') }}"
                     data-src="holder.js/960x200/random/text:{{ entity.title }}" alt=""/>
                {% set imageoptions=getImageOptions(entity,'header') %}
                <input id="header_height" name="header[height]" type="hidden" value="{{ imageoptions.height }}"/>
                <input id="header_width" name="header[width]" type="hidden" value="{{ imageoptions.width }}"/>
                <input id="header_x" name="header[x]" type="hidden" value="{{ imageoptions.x }}"/>
                <input id="header_y" name="header[y]" type="hidden" value="{{ imageoptions.y }}"/>
            {% endif %}

        </div>
    <span class="btn btn-success fileinput-button form-control">
                <i class="fa fa-plus"></i>
                <span>{{ "select.image.file"|trans }}</span>
                <input id="fileupload" type="file" data-url="{{ oneup_uploader_endpoint('articlefiles') }}">
            </span>

        <div id="article_header_upload_progress" style="display: none" class="label label-info">

        </div>
    </div>


    <button type="submit" id="ojs_journalbundle_issue_submit" class="btn btn-primary">
        {{ "e"|trans }}
    </button>
    {{ form_end(edit_form) }}
    <div class="record_actions">
        {% set back_path = 'article' %}
        {% set delete_path = 'article_delete' %}
        {% include '::actionbtns.html.twig' %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts '@upload_js' output="c/upload.js" %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#fileupload').fileupload({});
            $('#fileupload').bind('fileuploadsend', function (e, data) {
                $('#article_header_upload_progress').show();
                $('#article_header_upload_progress').html("{{"uploading"|trans}}");
            }).bind('fileuploaddone', function (e, data) {
                $('#article_header_upload_progress').html("{{"done"|trans}}.");
                $('#ojs_journalbundle_article_header').attr('value', JSON.parse(data.result).files.name);
            });
            $("#articlefileupload").fileupload({
                done: function (e, data) {
                    var result = $.parseJSON(data.result);
                    for(var i= 0;i<data.files.length;i++){
                        $('<p/>').text(data.files[i].name).appendTo('#files');
                        $('#files_select').append("<option selected='selected' value='"+result.files.name+"'>"+data.files[i].name+"</option>");
                        console.dir(data.files[i])
                    }

                },
                progressall: function (e, data) {
                    var progress = parseInt(data.loaded / data.total * 100, 10);
                    $('#articlefilesprogress').attr(
                            'value',
                            progress
                    );
                }
            });
            $("#preview_image > img").cropper({
                aspectRatio: 960 / 200,
                maxWidth: 960,
                maxHeight: 200,
                {% if  entity.header %}
                {% set imageoptions=getImageOptions(entity,'header') %}

                data: {
                    x: {{ imageoptions.x }},
                    y: {{ imageoptions.y }},
                    height: {{ imageoptions.height }},
                    width: {{ imageoptions.width }}
                },
                {% endif %}
                done: function (data) {
                    $("#header_height").val(data.height)
                    $("#header_width").val(data.width)
                    $("#header_x").val(data.x)
                    $("#header_y").val(data.y)
                }
            })
        });
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@upload_css' '%kernel.root_dir%/../web/vendor/select2/select2.css' output="c/user_admin.css" filter="cssrewrite" %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
    <style>
        #preview_image, #preview_image div {
            margin: 0 !important;
        }
    </style>
{% endblock %}