{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.article_edit'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
        {'link': path('ojs_journal_dashboard_index', {journalId: selectedJournal().id}), 'title': 'dashboard'|trans},
        {'link': path('ojs_journal_article_index', {'journalId': entity.journal.id}), 'title': 'article.manager'|trans},
        {'title': 'title.article_edit'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    <h1>{{ "article.edit"|trans }}</h1>
    {% include '::flashbag.html.twig' %}

    {{ form(form) }}

    <div class="record_actions">
        {{
            actions({
                'back': {'href': path('ojs_journal_article_index', {'journalId': entity.journal.id})},
            })
        }}
        {{ twigEventDispatch({'event_name': 'OJS_ARTICLE_EDIT_VIEW', entity: entity})|raw }}
    </div>

    {{ getLogs(entity) }}
{% endblock %}

