{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.articles'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
        {'link': path('ojs_journal_dashboard_index', {journalId: selectedJournal().id}), 'title': 'dashboard'|trans},
        {'title': 'title.articles'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    {% include '::flashbag.html.twig' %}
    <h2>{{ selectedJournal().title }}</h2>
    <h3>{{ 'title.articles'|trans }}</h3>
    {% if is_granted('CREATE', selectedJournal(), 'articles') %}
        <a href="{{ path('ojs_journal_article_new', {'journalId': selectedJournal().id}) }}" class="btn btn-success">
            {{ "c"|trans }}
        </a>
    {% endif %}

    <hr>
    {{ grid(grid) }}
{% endblock %}
