{% extends '::ojsbase.html.twig' %}

{% block breadcrumb %} 
    {{breadcrumb([ {'link': path('dashboard'), 'title': 'dashboard'|trans}, { 'title': 'article.manager'|trans} ])}}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@apptour_css' output="c/apptour.css" %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}  
{% endblock %}

{% block body -%}
    <p>
        <a href="{{ path('article_new') }}" id="create-new-article" class="btn btn-success">
            {{"c"|trans}}
        </a>
    </p>
    {% include "OjsJournalBundle:Article:index_list_block.html.twig" %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts '@apptour_js' output="c/apptour.js" %}
    <script type="text/javascript" src="{{ asset_url }}"></script> 
    {% endjavascripts %}

    {% javascripts  '@OjsJournalBundle/Resources/public/js/tour/article_admin_tour.js' output="c/article_admin_tour.js" %}
    {% if app.user.setting('tour.admin.article') == FALSE %}<script type="text/javascript" src="{{ asset_url }}"></script> {% endif %}
    {% endjavascripts %}
{% endblock %}