<div class="table-responsive">
    <table class="table table-striped records_list">
        <thead>
            <tr>
                <th>Id</th> 
                <th>{{"actions"|trans}}</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td>
                        <a class="badge" id="article-show-details" href="{{ path('article_show', { 'id': entity.id }) }}">
                            {{ entity.id }}
                        </a>
                    </td>
                    <td>
                        <dl>
                            <dd><strong>{{"journal"|trans}} :</strong>
                                {% if entity.journalId %}
                                    <a href="{{path('article_journal', { 'journalId': entity.journalId }) }}">
                                        {{ entity.journal.title }}
                                    </a>
                                {% endif %}
                            </dd>

                            <dd>
                                <strong>{{"issue"|trans}} :</strong>
                                {% if entity.issueId %}
                                    <a class="label label-info" href="{{path('article_issue', { 'issueId': entity.issueId }) }}">
                                        {{"issue"|trans}}
                                        {{ entity.issue.volume }}/{{ entity.issue.number }} {{ entity.issue.title }}
                                    </a>

                                {% endif %}
                            </dd>
                            <dt>{{"title"|trans}} :</dt><dd>{{ entity.title }}</dd>
                        </dl>
                        <span  title="{{"date.publish"|trans}}" class="label label-default">
                            {% if entity.pubdate %}{{ entity.pubdate|date('Y-m-d') }}{% endif %}
                        </span>
                    </td>
                    <td>

                        {% set show_path = 'article_show' %}
                        {% set edit_path = 'article_edit' %}
                        {% set delete_path = 'article_delete' %}
                        {% set invite_user_path = 'user_create_anonym_login' %}
                        {% include '::actionbtns.html.twig' %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>