{% extends '::ojsbase.html.twig' %}

{% block body -%}
   {{"articles_in_journal"|trans}} <strong>{{journal.title }}</strong>
        <a href="{{ path('article_new') }}" class="btn btn-success">
            {{"c"|trans}}
        </a>
        <a href="{{ path('article') }}" class="btn btn-default">
            {{"b"|trans}}
        </a>
    {% include "OjsJournalBundle:Article:index_list_block.html.twig" %}

{% endblock %}
