{% extends '::ojsbase.html.twig' %}

{% block breadcrumb %} 
    {{breadcrumb([ {'link': path('dashboard'), 'title': 'Dashboard'}, 
    { 'link': path('article'), 'title': 'Article Manager'},
    { 'title' : 'New Article'} ])}}
{% endblock %}

{% block body -%}
    <h1>{{"article.add"|trans}}</h1>

    {{ form(form) }}

    <div class="record_actions">
        <a class="button success" href="{{ path('article') }}">
            {{"b"|trans}}
        </a>
    </div>
{% endblock %}
