{% extends '::ojsbase.html.twig' %}

{% block breadcrumb %} 
    {{breadcrumb([ {'link': path('dashboard'), 'title': 'dashboard'|trans},
    { 'link': path('article'), 'title': 'article.manager'|trans},
    { 'title' : 'article.new'|trans} ])}}
{% endblock %}

{% block body -%}
    <h1>{{"article.add"|trans}}</h1>
    {{ form_start(form, { 'attr': { 'enctype' :'multipart/form-data'} }) }}
    {% for label, flashes in app.session.flashbag.all %}
        {% for flash in flashes %}
            <div class="alert alert-{{ label }}">
                {{ flash }}
            </div>
        {% endfor %}
    {% endfor %}
    {{ form_errors(form) }}
    {{ form_widget(form) }}

    <div class="form-group">
        <label class="control-label" for="fileupload">{{"Header Image"|trans}}</label>

    <span class="btn btn-success fileinput-button form-control">
                <i class="fa fa-plus"></i>
                <span>{{"select.image.file"|trans}}</span>
                <input id="fileupload" type="file" data-url="{{ oneup_uploader_endpoint('articlefiles') }}">
            </span>

        <div id="article_header_upload_progress" style="display: none" class="label label-info">

        </div>
    </div>
    <button type="submit" id="ojs_journalbundle_issue_submit" class="btn btn-primary">
        {{ "create"|trans }}
    </button>
    {{ form_end(form) }}
    <div class="record_actions">
        <a class="button success" href="{{ path('article') }}">
            {{"b"|trans}}
        </a>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts '@upload_js' output="c/upload.js" %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#fileupload').fileupload({});
            $('#fileupload').bind('fileuploadsend', function (e, data) {
                $('#article_header_upload_progress').show();
                $('#article_header_upload_progress').html("{{"uploading"|trans}}");
            }).bind('fileuploaddone', function (e, data) {
                $('#article_header_upload_progress').html("{{"done"|trans}}.");
                $('#ojs_journalbundle_article_header').attr('value', JSON.parse(data.result).files.name);
            });

        });
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@upload_css'  output="c/upload.css" filter="cssrewrite" %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}

{% endblock %}