{% extends '::ojsbase.html.twig' %}

{% block breadcrumb %} 
    {{breadcrumb([ {'link': path('dashboard'), 'title': 'dashboard'|trans},
    { 'link': path('article'), 'title': 'article.manager'|trans},
    { 'title' : 'article.new'|trans} ])}}
{% endblock %}

{% block body -%}
    <h1>{{"article.add"|trans}}</h1>

    {{ form(form) }}

    <div class="record_actions">
        <a class="button success" href="{{ path('article') }}">
            {{"b"|trans}}
        </a>
    </div>
{% endblock %}
