{% extends '::ojsbase.html.twig' %}

{% block breadcrumb %}
    {% set list = [
        {'link': path('dashboard'), 'title': 'dashboard'|trans},
        {'link': path('article'), 'title': 'Article Manager'},
        {'title': 'new.citation'|trans}
    ] %}
    {{ breadcrumb(list) }}}
{% endblock %}

{% block body -%}

    <ul class="nav nav-tabs">
        <li role="presentation"><a href="{{ url('article_edit', {id: entity.id}) }}">{{ "Info"|trans }}</a></li>
        <li role="presentation"><a href="{{ url('articlefile', {article: entity.id}) }}">{{ "Article Files"|trans }}</a></li>
        <li role="presentation" class="active"><a href="{{ url('article_citations', {id: entity.id}) }}">{{ "citation"|trans }}</a></li>
    </ul>

    <br>
    {{ form(form, {'attr': {'enctype': 'multipart/form-data'}, 'style': 'horizontal'}) }}
{% endblock %}
