{% extends '::ojsbase.html.twig' %}
{% set hideleft = true %}
{% block title %}{{ 'file'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
        {'link': path('ojs_admin_dashboard'), 'title': 'dashboard'|trans},
        {'link': path('ojs_admin_file_index'),'title': 'title.files'|trans},
        {'title': 'title.file_show'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    <h1>{{ "file.new"|trans }}</h1>

    {{ form(form) }}

    {% set back_path = 'ojs_admin_file_index' %}
    {% include '::actionbuttons.html.twig' %}
{% endblock %}
