{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.authors'|trans }} {{ parent() }}{% endblock %}
{% block breadcrumb %}
    {% set list = [
    {'link': path('dashboard'), 'title': 'dashboard'|trans},
    { 'title': 'title.authors'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    <h1>{{ 'title.authors'|trans }}</h1>
    {% include '::flashbag.html.twig' %}
    {{ grid(grid) }}
    {% if is_granted('CREATE', getEntity('OjsJournalBundle:Author')) %}
        {% set create_path = 'ojs_journal_author_new' %}
    {% endif %}
    {% include '::actionbuttons.html.twig' %}
{% endblock %}
