{% extends '::ojsbase.html.twig' %}

{% block breadcrumb %} 
    {{breadcrumb([ {'link': path('dashboard'), 'title': 'dashboard'|trans},
    { 'title': 'author.manager'|trans} ])}}
{% endblock %}

{% block body -%}
    <h1>{{"author.list"|trans}}</h1>
    {{ grid(grid) }}
    <div class="clearfix">

    </div>
    <a href="{{ path('author_new') }}" class="btn btn-success">{{"author.new"|trans}}</a>

{% endblock %}
