{% extends '::ojsbase.html.twig' %}

{% block breadcrumb %} 
    {{breadcrumb([ {'link': path('dashboard'), 'title': 'dashboard'|trans},
    { 'link': path('author'), 'title': 'author.manager'|trans},
    { 'title' : 'author.details'|trans} ])}}
{% endblock %}

{% block body -%}
    <h1>{{"author.singular"|trans}} <small>{% if entity.user %} {{"linked.user"|trans}} : &#x3C;{{ entity.user.username }}&#x3E; {{ entity.user.email }} {%endif%}</small></h1>

    <table class="record_properties  table">
        <tbody>
            <tr>
                <th>{{ 'id'|trans }}</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>{{"title"|trans}}</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>{{"author.firstname"|trans}}</th>
                <td>{{ entity.firstName }}</td>
            </tr>
            <tr>
                <th>{{"author.middlename"|trans}}</th>
                <td>{{ entity.middleName }}</td>
            </tr>
            <tr>
                <th>{{"author.lastname"|trans}}</th>
                <td>{{ entity.lastName }}</td>
            </tr>
            <tr>
                <th>{{"author.firstnametransliterated"|trans}}</th>
                <td>{{ entity.firstNameTransliterated }}</td>
            </tr>
            <tr>
                <th>{{"author.middlenametransliterated"|trans}}</th>
                <td>{{ entity.middleNameTransliterated }}</td>
            </tr>
            <tr>
                <th>{{"author.lastnametransliterated"|trans}}</th>
                <td>{{ entity.lastNameTransliterated }}</td>
            </tr>
            <tr>
                <th>{{"initials"|trans}}</th>
                <td>{{ entity.initials }}</td>
            </tr>
            <tr>
                <th>{{"email"|trans}}</th>
                <td>{{ entity.email }}</td>
            </tr>
            <tr>
                <th>{{"adress"|trans}}</th>
                <td>{{ entity.address }}</td>
            </tr>
            <tr>
                <th>{{"institution.id"|trans}}</th>
                <td>{{ entity.institutionId }}</td>
            </tr>
            <tr>
                <th>{{"country"|trans}}</th>
                <td>{{ entity.country }}</td>
            </tr>
            <tr>
                <th>{{"summary"|trans}}</th>
                <td>{{ entity.summary }}</td>
            </tr>
        </tbody>
    </table>

    <div class="record_actions">
        {% set back_path = 'author' %}
        {% set edit_path = 'author_edit' %}
        {% set delete_path = 'author_delete' %}
        {% include '::actionbtns.html.twig' %}
    </div>
{% endblock %}
