{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.journal_role_new'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
    {'link': path('dashboard'), 'title': 'dashboard'|trans},
    {'link': path('ujr'),'title': 'user.journalrole'|trans},
    {'title': 'user.journalrole.creation'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    <div class="large-12 columns">
        <div class="panel">
            <h1>{{ "user.journalrole.creation"|trans }}</h1>
            {% include '::flashbag.html.twig' %}
            {% if isSystemAdmin() != true %}
                <a href="{{ path('ojs_admin_user_new') }}" class="btn btn-default">{{ 'user.create'|trans }}</a>
            {% endif %}
            {{ form(form) }}
            {% set back_path = 'ujr' %}
            {% include '::actionbuttons.html.twig' %}
        </div>
    </div>
{% endblock %}
