{% extends '::ojsbase.html.twig' %}

{% block body -%}
<div class="large-12 columns">
    <div class="panel">
        <h1>Users of Journal</h1>
{% if entities %}
        <table class="records_list  table">
            <thead>
                <tr>
                    <th>Userid</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Role</th>
                </tr>
            </thead>
            <tbody>
        {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('user_show', { 'id': entity.user.id }) }}">{{ entity.user.id }}</a></td>
                    <td>{{ entity.user.username}}</td>
                    <td>{{ entity.user.email }}</td>
                    <td>{{ entity.role.name }} </td>
                </tr>
        {% endfor %}
            </tbody>
        </table>
        {%else %}

        <div class="alert alert-warning">
            <p>This journal has no user.</p>
        </div>
 {%endif%}

        <a class="button" href="{{ path('ujr_new') }}">
            {{"c"|trans}}
        </a>
    </div>
</div>
    {% endblock %}
