{% extends '::ojsbase.html.twig' %}

{% block breadcrumb %}
    {% set list = [
    {'link': path('dashboard'), 'title': 'dashboard'|trans},
    {'link': path('ujr'),'title': 'user.journalrole'|trans},
    {'title': 'user.journalrole.singular'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    <div class="large-12 columns">
        <div class="panel">
            <h1>{{ "user.journalrole.singular"|trans }}</h1>
            {% include '::flashbag.html.twig' %}
            <table class="record_properties  table">
                <tbody>
                <tr>
                    <th>{{ "user.journalrole.id"|trans }}</th>
                    <td>{{ entity.id }}</td>
                </tr>
                <tr>
                    <th>{{ "user.journalrole.user"|trans }}</th>
                    <td><span class="label label-default">{{ entity.userId }}</span> {{ entity.user.username }}</td>
                </tr>
                <tr>
                    <th>{{ "user.journalrole.journal"|trans }}</th>
                    <td><span class="label label-default">{{ entity.journalId }}</span> {{ entity.journal.title }}</td>
                </tr>
                <tr>
                    <th>{{ "user.journalrole.role"|trans }}</th>
                    <td><span class="label label-default">{{ entity.roleId }}</span> {{ entity.role.role|trans }}</td>
                </tr>
                </tbody>
            </table>

            {% set back_path = 'ujr' %}
            {% if is_granted('EDIT', selectedJournal(), 'userRole') %}
                {% set edit_path = 'ujr_edit' %}
            {% endif %}
            {% if is_granted('DELETE', selectedJournal(), 'userRole') %}
                {% set delete_path = 'ujr_delete' %}
            {% endif %}
            {% include '::actionbuttons.html.twig' %}
        </div>
    </div>
{% endblock %}
