{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.journal_role_show_users'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
        {'link': path('ojs_journal_dashboard_index', {journalId: selectedJournal().id}), 'title': 'dashboard'|trans},
        {'title': 'title.journal_users'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    <div class="large-12 columns">
        <div class="panel">
            <h1>{{ 'title.journal_users'|trans }}</h1>
            <hr>

            {% include '::flashbag.html.twig' %}
            {% if is_granted('CREATE', selectedJournal(), 'userRole') %}
                <a href="{{ path('ojs_journal_user_add', {'journalId': selectedJournal().id}) }}" class="btn btn-info">{{ 'title.journal_user_add'|trans }}</a>
                <a href="{{ path('ojs_journal_user_new', {'journalId': selectedJournal().id}) }}" class="btn btn-success">{{ 'title.journal_user_create'|trans }}</a>
            {% endif %}

            <hr>

            {{ grid(grid) }}
        </div>
    </div>
{% endblock %}
