{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.role_edit'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
        {'link': path('dashboard'), 'title': 'dashboard'|trans},
        {'link': path('ojs_admin_role_index'),'title': 'title.roles'|trans},
        {'title': 'title.role_edit'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    <div class="large-12 columns">
        <div class="panel">
            {% include '::flashbag.html.twig' %}
            <h1>{{ "role.edit"|trans }}</h1>

            {{ form(edit_form) }}

            {% set back_path = 'ojs_admin_role_index' %}
            {% if is_granted('DELETE', edit_form.vars.data) %}
                {% set delete_path = 'ojs_admin_role_delete' %}
            {% endif %}
            {% include '::actionbuttons.html.twig' %}

            {{ getLogs(entity) }}
        </div>
    </div>
{% endblock %}
