{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.roles'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
        {'link': path('dashboard'), 'title': 'dashboard'|trans},
        {'title': 'title.roles'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    <div class="col-md-12">
        <div class="panel">
            <h1>{{ "role.list"|trans }}</h1>
            {% include '::flashbag.html.twig' %}
            {{ grid(grid) }}
            {% if is_granted('CREATE', getEntity('OjsUserBundle:Role')) %}
                {% set create_path = 'ojs_admin_role_new' %}
            {% endif %}
            {% include '::actionbuttons.html.twig' %}
        </div>
    </div>
{% endblock %}
