{% extends '::ojsbase.html.twig' %}
{% set hideleft = true %}
{% block title %}{{ 'title.role_new'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
        {'link': path('ojs_admin_dashboard'), 'title': 'dashboard'|trans},
        {'link': path('ojs_admin_role_index'),'title': 'title.roles'|trans},
        {'title': 'title.role_new'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    <div class="large-12 columns">
        <div class="panel">
            <h1>{{ "role.new"|trans }}</h1>

            {{ form(form) }}
            {% set back_path = 'ojs_admin_role_index' %}
            {% include '::actionbuttons.html.twig' %}
        </div>
    </div>
{% endblock %}
