{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.role_show'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
    {'link': path('dashboard'), 'title': 'dashboard'|trans},
    {'link': path('ojs_admin_role_index'),'title': 'role'|trans},
    {'title': 'show'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    <div class="large-12 columns">
        <div class="panel">
            <h1>{{ "role.singular"|trans }} #{{ entity.id }}</h1>
            {% include '::flashbag.html.twig' %}

            <table class="record_properties table">
                <tbody>
                    <tr>
                        <th>{{ "role.id"|trans }}</th>
                        <td>{{ entity.id }}</td>
                    </tr>
                    <tr>
                        <th>{{ "role.name"|trans }}</th>
                        <td>{{ entity.name|trans }}</td>
                    </tr>
                    <tr>
                        <th>{{ "role.role"|trans }}</th>
                        <td>{{ entity.role|trans }}</td>
                    </tr>
                </tbody>
            </table>

            {% set back_path = 'ojs_admin_role_index' %}
            {% if is_granted('EDIT', entity) %}
                {% set edit_path = 'ojs_admin_role_edit' %}
            {% endif %}
            {% if is_granted('DELETE', entity) %}
                {% set delete_path = 'ojs_admin_role_delete' %}
            {% endif %}
            {% include '::actionbuttons.html.twig' %}
        </div>
    </div>
{% endblock %}
