{% extends '::ojsbase.html.twig' %}

{% block body -%}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1>Your proxy users list</h1>
        </div>
        <div class="panel-body">

            <table class="table records_list">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>User Email</th>
                        <th>Proxy End Time</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for entity in entities %}
                        <tr>
                            <td>{{ entity.proxyUser.username }}</td>
                            <td>{{ entity.proxyUser.email }}</td>
                            <td>
                                {% if entity.ttl %}
                                    <span id="date_{{entity.id}}" class="labe label-important">
                                        {{ entity.ttl|date('Y-m-d H:i:s') }}
                                    </span>
                                {%endif%}
                            </td>
                            <td>
                                <a href="{{path('user_drop_proxy',{'proxyUserId' : entity.proxyUser.id})}}"
                                   class="btn btn-danger btn-sm">
                                    <i class="fa fa-trash-o"></i> Drop</a>

                                <a href="#" onclick="showUpdateTtlForm('{{path('user_proxy_ttl_update',{id: entity.id })}}');" class="btn btn-warning btn-sm">
                                    <i class="fa fa-pencil"></i> Update end time</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table> 

        </div>
    </div>

{% endblock %}

{%block javascripts %}
    {{parent()}}
    <script>
        function showUpdateTtlForm($action) {
            $html = '<input class="form-control" id="ttl" name="ttl" />';
            BootstrapDialog.show({
                title: 'Update ttl',
                message: $html,
                type: BootstrapDialog.TYPE_WARNING,
                buttons: [{
                        label: 'Save',
                        action: function(dialogRef) {
                            OjstrCommon.waitModal();
                            $.post($action, {ttl: $("#ttl").val()}, function(data) {
                                OjstrCommon.hideallModals();
                                dialogRef.close();
                                $("#date_" + data.id).html(data.ttl.date);
                            });
                        }
                    }, {
                        label: 'Cancel',
                        action: function(dialogRef) {
                            dialogRef.close();
                        }
                    }]
            });
        }
    </script>
{%endblock%}