{% extends '::ojsbase.html.twig' %}
{% set hideleft = true %}
{% block title %}{{ 'title.institution_design_show'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
        {'link': path('ojs_user_index'), 'title': 'user_page'|trans},
        { 'link': path('ojs_institution_manager_design_index', {institutionId: institution.id}),'title': 'title.institution_design'|trans},
        {'title': 'title.institution_design_show'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    <h1>{{ entity.title|trans }}</h1>
    {% include '::flashbag.html.twig' %}
    <table class="record_properties  table">
        <tbody>
        <tr>
            <th>{{ 'id'|trans }}</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>{{ "title"|trans }}</th>
            <td>{{ entity.title }}</td>
        </tr>
        </tbody>
    </table>
    {% if isGrantedForInstitution() %}
        <div class="record_actions">
            {{
            actions({
                'back': {'href': path('ojs_institution_manager_design_index', {'institutionId': entity.institution.id})},
                'edit': {'href': path('ojs_institution_manager_design_edit', {'institutionId': entity.institution.id, 'id': entity.id})},
                'delete': {'href': path('ojs_institution_manager_design_delete', {'institutionId': entity.institution.id, 'id': entity.id})},
            })
            }}
        </div>
    {% endif %}
{% endblock %}
