{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.journals'|trans }} {{ parent() }}{% endblock %}
{% set hideleft = 1 %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@site_css' output="assets/prod/css/site.css" %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block breadcrumb %}
    {% set list = [
    {'link': path('ojs_explore_index'), 'title': 'ojs.title'|trans},
    {'link': path('ojs_explore_journals'),'title': 'journal.plural'|trans},
    {'title': 'list'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-md-3">
                <div class="panel panel-default panel-nav">
                    <div class="panel-heading">
                        <a href="{{ path('ojs_institutions_index') }}" class="btn btn-link"><i
                                    class="fa fa-institution fa-fw"></i> {{ "institutions"|trans }}</a>
                    </div>
                    <div class="panel-body panel-nav-sidebar">
                        <nav class="nav-sidebar">
                            <ul class="nav">
                                {% for institution_type in institution_types %}
                                    <li>
                                        <a href="#!/explore/institution/{{ institution_type.id }}">{{ institution_type.name }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="panel panel-default panel-nav">
                    <div class="panel-heading">
                        <a href="{{ path('ojs_explore_journals') }}" class="btn btn-link"><i
                                    class="fa fa-book fa-fw"></i> {{ "subject.plural"|trans }}</a>
                    </div>
                    <div class="panel-body panel-nav-sidebar">
                        <nav class="nav-sidebar">
                            <ul class="nav">
                                <li class="active"><a href="javascript:;">Kategori 1</a></li>
                                <li><a href="javascript:;">Kategori 2</a></li>
                                <li><a href="javascript:;">Kategori 3</a></li>
                                <li><a href="javascript:;">Kategori 4</a></li>
                                <li class="nav-divider"></li>
                                <li><a href="javascript:;">{{ "journal.all"|trans }}</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <hr/>
                <div class="panel-group">
                    {% if institutionObject is defined %}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <span class="fa fa-folder"></span> {{ "institutiontype.plural"|trans }}
                                </h4>
                            </div>

                            <ul class="list-group" id="institution_types">
                                {% for institution_type in aggregations.institution %}
                                    <li class="list-group-item">
                                        <a href="{{ url('ojs_journals_index',{filter:filter|merge({institution:institution_type.data.id})}) }}">
                                            {{ institution_type.data.name|trans }}
                                        </a>
                                        <span class="badge">{{ institution_type.bucket.doc_count }}</span>
                                        {% if filter['institution'] is defined and filter['institution']==institution_type.data.id %}
                                            <a title="{{ "filter.remove"|trans }}"
                                               href="{{ url('ojs_journals_index',{filter:filter|merge({institution:null})}) }}"
                                               class="btn btn-danger btn-xs"><i class="fa fa-close"></i></a>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    {% if aggregations.subject is defined %}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <span class="fa fa-th"></span> {{ "subject.plural"|trans }}
                                </h4>
                            </div>
                            <ul class="list-group">
                                {% for subject in aggregations.subject %}
                                    <li class="list-group-item">
                                        <a href="{{ path("ojs_journals_index" ,{filter:filter|merge({subject:subject.data.id})}) }}">{{ subject.data.subject }}</a>
                                        <span class="badge">{{ subject.bucket.doc_count }}</span>

                                        {% if filter['subject'] is defined and filter['subject']==subject.data.id %}
                                            <a title="{{ "filter.remove"|trans }}"
                                               href="{{ url('ojs_journals_index',{filter:filter|merge({subject:null})}) }}"
                                               class="btn btn-danger btn-xs"><i class="fa fa-close"></i></a>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-sm-9 col-md-9">

            {% if result is defined %}
                    <div class="row">
                        <ul class="thumbnails">
                            {% for journal in result %}
                                <div class="col-md-3">
                                    <div class="thumbnail">
                                        <a href="{{ generateJournalUrl(journal) }}">
                                            {% set imageoptions=getImageOptions(journal,'cover','journal_cover') %}
                                            <img src="{{ ('/uploads/journalfiles/'~imagePath(journal.image))|imagine_filter('journal_cover') }}"
                                                 data-src="holder.js/190x300/text:{{ journal.title }}"
                                                 class="img-responsive" alt=""/>
                                            <span class="caption">{{ journal.title }}</span>
                                        </a>
                                    </div>
                                </div>
                            {% else %}
                                <div class="alert alert-info">
                                    {{ "ojs.any_content"|trans }}
                                </div>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                {% if page_count is defined and page_count>1 %}
                    <div class="row">
                        <ul class="pagination ">
                            {% if page_count>1 and current_page!=1 %}
                                <li>
                                    <a href="{{ url('ojs_journals_index',{page:current_page-1 }) }}">
                                        <span aria-hidden="true">&laquo;</span><span class="sr-only"></span></a>
                                </li>
                            {% endif %}

                            {% for p in 1..page_count %}
                                <li>
                                    <a href="{{ url('ojs_journals_index',{page:p }) }}">{{ p }}</a>
                                </li>
                            {% endfor %}
                            {% if page_count>1 and current_page!=page_count %}
                                <li>
                                    <a href="{{ url('ojs_journals_index',{page:current_page+1}) }}">
                                        <span aria-hidden="true">&raquo;</span><span class="sr-only"></span>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                {% endif %}
            </div>

        </div>
    </div>

{% endblock %}
