
{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.explore'|trans }} {{ parent() }}{% endblock %}
{% set hideleft = true %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@site_css' output="assets/prod/css/site.css" %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block breadcrumb %}
    {% set list = [
        {'link': path('ojs_site_explore_index'), 'title': 'ojs.title'|trans},
        {'title': 'explore'|trans}
    ] %}

    {{ breadcrumb(list) }}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="col-md-2">
            <div class="row">
                <div class="panel panel-primary">
                    <div class="panel-heading"><h4>{{ 'title.institution_types'|trans }}</h4></div>
                    <ul class="list-group">
                        {% for type in types %}
                            <li class="list-group-item">
                                {% if type_filters is empty %}
                                    {% set parameter = type.key %}
                                    <a href="{{ path('ojs_site_explore_index', {
                                        type_filters: type.key,
                                        institution_filters: app.request.get('institution_filters'),
                                        subject_filters: app.request.get('subject_filters')}) }}">{{ type.key|trans }}</a>
                                {% else %}
                                    {% if type.key in type_filters %}
                                        {% set parameter = type_filters|pop(type.key) %}
                                        {{ type.key|trans }}
                                        <a href="{{ path('ojs_site_explore_index', {
                                            type_filters: parameter|join(','),
                                            institution_filters: app.request.get('institution_filters'),
                                            subject_filters: app.request.get('subject_filters')}) }}">
                                        <span class="label label-danger">
                                            <i class="glyphicon glyphicon-remove"></i>
                                        </span>
                                        </a>
                                    {% else %}
                                        {% set parameter = type_filters|merge([type.key]) %}
                                        <a href="{{ path('ojs_site_explore_index', {
                                            type_filters: parameter|join(','),
                                            institution_filters: app.request.get('institution_filters'),
                                            subject_filters: app.request.get('subject_filters')}) }}">{{ type.key|trans }}</a>
                                    {% endif %}
                                {% endif %}
                                <span class="badge">{{ type.doc_count }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="panel panel-primary">
                    <div class="panel-heading"><h4>{{ 'title.institutions'|trans }}</h4></div>
                    <ul class="list-group">
                        {% for institution in institutions %}
                            <li class="list-group-item">
                                {% if institution_filters is empty %}
                                    {% set parameter = institution.key %}
                                    <a href="{{ path('ojs_site_explore_index', {
                                        institution_filters: institution.key,
                                        subject_filters: app.request.get('subject_filters'),
                                        type_filters: app.request.get('type_filters') }) }}">{{ institution.key|trans }}</a>
                                {% else %}
                                    {% if institution.key in institution_filters %}
                                        {% set parameter = institution_filters|pop(institution.key) %}
                                        {{ institution.key|trans }}
                                        <a href="{{ path('ojs_site_explore_index', {
                                            institution_filters: parameter|join(','),
                                            subject_filters: app.request.get('subject_filters'),
                                            type_filters: app.request.get('type_filters')}) }}">
                                        <span class="label label-danger">
                                            <i class="glyphicon glyphicon-remove"></i>
                                        </span>
                                        </a>
                                    {% else %}
                                        {% set parameter = institution_filters|merge([institution.key]) %}
                                        <a href="{{ path('ojs_site_explore_index', {
                                            institution_filters: parameter|join(','),
                                            subject_filters: app.request.get('subject_filters'),
                                            type_filters: app.request.get('type_filters')}) }}">{{ institution.key|trans }}</a>
                                    {% endif %}
                                {% endif %}
                                <span class="badge">{{ institution.doc_count }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="panel panel-primary">
                    <div class="panel-heading"><h4>{{ 'title.subjects'|trans }}</h4></div>
                    <ul class="list-group">
                        {% for subject in subjects %}
                            <li class="list-group-item">
                                {% if subject_filters is empty %}
                                    {% set parameter = subject.key %}
                                    <a href="{{ path('ojs_site_explore_index', {
                                        subject_filters: subject.key,
                                        type_filters: app.request.get('type_filters'),
                                        institution_filters: app.request.get('institution_filters')}) }}">{{ subject.key }}</a>
                                {% else %}
                                    {% if subject.key in subject_filters %}
                                        {% set parameter = subject_filters|pop(subject.key) %}
                                        {{ subject.key }}
                                        <a href="{{ path('ojs_site_explore_index', {
                                            subject_filters: parameter|join(','),
                                            type_filters: app.request.get('type_filters'),
                                            institution_filters: app.request.get('institution_filters')}) }}">
                                        <span class="label label-danger">
                                            <i class="glyphicon glyphicon-remove"></i>
                                        </span>
                                        </a>
                                    {% else %}
                                        {% set parameter = subject_filters|merge([subject.key]) %}
                                        <a href="{{ path('ojs_site_explore_index', {
                                            subject_filters: parameter|join(','),
                                            type_filters: app.request.get('type_filters'),
                                            institution_filters: app.request.get('institution_filters')}) }}">{{ subject.key }}</a>
                                    {% endif %}
                                {% endif %}
                                <span class="badge">{{ subject.doc_count }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <div id="journals" class="col-md-10">
            {% for journal in journals %}
                {% if loop.index % 3 == 1 %}
                    <div class="row">
                {% endif %}
                <div class="col-md-4 thumbnail">
                    <img src="{{ journal.logo|imagine_filter('journal_cover') }}"
                         data-src="holder.js/300x190/text: {{ journal.title }}"
                         class="img-responsive" alt="{{ journal.title }}">

                    <div class="caption">
                        <a href="{{ path('ojs_journal_index', {slug: journal.slug, institution: journal.institution.slug}) }}">
                            <h3 class="text-center">{{ journal.title }}</h3>
                        </a>

                        <div>
                            {% for subject in journal.subjects %}
                                <h4><span class="label label-primary">{{ subject.subject }}</span></h4>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% if loop.index % 3 == 0 %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        <div class="text-center">
            <ul class="pagination">
                {{ pagerfanta(pagerfanta,'twitter_bootstrap3') }}
            </ul>
        </div>

        <script src="{{ asset('vendor/jquery/dist/jquery.min.js') }}"></script>
        <script>
            $(document).ready(function() {
                $('#journals .row').each(function() {
                    var tallest = 0;
                    var captions = $(this).find('.thumbnail .caption');
                    captions.each(function() {
                        if ($(this).height() > tallest) {
                            tallest = $(this).height();
                        }
                    });

                    captions.each(function() {
                        $(this).height(tallest);
                    });
                });
            });
        </script>
    </div>

{% endblock %}
