{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.explore'|trans }} {{ parent() }}{% endblock %}
{% set hideleft = true %}

{% block breadcrumb %}
    {% set list = [
    {'link': path('ojs_site_explore_index'), 'title': 'ojs.title'|trans},
    {'title': 'explore'|trans}
    ] %}

    {{ breadcrumb(list) }}
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <style>

        .card {
            border: 1px solid #ccc;
            border-radius: 8px;
            text-align: center;
            margin: 5px;
            padding-bottom: 35px;
            overflow: hidden;
            height: 420px;
        }

        .card > a {
            text-decoration: none;
            color: #000;
        }

        .card img {
            display: block;
            width: 100%;
            height: 300px;
            margin: -5px -5px 5px 0;
        }

        .card .card-link {
            display: block;
            height: 30px;
            font-size: 16px;
            color: #337ab7;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-3 col-sm-3">
            <div class="panel-group">
                {% if types %}
                    <div class="panel panel-default">
                        <div class="panel-heading">{{ 'title.publisher_types'|trans }}</div>
                        <ul class="list-group">
                            {% for type in types %}
                                <li class="list-group-item">
                                    {% if type_filters is empty %}
                                        {% set parameter = type.key %}
                                        <a href="{{ path('ojs_site_explore_index', {
                                            type_filters: type.key,
                                            publisher_filters: app.request.get('publisher_filters'),
                                            subject_filters: app.request.get('subject_filters')}) }}">{{ type.key|trans }}</a>
                                    {% else %}
                                        {% if type.key in type_filters %}
                                            {% set parameter = type_filters|pop(type.key) %}
                                            {{ type.key|trans }}
                                            <a href="{{ path('ojs_site_explore_index', {
                                                type_filters: parameter|join(','),
                                                publisher_filters: app.request.get('publisher_filters'),
                                                subject_filters: app.request.get('subject_filters')}) }}">
                                        <span class="label label-danger">
                                            <i class="glyphicon glyphicon-remove"></i>
                                        </span>
                                            </a>
                                        {% else %}
                                            {% set parameter = type_filters|merge([type.key]) %}
                                            <a href="{{ path('ojs_site_explore_index', {
                                                type_filters: parameter|join(','),
                                                publisher_filters: app.request.get('publisher_filters'),
                                                subject_filters: app.request.get('subject_filters')}) }}">{{ type.key|trans }}</a>
                                        {% endif %}
                                    {% endif %}
                                    <span class="badge">{{ type.doc_count }}</span>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

                {% if publishers %}
                    <div class="panel panel-default">
                        <div class="panel-heading">{{ 'title.publishers'|trans }}</div>
                        <ul class="list-group">
                            {% for publisher in publishers %}
                                <li class="list-group-item">
                                    {% if publisher_filters is empty %}
                                        {% set parameter = publisher.key %}
                                        <a href="{{ path('ojs_site_explore_index', {
                                            publisher_filters: publisher.key,
                                            subject_filters: app.request.get('subject_filters'),
                                            type_filters: app.request.get('type_filters') }) }}">{{ publisher.key|trans }}</a>
                                    {% else %}
                                        {% if publisher.key in publisher_filters %}
                                            {% set parameter = publisher_filters|pop(publisher.key) %}
                                            {{ publisher.key|trans }}
                                            <a href="{{ path('ojs_site_explore_index', {
                                                publisher_filters: parameter|join(','),
                                                subject_filters: app.request.get('subject_filters'),
                                                type_filters: app.request.get('type_filters')}) }}">
                                        <span class="label label-danger">
                                            <i class="glyphicon glyphicon-remove"></i>
                                        </span>
                                            </a>
                                        {% else %}
                                            {% set parameter = publisher_filters|merge([publisher.key]) %}
                                            <a href="{{ path('ojs_site_explore_index', {
                                                publisher_filters: parameter|join(','),
                                                subject_filters: app.request.get('subject_filters'),
                                                type_filters: app.request.get('type_filters')}) }}">{{ publisher.key|trans }}</a>
                                        {% endif %}
                                    {% endif %}
                                    <span class="badge">{{ publisher.doc_count }}</span>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                {% if subjects %}
                    <div class="panel panel-default">
                        <div class="panel-heading">{{ 'title.subjects'|trans }}</div>
                        <ul class="list-group">
                            {% for subject in subjects %}
                                <li class="list-group-item">
                                    {% if subject_filters is empty %}
                                        {% set parameter = subject.key %}
                                        <a href="{{ path('ojs_site_explore_index', {
                                            subject_filters: subject.key,
                                            type_filters: app.request.get('type_filters'),
                                            publisher_filters: app.request.get('publisher_filters')}) }}">{{ subject.key }}</a>
                                    {% else %}
                                        {% if subject.key in subject_filters %}
                                            {% set parameter = subject_filters|pop(subject.key) %}
                                            {{ subject.key }}
                                            <a href="{{ path('ojs_site_explore_index', {
                                                subject_filters: parameter|join(','),
                                                type_filters: app.request.get('type_filters'),
                                                publisher_filters: app.request.get('publisher_filters')}) }}">
                                        <span class="label label-danger">
                                            <i class="glyphicon glyphicon-remove"></i>
                                        </span>
                                            </a>
                                        {% else %}
                                            {% set parameter = subject_filters|merge([subject.key]) %}
                                            <a href="{{ path('ojs_site_explore_index', {
                                                subject_filters: parameter|join(','),
                                                type_filters: app.request.get('type_filters'),
                                                publisher_filters: app.request.get('publisher_filters')}) }}">{{ subject.key }}</a>
                                        {% endif %}
                                    {% endif %}
                                    <span class="badge">{{ subject.doc_count }}</span>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="col-md-9 col-sm-9">
            {% for journal in journals %}
                <div class="col-md-4 col-sm-4">
                    <div class="card ng">
                        <a href="{{ path('ojs_journal_index', {slug: journal.slug, publisher: journal.publisher.slug}) }}">
                            {% if journal.image is defined %}
                                {% set src = journal.image|imagine_filter('journal_cover') %}
                                <img src="{{ src }}"
                                     class="img-responsive avatar" alt="{{ journal.title }}">
                            {% else %}
                                <img src="#"
                                     class="img-responsive avatar tri" alt="{{ journal.title }}">
                            {% endif %}

                            <div class="caption">

                                <strong class="card-link">{{ journal.title }}</strong>

                                <div>
                                    <ul class="list-inline">
                                        {% if journal.issn is defined %}
                                            <li><strong>{{ "issn"|trans }}</strong>:{{ journal.issn }}</li>
                                        {% endif %}
                                        {% if journal.eissn is defined %}
                                            <li><strong>{{ "eissn"|trans }}</strong>: {{ journal.eissn }}</li>
                                        {% endif %}
                                        {% if journal.founded is defined %}
                                            <li>
                                                <strong>{{ "journal.founded"|trans }}</strong>: {{ journal.founded|date('Y') }}
                                            </li>
                                        {% endif %}
                                        {% if journal.periods is defined and journal.periods|length >0 %}
                                            <li>
                                                {% for period in journal.periods %}
                                                    <span class="label label-info">{{ period.period }}</span>
                                                {% endfor %}
                                            </li>
                                        {% endif %}
                                    </ul>
                                    <ul class="list-inline">
                                        <li>
                                            <i class="fa fa-eye"></i>
                                            {% if viewMap[journal.id] is defined %}
                                                {{ viewMap[journal.id] }}
                                            {% else %}
                                                0
                                            {% endif %}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </a>

                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="text-center">
            <ul class="pagination">
                {{ pagerfanta(pagerfanta,'twitter_bootstrap3') }}
            </ul>
        </div>

    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {

        });
    </script>
{% endblock %}
