{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.explore.publisher'|trans }} {{ parent() }}{% endblock %}
{% set hideleft = true %}

{% block breadcrumb %}
    {% set list = [
    {'link': path('ojs_site_explore_publisher'), 'title': project_name},
    {'title': 'explore'|trans}
    ] %}

    {{ breadcrumb(list) }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-3 col-sm-3">
            <div class="panel-group">
                {% if types is not empty %}
                    <div class="panel panel-default">
                        <div class="panel-heading">{{ 'title.publisher_types'|trans }}</div>
                        <ul class="list-group filter-box">
                            {% for type in types %}
                                <li class="list-group-item">
                                    {% if type_filters is empty %}
                                        {% set parameter = type.key %}
                                        <a href="{{ path('ojs_site_explore_publisher', {type_filters: type.key}) }}">{{ type.key|trans }}</a>
                                    {% else %}
                                        {% if type.key in type_filters %}
                                            {% set parameter = type_filters|pop(type.key) %}
                                            {{ type.key|trans }}
                                            <a href="{{ path('ojs_site_explore_publisher', {type_filters: parameter|join(',')}) }}">
                                        <span class="label label-danger">
                                            <i class="glyphicon glyphicon-remove"></i>
                                        </span>
                                            </a>
                                        {% else %}
                                            {% set parameter = type_filters|merge([type.key]) %}
                                            <a href="{{ path('ojs_site_explore_publisher', {type_filters: parameter|join(',')}) }}">{{ type.key|trans }}</a>
                                        {% endif %}
                                    {% endif %}
                                    <span class="badge">{{ type.doc_count }}</span>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="col-md-9 col-sm-9">
            {% for publisher in publishers %}
                <a class="publisher" href="{{ path('ojs_site_explore_index', {publisher_filters: publisher.name}) }}">
                    <span class="publisher-inner">
                        {% if publisher.logo is defined and publisher.logo is not null %}
                            <span class="publisher-logo">
                                <img alt="{{ publisher.name }}"
                                     src="{{ publisher.logo|imagine_filter('publisher_croped') }}" height="150"
                                     width="150">
                            </span>
                        {% endif %}
                        <span class="publisher-title">{{ publisher.name }}</span>
                    </span>
                </a>
            {% endfor %}
        </div>
    </div>

    <div class="row">
        <div class="col-12-xs">
            <div class="text-center">
                <ul class="pagination">
                    {{ pagerfanta(pagerfanta,'twitter_bootstrap3') }}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
