{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.journal_contacts'|trans }} {{ parent() }}{% endblock %}
{% set hideleft = 1 %}
{% block stylesheets %}
    {{ parent() }}

    <style type="text/css">
        .float-left {
            float: left;
            margin-right: 10px;
        }
    </style>
{% endblock %}

{% block breadcrumb %}
    {% set list = [
        {'link': path('ojs_public_index'), 'title': project_name},
        {'link': generateJournalUrl(journal),'title': journal.title},
        {'title': 'journalcontact.singular'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body %}

    <div class="container">
        <br>
        <!-- The carousel -->
        <div class="page-header">
            <img
                {% if journal.image is not null %}
                    src="{{ journal.image|imagine_filter('journal_croped') }}"
                    class="img-responsive img-rounded float-left"
                {% else %}
                    src="#" class="img-responsive img-rounded float-left tri"
                {% endif %}
                alt="{{ 'cover_image'|trans }} " width="200" height="300"/>
            <div>
                <h1>{{ journal.title }}</h1>
                <h6>{{ journal.subtitle }}</h6>
            </div>
            <div class="clearfix"></div>
        </div>


        <div class="row">
            <div class="col-md-9 col-sm-8">
                <div class="panel panel-default">
                    {% for contact in contacts %}
                        <div class="panel-heading">{{ contact.contactType.name }}</div>
                        <div class="panel-body">
                            <strong>{{ "name"|trans }}:</strong> {{ contact.title }} {{ contact.fullName }}
                            <br/>
                            {% if contact.email is not empty %}
                                <strong>{{ "email"|trans }}:</strong> {{ contact.email }} <br/>
                            {% endif %}
                            {% if contact.phone is not empty %}
                                <strong>{{ "phone"|trans }}:</strong> {{ contact.phone }} <br/>
                            {% endif %}
                            {% if contact.address is not empty %}
                                <strong>{{ "address"|trans }}:</strong> {{ contact.address|raw }} <br/>
                            {% endif %}
                        </div>
                    {% endfor %}

                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                {% include 'VipaSiteBundle:Journal:journal_right_block.html.twig' %}
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        analytics.increase('journal', {{ journal.id }})
    </script>
{% endblock %}
