{% extends '::ojsbase.html.twig' %}
{% set hideleft = true %}
{% block title %}{{ 'title.user_welcome'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    <h1 class="text-center">
        {{ breadcrumb([{ 'title': 'title.user_welcome'|trans }]) }}
    </h1>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('vendor/c3/c3.min.css') }}"/>
{% endblock %}

{% block body %}
    {% include '::flashbag.html.twig' %}
    <div class="panel panel-success">
        <div class="panel-heading">
            <h4>
                <i class="fa fa-random"></i>
                {{ 'admin.dashboard.switcher.title'|trans }}
            </h4>
        </div>

        <div class="panel-body">
            {{ form(switcher) }}
        </div>
    </div>

    <div class="panel panel-success">
        <div class="panel-heading toggle-body">
            <i class="fa fa-bar-chart-o fa-fw"></i> {{ "stats"|trans }}
            <i class="pull-right fa fa-angle-double-up"></i>
        </div>

        <div class="panel-body">
            <div id="articles"></div>
        </div>
    </div>

    <div class="panel panel-success">
        <div class="panel-heading toggle-body">
            <i class="fa fa-bar-chart-o fa-fw"></i> {{ "title.articles"|trans }}
            <i class="pull-right fa fa-angle-double-up"></i>
        </div>

        <div class="panel-body">
            <table class="table table-bordered table-striped">
                <tr>
                    <th>{{ 'title.journal'|trans }}</th>
                    <th>{{ 'title.article'|trans }}</th>
                    <th>{{ 'status'|trans }}</th>
                    <th>{{ 'submissionDate'|trans }}</th>
                </tr>

                {% for article in articles %}
                    <tr>
                        <td>{{ article.journal.title }}</td>
                        <td>{{ article.title }}</td>
                        <td>{{ statusText(article.status)|trans }}</td>
                        <td>{{ article.submissionDate|date('Y-m-d H:i:s') }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}

{% block javascripts -%}
    {{ parent() }}
    <script src="{{ asset('vendor/d3/d3.min.js') }}"></script>
    <script src="{{ asset('vendor/c3/c3.min.js') }}"></script>
    <script type="text/javascript">
        var data = {{ stats|raw }};

        function createChart(id, column)
        {
            var chart = c3.generate({
                bindto: id,
                data: {
                    x: 'x',
                    columns: [
                        data['dates'],
                        column
                    ],
                    type: 'bar'
                },
                subchart: {
                    show: false
                },
                zoom: {
                    enabled: true
                },
                axis : {
                    x : {
                        type : 'timeseries',
                        tick: {
                            format: function (x) { return x.toLocaleDateString(); },
                            culling: {max: 8}
                        }
                    }
                },
                bar: {
                    width: {
                        ratio: 0.6
                    }
                }
            });
        }

        createChart('#articles', data['articleViews']);
    </script>
{% endblock %}

