{% extends '::ojsbase.html.twig' %}

{% block body %}


    <h1>{% if entity.avatar %}
        <img class="thumbnail pull-left" style="margin-right:5px;" src="/uploads/avatars/thumbnail/{{entity.avatar}}" />
        {% endif %}
            {{entity.username}}
            <small style="color:green">{% if(entity.status == 1)%}<i class="fa fa-check-circle"></i>{%endif%}</small>
            <span class="badge">{{ entity.id }}</span>
            {% if app.user != entity %}
                {%if isProxy %}
                    <a class="btn btn-danger pull-right"
                       href="{{path('user_drop_proxy',{'proxyUserId':entity.id})}}">
                        {{ "drop.proxy.user"|trans }}
                    </a>
                {%else%}
                    <a class="btn btn-warning pull-right"
                       href="{{path('user_make_proxy',{'proxyUserId':entity.id})}}">
                        {{ "add.as.proxy"|trans }}
                    </a>
                {%endif%}

                {% if isSystemAdmin() %}
                    <a class="btn-sm btn btn-info" href="/?_su={{ entity.user.username }}">
                        <i class="fa fa-sign-in"></i>
                    </a>
                {% endif %}
            {%endif%}
        </h1>

        {%include '::flashbag.html.twig'%}

        <table class="record_properties  table">
            <tbody> 
                <tr>
                    <th>{{"user.username"|trans}}</th>
                    <td>{{ entity.username }}</td>
                </tr>
                <tr>
                    <th>{{"user.email"|trans}}</th>
                    <td>{{ entity.email }}</td>
                </tr>
                <tr>
                    <th>{{ "user.apikey"|trans }}</th>
                    <td><span id="user_api_key">{{ entity.apiKey }}</span> (<a href="{{ url('regenerate_apikey') }}" rel="ajax">{{ "regenerate.apikey"|trans }}</a>)</td>
                </tr>
                <tr>
                    <th>{{"user.roles"|trans}}</th>
                    <td>
                        {% for role in entity.roles %}
                            <span class="label label-info" title="{{role.role}}">{{role.name}}</span>  <br/>
                        {% endfor %}
                    </td>

                </tr>
            </tbody>
        </table>

        {% endblock %}
