{% extends '::ojsbase.html.twig' %}

{% block body -%}
<div class="large-12 columns">
    <div class="panel">
        <h1>UserJournalRole</h1>

        <table class="record_properties  table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ entity.id }}</td>
                </tr>
                <tr>
                    <th>User</th>
                    <td><span class="label label-default">{{ entity.userId }}</span> {{ entity.user.username}}</td>
                </tr>
                <tr>
                    <th>Journal</th>
                    <td><span class="label label-default">{{ entity.journalId }}</span> {{ entity.journal.title}}</td>
                </tr>
                <tr>
                    <th>Role</th>
                    <td><span class="label label-default">{{ entity.roleId }}</span> {{ entity.role.role}}</td>
                </tr>
            </tbody>
        </table>


        {% set back_path = 'ujr' %}
        {% set edit_path = 'ujr_edit' %}
        {% set delete_path = 'ujr_delete' %}
        {% include '::actionbtns.html.twig' %} 

    </div>
</div>
{% endblock %}
