{% extends '::ojsbase.html.twig' %}

{% block body -%}
<div class="large-12 columns">
    <div class="panel">
        <h1>My Journals</h1>

        {% if isSystemAdmin()%}
        <a class="btn btn-default" href="{{path('journal')}}">
            <i class="glyphicon glyphicon-asterisk"></i> All journals</a>
        {%endif%}
        <a class="btn btn-info" href="{{path('manager_show_my_journals')}}">
                <i class="glyphicon glyphicon-user"></i> My journals</a>
        <hr>
{% if entities %}
        <table class="records_list  table">
            <thead>
                <tr>
                    <th>Journal Id</th>
                    <th>Journal Name</th>
                    <th>Role</th>
                </tr>
            </thead>
            <tbody>
        {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('journal_show', { 'id': entity.journal.id }) }}">{{ entity.journal.id }}</a></td>
                    <td>{{ entity.journal.title}}</td>
                    <td><span class="label label-default">{{ entity.role.name }}</span></td>
                </tr>
        {% endfor %}
            </tbody>
        </table>
{%else %}

        <div class="alert alert-warning">
            <p>You have no journal.</p>
        </div>
 {%endif%}
    </div>
</div>
    {% endblock %}
