{% extends '::vipabase.html.twig' %}
{% block title %}{{ 'title.article_show'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
        {'link': path('vipa_journal_dashboard_index', {journalId: selectedJournal().id}), 'title': 'dashboard'|trans},
        {'link': path('vipa_journal_article_index', {'journalId': entity.journal.id}), 'title': 'article.manager'|trans},
        {'title' : 'title.article_show'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    <ul class="nav nav-tabs article-show-tags">
        <li role="presentation" class="active"><a href="#">{{ "Info"|trans }}</a></li>
        <li role="presentation"><a href="{{ path('vipa_journal_article_file_index', {'articleId': entity.id, 'journalId': entity.journal.id}) }}">{{ "article.files"|trans }}</a></li>
        <li role="presentation"><a href="{{ path('vipa_journal_citation_index', {'articleId': entity.id, 'journalId': entity.journal.id}) }}">{{ "title.citations"|trans }}</a></li>
        <li role="presentation"><a href="{{ path('vipa_journal_article_author_index', {'articleId': entity.id, 'journalId': selectedJournal().id}) }}">{{ "article.authors"|trans }}</a></li>
    </ul>

    <h1>{{ 'article.detail'|trans }}
        <small title="vipa unique id">#{{ entity.id }}</small>
    </h1>
    {% include '::flashbag.html.twig' %}
    {{ display(entity) }}

    {{
        actions({
            'back': {'href': path('vipa_journal_article_index', {'journalId': entity.journal.id})},
            'edit': {'href': path('vipa_journal_article_edit', {'id': entity.id, 'journalId': entity.journal.id})},
            'delete': {'href': path('vipa_journal_article_delete', {'id': entity.id, 'journalId': entity.journal.id}), 'attributes': {'data-token': token}},
        })
    }}
    {{ twigEventDispatch({'event_name': 'OJS_ARTICLE_SHOW_VIEW', entity: entity})|raw }}
{% endblock %}
