{% extends '::ojsbase.html.twig' %}

{% block breadcrumb %}
    {% set list = [
    {'link': path('dashboard'), 'title': 'User'|trans},
    { 'link': path('user'), 'title': 'user.update_profile'|trans},
    { 'title': 'user.custom_fields'|trans},

    ] %}
    {{ breadcrumb(list) }}
{% endblock %}



{% block body -%}

    <div class="large-12 columns">
        {% include 'OjsSiteBundle:User:tabs.html.twig' with {activo:4} %}

        <div class="tab-content">
            <div class="panel">
                {% for label, flashes in app.session.flashbag.all %}
                    {% for flash in flashes %}
                        <div class="alert alert-{{ label }}">
                            {{ flash }}
                        </div>
                    {% endfor %}
                {% endfor %}

                <form action="" method="post" class="validate-form">
                    <div class="form-group">
                        <label for="old_password">{{ 'user.old_password'|trans }}</label>
                        <input type="password" name="password[old]" id="old_password" class="form-control validate[required,minSize[6]]"/>
                    </div>
                    <div class="form-group">
                        <label for="new_password_1">{{ 'user.new_password'|trans }}</label>
                        <input class="form-control validate[required,minSize[6]]" type="password" name="password[new][first]"
                               id="new_password_1"/>
                    </div>
                    <div class="form-group">
                        <label for="new_password_2">{{ 'user.new_password_confirm'|trans }}</label>
                        <input class="form-control validate[required,minSize[6],equals[new_password_1]]" type="password" name="password[new][second]"
                               id="new_password_2"/>
                    </div>
                    <div class="form-group">
                        <input class="btn btn-success" type="submit" value="{{ 'user.change_password'|trans }}"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}


