{% extends '::ojsbase.html.twig' %}

{% block breadcrumb %}
    {% set list = [
    {'link': path('dashboard'), 'title': 'User'|trans},
    { 'link': path('user'), 'title': 'user.update_profile'|trans},
    { 'title': 'user.custom_fields'|trans},

    ] %}
    {{ breadcrumb(list) }}
{% endblock %}



{% block body -%}

    <div class="large-12 columns">
        <section class="tab-panel">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation">
                    <a href="{{ url('ojs_user_edit_profile') }}">{{ "user.update_profile"|trans }}</a>
                </li>
                <li role="presentation" class="">
                    <a href="{{ url('ojs_user_custom_field') }}">{{ "user.custom_fields"|trans }}</a>
                </li>
                <li role="presentation" class="active">
                    <a href="{{ url('ojs_user_connected_account') }}">{{ "user.connected_accounts"|trans }}</a>
                </li>
            </ul>
        </section>
        <div class="tab-content">
            <div class="panel">
                <div class="record_actions">
                    {% for label, flashes in app.session.flashbag.all %}
                        {% for flash in flashes %}
                            <div class="alert alert-{{ label }}">
                                {{ flash }}
                            </div>
                        {% endfor %}
                    {% endfor %}

                    <br/>
                    <a class="btn btn-success"
                       href="{{ url('ojs_user_connected_account_add') }}">{{ "user.connected_accounts.add"|trans }}</a>
                    <br/>
                    <br/>
                    <table class="table table-responsive table-bordered">
                        <thead>
                        <tr>
                            <th>{{ "user.connected_accounts.provider"|trans }}</th>
                            <th>{{ "user.connected_accounts.provider_user_id"|trans }}</th>
                            <th>{{ "user.connected_accounts.action"|trans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for entity in user.oauthAccounts %}
                            <tr>
                                <td>{{ entity.provider }}</td>
                                <td>{{ entity.providerUserId }}</td>
                                <td>
                                    <a class="btn-xs btn btn-danger"
                                       onclick="return confirm('{% trans %}sure{% endtrans %}');"
                                       href="{{ path('ojs_user_connected_account_delete', { 'id': entity.id}) }}">
                                        <i class="fa fa-trash-o"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
{% endblock %}


