{% extends "::ojsbase.html.twig" %}

{% block body %}
    <div class="row">
        <div class="container" style="margin-top:60px">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h1 class="panel-title"><i class="fa fa-key"></i> {{ "user.forgot_password"|trans }}</h1>
                    </div>
                    <div class="panel-body">
                        <form action="{{ path('ojs_user_forgot_password') }}" method="post">
                            {% include '::flashbag.html.twig' %}
                            <div class="form-group">
                                <label for="username">{{ "username.or.email"|trans }}</label>
                                <input tabindex="1" name="_username" value="" type="text"
                                       class="form-control" style="border-radius:0" id="username"
                                       placeholder="{{ "username"|trans }}">
                            </div>

                            <button type="submit" class="btn btn-sm btn-primary pull-right">
                                <i class="fa fa-sign-in"></i> {{ "user.reset_password"|trans }}
                            </button>
                            <a href="{{ path('register') }}"
                               class="btn btn-sm btn-default pull-left">{{ "user.new"|trans }}</a>
                            <a class="btn btn-sm btn-warning pull-left" href="{{ orcidLoginUrl() }}">{{ "orcid.login"|trans }}</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
