{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.multiple_mail'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
    {'link': path('dashboard'), 'title': 'User'|trans},
    { 'link': path('ojs_admin_user_index'), 'title': 'user.update_profile'|trans},
    { 'title': 'user.multiple_mail'|trans},
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}



{% block body -%}

    <div class="large-12 columns">
        {% include 'OjsSiteBundle:User:tabs.html.twig' with {activo:6} %}

        <div class="tab-content">
            <div class="panel">
                <div class="record_actions">
                    {% for label, flashes in app.session.flashbag.all %}
                        {% for flash in flashes %}
                            <div class="alert alert-{{ label }}">
                                {{ flash }}
                            </div>
                        {% endfor %}
                    {% endfor %}

                    <br/>
                    <a class="btn btn-success" href="{{ url('ojs_user_multiple_mail_add') }}">{{ "c"|trans }}</a>
                    <br/>
                    <br/>
                    <table class="table table-responsive table-bordered">
                        <thead>
                        <tr>
                            <th>{{ "user.multiple_mail.mail"|trans }}</th>
                            <th>{{ "user.multiple_mail.action"|trans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for entity in user.multipleMails %}
                            <tr>
                                <td>{{ entity.mail }}  {% if entity.isConfirmed == 0 %} <span class="label label-default">{{ "user.multiple_mail.unverified"|trans }}</span> {% endif %}</td>
                                <td>
                                    <a class="btn-xs btn btn-danger"
                                       onclick="return confirm('{% trans %}sure{% endtrans %}');"
                                       href="{{ path('ojs_user_multiple_mail_delete', { 'id': entity.id}) }}">
                                        <i class="fa fa-trash-o"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
