{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.profile'|trans }} {{ parent() }}{% endblock %}
{% set hideleft = 1 %}


{% block breadcrumb %}
    {% set list = [
    {'link': path('ojs_public_index'), 'title': 'ojs.title'|trans},
    {'title': 'user.profile'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@timeline_css' output="assets/prod/css/timeline.css" %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="profile-container">
            <header class="page-header text-center">
                <figure>
                    <img class="img-circle tri" alt="" src="{{ user.avatar }}"
                            />
                </figure>
                <h1 class="page-title">{{ user.title }} {{ user.firstName }} {{ user.lastName }} /
                    @{{ user.username }}</h1>
                <small><i class="fa fa-clock-o"></i>
                    <time> {{ user.updated.date|date }}</time>
                </small>
                <br/>

                {% include '::flashbag.html.twig' %}
                {% for link in user.customFields %}
                    {{ link.label }}
                {% endfor %}

            </header>

            <div class="bs-callout bs-callout-danger">
                <h6 class="text-muted">Summary</h6>

                <p class="lead">
                    Lorem ipsum dolor sit amet, ea vel prima adhuc, scripta liberavisse ea quo, te vel vidit mollis
                    complectitur. Quis verear mel ne. Munere vituperata vis cu,
                    te pri duis timeam scaevola, nam postea diceret ne. Cum ex quod aliquip mediocritatem, mei habemus
                    persecuti mediocritatem ei.
                </p>
            </div>

            {% if education is defined %}
            <div class="panel panel-default">
                <div class="panel-heading">Education</div>
                <div class="panel-body">
                    <table class="table table-hover table-responsive ">
                        <thead>
                        <tr>
                            <th>Degree</th>
                            <th>Graduation Year</th>
                            <th>CGPA</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Masters in Computer Science and Engineering</td>
                            <td>2014</td>
                            <td> 3.50</td>
                        </tr>
                        <tr>
                            <td>BSc. in Computer Science and Engineering</td>
                            <td>2011</td>
                            <td> 3.25</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="panel-heading">
                    Research Interests
                </div>
                <div class="panel-body">
                    keadsd, asdasd,
                </div>
            </div>
            {% endif %}

        </div>
    </div>
    <hr/>
    <div class="container">
        <div class="row">
            <div class="timeline-centered">


                {% if articles is defined %}
                    {% for article in articles %}

                        <article class="timeline-entry">

                            <div class="timeline-entry-inner">
                                <time class="timeline-time" datetime="{{ article.pubdate|date('Y-m-d H:i:s') }}">
                                    <span>{{ article.pubdate|date('Y-m-d H:i:s') }}</span> <span>Today</span>
                                </time>

                                <div class="timeline-icon bg-success">
                                    <i class="entypo-feather"></i>
                                </div>

                                <div class="timeline-label">
                                    <h2>
                                        <a href="
                                            {% if isInstitutionHosting is defined %}
                                                {{ url('institution_hosting_journal_issue_article',{article_id: article.id,slug: article.journal.slug,issue_id: article.issue.id}) }}
                                            {% elseif isJournalHosting is defined %}
                                            {% else %}
                                                {{ url('ojs_article_page',{article_id: article.id,slug: article.journal.slug,issue_id: article.issue.id,institution: article.journal.institution.slug}) }}
                                            {% endif %}">{{ article.title }}</a> @
                                        <span>{{ article.journal.title }}</span>
                                        {% if isInstitutionHosting is defined %}
                                            {% set journalUrl = url('institution_hosting_journal_index',{slug:article.journal.slug}) %}
                                        {% elseif isJournalHosting is defined %}
                                            {% set journalUrl = url('institution_hosting_journal_index') %}
                                        {% else %}
                                            {% set journalUrl = generateJournalUrl(article.journal) %}
                                        {% endif %}

                                    </h2>
                                    {% if article.abstract %}

                                        <div>
                                            {{ article.abstract|raw }}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>

                        </article>
                    {% endfor %}
                {% endif %}


                <article class="timeline-entry left-aligned">

                    <div class="timeline-entry-inner">
                        <time class="timeline-time" datetime="2014-01-10T03:45"><span>03:45 AM</span> <span>Today</span>
                        </time>

                        <div class="timeline-icon bg-secondary">
                            <i class="entypo-suitcase"></i>
                        </div>

                        <div class="timeline-label">
                            <h2><a href="#">Job Meeting</a></h2>

                            <p>You have a meeting at <strong>Laborator Office</strong> Today.</p>
                        </div>
                    </div>

                </article>

                <article class="timeline-entry begin">

                    <div class="timeline-entry-inner">

                        <div class="timeline-icon"
                             style="-webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg);">
                            <i class="entypo-flight"></i>
                        </div>

                    </div>
                </article>

            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        analytics.increase('user', {{ user.id }})
    </script>
{% endblock %}
