{% extends '::ojsbase.html.twig' %}
{% block title %} {{ user.title ~' '~ user.firstName ~' '~ user.lastName }} @  {{ parent() }}{% endblock %}
{% set hideleft = 1 %}

{% block breadcrumb %}
    {% set list = [
    {'link': path('ojs_public_index'), 'title': project_name},
    {'title': 'user.profile'|trans},
    {'title':  user.title ~' '~ user.firstName ~' '~ user.lastName }
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@timeline_css' output="assets/prod/css/timeline.css" %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <div class="wrapper">
        <div class="header"></div>

        <div class="main main-raised">
            <div class="profile-content">
                <div class="container">
                    <div class="row">
                        <div class="profile">
                            <div class="avatar">
                                <img
                                        {% if user.avatar is not null %}
                                            class="img-circle img-responsive img-raised"
                                        {% else %}
                                            class="img-circle img-responsive img-raised" src="{{ asset('assets/app/images/buddy_sample.png') }}"
                                        {% endif %}
                                        alt=""
                                        src="{% if user.avatar %}{{ user.avatar|imagine_filter('user_croped') }}{% endif %}"/>
                            </div>
                            <div class="name">
                                <h3 class="title">{{ user.title }} {{ user.firstName }} {{ user.lastName }}</h3>
                                <h6>@{{ user.username }}</h6>
                                <h4>
                                    {% if user.institutionNotListed %}
                                        {{ user.institutionName }}
                                    {% else %}
                                        {{ user.institution }}
                                    {% endif %}
                                </h4>
                                <a href="{{ user.url }}" target="_blank">{{ user.url }}</a><br>
                                {% if user.city.country is defined %}
                                    {{ user.city.country }}
                                {% endif %}
                                {% if user.city %}
                                    {{ user.city }}
                                {% endif %}
                                <p>{{ user.about }}</p>
                                <small><i class="fa fa-clock-o"></i>
                                    <time> {{ user.updated.date|date }}</time>
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="description text-center">
                        {% include '::flashbag.html.twig' %}
                        {% for link in user.customFields %}
                            {{ link.label }}
                        {% endfor %}
                    </div>

                    <div>
                        <div class="container">
                            <div class="profile-container">

                                {% if user.subjects is defined and user.subjects is not null %}

                                    <div class="col-sm-6">
                                        <h4>{{ "subjects"|trans }}</h4>

                                        <p class="lead">
                                            {% for subjects  in user.subjects %}
                                                &#8226; {{ subjects }}<br>
                                            {% endfor %}
                                        </p>
                                    </div>
                                {% endif %}

                                {{ twigEventDispatch({'event_name': 'OJS_USER_PROFILE_PUBLIC_VIEW', 'user': user})|raw }}
                                {% if journalUsers is defined and journalUsers is not null %}
                                    <div class="col-sm-12">
                                        <hr>
                                        <h4 class="text-center">{{ 'journals'|trans }}</h4>
                                        <div class="col-sm-12">
                                            {% for user in journalUsers %}
                                                {% set journal = user.journal %}
                                                <div class="grid-item journal-item">
                                                    <div class="views-field-field-journal-cover-fid">
                                                        <span class="field-content">
                                                            {% set url =  path('ojs_journal_index', {slug: journal.slug}) %}
                                                            <a href="{{ url }}">
                                                                {% if journal.image is defined and journal.image is not null %}
                                                                    {% set src = journal.image|imagine_filter('journal_croped') %}
                                                                    <img src="{{ src }}"
                                                                         alt="{{ journal.title }}"
                                                                         title="{{ journal.title }}" width="150"
                                                                         height="200"
                                                                         class="imagecache imagecache-journallist_default imagecache-default imagecache-journallist_default_default">
                                                                {% else %}
                                                                    <img src="#"
                                                                         alt="{{ journal.title }}"
                                                                         title="{{ journal.title }}" width="150"
                                                                         height="200"
                                                                         class="imagecache imagecache-journallist_default imagecache-default imagecache-journallist_default_default tri">
                                                                {% endif %}
                                                            </a>
                                                        </span>
                                                    </div>
                                                    {% if journal.title is defined %}
                                                        <div class="views-field-title text-center">
                                                            <span class="field-content">
                                                                <a href="{{ url }}">{{ journal.title }}</a>
                                                            </span>
                                                        </div>
                                                    {% endif %}
                                                    <div class="views-field-title text-center">
                                                        {% for role in user.roles %}
                                                            <span>{ role.name|trans }}<br></span>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        {% if articles is defined %}
                        <div class="container">
                            <div class="row">
                                <div class="timeline-centered">

                                        {% for article in articles %}

                                            <article class="timeline-entry {{ random(['left-aligned', '']) }}">

                                                <div class="timeline-entry-inner">
                                                    <time class="timeline-time"
                                                          datetime="{{ article.pubdate|date('Y-m-d H:i:s') }}">
                                                        <span>{{ article.pubdate|date('Y-m-d') }}</span>
                                                    </time>

                                                    <div class="timeline-icon bg-success">
                                                        <i class="entypo-feather"></i>
                                                    </div>

                                                    <div class="timeline-label">
                                                        <h2>
                                                            <a href="{{ path('ojs_article_page', {
                                                                slug: article.journal.slug,
                                                                issue_id: article.issue.id,
                                                                article_id: article.id
                                                            }) }}">
                                                                <span>{{ article.title(false) }}</span>
                                                            </a>@
                                                            <a href="{{ path('ojs_journal_index', {
                                                                slug: article.journal.slug
                                                            }) }}">
                                                                <span>{{ article.journal.title }}</span>
                                                            </a>

                                                            {% set journalUrl = generateJournalUrl(article.journal) %}

                                                        </h2>
                                                        {% if article.abstract %}
                                                            <div>{{ article.abstract|raw }}</div>
                                                        {% endif %}
                                                    </div>
                                                </div>

                                            </article>
                                        {% endfor %}



                                    <article class="timeline-entry begin">

                                        <div class="timeline-entry-inner">

                                            <div class="timeline-icon"
                                                 style="-webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg);">
                                                <i class="entypo-flight"></i>
                                            </div>

                                        </div>
                                    </article>

                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>

    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ twigEventDispatch({'event_name': 'OJS_USER_PROFILE_PUBLIC_VIEW_SCRIPT', 'user': user})|raw }}
    <script type="text/javascript">
        analytics.increase('user', {{ user.id }})
    </script>
{% endblock %}
