{% extends '::ojsbase.html.twig' %}
{% block title %} {{ user.title ~' '~ user.firstName ~' '~ user.lastName }} @  {{ parent() }}{% endblock %}
{% set hideleft = 1 %}

{% block breadcrumb %}
    {% set list = [
    {'link': path('ojs_public_index'), 'title': project_name},
    {'title': 'user.profile'|trans},
    {'title':  user.title ~' '~ user.firstName ~' '~ user.lastName }
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@timeline_css' output="assets/prod/css/timeline.css" %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="profile-container">
            <header class="page-header text-center">
                <figure>
                    <img
                            {% if user.avatar is not null %}
                                class="img-circle"
                            {% else %}
                                class="img-circle" src="{{ asset('assets/app/images/buddy_sample.png') }}"
                            {% endif %}
                            alt=""
                            src="{% if user.avatar %}{{ user.avatar|imagine_filter('user_croped') }}{% endif %}"/>
                </figure>
                <h1 class="page-title">{{ user.title }} {{ user.firstName }} {{ user.lastName }}</h1>
                <a href="{{ user.url }}" target="_blank">{{ user.url }}</a><br>
                {% if user.city.country is defined %}
                    {{ user.city.country }}
                {% endif %}
                {% if user.city %}
                    {{ user.city }}
                {% endif %}
                <p>{{ user.about }}</p>
                <small><i class="fa fa-clock-o"></i>
                    <time> {{ user.updated.date|date }}</time>
                </small>
                <br/>

                {% include '::flashbag.html.twig' %}
                {% for link in user.customFields %}
                    {{ link.label }}
                {% endfor %}

            </header>

            {% if user.subjects is defined and user.subjects is not null %}

            <div class="bs-callout bs-callout-danger">
                <h6 class="text-muted">{{ "subjects"|trans }}</h6>

                <p class="lead">
                    {% for subjects  in user.subjects %}
                        {{ subjects }}
                    {% endfor %}
                </p>
            </div>
            {% endif %}

            {{ twigEventDispatch({'event_name': 'OJS_USER_PROFILE_PUBLIC_VIEW', 'user': user})|raw }}

            {% if education is defined %}
                <div class="panel panel-default">
                    <div class="panel-heading">Education</div>
                    <div class="panel-body">
                        <table class="table table-hover table-responsive ">
                            <thead>
                            <tr>
                                <th>Degree</th>
                                <th>Graduation Year</th>
                                <th>CGPA</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Masters in Computer Science and Engineering</td>
                                <td>2014</td>
                                <td> 3.50</td>
                            </tr>
                            <tr>
                                <td>BSc. in Computer Science and Engineering</td>
                                <td>2011</td>
                                <td> 3.25</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="panel-heading">
                        Research Interests
                    </div>
                    <div class="panel-body">
                        keadsd, asdasd,
                    </div>
                </div>
            {% endif %}

        </div>
    </div>
    <hr/>
    <div class="container">
        <div class="row">
            <div class="timeline-centered">


                {% if articles is defined %}
                    {% for article in articles %}

                        <article class="timeline-entry {{ random(['left-aligned', '']) }}">

                            <div class="timeline-entry-inner">
                                <time class="timeline-time" datetime="{{ article.pubdate|date('Y-m-d H:i:s') }}">
                                    <span>{{ article.pubdate|date('Y-m-d') }}</span>
                                </time>

                                <div class="timeline-icon bg-success">
                                    <i class="entypo-feather"></i>
                                </div>

                                <div class="timeline-label">
                                    <h2>
                                        <a href="{{ path('ojs_article_page', {
                                            publisher: article.journal.publisher.slug,
                                            slug: article.journal.slug,
                                            issue_id: article.issue.id,
                                            article_id: article.id
                                        }) }}">
                                            <span>{{ article.title(false) }}</span>
                                        </a>@
                                        <a href="{{ path('ojs_journal_index', {
                                            publisher: article.journal.publisher.slug,
                                            slug: article.journal.slug
                                        }) }}">
                                            <span>{{ article.journal.title }}</span>
                                        </a>

                                        {% set journalUrl = generateJournalUrl(article.journal) %}

                                    </h2>
                                    {% if article.abstract %}

                                        <div>
                                            {{ article.abstract|raw }}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>

                        </article>
                    {% endfor %}
                {% endif %}


                <article class="timeline-entry begin">

                    <div class="timeline-entry-inner">

                        <div class="timeline-icon"
                             style="-webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg);">
                            <i class="entypo-flight"></i>
                        </div>

                    </div>
                </article>

            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ twigEventDispatch({'event_name': 'OJS_USER_PROFILE_PUBLIC_VIEW_SCRIPT', 'user': user})|raw }}
    <script type="text/javascript">
        analytics.increase('user', {{ user.id }})
    </script>
{% endblock %}
