{% extends '::ojsbase.html.twig' %}

{% block breadcrumb %}
    {% set list = [
    {'link': path('dashboard'), 'title': 'user'|trans},
    { 'link': path('user'), 'title': 'user.update_profile'|trans},
    { 'title': 'user.update_profile'|trans},

    ] %}
    {{ breadcrumb(list) }}
{% endblock %}



{% block body -%}

    <div class="large-12 columns">
        <section class="tab-panel">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="{{ url('ojs_user_edit_profile') }}">{{ "user.update_profile"|trans }}</a>
                </li>
                <li role="presentation">
                    <a href="{{ url('ojs_user_custom_field') }}">{{ "user.custom_fields"|trans }}</a>
                </li>
            </ul>
        </section>
        <div class="tab-content">
            <div class="panel">
                <div class="record_actions">
                    {{ form_start(edit_form, { 'attr': { 'enctype' :'multipart/form-data','method':'post'} }) }}
                    {% for label, flashes in app.session.flashbag.all %}
                        {% for flash in flashes %}
                            <div class="alert alert-{{ label }}">
                                {{ flash }}
                            </div>
                        {% endfor %}
                    {% endfor %}

                    {{ form_errors(edit_form) }}
                    {{ form_widget(edit_form) }}

                    <div class="form-group">
                        <label class="control-label" for="fileupload_avatar">{{ "Avatar"|trans }}</label>
                        <div id="preview_image_avatar"  style="width:200px">
                            {% if entity.header %}
                                <img src="{{ ('/uploads/avatarfiles/'~imagePath(entity.avatar))|imagine_filter("wide_200")}}"
                                     data-src="holder.js/960x200/random/text:{{entity.username}}" alt="" />
                                {% set imageoptions=getImageOptions(entity,'avatar') %}
                                <input id="avatar_height" name="avatar[height]" type="hidden" value="{{ imageoptions.height }}"/>
                                <input id="avatar_width"  name="avatar[width]" type="hidden" value="{{ imageoptions.width }}"/>
                                <input id="avatar_x"  name="avatar[x]" type="hidden" value="{{ imageoptions.x }}"/>
                                <input id="avatar_y"  name="avatar[y]" type="hidden" value="{{ imageoptions.y }}"/>
                            {% endif %}

                        </div>
    <span class="btn btn-success fileinput-button form-control">
                <i class="fa fa-plus"></i>
                <span>{{ "select.image.file"|trans }}</span>
                <input id="fileupload_avatar" type="file" data-url="{{ oneup_uploader_endpoint('avatarfiles') }}">
            </span>

                        <div id="user_avatar_upload_progress" style="display: none" class="label label-info">

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="fileupload">{{ "Header Image"|trans }}</label>
                        <div id="preview_image_header" >
                            {% if entity.header %}
                                <img src="{{ ('/uploads/userfiles/'~imagePath(entity.header))|imagine_filter("wide_960")}}"
                                     data-src="holder.js/960x200/random/text:{{entity.username}}" alt="" />
                                {% set imageoptions=getImageOptions(entity,'header') %}
                                <input id="header_height" name="header[height]" type="hidden" value="{{ imageoptions.height }}"/>
                                <input id="header_width"  name="header[width]" type="hidden" value="{{ imageoptions.width }}"/>
                                <input id="header_x"  name="header[x]" type="hidden" value="{{ imageoptions.x }}"/>
                                <input id="header_y"  name="header[y]" type="hidden" value="{{ imageoptions.y }}"/>
                            {% endif %}

                        </div>
    <span class="btn btn-success fileinput-button form-control">
                <i class="fa fa-plus"></i>
                <span>{{ "select.image.file"|trans }}</span>
                <input id="fileupload" type="file" data-url="{{ oneup_uploader_endpoint('userfiles') }}">
            </span>

                        <div id="user_header_upload_progress" style="display: none" class="label label-info">

                        </div>
                    </div>
                    <button type="submit" id="ojs_userbundle_user_submit" class="btn btn-primary">
                        {{ "u"|trans }}
                    </button>
                    {{ form_end(edit_form) }}

                </div>
            </div>
        </div>
    </div>
    <style>
        select#ojs_userbundle_user_journals, select#ojs_userbundle_user_roles {
            height: 300px;
            margin-bottom: 30px
        }
    </style>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {% javascripts '@upload_js' output="c/upload.js" %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#fileupload').fileupload({});
            $('#fileupload').bind('fileuploadsend', function (e, data) {
                $('#user_header_upload_progress').show();
                $('#user_header_upload_progress').html("{{"uploading"|trans}}");
            }).bind('fileuploaddone', function (e, data) {
                $('#user_header_upload_progress').html("{{"done"|trans}}.");
                $('#ojs_userbundle_updateuser_header').attr('value', JSON.parse(data.result).files.name);
            });
            $('#fileupload_avatar').fileupload({});
            $('#fileupload_avatar').bind('fileuploadsend', function (e, data) {
                $('#user_avatar_upload_progress').show();
                $('#user_avatar_upload_progress').html("{{"uploading"|trans}}");
            }).bind('fileuploaddone', function (e, data) {
                $('#user_avatar_upload_progress').html("{{"done"|trans}}.");
                $('#ojs_userbundle_updateuser_avatar').attr('value', JSON.parse(data.result).files.name);
            });
            $("#preview_image_avatar > img").cropper({
                aspectRatio: 1,
                maxWidth:200,
                maxHeight:200,

                {% if  entity.avatar %}
                {% set imageoptions=getImageOptions(entity,'avatar') %}
                data:{
                    x: {{ imageoptions.x }},
                    y: {{ imageoptions.y }},
                    height: {{ imageoptions.height }},
                    width: {{ imageoptions.width }}
                },
                {% endif %}
                done: function(data){
                    $("#avatar_height").val(data.height)
                    $("#avatar_width").val(data.width)
                    $("#avatar_x").val(data.x)
                    $("#avatar_y").val(data.y)
                }

            })
            $("#preview_image_header > img").cropper({
                aspectRatio: 585/390,
                maxWidth:585,
                maxHeight:390,

                {% if  entity.avatar %}
                {% set imageoptions=getImageOptions(entity,'header') %}
                data:{
                    x: {{ imageoptions.x }},
                    y: {{ imageoptions.y }},
                    height: {{ imageoptions.height }},
                    width: {{ imageoptions.width }}
                },
                {% endif %}
                done: function(data){
                    $("#header_height").val(data.height)
                    $("#header_width").val(data.width)
                    $("#header_x").val(data.x)
                    $("#header_y").val(data.y)
                }

            })
        });
    </script>
    {% javascripts "@user_admin" output="c/admin_user.js" %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}

{% block stylesheets %}

    {{ parent() }}
    <link rel="stylesheet" href="/vendor/bootstrap3-wysihtml5-bower/dist/bootstrap3-wysihtml5.css" type="text/css"/>
    {% stylesheets '@upload_css' '%kernel.root_dir%/../web/vendor/select2/select2.css' output="c/user_admin.css" filter="cssrewrite" %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
    <style>
        #preview_image_avatar,#preview_image_avatar div,#preview_image_header, #preview_image_header div{
            margin: 0 !important;
        }
    </style>
{% endblock %}
