{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.citations'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
        {'link': path('dashboard'), 'title': 'dashboard'|trans},
        {'title': 'title.citations'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    {% if app.request.get('article') is not null %}
        <ul class="nav nav-tabs">
            <li role="presentation"><a href="{{ path('ojs_journal_article_show', {'id': app.request.get('articleId'), 'journalId': selectedJournal().id}) }}">{{ "Info"|trans }}</a></li>
            <li role="presentation"><a href="{{ path('ojs_journal_article_file_index', {'articleId': app.request.get('articleId'), 'journalId': selectedJournal().id}) }}">{{ "Article Files"|trans }}</a></li>
            <li role="presentation" class="active"><a href="#">{{ "title.citations"|trans }}</a></li>
        </ul>
    {% endif %}
    
    <h2>{{ 'title.citations'|trans }}</h2>
    <a href="{{ path('ojs_journal_citation_new', {'articleId': app.request.get('articleId'), 'journalId': selectedJournal().id}) }}" class="btn btn-success">
        {{ "c"|trans }}
    </a>

    <hr>
    {{ grid(grid) }}
{% endblock %}
