{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.citations'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
        {'link': path('dashboard'), 'title': 'dashboard'|trans},
        { 'title': 'citation.list'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    <h1>{{"citation.list"|trans}}</h1>
    {% include '::flashbag.html.twig' %}
    {% if is_granted('CREATE', getEntity('OjsJournalBundle:Citation')) %}
        <a href="{{ path('citation_new') }}">{{"citation.new"|trans}}</a>
    {% endif %}
    {{grid(grid)}}
{% endblock %}
