{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.citation_new'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
        {'link': path('dashboard'), 'title': 'dashboard'|trans},
        {'link': path('ojs_journal_citation_index'), 'title': 'title.citations'|trans},
        {'title': 'title.citation_new'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    <h2>{{ 'title.citation_new'|trans }}</h2>

    {{ form(form) }}

    {% set create_path = 'ojs_journal_citation_new' %}
    {% include '::actionbuttons.html.twig' %}
{% endblock %}
