{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.contact_new'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
        {'link': path('dashboard'), 'title': 'dashboard'|trans},
        {'link': path('contact'),'title': 'contact.manager'|trans},
        {'title': 'contact.new'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}

    {{ form(form) }}


    <a href="{{ path('contact') }}">
        {{"b"|trans}}
    </a>
{% endblock %}
