{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.institution_application'|trans }} {{ parent() }}{% endblock %}
{% set hideleft = 1 %}

{% block breadcrumb %}
    {% set list = [
    {'link': path('ojs_public_index'), 'title': ojs.title|trans},
    {'title': 'application.institution.apply'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body %}
    <div class="container">
        <!-- Page Content -->
        <h1 class="page-header">{{ "application.institution.apply"|trans }}</h1>
        {{ form_start(form, {'attr': {'enctype': 'multipart/form-data'}, 'style': 'horizontal'}) }}
        {% for label, flashes in app.session.flashbag.all %}
            {% for flash in flashes %}
                <div class="alert alert-{{ label }}">
                    {{ flash }}
                </div>
            {% endfor %}
        {% endfor %}
        <div class="panel panel-default">
            <div class="panel-heading"><h4>{{ "institution.about"|trans }}</h4></div>
            <div class="panel-body">
                {{ form_errors(form) }}

                <div class="panel panel-info">
                    <div class="panel-heading"><h4>{{ "application.basic"|trans }}</h4></div>
                    <div class="panel-body">
                        {% for field in [form.name, form.slug, form.type, form.about, form.tags,] %}
                            {{ form_row(field) }}
                        {% endfor %}
                    </div>
                </div>

                <div class="panel panel-info">
                    <div class="panel-heading"><h4>{{ "application.contact"|trans }}</h4></div>
                    <div class="panel-body">
                        {% for field in [form.phone, form.fax, form.email, form.address, form.country, form.city,
                        form.lat, form.lon, form.url, form.wiki_url,] %}
                            {{ form_row(field) }}
                        {% endfor %}
                    </div>
                </div>

                <div class="panel panel-info">
                    <div class="panel-heading"><h4>{{ "application.graphics"|trans }}</h4></div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="fileupload">{{ "logo"|trans }}</label>

                            <div class="col-sm-4">
                                <span class="btn btn-info fileinput-button form-control">
                                    <i class="fa fa-plus"></i>
                                    <span>{{ "file.select"|trans }}</span>
                                    <input id="fileupload" type="file"
                                           data-url="{{ oneup_uploader_endpoint('institutionfiles') }}">
                                </span>
                            </div>

                            <span id="institution_logo_upload_progress" style="display: none"
                                  class="col-sm-4 btn btn-success"></span>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label"
                                   for="fileupload_header">{{ "Header Image"|trans }}</label>

                            <div class="col-sm-4">
                                <span class="btn btn-info fileinput-button form-control">
                                    <i class="fa fa-plus"></i>
                                    <span>{{ "file.select"|trans }}</span>
                                    <input id="fileupload_header" type="file"
                                           data-url="{{ oneup_uploader_endpoint('institutionfiles') }}">
                                </span>
                            </div>

                            <span id="institution_header_upload_progress" style="display: none"
                                  class="col-sm-4 btn btn-success"></span>
                        </div>
                    </div>
                </div>

                <button type="submit" id="ojs_journalbundle_issue_submit" class="btn btn-success pull-right">
                    {{ "apply"|trans }}
                </button>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
    <!-- /.container -->

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts '@upload_js' output="c/upload.js" %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script src="{{ asset('/bundles/okulbilisimlocation/js/location.js') }}"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#fileupload').fileupload({});
            $('#fileupload').bind('fileuploadsend', function (e, data) {
                $('#institution_logo_upload_progress').show();
                $('#institution_logo_upload_progress').html("{{"uploading"|trans}}");
            }).bind('fileuploaddone', function (e, data) {
                $('#institution_logo_upload_progress').html("{{"done"|trans}}");
                $('#ojs_journalbundle_institutionapplication_logo_image').attr('value', JSON.parse(data.result).files.name);
            });
            $('#fileupload_header').fileupload({});
            $('#fileupload_header').bind('fileuploadsend', function (e, data) {
                $('#institution_header_upload_progress').show();
                $('#institution_header_upload_progress').html("{{"uploading"|trans}}");
            }).bind('fileuploaddone', function (e, data) {
                $('#institution_header_upload_progress').html("{{"done"|trans}}");
                $('#ojs_journalbundle_institutionapplication_header_image').attr('value', JSON.parse(data.result).files.name);
            });
            okulbilisimlocation.bridge('.bridged-dropdown');
        });
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@upload_css'  output="c/upload.css" filter="cssrewrite" %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}

{% endblock %}
