{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.institution_application'|trans }} {{ parent() }}{% endblock %}
{% set hideleft = 1 %}

{% block breadcrumb %}
    {% set list = [
    {'link': path('ojs_public_index'), 'title': 'ojs.title'|trans},
    {'title': 'application.institution.apply'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body %}
    <div class="container">
        <!-- Page Content -->
        <h1 class="page-header">{{ "application.institution.apply"|trans }}</h1>
        {{ form_start(form, {'attr': {'enctype': 'multipart/form-data'}, 'style': 'horizontal'}) }}
        {% for label, flashes in app.session.flashbag.all %}
            {% for flash in flashes %}
                <div class="alert alert-{{ label }}">
                    {{ flash }}
                </div>
            {% endfor %}
        {% endfor %}
        <div class="panel panel-default">
            <div class="panel-heading"><h4>{{ "institution.about"|trans }}</h4></div>
            <div class="panel-body">
                {{ form_errors(form) }}

                <div class="panel panel-info">
                    <div class="panel-heading"><h4>{{ "application.basic"|trans }}</h4></div>
                    <div class="panel-body">
                        {% for field in [form.name, form.institution_type, form.about, form.tags,] %}
                            {{ form_row(field) }}
                        {% endfor %}
                    </div>
                </div>

                <div class="panel panel-info">
                    <div class="panel-heading"><h4>{{ "application.contact"|trans }}</h4></div>
                    <div class="panel-body">
                        {% for field in [form.phone, form.fax, form.email, form.address, form.country, form.city,
                        form.addressLat, form.addressLong, form.url, form.wiki,] %}
                            {{ form_row(field) }}
                        {% endfor %}
                    </div>
                </div>

                <div class="panel panel-info">
                    <div class="panel-heading"><h4>{{ "application.graphics"|trans }}</h4></div>
                    <div class="panel-body">
                        {{ form_row(form.logo) }}
                        {{ form_row(form.header) }}
                    </div>
                </div>

                <button type="submit" id="ojs_journalbundle_issue_submit" class="btn btn-success pull-right">
                    {{ "apply"|trans }}
                </button>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
    <!-- /.container -->

{% endblock %}
