{% extends "::ojsbase.html.twig" %}
{% set hideleft = 1%}
{%block breadcrumb %}{% endblock %}
{% block body %}
    <div class="container">
        <!-- Page Content -->
        <h1 class="page-header">{{ "application.journal.apply"|trans }}</h1>

        {% for label, flashes in app.session.flashbag.all %}
            {% for flash in flashes %}
                <div class="alert alert-{{ label }}">
                    {{ flash }}
                </div>
            {% endfor %}
        {% endfor %}

        {{ form_start(form, {'attr': {'enctype': 'multipart/form-data'}, 'style': 'horizontal'}) }}
        <div class="panel panel-default">
            <div class="panel-heading"><h4>{{ "journal.about"|trans }}</h4></div>
            <div class="panel-body">
                {{ form_errors(form) }}
                <div class="panel panel-info">
                    <div class="panel-heading"><h4>{{ "application.journal.institution"|trans }}</h4></div>
                    <div class="panel-body">
                        {{ form_row(form.institution, {'help_text': "application.journal.new_institution_help"|trans}) }}
                        <a href="{{ path('ojs_apply_institution') }}" class="btn btn-info pull-right">
                            {{ icon('plus') }} {{ "application.journal.new_institution"|trans }}
                        </a>
                    </div>
                </div>

                <div class="panel panel-info">
                    <div class="panel-heading"><h4>{{ "application.basic"|trans }}</h4></div>
                    <div class="panel-body">
                        {% for field in [form.title, form.titleAbbr, form.titleTransliterated,
                        form.subtitle, form.domain, form.country, form.issn, form.eissn,
                        form.firstPublishDate, form.period, form.tags, form.url, form.languages, form.subjects] %}
                            {{ form_row(field) }}
                        {% endfor %}
                    </div>
                </div>
                <div class="panel panel-info">
                    <div class="panel-heading"><h4>{{ "application.contact"|trans }}</h4></div>
                    <div class="panel-body">
                        <div class="panel panel-success">
                            <div class="panel-heading"><h4>{{ "journal.editor"|trans }}</h4></div>
                            <div class="panel-body">
                                {% for field in [form.editorName, form.editorSurname,
                                                 form.editorPhone, form.editorEmail] %}
                                    {{ form_row(field) }}
                                {% endfor %}
                            </div>
                        </div>

                        <div class="panel panel-success">
                            <div class="panel-heading"><h4>{{ "journal.assistant_editor"|trans }}</h4></div>
                            <div class="panel-body">
                                {% for field in [form.assistantEditorName, form.assistantEditorSurname,
                                                 form.assistantEditorPhone, form.assistantEditorEmail] %}
                                    {{ form_row(field) }}
                                {% endfor %}
                            </div>
                        </div>

                        <div class="panel panel-success">
                            <div class="panel-heading"><h4>{{ "journal.tech_contact"|trans }}</h4></div>
                            <div class="panel-body">
                                {% for field in [form.techContactName, form.techContactSurname,
                                                 form.techContactPhone, form.techContactEmail] %}
                                    {{ form_row(field) }}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-info">
                    <div class="panel-heading"><h4>{{ "application.graphics"|trans }}</h4></div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="fileupload">{{"Cover Image"|trans}}</label>
                            <div class="col-sm-4">
                                <span class="btn btn-info fileinput-button form-control">
                                    <i class="fa fa-plus"></i>
                                    <span>{{"file.select"|trans}}</span>
                                    <input id="fileupload" type="file" data-url="{{ oneup_uploader_endpoint('journalfiles') }}">
                                </span>
                            </div>
                            <span id="journal_logo_upload_progress" style="display: none" class="col-sm-4 btn btn-success"></span>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="fileupload_header">{{"Header Image"|trans}}</label>
                            <div class="col-sm-4">
                                <span class="btn btn-info fileinput-button form-control">
                                    <i class="fa fa-plus"></i>
                                    <span>{{"file.select"|trans}}</span>
                                    <input id="fileupload_header" type="file" data-url="{{ oneup_uploader_endpoint('journalfiles') }}">
                                </span>
                            </div>
                            <span id="journal_header_upload_progress" style="display: none" class="col-sm-4 btn btn-success"></span>
                        </div>
                    </div>
                </div>

                <button type="submit" id="ojs_journalbundle_issue_submit" class="btn btn-success pull-right">
                    {{ "apply"|trans }}
                </button>
            </div>
        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts '@upload_js' output="c/upload.js" %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#fileupload').fileupload({});
            $('#fileupload').bind('fileuploadsend', function (e, data) {
                $('#journal_logo_upload_progress').show();
                $('#journal_logo_upload_progress').html("{{"uploading"|trans}}");
            }).bind('fileuploaddone', function (e, data) {
                $('#journal_logo_upload_progress').html("{{"done"|trans}}");
                $('#ojs_journalbundle_journalapplication_coverimage').attr('value', JSON.parse(data.result).files.name);
            });
            $('#fileupload_header').fileupload({});
            $('#fileupload_header').bind('fileuploadsend', function (e, data) {
                $('#journal_header_upload_progress').show();
                $('#journal_header_upload_progress').html("{{"uploading"|trans}}");
            }).bind('fileuploaddone', function (e, data) {
                $('#journal_header_upload_progress').html("{{"done"|trans}}");
                $('#ojs_journalbundle_journalapplication_headerimage').attr('value', JSON.parse(data.result).files.name);
            });
        });

        $('.tags').tagsinput({
            tagClass: 'label label-info',
            trimValue: true,
            confirmKeys: [13, 44, 188, 59]
        });
    </script>

    {{ form_javascript(form) }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@upload_css' output="c/upload.css" filter="cssrewrite" %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
    {{ form_stylesheet(form) }}
{% endblock %}
