{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.journal_application'|trans }} {{ parent() }}{% endblock %}
{% set hideleft = 1 %}

{% block breadcrumb %}
    {% set list = [
        {'link': path('ojs_public_index'), 'title': 'ojs.title'|trans},
        {'title': 'application.journal.apply'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body %}
    <div class="container">
        <!-- Page Content -->
        <h1 class="page-header">{{ "application.journal.apply"|trans }}</h1>

        {% for label, flashes in app.session.flashbag.all %}
            {% for flash in flashes %}
                <div class="alert alert-{{ label }}">
                    {{ flash }}
                </div>
            {% endfor %}
        {% endfor %}

        {{ form_start(form, {'attr': {'enctype': 'multipart/form-data'}, 'style': 'horizontal'}) }}
        <div class="panel panel-default">
            <div class="panel-heading"><h4>{{ "journal.about"|trans }}</h4></div>
            <div class="panel-body">
                {{ form_errors(form) }}
                <div class="panel panel-info">
                    <div class="panel-heading"><h4>{{ "application.journal.institution"|trans }}</h4></div>
                    <div class="panel-body">
                        {{ form_row(form.institution, {'help_text': "application.journal.new_institution_help"|trans}) }}
                        <a href="{{ path('ojs_apply_institution') }}" class="btn btn-success btn-labeled pull-right">
                            <span class="btn-label">
                                <i class="fa fa-plus"></i>
                            </span>
                            {{ "application.journal.new_institution"|trans }}
                        </a>
                    </div>
                </div>

                <div class="panel panel-info">
                    <div class="panel-heading"><h4>{{ "application.basic"|trans }}</h4></div>
                    <div class="panel-body">
                        {% for field in [form.title, form.titleAbbr, form.titleTransliterated,
                        form.subtitle, form.domain, form.country, form.issn, form.eissn,
                        form.firstPublishDate, form.period, form.tags, form.url, form.languages, form.subjects] %}
                            {{ form_row(field) }}
                        {% endfor %}
                    </div>
                </div>

                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4>{{ "application.contact"|trans }}</h4>
                    </div>
                    <div class="panel-body">
                        {% for field in [form.address, form.phone, form.email] %}
                            {{ form_row(field) }}
                        {% endfor %}

                        {% do form.journalContacts.setRendered %}

                        <ul id="contacts" data-prototype="{{ form_widget(form.journalContacts.vars.prototype)|e }}"></ul>
                        <a href="#" id="add_contact" class="btn btn-success btn-labeled pull-right">
                            <span class="btn-label">
                                <i class="fa fa-plus"></i>
                            </span>
                            {{ "application.journal.add_contact"|trans }}
                        </a>
                    </div>
                </div>

                <div class="panel panel-info">
                    <div class="panel-heading"><h4>{{ "application.graphics"|trans }}</h4></div>
                    <div class="panel-body">
                        {{ form_row(form.image) }}

                        {{ form_row(form.header) }}
                    </div>
                </div>

                <button type="submit" id="ojs_journalbundle_issue_submit" class="btn btn-success pull-right">
                    {{ "apply"|trans }}
                </button>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var collectionHolder;
        var addContactLink = $('#add_contact');

        jQuery(document).ready(function() {
            collectionHolder = $('#contacts');
            collectionHolder.data('index', collectionHolder.find(':input').length);

            addContactLink.on('click', function(e) {
                e.preventDefault();
                addContactForm(collectionHolder, addContactLink);
            });
        });

        function addContactForm($collectionHolder, $addLink) {
            var prototype = $collectionHolder.data('prototype');
            var index = $collectionHolder.data('index');
            var newForm = prototype.replace(/__name__/g, index);

            $collectionHolder.data('index', index + 1);

            $addLink.before($('<div class="well"></div>').append(newForm));
        }
    </script>

    {{ form_javascript(form) }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@upload_css' output="assets/prod/css/upload.css" filter="cssrewrite" %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
    {{ form_stylesheet(form) }}
{% endblock %}
