{% extends '::vipabase.html.twig' %}
{% block title %}{{ 'title.authors'|trans }} {{ parent() }}{% endblock %}
{% block breadcrumb %}
    {% set list = [
    {'link': path('vipa_journal_dashboard_index', {journalId: selectedJournal().id}), 'title': 'dashboard'|trans},
    { 'title': 'title.authors'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    <h1>{{ 'title.authors'|trans }}</h1>
    {% include '::flashbag.html.twig' %}
    {% if is_granted('CREATE', getEntity('VipaJournalBundle:Author')) %}
        <a href="{{ path('vipa_journal_author_new', {'journalId': selectedJournal().id}) }}" class="btn btn-success">
            {{ "c"|trans }}
        </a>
    {% endif %}

    <hr>
    {{ grid(grid) }}
{% endblock %}
