{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.language_edit'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
    {'link': path('dashboard'), 'title': 'dashboard'|trans},
    {'link': path('lang'),'title': 'language'|trans},
    {'title': 'edit'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    <h1>{{ "lang.edit"|trans }}</h1>
    {% include '::flashbag.html.twig' %}
    {{ form(edit_form) }}
    <hr>
    {% set back_path = 'lang' %}
    {% if is_granted('DELETE', edit_form.vars.data) %}
        {% set delete_path = 'lang_delete' %}
    {% endif %}
    {% include '::actionbuttons.html.twig' %}

    {{ getLogs(entity) }}
{% endblock %}
