{% extends '::ojsbase.html.twig' %}

{% block body -%}
    <h1>{{"lang.list"|trans}}</h1>

    <table class="records_list table">
        <thead>
            <tr>
                <th>{{ 'id'|trans }}</th>
                <th>{{"lang.code"|trans}}</th>
                <th>{{"lang.name"|trans}}</th>
                <th>{{"lang.rtl"|trans}}</th>
                <th>{{"actions"|trans}}</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('lang_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                    <td>{{ entity.code }}</td>
                    <td>{{ entity.name }}</td>
                    <td>{{ entity.rtl }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('lang_show', { 'id': entity.id }) }}">{{"s"|trans}}</a>
                            </li>
                            <li>
                                <a href="{{ path('lang_edit', { 'id': entity.id }) }}">{{"e"|trans}}</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('lang_new') }}">
                {{"c"|trans}}
            </a>
        </li>
    </ul>
{% endblock %}
