{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.language_new'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
    {'link': path('dashboard'), 'title': 'dashboard'|trans},
    {'link': path('lang'),'title': 'language'|trans},
    {'title': 'new'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    <h1>{{ "lang.new"|trans }}</h1>

    {{ form(form) }}

    {% set back_path = 'lang' %}
    {% include '::actionbuttons.html.twig' %}
{% endblock %}
