{% extends '::ojsbase.html.twig' %}

{% block body -%}
    <h1>{{"lang"|trans}} <small>{{ entity.id }}</small></h1>
    {% include '::flashbag.html.twig' %}
    <table class="record_properties">
        <tbody>
            <tr>
                <th>{{ 'id'|trans }}</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>{{"lang.code"|trans}}</th>
                <td>{{ entity.code }}</td>
            </tr>
            <tr>
                <th>{{"lang.name"|trans}}</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>{{"lang.rtl"|trans}}</th>
                <td>{{ printYesNo(entity.rtl) }}</td>
            </tr>
        </tbody>
    </table>

    {% set back_path = 'lang' %}
    {% set edit_path = 'lang_edit' %}
    {% set delete_path = 'lang_delete' %}
    {% include '::actionbtns.html.twig' %}

{% endblock %}
