{% extends '::vipabase.html.twig' %}
{% block title %}{{ 'title.admin_dashboard'|trans }} {{ parent() }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('vendor/c3/c3.min.css') }}"/>

    <style type="text/css">
        .btn-wrap {
            white-space: normal !important;
        }
    </style>
{% endblock %}

{% block breadcrumb %}
    <div class="text-center">
        <h3>{{ "dashboard"|trans }}</h3>
    </div>
{% endblock %}

{% block body %}
    {% include '::flashbag.html.twig' %}
    {% if selectedJournal() and is_granted('VIEW', selectedJournal(), 'adminMenu') %}

        <div id="chart"></div>
        <div>
            {{ getLogs(selectedJournal()) }}
        </div>

    {% else %}
        <div class="alert alert-info" role="alert">
            <h5>{{ "dashboard.use_left"|trans }}</h5>
        </div>
    {% endif %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts "@stats_js" output="assets/prod/js/stats.js" %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        $(function () {
            var chart = c3.generate({
                data: {
                    columns: [
                        {% for statusName,count in articlePieStats %}
                            ['{{ statusName|trans }} ({{ count }})', {{ count }}],
                        {% endfor %}
                    ],
                    type: 'pie',
                    onclick: function (d, i) {
                        console.log("onclick", d, i);
                    },
                    onmouseover: function (d, i) {
                        console.log("onmouseover", d, i);
                    },
                    onmouseout: function (d, i) {
                        console.log("onmouseout", d, i);
                    }
                }
            });

        });
    </script>
{% endblock %}
