{% extends '::ojsbase.html.twig' %}

{% block body -%}
<h1>ArticleFile list</h1>

<table class="records_list table">
    <thead>
        <tr>
            <th>Id</th>

            <th>Name</th>
            <th>Mimetype</th>
            <th>Size</th>
            <th>Articleid</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for entity in entities %}
        <tr>
            <td><a href="{{ path('articlefile_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>

            <td>{{ entity.name }}</td>
            <td>{{ entity.mimeType }}</td>
            <td>{{ entity.size }}</td>
            <td>{{ entity.articleId }}</td>
            <td>
                {% set show_path = 'articlefile_show' %}
                {% set edit_path = 'articlefile_edit' %}
                {% set delete_path = 'articlefile_delete' %}
                {% include '::actionbtns.html.twig' %}

            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

    {% endblock %}
