{% extends '::ojsbase.html.twig' %}

{% block body -%}
<h1>ArticleFile creation</h1>

 {{ form_start(form, { 'attr': { 'enctype' :'multipart/form-data'} }) }}
        {{ form_errors(form) }}

<div>
    <input type="file" name="articlefile">
</div> 

{{ form_widget(form.articleId, {'type':'hidden', 'attr': {'value': articleId } } ) }}
    {{ form_end(form) }} 

<ul class="record_actions">
    <li>
        <a href="{{ path('articlefile') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
