{% extends "::ojsbase.html.twig" %}
{% block breadcrumb %}
    <a href="/messages">Messages</a>
    <small>messages</small>
{% endblock %} 


{% block stylesheets %}
    {{ parent() }}
    {% block stylesheets_extra %}
    {% endblock stylesheets_extra %}
{% endblock stylesheets %}



{% block javascripts %}
    {{ parent() }}
    {% block javascripts_extra %}
    {% endblock javascripts_extra %}
{% endblock javascripts %}




{% block sidebar %}
    {%- spaceless -%}

    {{ parent() }}
    {%- spaceless -%}
    dddd
    <ul class="nav nav-pills nav-stacked">

        {%- set route = app.request.attributes.get('_route') -%}

        {%- if current_folder.name is not defined -%}
        {%- if envelope is defined -%}
        {%- set current_folder = envelope.getFolder -%}
        {%- endif -%}
        {%- endif -%}

        {%- if
			route == 'okulbilisim_message_user_mail_compose' or
			route == 'okulbilisim_message_user_mail_compose_to' or
			route == 'okulbilisim_message_user_mail_compose_reply' or
			route == 'okulbilisim_message_user_mail_compose_forward'
		-%}
        <li class="active">
            <a href="{{- path('okulbilisim_message_user_mail_compose') -}}">
                <i class="glyphicon glyphicon-pencil"></i>
                {{- 'link.message.compose' | trans({}, 'OkulBilisimMessageBundle') -}}
            </a>
        </li>
        {%- else -%}
        <li>
            <a href="{{- path('okulbilisim_message_user_mail_compose') -}}">
                <i class="glyphicon glyphicon-pencil"></i>
                {{- 'link.message.compose' | trans({}, 'OkulBilisimMessageBundle') -}}
            </a>
        </li>
        {%- endif -%}

        {%- set folders = message_bundle_folder_list() -%}

        {%- if folders['folders'] is defined -%}
        {%- import 'OkulbilisimMessageBundle:Common:Layout/Sidebar/sidebarMacro.html.twig' as format -%}

        {%- for folder in folders['folders'] -%}
        {%- if current_folder is defined
					and route != 'okulbilisim_message_user_mail_compose'
					and route != 'okulbilisim_message_user_mail_compose_to'
					and route != 'okulbilisim_message_user_mail_compose_reply'
					and route != 'okulbilisim_message_user_mail_compose_forward'
				-%}
        {{- format.folderWithCurrentFolder(folder, current_folder) -}}
        {%- else -%}
        {{- format.folder(folder) -}}
        {%- endif -%}
        {%- endfor -%}
        {%- endif -%}


        {% if folders['quota'] is defined -%}
            <li class="divider"></li>
            <li style="text-align:center;padding:5px;">
                <div class="col-md-3">
                    <i class="glyphicon glyphicon-hdd"></i>
                    {{- folders['quota']['allowed'] -}}&#37;&nbsp;
                </div>
                <div class="col-md-9">
                    <div class="progress progress-danger">
                        <div class="bar" style="width:{{- folders['quota']['used'] -}}%;"></div>
                    </div>
                </div>
            </li>
            {%- endif -%}


        </ul>

        {%- endspaceless -%}


        {%- endspaceless -%}
        {% endblock %}



            {% block body %}
                {%- spaceless -%}

                {%- spaceless -%}
                {%- for type, messages in app.session.flashbag.all() -%}
                {%- for message in messages -%}
                <div class="alert alert-{{ type -}}">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    {{- message -}}
                </div>
                {%- endfor -%}
                {%- endfor -%}
                {%- endspaceless -%}


                {%- block body_content -%}
                {%- endblock body_content -%}



                {%- endspaceless -%}
            {% endblock body %}
