{% extends '::ojsbase.html.twig' %}
    {% block breadcrumb %}
        {% set list = [
        {'link': path('dashboard'), 'title': 'dashboard'|trans},
        { 'title': 'user.manager'|trans},
        ] %}
        {{ breadcrumb(list) }}
    {% endblock %}
{% block body -%}
    <div class="row">
        <div class="panel">
            <h1>{{ "user.list"|trans }}</h1>

            {{ grid(grid) }}
            <div class="clearfix"></div>
            <a href="{{ path('user_new') }}" class="btn btn-info">
                <i class="fa fa-plus"></i> {{ "c"|trans }}
            </a>
        </div>
    </div>
{% endblock %}
