{% extends '::ojsbase.html.twig' %}

{% block breadcrumb %}
    {% set list = [
                {'link': path('dashboard'), 'title': 'Dashboard'},
                { 'link': path('user'), 'title': 'User Manager'},
                { 'title': 'New User '},

] %}
    {{breadcrumb(list)}}
{% endblock %}

{% block stylesheets %}
    {{parent()}}
    {% stylesheets '@upload_css' output="c/upload.css" %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    <link rel="stylesheet" href="//cdn.jsdelivr.net/select2/3.4.8/select2.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/bootstrap3-wysihtml5-bower/dist/bootstrap3-wysihtml5.css" type="text/css" />
{% endblock %}


{% block body -%}
    <div class="large-12 columns">
        <div class="panel">
            <h1>{% trans %}user.new{% endtrans %}</h1>

            {{ form_start(form, { 'attr': { 'enctype' :'multipart/form-data'} }) }}
            {{ form_errors(form) }}

            <span class="btn btn-success fileinput-button">
                <i class="fa fa-plus"></i>
                <span>Select image file...</span>
                <input id="fileupload" type="file" data-url="{{ oneup_uploader_endpoint('avatarfiles') }}">
                <input name="user_avatar" id="avatar_input" value="" type="hidden" />
            </span>
            <div id="avatar_upload_progress" style="display: none" class="label label-info">

            </div>

            <br>

            <br>

            {{ form_end(form) }}
            <div class="record_actions">
                <a class="button" href="{{ path('user') }}">
                    {% trans %}back{% endtrans %}
                </a>
            </div>
        </div>
    </div>
    <style>
        select#ojs_userbundle_user_roles{height: 300px;margin-bottom: 30px}
    </style>
{% endblock %}

{% block javascripts %}
    {{parent()}}
    {% javascripts '@upload_js' output="c/upload.js" %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript">
        $(document).ready(function ()
        {
            $('#fileupload').fileupload({});
            $('#fileupload').bind('fileuploadsend', function (e, data) {
                $('#avatar_upload_progress').show();
                $('#avatar_upload_progress').html("Uploading...");
            }).bind('fileuploaddone', function (e, data) {
                $('#avatar_upload_progress').html("Done.");
                $('#avatar_input').attr('value', JSON.parse(data.result).files.name);
            });
        });
    </script> 

    {% javascripts "@user_admin" output="c/admin_user.js" %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %} 
{% endblock %}
