{% extends '::ojsbase.html.twig' %}

{% block breadcrumb %}
    {% set list = [
                {'link': path('dashboard'), 'title': 'dashboard'|trans},
                { 'link': path('user'), 'title': 'user.manager'|trans},
                { 'title': 'user.new'|trans},

] %}
    {{breadcrumb(list)}}
{% endblock %}

{% block stylesheets %}
    {{parent()}}
    {% stylesheets '@upload_css' '%kernel.root_dir%/../web/vendor/select2/select2.css' output="c/user_admin.css" filter="cssrewrite" %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

{% endblock %}


{% block body -%}
    <div class="large-12 columns">
        <div class="panel">
            <h1>{{ "user.new"|trans }}</h1>

            {{ form_start(form, { 'attr': { 'enctype' :'multipart/form-data'} }) }}
            {{ form_errors(form) }}

            <span class="btn btn-success fileinput-button">
                <i class="fa fa-plus"></i>
                <span>{{ "select.image.file"|trans }}</span>
                <input id="fileupload" type="file" data-url="{{ oneup_uploader_endpoint('avatarfiles') }}">
                <input name="user_avatar" id="avatar_input" value="" type="hidden" />
            </span>
            <div id="avatar_upload_progress" style="display: none" class="label label-info">

            </div>

            <br>

            <br>

            {{ form_end(form) }}
            <div class="record_actions">
                <a class="button" href="{{ path('user') }}">
                    {{"b"|trans}}
                </a>
            </div>
        </div>
    </div>
    <style>
        select#ojs_userbundle_user_roles{height: 300px;margin-bottom: 30px}
    </style>
{% endblock %}

{% block javascripts %}
    {{parent()}}
    {% javascripts '@upload_js' output="c/upload.js" %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript">
        $(document).ready(function ()
        {
            $('#fileupload').fileupload({});
            $('#fileupload').bind('fileuploadsend', function (e, data) {
                $('#avatar_upload_progress').show();
                $('#avatar_upload_progress').html("{{ "uploading"|trans }}");
            }).bind('fileuploaddone', function (e, data) {
                $('#avatar_upload_progress').html("{{ "done"|trans }}");
                $('#avatar_input').attr('value', JSON.parse(data.result).files.name);
            });
        });
    </script> 

    {% javascripts "@user_admin" output="c/admin_user.js" %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %} 
{% endblock %}
