{% extends '::ojsbase.html.twig' %}


{% block breadcrumb %}
{% set list = [
                {'link': path('dashboard'), 'title': 'dashboard'|trans},
                { 'link': path('user'), 'title': 'user.manager'|trans},
                { 'title': 'user.show'|trans},

] %}
{{breadcrumb(list)}}
{% endblock %}



{% block body %}
    {% include '::flashbag.html.twig' %}
<h1>{% if entity.avatar %}
    <img class="thumbnail pull-left" style="margin-right:5px;" src="/uploads/avatars/thumbnail/{{entity.avatar}}" />
{% endif %}
{{entity.username}}
    <small style="color:green">{% if(entity.isActive != 0)%}<i class="fa fa-check-circle"></i>{%endif%}</small>

</h1>
<table class="record_properties  table">
    <tbody>
        <tr>
            <th>{{ "user.id"|trans }}</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>{{ "user.username"|trans }}</th>
            <td>{{ entity.username }}</td>
        </tr>
        <tr>
            <th>{{ "user.email"|trans }}</th>
            <td>{{ entity.email }}</td>
        </tr>
        <tr>
            <th>{{ "user.roles"|trans }}</th>
            <td>
                {% for role in entity.roles %}
                <span class="label label-info" title="{{role.role|trans}}">{{role.name|trans}}</span> <br/>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <th>{{ "user.subjects"|trans }}</th>
            <td>
                {% for subject in entity.subjects%}
                <span class="label label-primary">{{subject.subject}}</span>
                {% endfor %}
            </td>
        </tr>
    </tbody>
</table>

<div class="record_actions">

    {% set back_path = 'user' %}
    {% set edit_path = 'user_edit' %}
    {% set delete_path = 'user_delete' %}
    {% include '::actionbtns.html.twig' %}


</div>
{% endblock %}
