{% extends "::ojsbase.html.twig" %}
{% set hideleft = 1 %}
{% block breadcrumb %}{% endblock %}
{% block body %}

    <div class="container">
        <br>
        <div class="row">
            <!-- The carousel -->
            <div class="page-header row">
                <div class="col-md-1 hidden-sm hidden-xs">
                    <img src="holder.js/72x72/#f9A497:#ffffff/text:cover" class="img-responsive"/>
                </div>
                <div class="col-md-11">
                    <h1>{{ journal.title }}</h1>
                    <h6>{{ journal.subtitle }}</h6>
                </div>
            </div>


            <div class="row">

                <div class="col-md-12">
                    <ol class="breadcrumb">
                        <li><a href="/">{{ "home"|trans }}</a></li>
                        <li><a href="{{ generateJournalUrl(journal) }}">{{ journal.title }}</a>
                        </li>
                        <li>
                            <a href="#">{{ "journalcontact.singular"|trans }}</a>
                        </li>
                    </ol>

                    <div class="panel panel-default">
                        {% for contact in contacts %}
                            <div class="panel-heading">{{ contact.contactType.name }}</div>
                            <div class="panel-body">
                                <strong>{{ "name"|trans }}:</strong> {{ contact.contact.title }} {{ contact.contact.firstName }} {{ contact.contact.lastName }} <br/>
                                <strong>{{ "email"|trans }}:</strong> {{ contact.contact.email }} <br/>
                                <strong>{{ "phone"|trans }}:</strong> {{ contact.contact.phone}} <br/>
                                <strong>{{ "fax"|trans }}:</strong> {{ contact.contact.fax}} <br/>
                                <strong>{{ "address"|trans }}:</strong> {{ contact.contact.address}} <br/>
                            </div>
                        {% endfor %}

                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    {% include 'OjsSiteBundle:Journal:journal_right_block.html.twig' %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
