{% extends "::ojsbase.html.twig" %}

{% block body %}
<h1>{{"dashboard.editor"|trans}}</h1>
<div class="col-md-12">
    <ul class="list-group">
        <li class="list-group-item">
            <a href="{{path('editor_show_my_journals')}}">{{"journal.my"|trans}}</a>
        </li>
       {% include 'OjsWorkflowBundle:Editor:parts/editor_workflow_actions.html.twig' %}

    </ul>
</div>
<div class="col-md-6">
    <h2>{{ "dashboard.general.stats"|trans }}</h2>
    <ul class="list-group">
        <li class="list-group-item">{{ "total.user"|trans }} <span class="badge">{{ counts.userCount }}</span></li>
        <li class="list-group-item">{{ "total.article"|trans }} <span class="badge">{{ counts.articleCount }}</span></li>
        <li class="list-group-item">{{ "total.issue"|trans }} <span class="badge">{{ counts.issueCount }}</span></li>
    </ul>
</div>
{% endblock %}

{% block footer %}{% endblock %}
