{% extends '::ojsbase.html.twig' %}
{% set hideleft = true %}
{% block title %}{{ 'title.default_journal_theme'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
    {'link': path('ojs_admin_dashboard'), 'title': 'dashboard'|trans},
    {'link': path('ojs_admin_journal_theme_index'),'title': 'title.default_journal_theme'|trans},
    {'title': 'title.default_journal_theme_new'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    <script type="text/javascript" src="{{ asset('vendor/ace-builds/src/ace.js') }}"></script>
    <h1>{{ "title.default_journal_theme_new"|trans }}</h1>

    <a href="{{ path('ojs_admin_journal_theme_index') }}">{{ "b"|trans }}</a>
    {{ form(form) }}
{% endblock %}
