{% block tags_widget %}
    {% set attr = attr|merge({
        'data-ajax--url':remote_path,
        'data-ajax--cache':"true",
        'data-ajax--delay':"250",
        'data-ajax--data-type':"json",
        'data-tags':"true",
        'data-role':"tagsinputautocomplete",
        'data-token-separators':"[,]",
        'data-minimum-input-length':minimum_input_length,
        'data-placeholder':placeholder|trans({}, translation_domain),
        'class' : (attr.class|default('') ~ ' form-control')|trim
    }) %}
    {% spaceless %}

        <select {{ block('widget_attributes') }} multiple="multiple">
            {% if value is iterable %}
                {% for label in value %}
                    <option value="{{ label }}" selected="selected">{{ label }}</option>
                {% endfor %}
            {% endif %}

        </select>
    {% endspaceless %}
{% endblock %}

{% block choice_widget_options %}
    {% spaceless %}
        {% for group_label, choice in options %}
            {% if choice is iterable %}
                <optgroup label="{{ group_label|trans({}, translation_domain) }}">
                    {% set options = choice %}
                    {{ block('choice_widget_options') }}
                </optgroup>
            {% else %}
                <option {% for attrname, attrvalue in choice.attr|default({}) if attrvalue is not empty %}{{ attrname }}="{{ attrvalue }}" {% endfor %} value="{{ choice.value }}"{% if choice is selectedchoice(value) %} selected="selected"{% endif %}>{{ choice.label|trans({}, translation_domain) }}</option>
            {% endif %}
        {% endfor %}
    {% endspaceless %}
{% endblock choice_widget_options %}