{% extends "::ojsbase.html.twig" %}
{% set hideleft = 1%}
{%block breadcrumb %}{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="row">
                    {% for journal in journals %}
                        <div class="col-sm-2 col-md-2">
                            <div class="post">
                                <div class="post-img-content">
                                    <a href="/journal/{{journal.id}}">
                                        <img src="holder.js/189x296/#f9A497:#ffffff/text:{{journal.title}}" class="img-responsive" />
                                    </a>
                                </div>
                                <div class="content">
                                    <span class="post-title"><b>{{journal.title}}</b></span>

                                    <div>
                                        <a href="/journal/{{journal.id}}" class="btn-link btn-sm"><i class="fa fa-link"></i> {{"journal"|trans}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>

{% endblock %}

