{% extends "::ojsbase.html.twig" %}
{% set hideleft = 1%}
{%block breadcrumb %}{% endblock %}
{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <ol class="breadcrumb">
                    <li><a href="/">Ujs</a></li>
                    <li><a href="/journal">Cumhuriyet Science Journal</a></li>
                    <li><a href="/archive">Arşiv</a></li>
                    <li class="active">Cilt4 / Sayı 12-A</li>
                </ol>

                <div class="panel panel-default">
                    <div class="panel-body">
                        <div id="articleTitle">
                            <h2>“The Conquering or Fall of Istanbul” Analyzing of the Conquering or Fall of Istanbul Topic in the Turkish and Greek History and Social Studies Textbooks
                                <br><span id="authorString"><small>Elenie Filippidou, Banu Çulha Özbaş</small></span>
                                <small id="articleStats" class="pull-right text-muted">
                                    <span><i class="fa fa-eye"></i> 143</span>
                                    <span><i class="fa fa-download"></i> 44 </span>
                                </small>
                            </h2>
                        </div>
                        <div id="files">
                            <a href="http://www.tuhed.org/article/view/1004000001/5000033740" class="btn btn-sm btn-info" target="_parent">
                                <i class="fa fa-file-pdf-o"></i> PDF (English)
                            </a>
                            <a href="http://www.tuhed.org/article/view/1004000001/5000033740" class="btn btn-sm btn-info" target="_parent">
                                <i class="fa fa-file-pdf-o"></i> PDF (Russian)
                            </a>
                        </div>
                        <br>


                        <div id="articleAbstract">
                            <h4 class="page-header">Özet</h4>
                            <div><p>School history textbooks play an important role in teaching students about their national identity. Historical narratives presented in the textbooks incorporate conceptions of who people are and how they are linked to particular location. However, these narratives are never static. As known some changes were made in Turkish and Greek history and social studies textbooks recently.&nbsp; The aim of this article is to analyze Turkish and Greek old and new history/social studies textbooks in the topic of “The conquering/fall of Istanbul”. For this purpose two history and two social studies textbooks written and given by the government were chosen. Content and descriptive analyses were applied to these books. At the end of the study we saw that using historical evidence and active learning activities increased in numbers and more peace centered history writing was chosen as an approach.</p>
                                <p><strong>Keywords:</strong> History Textbooks, Social Studies Textbooks, The Conquering of Istanbul, The Fall of Istanbul.</p>

                                <p><strong>“İstanbul’un Fethi ya da Düşüşü”</strong></p>
                                <p><strong>Türk ve Yunan Tarih ve Sosyal Bilgiler Ders Kitaplarında Yer Alan İstanbul’un Fethi ya da Düşmesi Konusunun Analizi</strong></p>
                                <p><strong>Özet</strong>: Tarih ders kitaplarına ulusal kimliğin öğretilmesinde önemli bir rol yüklenir. Ders kitaplarında sunulan metinler insanların kim olduklarını ve yaşadıkları toplumla bağlarının ne olduğunu gösterir. Elbette ders kitapları durağan değildir. Bilindiği gibi hem Türkiye’de hem de Yunanistan’da tarih ve sosyal bilgiler ders kitaplarında yenilikler yapılmıştır. Bu araştırmanın da amacı “İstanbul’un Fethi ya da Düşüşü” konusunun eski ve yeni Türk ve Yunan ders kitapları çerçevesinde analiz etmektir. Bunun için Türkiye’de ve Yunanistan’da devlet tarafından yazdırılan ve dağıtılan yeni ve eski iki ders kitabı seçilmiştir. Bu kitaplardaki İstanbul’un Fethi ya da Düşüşü konusu içerik ve betimsel analize tabi tutulmuştur. Araştırma sonucunda her ülkenin de iki ders kitabında tarihsel kanıtların kullanımının ve aktif öğrenme etkinliklerinin arttığı ve daha barışcı bir tarih yazımının tercih edildiği görülmüştür.</p>
                                <p><strong>Anahtar Kelimeler:</strong> Tarih Ders Kitapları, Sosyal Bilgiler Ders Kitapları, İstanbul’un Fethi Ya Da Düşüşü</p>
                            </div>
                        </div>

                        <div id="doiInfo">
                            <h4 class="page-header">DOI</h4>
                            <p class="text-success"><a href="#" class="btn btn-success">10.14784/JFRS.2014104496</a></p>

                        </div>

                        <div>
                            <h4 class="page-header">Araçlar</h4>
                            <a class="btn btn-fresh" href="#">Kaynak göster</a> |
                            <a class="btn btn-fresh" title="Save to Zotero" href="javascript:var d=document,s=d.createElement('script');s.src='https://www.zotero.org/bookmarklet/loader.js';(d.body?d.body:d.documentElement).appendChild(s);void(0);">
                                <img src="//dergipark.ulakbim.gov.tr/assets/images/zotero.ico" width="16"> Zotero</a> |
                            <a class="btn btn-fresh" title="Save to Mendeley" onclick="ga('send', 'event', 'article_tools', 'mendeley');" href="javascript:document.getElementsByTagName('body')[0].appendChild(document.createElement('script')).setAttribute('src','https://www.mendeley.com/minified/bookmarklet.js');">
                                <img src="//dergipark.ulakbim.gov.tr/assets/images/mendeley.ico" width="16"> Mendeley</a>

                        </div>
                        <div id="articleCitations">
                            <h4 class="page-header">Referanslar</h4>
                            <div>
                                <ul>
                                    <li>Aydin, Mustafa &amp; Ifandis, Kostas (ed.) (2004). Turkish-Greek Relations, The Security Dilemma in the Aegean. London &amp; New York: Routledge.</li>
                                    <li>Barr, R. D., Barth, J. L. &amp; Shermis, S. S. (1978). The Nature of Social Studies. California: ECT Publications.</li>
                                    <li>Αβδελά, Έφη (1998). Ιστορία και σχολείο. Αθήνα: Νήσος.</li>
                                    <li>Αδάμου, Μαρία (2002). Το εκπαιδευτικό σύστημα στην υπηρεσία του εθνικού κράτους. Η ελληνική περίπτωση 1950-1976. Αθήνα: Παπαζήση.</li>
                                    <li>Δημητρούκας, Ιωάννης &amp; Ιωάννου, Θουκυδίδης (2008). Μεσαιωνική και Νεότερη ιστορία, Β΄ Γυμνασίου. Αθήνα, Οργανισμός Εκδόσεως Διδακτικών Βιβλίων.</li>
                                    <li>Δραγώνα, Θάλεια &amp; Μπιρτέκ, Φαρούκ (eds) (2006). Ελλάδα και Τουρκία. Πολίτης και έθνος-κράτος. Αθήνα: Αλεξάνδρεια.</li>
                                    <li>Judah J. Harris (1963): “Intergroup relations in social‐studies textbooks”, Theory Into Practice, 2:3, pp. 128-135.</li>
                                    <li>Καψάλης, Αχιλλέας &amp; Χαραλάμπους Δημήτριος Φ. (1995). Σχολικά εγχειρίδια, θεσμική εξέλιξη και σύγχρονη προβληματική. Αθήνα: Έκφραση.</li>
                                    <li>Καψάλης, Αχιλλέας (επίμ.) (2000). Η εικόνα του «άλλου»/γείτονα στα σχολικά εγχειρίδια των βαλκανικών χωρών. Αθήνα: Τυπωθήτω.</li>
                                    <li>Μαυροσκούφης, Δημήτρης (1997). «Οι κυρίαρχες ιδεολογικές επιρροές στην ελληνική εκπαίδευση: το παράδειγμα της σχολικής ιστορίας», Παιδαγωγική Επιθεώρηση, 26. pp. 37-59.</li>
                                    <li>Μήλλας, Ηρακλής (2005). Εικόνες Ελλήνων και Τούρκων: Σχολικά βιβλία, Ιστοριογραφία,, Λογοτεχνία και Εθνικά Στερεότυπα. Αθήνα: Αλεξάνδρεια.</li>
                                    <li>Μπονίδης, Κυριάκος Θ. (2004). Το περιεχόμενο του σχολικού βιβλίου ως αντικείμενο έρευνας. Διαχρονική εξέταση της σχετικής έρευνας και μεθοδολογικές προσεγγίσεις. Αθήνα: Μεταίχμιο.</li>
                                    <li>Patton, M. Q. (2002). Qualitative research and evalution methods (Third ed.). Thousand Oaks, CA: Sage Publications.</li>
                                    <li>Polat, Kaya, Koyuncu, Ozcan (2007). Sosyal Bilgiler 7. Ders Kitabı. Ankara: MEB.</li>
                                    <li>Παπαχρήστου, Κώστας (χ.χ.). «Η εικόνα του «Άλλου» στα σχολικά εγχειρίδια». Available in: http://www.elliepek.gr/gr_html/gr_proceedings/4th_conference.html.</li>
                                    <li>Safran, M. (2008). Sosyal bilgiler öğretim programı. B. Tay ve A. Öcal (Edt.). Özel Öğretim Yöntemleriyle Sosyal Bilgiler Öğretimi içinde (s. 2-20). Ankara: Pegem Akademi.</li>
                                    <li>Senunver, Karabulut, Kesin, Turgut, Ercan, Kucukbaycan, Uslu, Akay (1999). Sosyal Bilgiler 7. Ders Kitabı. Ankara: MEB.</li>
                                    <li>Τσακτσίρας, Λάμπρος, Ορφανουδάκης, Ζαχαρίας &amp; Θεοχάρη, Μαρία (2003). Ιστορία Ρωμαϊκή και Βυζαντινή, Β΄ Γυμνασίου. Αθήνα, Οργανισμός Εκδόσεως Διδακτικών Βιβλίων.</li>
                                    <li>Φλουρής, Γ. Σ. &amp; Καλογιαννάκη, Π. (1996), « Εθνοκεντρισμός και Εκπαίδευση. Η περίπτωση των Βαλκανίων λαών και Τούρκων στα ελληνικά σχολικά βιβλία. Αφορμή για προβληματισμό και συζήτηση», Παιδαγωγική επιθεώρηση, 23, pp. 207-248.</li>
                                    <li>Φραγκουδάκη, Άννα &amp; Δραγώνα, Θάλεια (eds) (1997). Τι είν’ η πατρίδα μας; Εθνοκεντρισμός στην εκπαίδευση. Αθήνα: Αλεξάνδρεια.</li>
                                </ul>
                            </div>

                        </div>
                        <div id="Refback">
                            <h4 class="page-header">Refback'ler</h4>
                            <ul class="plain">
                                <li>Şu halde refbacks yoktur.</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- /content -->
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">

                {% if isJournalManager() %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a href="#">
                                <span class="panel-title">
                                    <i class="fa fa-plus"></i> {{"new.block"|trans}}
                                </span>
                            </a></div>
                    </div>
                {% endif %}

                <div class="panel panel-default">
                    <div class="panel-heading"><span class="panel-title">{{"for.readers"|trans}}</span></div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="/journal/1/last"><i class="fa fa-eye"></i> {{"read.lastissue"|trans}}</a>
                        </li>
                        <li class="list-group-item">
                            <a href="/journal/1/archive"><i class="fa fa-archive"></i> {{"archive"|trans}}</a>
                        </li>
                        {% if isJournalManager() %}
                            <li class="list-group-item"><a href="#">
                                    <i class="fa fa-plus"></i> <strong>{{"new.link"|trans}}</strong></a>
                            </li>
                        {% endif %}
                    </ul>
                </div>

                <div class="panel panel-warning">
                    <div class="panel-heading"><span class="panel-title">{{"for.authors"|trans}}</span></div>
                    <ul class="list-group">
                        <li class="list-group-item"><a href="#"><i class="fa fa-plus"></i> Online Makale Gönder</a></li>
                        <li class="list-group-item"><a href="/journal/1/mission"><i class="fa fa-adjust"></i> Dergi Kapsamı ve Amacı</a></li>
                            {% if isJournalManager() %}
                            <li class="list-group-item"><a href="#"><i class="fa fa-plus"></i> <strong>{{"add_link"|trans}}</strong></a></li>
                            {%endif%}
                    </ul>
                </div>
                <div class="panel panel-success">
                    <div class="panel-heading"><span class="panel-title">{{ "journal.about"|trans }}</span></div>
                    <ul class="list-group">
                        <li class="list-group-item"><a href="/journal/1/mission"><i class="fa fa-link"></i> {{"mission"|trans}}</a></li>
                        <li class="list-group-item"><a href="/journal/1/scope"><i class="fa fa-link"></i> {{"scope"|trans }}</a></li>
                            {% if isJournalManager() %}
                            <li class="list-group-item"><a href="#"><i class="fa fa-plus"></i> <strong>Link ekle</strong></a></li>
                            {%endif%}
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
