{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.home'|trans }} {{ parent() }}{% endblock %}
{% set hideleft = 1 %}
{% block stylesheets %}
    {{ parent() }}

{% endblock %}
{% block body %}
    <div class="header" style="margin:140px 0 0px 0; min-height: 150px">
        <div class="container">
            <div class="row">
                <div class="col-md-4  col-md-offset-2">
                    <a href="{{ path("ojs_public_index") }}"><img id="logo" src="{{ ojs_logo }}"/></a>
                </div>
                <div class="col-md-6">
                    <div class="brand">
                        <ul class="nav nav-pills">
                            <li>
                                <a href="#dashboard">
                                    <i class="fa fa-book"></i>
                                    {{ stats.journal|number_format(0,'.','.') }}
                                </a>
                            </li>
                            <li>
                                <a href="#schedule">
                                    <i class="fa fa-file-text"></i>
                                    {{ stats.article|number_format(0,'.','.') }}
                                </a>
                            </li>
                            <li>
                                <a href="#tasks">
                                    <i class="fa fa-user"></i>
                                    {{ stats.user|number_format(0,'.','.') }}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="main main-raised">
        <div role="search" id="search_section">
            <div class="row">

                <form action="{{ path('ojs_search_index') }}" method="get">

                    <div class="form-group">

                        <div class="col-md-8 col-md-offset-2">
                            <input type="text" name="q" class="form-control" value=""
                                   placeholder="{{ "search.on.everywhere" | trans({'%project_name%' : project_name}) }}"
                                   id="q"/>

                        </div>
                        <div class="col-md-1">
                            <span class="input-group-btn">
                                        <button class="btn btn-primary" type="submit" title="{{ "search"|trans }}"><i
                                                    class="fa fa-search"></i></button>
                                    </span>
                        </div>
                    </div>
                    <input type="hidden" name="type" value="basic" id="search-type">
                </form>
            </div>
        </div>
        <div role="actions">
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <div id="homepage-buttons" class="text-center">
                        {% if not app.user %}
                            {% if app.request.attributes.get('_system_setting').userRegistrationActive %}
                                <a href="{{ path('fos_user_registration_register') }}"
                                   class="btn btn-primary btn-round">
                                    <i class="fa fa-user"></i>
                                    {{ "register"|trans }}
                                    <div class="ripple-container"></div>
                                </a>
                            {% endif %}
                        {% endif %}

                        {% if app.request.attributes.get('_system_setting').publisherApplicationActive %}
                            <a href="{{ url("ojs_apply_publisher") }}"
                               class="btn btn-primary btn-round">
                                <i class="fa fa-institution"></i>
                                {{ 'application.publisher.apply'|trans }}
                                <div class="ripple-container"></div>
                            </a>
                        {% endif %}
                        {% if app.request.attributes.get('_system_setting').journalApplicationActive %}
                            <a href="{{ url('ojs_apply_journal') }}"
                               class="btn btn-primary btn-round">
                                <i class="fa fa-book"></i>
                                {{ "journal.apply"|trans }}
                                <div class="ripple-container"></div>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        {% if announcements is defined and announcements is not empty %}
            {% include '::slider.html.twig' %}
        {% endif %}
        <div role="featured" class="section">
            <div class="alert alert-success">
                <div class="container-fluid">
                    <div class="alert-icon">
                        <i class="fa fa-trophy"></i>
                    </div>

                    <b>{{ 'featured'|trans }}</b>
                </div>
            </div>
            <div class="row">
                {% for journal in journals %}
                    {% set journalDefault = journal.setDefaultLocale(app.request.defaultLocale) %}
                    {% include '::journal.html.twig' %}
                {% endfor %}
            </div>
        </div>

        {% if subjects is not empty %}
            <div role="topics" class="section">
                <div class="alert alert-warning">
                    <div class="container-fluid">
                        <div class="alert-icon">
                            <i class="fa fa-bookmark"></i>
                        </div>

                        <b>{{ "subject.plural"|trans }}</b>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-xs-12 home-subject-tree">
                        {{ subjects|raw }}
                    </div>
                </div>
            </div>
        {% endif %}

        {% if posts | length > 0 %}
            <div role="posts" class="section">
                <div class="row">
                    <div class="col-md-8 col-md-push-2 col-xs-12">
                        <h4 class="page-header text-success">
                            <i class="fa fa-file-text"></i>
                            {{ 'title.posts'|trans }}
                        </h4>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-8 col-md-push-2 col-xs-12">
                        <ul class="fa-ul">
                            {% for post in posts %}
                                <li>
                                    <i class="fa-li fa fa-file-text-o"></i>
                                    <a href="{{ path('ojs_site_cms_post', {'slug': post.slug}) }}">
                                        <h5>{{ post.title }}</h5>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

{% endblock %}
