{% extends "::ojsbase.html.twig" %}
{% set hideleft = 1 %}
{% block breadcrumb %}{% endblock %}
{% block body %}
    <div class="container">
        <section role="welcome">
            <div class="row">
                <div class="col-md-4 col-xs-12 text-center ">
                    <img src="http://dergipark.ulakbim.gov.tr/assets/images/dergipark_logo_tr.png"/>
                    <hr/>
                    <div id="stats">
                        <div class="col-md-3">
                            <div class="panel panel-default">
                                <div class="panel-body number">{{stats.institution}}</div>
                                <div class="panel-footer">{{ "institution"|trans }}</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="panel panel-default">
                                <div class="panel-body number">{{stats.journal}}</div>
                                <div class="panel-footer">{{ "journal"|trans }}</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="panel panel-default">
                                <div class="panel-body number">{{stats.article}}</div>
                                <div class="panel-footer">{{ "article"|trans }}</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="panel panel-default">
                                <div class="panel-body number">{{stats.user}}</div>
                                <div class="panel-footer">{{ "user"|trans }}</div>
                            </div>
                        </div>
                    </div> 
                </div>
                <div class="col-md-8 col-xs-12">
                    {{'landingPage.text'|trans|raw}} 

                    <div class="col-md-12"> 

                        <div id="search-box-1">
                            <form action="/search" id="search-form-1"  method="get">
                                <input id="search-text-1" name="q" placeholder="{{'search.main'|trans}}" class=" pull-left" type="text">
                                <button class=" pull-right" id="search-button-1" type="submit">{{"search"|trans}}</button>
                            </form>
                        </div> 

                    </div>
                    <hr><br><br>
                    <div class="col-md-12">
                        <p class="text-center">
                            <a href="{{ path("register") }}" class="btn btn-default btn-lg btn-labeled"><span
                                    class="btn-label"><i class="fa fa-user"></i></span> {{ "register"|trans }}</a>
                            <!--
                            <a href="{{ url("ojs_suggest_institute") }}" class="btn btn-default btn-lg btn-labeled"><span class="btn-label"><i
                                            class="fa fa-institution"></i></span> {{ 'institute.register'|trans }}</a>
                            -->
                            <a href="{{ url('ojs_suggest_journal') }}" class="btn btn-default btn-lg btn-labeled"><span class="btn-label"><i
                                        class="fa fa-book"></i></span> {{ "journal.register"|trans }}</a>
                            <a href="{{ url('article_submission_new') }}" class="btn btn-default btn-lg btn-labeled"><span
                                    class="btn-label"><i class="fa fa-file-pdf-o"></i></span>{{ 'article.submit'|trans }}</a>
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section role="featured">
            <!-- <h3 class="page-header">{{'featured'|trans}}</h3> -->

            <div class="row">
                <div class="col-md-4 col-xs-12">
                    <p class="lead">
                        {{"featured.desc"|trans}}
                    </p>
                </div>
                <div class="col-md-8 col-xs-12">
                    <h4>{{ "journal.plural"|trans }}</h4>

                    <div class="row">
                        {% for journal in journals %}
                            {% set imageoptions=getImageOptions(journal,'cover','journal_cover') %}

                            <div class="col-sm-2 col-md-2 col-xs-4" style="margin-top:10px">
                                <a href="{{generateJournalUrl(journal)}}">
                                    <img src="{{ ('/uploads/journalfiles/'~imagePath(journal.image))|imagine_filter('journal_cover',{"crop":{"start":[imageoptions.x,imageoptions.y],"size":[132,199]}}) }}"
                                         width="96" height="128"
                                         data-src="holder.js/96x128/random/text:{{ journal.title }}" class="img-rounded"/>
                                    <small>{{ journal.title }}</small>
                                    <br />
                                    {% if journal.issn %}
                                    <small>{{ journal.issn }}</small>
                                    {% endif %}
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                    <hr/>
                    <!--
                    <h6>{{ "institution.plural"|trans }}</h6>
                    <div class="row">
                    {% for institution in institutions %}
                        <div class="col-sm-2 col-md-2">
                            <a href="{{ url('ojs_institution_page',{slug: institution.slug}) }}">
                                <img src="holder.js/96x96/random/text:{{ institution.name }}" class="img-rounded"/>
                            </a>
                        </div>
                    {% endfor %}
                </div>
                    -->
                </div>
            </div>
        </section>

        <section role="services">
            <h3 class="page-header">{{ "services"|trans }}</h3>

            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <ul class="ds-btn">
                        <li>
                            <a class="btn btn-lg " href="#">
                                <i class="glyphicon glyphicon-link pull-left"></i><span>Dergi Ev Sahipliği</span></a>

                        </li>
                        <li>
                            <a class="btn btn-lg btn-primary" href="#">
                                <i class="glyphicon glyphicon-user pull-left"></i><span>DOI</span></a>

                        </li>
                        <li>
                            <a class="btn btn-lg btn-success " href="#">
                                <i class="glyphicon glyphicon-dashboard pull-left"></i><span>OJS</span></a>

                        </li>
                        <li>
                            <a class="btn btn-lg btn-danger" href="#">
                                <i class="glyphicon glyphicon-tasks pull-left"></i><span>Teknik Destek</span></a>

                        </li>
                        <li>
                            <a class="btn btn-lg btn-warning" href="#">
                                <i class="glyphicon glyphicon-search pull-left"></i><span>S.S.S.</span></a>
                        </li>
                        <li>
                            <a class="btn btn-lg btn-info" href="#">
                                <i class="glyphicon glyphicon-list pull-left"></i><span>İletişim</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <section role="topics">
            <h3 class="page-header">{{ "subject.plural"|trans }}</h3>

            <div class="row">
                <div class="col-md-12 col-xs-12 home-subject-tree">
                    {{ subjects|raw }}
                </div>
            </div>
        </section>
    </div>

{% endblock %}

