{% extends "::ojsbase.html.twig" %}
{% set hideleft = 1%}
{%block breadcrumb %}{% endblock %}
{% block body %}
    <div class="container">
        <!-- Page Content -->
        <h1 class="page-header">{{"institutions"|trans}}</h1>
        {% for entity in entities %}
            <div class="panel panel-default">
                <div class="panel-heading"><a href="/institution/{{ entity.id }}">{{ entity.name }}</a></div>
                <div class="panel-body">
                    <div itemscope itemtype="http://schema.org/Organization">
                        <span itemprop="name">{{entity.name}}</span>
                        Contact Details:
                        <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                            Main address:
                            <span itemprop="address">{{entity.address}}</span>
                            <span itemprop="addressLat">{{entity.addressLat}}</span>
                            <span itemprop="addressLong">{{entity.addressLong}}</span>
                            <span itemprop="addressLocality">{{entity.city}},{{entity.country}}</span>
                        </div>
                        Tel:<span itemprop="telephone">{{entity.phone}}</span>,
                        Fax:<span itemprop="faxNumber">{{entity.fax}}</span>,
                        E-mail: <span itemprop="email">{{entity.email}}</span>
                        Web: <span itemprop="url">{{entity.url}}</span>
                        Wiki: <span itemprop="url">{{entity.url}}</span>
                    </div>
                    <ul class="list-group">
                        {% for journal in entity.journals %}
                            <li class="list-group-item"><a href="/journal/{{ journal.id }}">{{ journal.title }}</a></li>
                            {%endfor%}
                    </ul>
                </div>


                <div class="panel-footer">
                    <a href="/institution/{{ entity.id }}" class="btn btn-default btn-xs pull-right">{{"more"|trans}} <i class="fa fa-arrow-right"></i></a>
                    <i class="fa fa-tags"></i>{{"tags"|trans}}
                    <a href="#"><span class="badge">ojs</span></a>
                    <a href="#"><span class="badge">university</span></a>
                    <a href="#"><span class="badge">paper</span></a>
                </div>
            </div>

        {% endfor %}


        <!-- Pagination -->
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li>
                        <a href="#">&laquo;</a>
                    </li>
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">5</a>
                    </li>
                    <li>
                        <a href="#">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

{% endblock %}