{% extends "::ojsbase.html.twig" %}
{% set hideleft = 1%}
{%block breadcrumb %}{% endblock %}
{% block body %}
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="/">Ujs</a></li>
            <li><a href="/journal">Cumhuriyet Science Journal</a></li>
            <li><a href="/archive">Arşiv</a></li>
            <li class="active">Cilt4 / Sayı 12-A</li>
        </ol>
        <div class="row">
            <div class="col-sm-3 col-md-3">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                    <span class="fa fa-folder"></span> Kurumlar</a>
                            </h4>
                        </div>

                        <ul class="list-group">
                            {% for institution_type in institution_types %}
                                <li class="list-group-item">
                                    <a href="/journals">{{institution_type.name}}</a>
                                    <span class="badge pull-right">130</span>
                                </li>
                            {% endfor%}
                        </ul>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                    <span class="fa fa-th"></span> Konular</a>
                            </h4>
                        </div>
                        <ul class="list-group">
                            {% for subject_item in subjects %}
                                <li class="list-group-item">
                                    <a href="/journals">{{subject_item.subject}}</a>
                                    <span class="label label-success pull-right">320</span>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                </div>
            </div>


            <div class="col-sm-9 col-md-9">
                <div class="row">
                    {% for journal in journals %}
                        <div class="col-sm-3 col-md-3">
                            <div class="post">
                                <div class="post-img-content">
                                    <a href="/journal/{{journal.id}}">
                                        <img src="holder.js/189x296/#f9A497:#ffffff/text:{{journal.title}}" class="img-responsive" />
                                    </a>
                                </div>
                                <div class="content">
                                    <span class="post-title"><b>{{journal.title}}</b></span>
                                    <div class="smallinfo">
                                        <span class="pull-left">Cil 8/Sayı 4 </span>
                                        <time datetime="2014-01-20"  class="pull-right">18 Haziran 2014</time>
                                    </div>

                                    <div>
                                        <a href="/journal/{{journal.id}}" class="btn-link btn-sm"><i class="fa fa-link"></i> Dergi</a>
                                        <a href="/journal/{{journal.id}}/articles" class="btn-link btn-sm"><i class="fa fa-bookmark-o"></i> Son Sayı</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>

{% endblock %}
