{% extends "::ojsbase.html.twig" %}
{% set hideleft = 1%}

{%block breadcrumb %}{% endblock %}
{% block body %}

    <div class="container">
        <div class="page-header">
            <h1>{{journal.title}}</h1>
            <h6>{{journal.subtitle}}</h6>
        </div>

        <div class="col-lg-9 col-md-9 col-sm-12">
            <div class="row">
                <div class="col-md-4">
                    <img src="{{ journal.image }}" onerror="this.src='holder.js/200x300/#f9A497:#ffffff/text:{{journal.title}}'" class="img-responsive img-rounded float-left" alt="" />
                </div>

                <div class="col-md-8">
                    <h3>{{"scope"|trans}}</h3>
                    <p class="text-default">
                        {{journal.scope}}
                    </p>
                    <h3>{{"mission"|trans}}</h3>
                    <p class="text-default">
                        {{journal.mission}}
                    </p>
                </div>
                <hr>
                <div class="col-md-8">
                    <a href="/journal/{{ journal.id }}/last" class="btn btn-alt btn-xs btn-sky"><i class="fa fa-eye"></i> {{"read.lastissue"|trans}}</a>
                    <a href="/journal/{{ journal.id }}/archive" class="btn btn-alt btn-xs btn-sunny"><i class="fa fa-archive"></i> {{"archive"|trans}}</a>
                    <p class="text-default">
                        <span id="journal-issn" class="label label-info"><strong>ISSN</strong>: {{journal.issn}}</span>
                        <span id="journal-eissn" class="label label-info"><strong>e-ISSN</strong>: {{journal.eissn}}</span>
                    </p>

                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h4 class="page-header"><span class="panel-title">{{"editorial"|trans}}</span></h4>
                    <p>
                       {% for key,user in users %}
                           <strong>{{ key|trans }}</strong> <br/>
                           {% for u in user %}
                               {{ u.title }} {{ u.fullName }}<br/>
                           {% endfor %}
                           <br/>
                       {% endfor %}
                    </p>

                    <table class="record_properties  table">

                        <tbody>
                            <tr>
                                <th width="300px">Id</th>
                                <td>{{ journal.id }}</td>
                            </tr>
                            <tr>
                                <th>{{"title"|trans}}</th>
                                <td>{{ journal.title }}</td>
                            </tr>
                            <tr>
                                <th>{{"title_abbr"|trans}}</th>
                                <td>{{ journal.titleAbbr }}</td>
                            </tr>
                            <tr>
                                <th>{{"titletransliterated"|trans}}</th>
                                <td>{{ journal.titleTransliterated }}</td>
                            </tr>
                            <tr>
                                <th>{{"journal_langs"|trans}}</th>
                                <td>{% for language in journal.languages %}{{language.name}}{%endfor%}</td>
                            </tr>

                            <tr>
                                <th>{{"subtitle"|trans}}</th>
                                <td>{{ journal.subtitle }}</td>
                            </tr>
                            <tr>
                                <th>ISSN</th>
                                <td>{{ journal.issn }}</td>
                            </tr>
                            <tr>
                                <th>e-ISSN</th>
                                <td>{{ journal.eissn }}</td>
                            </tr>
                            <tr>
                                <th>{{"first_publish_date"|trans}}</th>
                                <td>{{ journal.firstPublishDate|date('Y-m-d H:i:s') }}</td>
                            </tr>
                            <tr>
                                <th>{{"period"|trans}}</th>
                                <td>{{ journal.period }}</td>
                            </tr>
                            <tr>
                                <th>{{"url"|trans}}</th>
                                <td>{{ journal.url }}</td>
                            </tr>
                            <tr>
                                <th>{{"country"|trans}}</th>
                                <td>{{ journal.country }}</td>
                            </tr>
                            <tr>
                                <th>{{"published"|trans}}</th>
                                <td>{{ journal.published }}</td>
                            </tr>
                            <tr>
                                <th>{{"status"|trans}}</th>
                                <td>{{ journal.status }}</td>
                            </tr>
                            <tr>
                                <th>{{"image"|trans}}</th>
                                <td>{{ journal.image }}</td>
                            </tr>
                            <tr>
                                <th>{{"scope"|trans}}</th>
                                <td>{{ journal.scope }}</td>
                            </tr>
                            <tr>
                                <th>{{"mission"|trans}}</th>
                                <td>{{ journal.mission }}</td>
                            </tr>
                            <tr>
                                <th>{{"theme_id"|trans}}</th>
                                <td>{{ journal.themeId }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            {%include 'OjsSiteBundle:Site:journal_right_block.html.twig'%}
        </div>
    </div>

{% endblock %}