{% extends "::ojsbase.html.twig" %}
{% set hideleft = 1%}
{%block breadcrumb %}{% endblock %}
{% block body %}

    <div class="container">
        <br>
        <div class="row">
            <!-- The carousel -->
            <div class="page-header row">
                <div class="col-md-1 hidden-sm hidden-xs">
                    <img src="holder.js/72x72/#f9A497:#ffffff/text:cover" class="img-responsive" />
                </div>
                <div class="col-md-11">
                    <h1>Cumhuriyet Science Journal</h1>
                    <h6>Cumhuriyet University Science Journal is an official publication of Cumhuriyet University Science Faculty.</h6>
                </div>
            </div>


            <div class="row">

                <div class="col-md-9">
                    <ol class="breadcrumb">
                        <li><a href="/">Ujs</a></li>
                        <li><a href="/journal">Cumhuriyet Science Journal</a></li>
                        <li><a href="/archive">Arşiv</a></li>
                        <li class="active">Cilt4 / Sayı 12-A</li>
                    </ol>

                    <div class="panel panel-default">
                        <!-- Default panel contents -->
                        <div class="panel-heading">X Makaleleri</div>
                        <table class="records_list  table" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Issn</th>
                                    <th>First Publish Date</th> 
                                </tr>
                            </thead>
                            <tbody>
                                {% for entity in entities %}
                                    <tr>
                                        <td><a  class="label label-success" href="{{ entity.id }}">id: {{ entity.id }}</a>
                                            <a href="{{ entity.uri }}">{{ entity.title }}</a> 
                                            <span class="badge" title="published">{{ entity.created.date }}</span>
                                            <span class="label label-info" title="Status">{{entity.status}}</span>
                                        </td>
                                        <td></td>
                                        <td>{% if entity.created.date %}{{ entity.created.date|date('Y-m-d H:i:s') }}{% endif %}</td>

                                        <td>{{ entity.status }}</td>

                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <ul class="list-group">
                            <li class="list-group-item list-group-item-default">
                                <a href="/article"><i class="fa fa-file-text"></i> Sunspot Numbers and Areas from the Madrid Astronomical Observatory </a>(1876 – 1986)<br />
                                <i class="fa fa-users"></i><span class="text-muted"> A. J. P. Aparicio, J. M. Vaquero, V. M. S. Carrasco, M. C. Gallego (November 2014)</span>
                            </li>
                            <li class="list-group-item list-group-item-default">
                                <a href="/article"><i class="fa fa-file-text"></i> Sunspot Numbers and Areas from the Madrid Astronomical Observatory</a> (1876 – 1986)<br />
                                <i class="fa fa-users"></i><span class="text-muted"> A. J. P. Aparicio, J. M. Vaquero, V. M. S. Carrasco, M. C. Gallego (November 2014)</span>
                            </li>
                            <li class="list-group-item list-group-item-default">
                                <a href="/article"><i class="fa fa-file-text"></i> Sunspot Numbers and Areas from the Madrid Astronomical Observatory</a> (1876 – 1986)<br />
                                <i class="fa fa-users"></i><span class="text-muted"> A. J. P. Aparicio, J. M. Vaquero, V. M. S. Carrasco, M. C. Gallego (November 2014)</span>
                            </li>
                            <li class="list-group-item list-group-item-default">
                                <a href="/article"><i class="fa fa-file-text"></i> Sunspot Numbers and Areas from the Madrid Astronomical Observatory</a> (1876 – 1986)<br />
                                <i class="fa fa-users"></i><span class="text-muted"> A. J. P. Aparicio, J. M. Vaquero, V. M. S. Carrasco, M. C. Gallego (November 2014)</span>
                            </li>
                        </ul>
                    </div>

                    <div class="panel panel-default">
                        <!-- Default panel contents -->
                        <div class="panel-heading">Y Makaleleri</div>

                        <ul class="list-group">
                            <li class="list-group-item list-group-item-default">
                                <i class="fa fa-file-text"></i> Sunspot Numbers and Areas from the Madrid Astronomical Observatory (1876 – 1986)<br />
                                <i class="fa fa-users"></i><span class="text-muted"> A. J. P. Aparicio, J. M. Vaquero, V. M. S. Carrasco, M. C. Gallego (November 2014)</span>
                            </li>
                            <li class="list-group-item list-group-item-default">
                                <i class="fa fa-file-text"></i> Sunspot Numbers and Areas from the Madrid Astronomical Observatory (1876 – 1986)<br />
                                <i class="fa fa-users"></i><span class="text-muted"> A. J. P. Aparicio, J. M. Vaquero, V. M. S. Carrasco, M. C. Gallego (November 2014)</span>
                            </li>
                            <li class="list-group-item list-group-item-default">
                                <i class="fa fa-file-text"></i> Sunspot Numbers and Areas from the Madrid Astronomical Observatory (1876 – 1986)<br />
                                <i class="fa fa-users"></i><span class="text-muted"> A. J. P. Aparicio, J. M. Vaquero, V. M. S. Carrasco, M. C. Gallego (November 2014)</span>
                            </li>
                            <li class="list-group-item list-group-item-default">
                                <i class="fa fa-file-text"></i> Sunspot Numbers and Areas from the Madrid Astronomical Observatory (1876 – 1986)<br />
                                <i class="fa fa-users"></i><span class="text-muted"> A. J. P. Aparicio, J. M. Vaquero, V. M. S. Carrasco, M. C. Gallego (November 2014)</span>
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">



                    <div class="panel panel-default">
                        <div class="panel-heading"><a href="#"><span class="panel-title"><i class="fa fa-plus"></i> Blok ekle</span></a></div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading"><span class="panel-title">Okuyucular için</span></div>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <a href="/articles"><i class="fa fa-eye"></i> Son Sayıyı Oku</a>
                            </li>
                            <li class="list-group-item">
                                <a href="/archive"><i class="fa fa-archive"></i> Arşiv</a>
                            </li>
                            <li class="list-group-item"><a href="#"><i class="fa fa-plus"></i> <strong>Link ekle</strong></a></li>
                        </ul>
                    </div>

                    <div class="panel panel-warning">
                        <div class="panel-heading"><span class="panel-title">Yazarlar ve Editörler için</span></div>
                        <ul class="list-group">
                            <li class="list-group-item"><a href="#"><i class="fa fa-plus"></i> Online Makale Gönder</a></li>
                            <li class="list-group-item"><a href="#"><i class="fa fa-adjust"></i> Dergi Kapsamı ve Amacı</a></li>
                            <li class="list-group-item"><a href="#"><i class="fa fa-plus"></i> <strong>Link ekle</strong></a></li>
                        </ul>
                    </div>
                    <div class="panel panel-success">
                        <div class="panel-heading"><span class="panel-title">Dergi Hakkında</span></div>
                        <ul class="list-group">
                            <li class="list-group-item"><a href="#"><i class="fa fa-link"></i> Dergi Tarihçesi</a></li>
                            <li class="list-group-item"><a href="#"><i class="fa fa-link"></i> İletişim</a></li>
                            <li class="list-group-item"><a href="#"><i class="fa fa-link"></i> Bağlantılar</a></li>
                            <li class="list-group-item"><a href="#"><i class="fa fa-plus"></i> <strong>Link ekle</strong></a></li>
                        </ul>
                    </div>
                    <div class="panel panel-info">
                        <div class="panel-heading"><span class="panel-title">Indexler</span></div>
                        <p>
                            <img src="http://dergipark.ulakbim.gov.tr/public/site/images/itobiad/indeks_logolar3.jpg" alt="">
                            <img src="http://dergipark.ulakbim.gov.tr/public/site/images/itobiad/logo_brill3.jpg" alt="">
                            <img src="http://dergipark.ulakbim.gov.tr/public/site/images/itobiad/top_mla_logo3.gif" alt="">
                            <img src="http://dergipark.ulakbim.gov.tr/public/site/images/itobiad/ulrichsweb3.png" alt="">
                            <img src="http://dergipark.ulakbim.gov.tr/public/site/images/itobiad/logos3.png" alt="">
                            <img src="http://dergipark.ulakbim.gov.tr/public/site/images/itobiad/doaj3.jpg" alt="">
                            <img src="http://dergipark.ulakbim.gov.tr/public/site/images/itobiad/logo-left3.gif" alt="">
                            <img src="http://dergipark.ulakbim.gov.tr/public/site/images/itobiad/logo3.png" alt="">
                            <img src="http://dergipark.ulakbim.gov.tr/public/site/images/itobiad/opengate3.jpg" alt="">
                            <img src="http://dergipark.ulakbim.gov.tr/public/site/images/itobiad/drje3.jpg" alt="">
                            <img src="http://dergipark.ulakbim.gov.tr/public/site/images/itobiad/logo3.jpg" alt="">
                            <img src="http://dergipark.ulakbim.gov.tr/public/site/images/itobiad/isam3.jpg" alt="">
                            <img src="http://dergipark.ulakbim.gov.tr/public/site/images/itobiad/akademik3.jpg" alt="">
                            <img src="http://dergipark.ulakbim.gov.tr/public/site/images/itobiad/mix_and_match_logo3.gif" alt="">
                            <img src="http://dergipark.ulakbim.gov.tr/public/site/images/itobiad/trlogo3.gif" alt="">
                            <img src="http://dergipark.ulakbim.gov.tr/public/site/images/itobiad/dergipark_logo_tr3.png" alt="">
                            <img src="http://dergipark.ulakbim.gov.tr/public/site/images/itobiad/dergipark_logo3.png" alt="">
                            <img src="http://dergipark.ulakbim.gov.tr/public/site/images/itobiad/open3.gif" alt="">
                            <img src="http://dergipark.ulakbim.gov.tr/public/site/images/itobiad/New-Logo-Header3.png" alt="">
                            <img src="http://dergipark.ulakbim.gov.tr/public/site/images/itobiad/UofSLib3.png" alt="">
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
