{% extends '::ojsbase.html.twig' %}

{% block body -%}
    <h1>{{"journal.design.edit"|trans}}</h1>
    {% include '::flashbag.html.twig' %}
    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_journaldesign') }}">
            {{"b"|trans}}
        </a>
    </li>
    <li>
        <a href="{{ path('admin_journaldesign_delete', { 'id': entity.id }) }}">
            Delete
        </a>
    </li>
</ul>
{% endblock %}
