{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.journal_design_edit'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
        {'link': path('dashboard'), 'title': 'dashboard'|trans},
        {'link': path('admin_journaldesign'),'title': 'journal.design'|trans},
        {'title': 'edit'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    <h1>{{"journal.design.edit"|trans}}</h1>
    {% include '::flashbag.html.twig' %}
    {{ form(edit_form) }}
    {% set back_path = 'admin_journaldesign' %}
    {% if is_granted('DELETE', selectedJournal(), 'design') %}
        {% set delete_path = 'admin_journaldesign_delete' %}
    {% endif %}
    {% include '::actionbuttons.html.twig' %}

    {{ getLogs(entity) }}
{% endblock %}
