{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.journal_designs'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
    {'link': path('dashboard'), 'title': 'dashboard'|trans},
    {'title': 'title.journal_designs'|trans},
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    <h1>{{ 'title.journal_designs'|trans }}</h1>
    {% include '::flashbag.html.twig' %}
    {% if is_granted('CREATE', selectedJournal(), 'design') %}
        <a href="{{ path('ojs_journal_design_new') }}" class="btn btn-success">
            {{ "c"|trans }}
        </a>
    {% endif %}

    <hr>
    {{ grid(grid) }}
{% endblock %}
