{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.journal_designs'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
    {'link': path('dashboard'), 'title': 'dashboard'|trans},
    {'title': 'journal.design'|trans},
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    <h1>{{ "journal.design.list"|trans }}</h1>
    {% include '::flashbag.html.twig' %}
    {{ grid(grid) }}
    {% if is_granted('CREATE', selectedJournal(), 'design') %}
        {% set create_path = 'ojs_journal_design_new' %}
    {% endif %}
    {% include '::actionbuttons.html.twig' %}
{% endblock %}
