{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.journal_design_new'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
    {'link': path('ojs_journal_dashboard_index', {journalId: selectedJournal().id}), 'title': 'dashboard'|trans},
    {'link': path('ojs_journal_design_index', {'journalId': selectedJournal().id}),'title': 'journal.design'|trans},
    {'title': 'title.journal_design_new'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    <h1>{{ 'title.journal_design_new'|trans }}</h1>

    {{ form(form, { action: path('ojs_journal_design_create', {'journalId': selectedJournal().id}) }) }}
    {{
    actions({
        'back': {'href': path('ojs_journal_design_index', {'journalId': selectedJournal().id})},
    })
    }}
{% endblock %}
