{% extends "::ojsbase.html.twig" %}

{% block stylesheets %}
    {{parent()}}
    <link href="/vendor/morrisjs/morris.css" rel="stylesheet">
{% endblock %}


{% block body %}

    {% include '::flashbag.html.twig' %} 
    <div class="panel panel panel-success">
        <div class="panel-heading toggle-body">
            <i class="fa fa-bar-chart-o fa-fw"></i> Articles That Need Action <i class="pull-right fa fa-angle-double-up"></i>
        </div>
        <div class="panel-body">
            <div id="articles-action-chart"></div>
        </div>
        <!-- /.panel-body -->
    </div>
    <div class="panel panel-default">
        <div class="panel-heading toggle-body">
            <i class="fa fa-bar-chart-o fa-fw"></i> Last 30 days Analytics <i class="pull-right fa fa-angle-double-up"></i>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div id="analytics-chart"></div>
        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel -->  


    <!-- /.panel -->

    <div class="chat-panel panel panel-default hide">
        <div class="panel-heading toggle-body">
            <i class="fa fa-comments fa-fw"></i> Inbox <i class="pull-right fa fa-angle-double-up"></i>

        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <ul class="chat">
                <li class="left clearfix">
                    <span class="chat-img pull-left">
                        <img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar" class="img-circle" />
                    </span>
                    <div class="chat-body clearfix">
                        <div class="header">
                            <strong class="primary-font">Prof. Tarık</strong>
                            <small class="pull-right text-muted">
                                <i class="fa fa-clock-o fa-fw"></i> 12 mins ago
                            </small>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                        </p>
                    </div>
                </li>
                <li class="left clearfix">
                    <span class="chat-img pull-left">
                        <img src="http://placehold.it/50/FA6F57/fff" alt="User Avatar" class="img-circle" />
                    </span>
                    <div class="chat-body clearfix">
                        <div class="header">
                            <strong class="primary-font">Dr. Sevim</strong>
                            <small class="pull-right text-muted">
                                <i class="fa fa-clock-o fa-fw"></i> 14 mins ago</small>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                        </p>
                    </div>
                </li>
            </ul>
        </div>
        <!-- /.panel-body -->
        <div class="panel-footer">
            <button class="btn btn-success btn-sm" id="btn-chat">
                <i class="fa fa-plus-circle"></i> New Message
            </button>
        </div>
        <!-- /.panel-footer -->
    </div>
    <!-- /.panel .chat-panel --> 
    <style>
        #articles-action-chart path{ cursor:pointer}
        </style>

{% endblock %}

{% block footer %}
    <hr>
    <small> &copy; Okulbilişim <a href="http://okulbilisim.com">okulbilisim.com</a></small>
{% endblock %}



{% block javascripts %}
    {{parent()}}
    <script src="/vendor/raphael/raphael-min.js"></script>
    <script src="/vendor/morrisjs/morris.min.js"></script>

    <script>
        $(function () {

            Morris.Donut({
                element: 'articles-action-chart',
                data: [
                {% for key,step in mySteps %}
                {
                        objectid:  "{{step.id}}",
                        color: "#" + (~~(Math.random() * (1 << 24))).toString(16),
                        label: "{{step.title}}",
                        value:{{waitingCount[step.id]}}
                }
                {% if loop.last == false %},{% endif %}
                {% endfor %}
                ],
                resize: true
            }).on('click', function(i, row){
            console.log(row);
                OjsCommon.waitModal();
                window.location.href = "/manager/workflow/articles/"+ row.objectid;
            });
            new Morris.Line({
                element: 'analytics-chart',
                data: [
                    {day: '2014-01-01', value: 20},
                    {day: '2014-01-02', value: 10},
                    {day: '2014-01-03', value: 12},
                    {day: '2014-01-04', value: 15},
                    {day: '2014-01-05', value: 20},
                    {day: '2014-01-06', value: 25},
                    {day: '2014-01-07', value: 18},
                    {day: '2014-01-08', value: 20}
                ],
                xkey: 'day',
                ykeys: ['value'],
                labels: ['Value']
            });
        });
    </script>
{% endblock %}
