{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Author</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ entity.firstName }}</td>
            </tr>
            <tr>
                <th>Middlename</th>
                <td>{{ entity.middleName }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ entity.lastName }}</td>
            </tr>
            <tr>
                <th>Firstnametranslated</th>
                <td>{{ entity.firstNameTranslated }}</td>
            </tr>
            <tr>
                <th>Middlenametranslated</th>
                <td>{{ entity.middleNameTranslated }}</td>
            </tr>
            <tr>
                <th>Lastnametranslated</th>
                <td>{{ entity.lastNameTranslated }}</td>
            </tr>
            <tr>
                <th>Initials</th>
                <td>{{ entity.initials }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entity.email }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ entity.address }}</td>
            </tr>
            <tr>
                <th>Institutionid</th>
                <td>{{ entity.institutionId }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ entity.country }}</td>
            </tr>
            <tr>
                <th>Summary</th>
                <td>{{ entity.summary }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_author') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('admin_author_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
