{% extends '::ojsbase.html.twig' %}

{% block body -%}
<h1>Author</h1>

<table class="record_properties  table">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Firstname</th>
            <td>{{ entity.firstName }}</td>
        </tr>
        <tr>
            <th>Middlename</th>
            <td>{{ entity.middleName }}</td>
        </tr>
        <tr>
            <th>Lastname</th>
            <td>{{ entity.lastName }}</td>
        </tr>
        <tr>
            <th>Firstnametransliterated</th>
            <td>{{ entity.firstNameTransliterated }}</td>
        </tr>
        <tr>
            <th>Middlenametransliterated</th>
            <td>{{ entity.middleNameTransliterated }}</td>
        </tr>
        <tr>
            <th>Lastnametransliterated</th>
            <td>{{ entity.lastNameTransliterated }}</td>
        </tr>
        <tr>
            <th>Initials</th>
            <td>{{ entity.initials }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ entity.email }}</td>
        </tr>
        <tr>
            <th>Address</th>
            <td>{{ entity.address }}</td>
        </tr>
        <tr>
            <th>Institutionid</th>
            <td>{{ entity.institutionId }}</td>
        </tr>
        <tr>
            <th>Country</th>
            <td>{{ entity.country }}</td>
        </tr>
        <tr>
            <th>Summary</th>
            <td>{{ entity.summary }}</td>
        </tr>
    </tbody>
</table>

<div class="record_actions">
    {% set back_path = 'admin_author' %}
    {% set edit_path = 'admin_author_edit' %}
    {% set delete_path = 'admin_author_delete' %}
    {% include '::actionbtns.html.twig' %} 
</div>
{% endblock %}
