{% extends '::ojsbase.html.twig' %}

{% block breadcrumb %}
    {% set list = [
    {'link': path('dashboard'), 'title': 'dashboard'|trans},
    {'link': path('mailtemplate'),'title': 'mail.template'|trans},
    {'title': 'new'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    <h1>MailTemplate list</h1>
    {% include '::flashbag.html.twig' %}
    <table class="table records_list">
        <thead>
        <tr>
            <th>Id</th>
            <th>{{ "journal"|trans }}</th>
            <th>Type</th>
            <th>Subject</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('mailtemplate_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                {% if entity.journal %}

                    <td>{{ entity.journal.title }} #{{ entity.journal.id }}</td>
                {% else %}
                    <td>Default Template</td>
                {% endif %}
                <td>{{ entity.type }}</td>
                <td>{{ entity.subject }}</td>
                <td>
                    {% set show_path = 'mailtemplate_show' %}
                    {% set edit_path = 'mailtemplate_edit' %}
                    {% set delete_path = 'mailtemplate_delete' %}
                    {% include '::actionbuttons.html.twig' %}

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('CREATE', selectedJournal(), 'mailTemplate') %}
        {% set create_path = 'mailtemplate_new' %}
    {% endif %}
    {% include '::actionbuttons.html.twig' %}
{% endblock %}
