{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.issue_detail'|trans }} {{ parent() }}{% endblock %}
{% set hideleft = 1 %}

{% if isPublisherHosting is defined %}
    {% set journalUrl = url('publisher_hosting_journal_index',{slug:issue.journal.slug}) %}
{% elseif isJournalHosting is defined %}
    {% set journalUrl = url('publisher_hosting_journal_index') %}
{% else %}
    {% set journalUrl = generateJournalUrl(issue.journal) %}
{% endif %}

{% block breadcrumb %}
    {% set list = [
    {'link': path('ojs_public_index'), 'title': 'ojs.title'|trans},
    {'link': journalUrl, 'title': issue.journal.title},
    {'title': 'issue'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body %}

    <div class="container">
        <div class=" col-md-12">
            <h1>{{ fieldDisplay(issue, 'title') }}</h1>
            <h4>
                {% if issue.special %}
                    <span class="label label-success">
                            <i class="fa fa-star" title="{{ "special.issue"|trans }}"></i>
                        {{ "special.issue"|trans }}
                        </span> &nbsp;
                {% endif %}
                {{ "issue.number"|trans }}: {{ issue.number }} {% if issue.volume is not null and issue.volume != 0 %}- {{ "volume"|trans }} : {{ issue.volume }}{% endif %}
            </h4>
            <h5>
                <i class="fa fa-eye"></i>
                {% if issue.viewCount is null %} 0 {% else %} {{ issue.viewCount|number_format }} {% endif %}
                <i class="fa fa-download"></i>
                {% if issue.downloadCount is null %} 0 {% else %} {{ issue.downloadCount|number_format }} {% endif %}
            </h5>
        </div>


        <div class="col-md-9">

            <div class="panel panel-default">

                <ul class="list-group">
                    {% for section in issue.journal.sections %}
                        {% if section.articles|length>0 %}
                            <li class="list-group-item list-group-item-primary">
                                <i class="fa fa-globe"></i> {{ section.title }}
                                <ul class="list-group">
                                    {% for article in section.articles %}
                                        {% if article.issue == issue %}
                                            <li class="list-group-item list-group-item-default">
                                                <a href="
                                            {% if isPublisherHosting is defined %}
                                                {{ url('publisher_hosting_journal_issue_article',{article_id: article.id,slug: issue.journal.slug,issue_id: issue.id}) }}
                                            {% elseif isJournalHosting is defined %}
                                            {% else %}
                                                {{ url('ojs_article_page',{article_id: article.id,slug: issue.journal.slug,issue_id: issue.id,publisher: issue.journal.publisher.slug}) }}
                                            {% endif %}">
                                                    <i class="fa fa-file-text"></i> {{ article.title }}
                                                </a>
                                                <br/>

                                                <i class="fa fa-users"></i>
                                                {% if article.created.date %}
                                                    <span class="text-muted">
                                                        ({{ article.created.date|date('d.m.Y') }})
                                                </span>
                                                {% endif %}

                                                <i class="fa fa-eye"></i>
                                                {% if article.viewCount %}
                                                    <span class="text-muted">
                                                        {{ article.viewCount|number_format }}
                                                </span>
                                                {% endif %}
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            {% if issue.issueFiles|length %}
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <span class="panel-title">{{ "issuefile.list"|trans }}</span>
                    </div>
                    <ul class="list-group">
                        {% for file in issue.issueFiles %}
                            <li class="list-group-item">
                                <a href="{{ url('ojs_site_download_issue', {issueFile: file.id}) }}">
                                    <i class="fa fa-download"></i> {{ file.title }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            {% set journal = issue.journal %}
            {% include 'OjsSiteBundle:Journal:journal_right_block.html.twig' %}
        </div>

    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
            analytics.view('issue', {{ issue.id }}, '{{ token }}');
        });
    </script>
{% endblock %}
