{% extends '::vipabase.html.twig' %}
{% block title %}{{ 'title.password_change'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
        {'link': path('dashboard'), 'title': 'User'|trans},
        { 'link': path('dashboard'), 'title': 'user.update_profile'|trans},
        { 'title': 'title.password_change'|trans},
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}



{% block body -%}

    <div class="large-12 columns">
        {% include 'VipaSiteBundle:User:tabs.html.twig' with {activo:4} %}

        <div class="tab-content">
            <div class="panel">
                {% for label, flashes in app.session.flashbag.all %}
                    {% for flash in flashes %}
                        <div class="alert alert-{{ label }}">
                            {{ flash|trans }}
                        </div>
                    {% endfor %}
                {% endfor %}

                {{ form_start(form) }}
                    {{ form_row(form.current_password) }}
                    {{ form_row(form.plainPassword) }}
                    <button type="submit" class="btn btn-success">
                        {{ 'user.change_password'|trans }}
                    </button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
