{% extends '::ojsbase.html.twig' %}

{% block body -%}
<h1>JournalSection list</h1>

<table class="table records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Allowindex</th>
            <th>Hidetitle</th>
            <th>Journalid</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for entity in entities %}
        <tr>
            <td><a href="{{ path('admin_journal_section_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.title }}</td>
            <td>{{ entity.allowIndex }}</td>
            <td>{{ entity.hideTitle }}</td>
            <td>
                <a href="#">
                    <strong class="badge">{% if entity.journal%}{{ entity.journal.title }}{%endif%}</strong>
                </a>
            </td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('admin_journal_section_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_journal_section_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('admin_journal_section_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
    {% endblock %}
