{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.journal_settings_submission'|trans }} {{ parent() }}{% endblock %}
{% block  stylesheets %}
    {{ parent() }}
{% endblock %}

{% block breadcrumb %}
    {% set list = [
    {'link': path('ojs_journal_dashboard_index', {journalId: selectedJournal().id}), 'title': 'dashboard'|trans},
    {'title': 'title.journal_settings_submission'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    <div class="col-md-12">
        <form class="form" method="POST">
            <div class="form-group">
                <fieldset>
                    <legend>1. {{ "journal.settings.last.step.confirm"|trans }}</legend>
                    <div class="form-row">
                        <label>{{ "journal.settings.last.step.confirm"|trans }}</label>
                        <textarea class="form-control" style="width:100%"
                                  name="submissionConfirmText">{{ settings.submissionConfirmText }}</textarea>
                    </div>
                    <legend>2. {{ "journal.settings.submission.abstractTemplate"|trans }}</legend>
                    <div class="form-row">

                        <textarea id="absTemplate" class="editor form-control wysihtml5"
                                  name="submissionAbstractTemplate">{{ settings.submissionAbstractTemplate }}</textarea>
                    </div>
                </fieldset>
            </div>
            <div class="form-group">
                <button class="btn btn-default" type="submit">{{ "save"|trans }}</button>
            </div>
        </form>
    </div>
{% endblock %}
