{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.journal_edit'|trans }} {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ form_stylesheet(form) }}
{% endblock %}

{% block breadcrumb %}
    {% set list = [
    {'link': path('ojs_journal_dashboard_index', {journalId: selectedJournal().id}), 'title': 'dashboard'|trans},
    {'title': 'edit'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    {% if (selectedJournal() and selectedJournal().setupStatus)!=true %}
        <div class="alert alert-warning">
            {{ 'ojs.setup_not_completed'|trans({"%setup_url%":path('ojs_journal_setup')})|raw }}
        </div>
    {% endif %}
    <div class="large-12 columns">
        <div class="panel">
            {{ form_start(form, { 'attr': { 'enctype' :'multipart/form-data'} }) }}
            {% include '::flashbag.html.twig' %}
            {{ form_errors(form) }}

            {{ form_widget(form) }}

            <div class="btn-group">
                {% block cancelbtn %}
                    <a class="btn btn-default"
                       href="{{ path('ojs_journal_dashboard_index', {journalId: selectedJournal().id}) }}">
                        <i class="fa fa-backward"></i> {{ "cancel"|trans }}
                    </a>
                {% endblock %}
                <button type="submit" id="ojs_userbundle_user_submit" class="btn btn-primary">
                    {{ "update"|trans }}
                </button>
            </div>
            {{ form_end(form) }}

            {{ getLogs(entity) }}
        </div>
    </div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ form_javascript(form) }}
{% endblock %}
