{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.journal_settings_submission'|trans }} {{ parent() }}{% endblock %}
{% block  stylesheets %}
    {{ parent() }}
{% endblock %}

{% block breadcrumb %}
    {% set list = [
    {'link': path('ojs_journal_dashboard_index', {journalId: selectedJournal().id}), 'title': 'dashboard'|trans},
    {'title': 'title.journal_settings_submission'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    <div class="col-md-12">
        <form class="form" method="POST">
            <div class="form-group">
                <fieldset>
                    <div class="checkbox">
                        <h4>
                            <label>
                                <input type="checkbox" {% if settings.submissionOpen %}checked="checked"{% endif %} name="submissionOpen">
                                {{ "journal.settings.submission.open"|trans }}
                            </label>
                        </h4>
                    </div>
                    <hr>

                    <div class="submission-close-text-div">
                        <h5>{{ "journal.settings.submission.close.text"|trans }}</h5>
                        <div class="form-row">
                            <textarea class="editor form-control wysihtml5"
                                      name="submissionCloseText">{{ settings.submissionCloseText }}</textarea>
                        </div>
                        <hr>
                    </div>

                    <div class="last-step-confirm-div">
                        <h5>{{ "journal.settings.last.step.confirm"|trans }}</h5>
                        <div class="form-row">
                            <textarea class="form-control" style="width:100%"
                                      name="submissionConfirmText">{{ settings.submissionConfirmText }}</textarea>
                        </div>
                        <hr>
                    </div>

                    <div class="submission-abstract-template-div">
                        <h5>{{ "journal.settings.submission.abstractTemplate"|trans }}</h5>
                        <div class="form-row">

                            <textarea id="absTemplate" class="editor form-control wysihtml5"
                                      name="submissionAbstractTemplate">{{ settings.submissionAbstractTemplate }}</textarea>
                        </div>
                    </div>

                </fieldset>
            </div>
            <div class="form-group">
                <button class="btn btn-default" type="submit">{{ "save"|trans }}</button>
            </div>
        </form>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function() {
            function reviseSubmissionInputs(){
                if($('input[name="submissionOpen"]').is(':checked')){
                    $('.submission-close-text-div').hide();
                    $('.last-step-confirm-div').show();
                    $('.submission-abstract-template-div').show();
                }else{
                    $('.submission-close-text-div').show();
                    $('.last-step-confirm-div').hide();
                    $('.submission-abstract-template-div').hide();
                }
            }
            reviseSubmissionInputs();
            $('input[name="submissionOpen"]').change(function(){
               reviseSubmissionInputs();
            });
        });
    </script>
{% endblock %}