{% extends '::vipabase.html.twig' %}
{% block title %}{{ 'title.block_edit'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
    {'link': path('vipa_journal_dashboard_index', {journalId: selectedJournal().id}), 'title': 'dashboard'|trans},
    { 'link': path('vipa_journal_block_index', {'journalId': selectedJournal().id}),'title': 'block'|trans},
    {'title': 'title.block_edit'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    <h1>{{ 'title.block_edit'|trans }}</h1>
    {% include '::flashbag.html.twig' %}
    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    <button class="btn-primary btn" type="submit">{{ "u"|trans }}</button>
    {{ form_end(edit_form) }}
    <br>
    {{
    actions({
        'back': {'href': path('vipa_journal_block_index', {'journalId': selectedJournal().id})}
    })
    }}
    {{ getLogs(entity) }}

{% endblock %}
