{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.block_show'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
    {'link': path('ojs_journal_dashboard_index', {journalId: selectedJournal().id}), 'title': 'dashboard'|trans},
    {'link': path('ojs_journal_block_index', {'journalId': selectedJournal().id}),'title': 'title.block'|trans},
    {'title': 'title.block_show'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    {% include '::flashbag.html.twig' %}
    <h1>{{ 'block'|trans }}</h1>
    {{ display(entity) }}
    {{
    actions({
        'back': {'href': path('ojs_journal_block_index', {'journalId': selectedJournal().id})},
        'edit': {'href': path('ojs_journal_block_edit', {'id': entity.id, 'journalId': selectedJournal().id})},
        'delete': {
            'href': path('ojs_journal_block_delete', {'id': entity.id, 'journalId': selectedJournal().id}),
            'permission': is_granted('DELETE', selectedJournal(), 'block'),
            'attributes': {'data-token': token}
        },
    })
    }}
{% endblock %}
