<div class="row-fluid search-field-items">
    <div class="col-md-2">
        <div class="form-group condition-form">
            <label for=""> &nbsp;</label>
            <select class="form-control item-condition" onchange="VIPAAdvancedSearch.updateInputQuery()">
                <option value="OR">{{ 'search.or'|trans }}</option>
                <option value="AND">{{ 'search.and'|trans }}</option>
                <option value="NOT">{{ 'search.not'|trans }}</option>
            </select>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label for="">{{ 'search.field'|trans }}</label>
            <select class="form-control item-search-field" onchange="VIPAAdvancedSearch.updateInputQuery()">
                {% for field in fieldList %}
                    <option value="{{ field }}">{{ ('advanced.'~field)|trans }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="col-md-8">
        <div class="form-group">
            <label for="">{{ 'search.value'|trans }}</label>

            <div class="input-group">
                <input class="form-control field-item-value" type="text" onkeyup="VIPAAdvancedSearch.updateInputQuery()"/>

                <div class="input-group-addon remove-field-item" onclick="VIPAAdvancedSearch.removeFieldItem(this)">
                    <a href="javascript:void(0)" title="{{ 'search.removeFieldItem'|trans }}"><i class="fa fa-trash"></i></a>
                </div>
                <div class="input-group-addon add-field-item" onclick="VIPAAdvancedSearch.addFieldItem()">
                    <a href="javascript:void(0)" title="{{ 'search.addFieldItem'|trans }}"><i class="fa fa-plus"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>