{% extends '::ojsbase.html.twig' %}

{% block body -%}
<div class="large-12 columns">
    <div class="panel">
        <h1>Role list</h1>

        <table class="records_list" style="width: 100%">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Role</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
        {% for entity in entities %}
                <tr>
                    <td>
                        <a href="{{ path('admin_role_show', { 'id': entity.id }) }}">
                            <span class="label" >#{{ entity.id }}</span>
                        </a>
                    </td>
                    <td>{{ entity.name }}</td>
                    <td><span>{{ entity.role }}</span></td>
                    <td> 
                        <a href="{{ path('admin_role_show', { 'id': entity.id }) }}">{% trans %}Show{% endtrans %}</a> 
                        <br>
                        <a href="{{ path('admin_role_edit', { 'id': entity.id }) }}">{% trans %}Edit{% endtrans %}</a>

                    </td>
                </tr>
        {% endfor %}
            </tbody>
        </table> 
        <a class="button success" href="{{ path('admin_role_new') }}">
            {% trans %}Create New{% endtrans %}
        </a> 
    </div>
</div>
    {% endblock %}
