{% extends '::ojsbase.html.twig' %}

{% block body -%}
<div class="large-12 columns">
    <div class="panel">
        <h1>Role #{{ entity.id }}</h1>

        <table class="record_properties  table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ entity.id }}</td>
                </tr>
                <tr>
                    <th>Name</th>
                    <td>{{ entity.name }}</td>
                </tr>
                <tr>
                    <th>Role</th>
                    <td>{{ entity.role }}</td>
                </tr>

                <tr>
                    <th>Users</th>
                    <td>
                {% for user in entity.users %}
                        <a href="{{ path('user_show', { 'id': user.id }) }}">
                     {{user.username}}</a>
                        <a href="mailto:{{user.email}}">
                            (<strong>{{user.email}}</strong>)
                        </a><hr>

                {% endfor %}
                    </td>

                </tr>
            </tbody>
        </table>

        <div  class="button-group">
            <a href="{{ path('role') }}" class="button">
                {% trans %}Back to list{% endtrans %}
            </a>
            <a  class="button" href="{{ path('role_edit', { 'id': entity.id }) }}">
                Edit
            </a>
        </div>
    {{ form(delete_form) }}
    </div>
</div>
{% endblock %}
