{% extends '::ojsbase.html.twig' %}
{% import "::design_macros.html.twig" as macros %}
{% set hideleft = true %}
{% block title %}{{ 'title.publisher_design_edit'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
        {'link': path('ojs_admin_dashboard'), 'title': 'dashboard'|trans},
    {'link': path('ojs_admin_publisher_design_index'),'title': 'title.publisher_design'|trans},
    {'title': 'title.publisher_design_edit'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('vendor/gridmanager.js/dist/css/jquery.gridmanager-light.css') }}"/>
{% endblock %}

{% block body -%}
    <h1>{{ "publisherdesign.edit"|trans }}</h1>
    {% include '::flashbag.html.twig' %}
    {{ form(edit_form) }}

    <p id="widgetNotSelected" class="text-danger hide">Lütfen bir bileşen seçin!</p>
    <p id="widgetNoColumn" class="text-danger hide">Lütfen bileşen eklemek istediğiniz alanları seçin!</p>
    <select id="widgetSelect">
        <option value="default">Bileşen seç ..</option>
        <option value="header">Üstbilgi Resmi</option>
        <option value="logo">Logo</option>
        <option value="about">Hakkında</option>
        <option value="contact">İletişim Detayı</option>
        <option value="journals">Yayıncı Dergileri</option>
        <option value="custom">Özel</option>
    </select>
    <button id="widgetButton" class="btn btn-sm btn-success">Bileşen Ekle</button>
    <br>
    <textarea id="customCode" class="hide"></textarea>
    <br>
    <br>

    <div id="gridDesign">
        {% include template_from_string( entity.editableContent|raw ) %}
    </div>

    {% set back_path = 'ojs_admin_publisher_design_index' %}
    {% if is_granted('DELETE', edit_form.vars.data) %}
        {% set delete_path = 'ojs_admin_publisher_design_delete' %}
    {% endif %}
    {% include '::actionbuttons.html.twig' %}

    {{ getLogs(entity) }}

    <!-- Widgets -->
    <div id="header" class="hide">
        {{ macros.publisherHeader() }}
    </div>

    <div id="logo" class="hide">
        {{ macros.publisherLogo() }}
    </div>

    <div id="about" class="hide">
        {{ macros.publisherAbout() }}
    </div>

    <div id="contact" class="hide">
        {{ macros.contactDetails() }}
    </div>

    <div id="journals" class="hide">
        {{ macros.publisherJournals() }}
    </div>
{% endblock %}

{% block javascripts -%}
    {{ parent() }}

    {% javascripts "@jqueryui_js" output="assets/prod/js/jqueryui_min.js" %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script src="{{ asset('vendor/gridmanager.js/dist/js/jquery.gridmanager.min.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('#widgetNotSelected').hide();
            $('#widgetNotSelected').removeClass('hide');
            $('#widgetNoColumn').hide();
            $('#widgetNoColumn').removeClass('hide');
            $('#customCode').hide();
            $('#customCode').removeClass('hide');
            var gm = $("#gridDesign").gridmanager().data('gridmanager');

            $('#widgetButton').on('click', function (e) {

                if (!$('.' + gm.options.gmEditClassSelected).length) {
                    $('#widgetNoColumn').show();
                    return;
                }
                else {
                    $('#widgetNoColumn').hide();
                }

                if ($('#widgetSelect').val() == 'default') {
                    $('#widgetNotSelected').show();
                    return;
                }
                else if ($('#widgetSelect').val() == 'custom') {
                    var widgetHtml = $('#customCode').val();
                }
                else {
                    var widgetHtml = $('#' + $('#widgetSelect').val()).html();
                }
                $('#widgetNotSelected').hide();

                var canvas = gm.$el.find("#" + gm.options.canvasId);
                var cols = canvas.find(gm.options.colSelector);
                $.each(cols, function () {
                    if ($(this).hasClass(gm.options.gmEditClassSelected)) {
                        var cTagOpen = '<!--' + gm.options.gmEditRegion + '-->',
                                cTagClose = '<!--\/' + gm.options.gmEditRegion + '-->',
                                elem = null;
                        $(('.' + gm.options.gmToolClass + ':last'), this)
                                .before(elem = $('<div>').addClass(gm.options.gmEditRegion + ' ' + gm.options.contentDraggableClass)
                                        .append(gm.options.controlContentElem + '<div class="' + gm.options.gmContentRegion + '"></div>')).before(cTagClose).prev().before(cTagOpen);
                        gm.initNewContentElem(elem);
                        $('.' + gm.options.gmEditRegion, this).last().append(widgetHtml);
                    }
                });
            });

            $('#widgetSelect').on('change', function () {
                if ($(this).val() != 'custom') {
                    $('#customCode').slideUp();
                }
                else {
                    $('#customCode').slideDown();
                }
            });

            $('#ojs_adminbundle_publisher_design_submit').attr('type', 'button');
            $('#ojs_adminbundle_publisher_design_submit').on('click', function () {
                gm.deinitCanvas();
                $('.holder-remove').removeAttr("src");
                $('.holder-remove').removeAttr("data-holder-rendered");
                $('#ojs_adminbundle_publisher_design_editableContent').val($("#" + gm.options.canvasId).html());
                $("form[name='ojs_adminbundle_publisher_design']").submit();
            });
        });


    </script>
{% endblock %}