{% extends '::ojsbase.html.twig' %}

{% block body -%}
    <h1>Issue list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Journalid</th>
                <th>Volume</th>
                <th>Number</th>
                <th>Title</th>
                <th>Description</th>
                <th>Year</th>
                <th>Datepublished</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('issue_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.journalId }}</td>
                <td>{{ entity.volume }}</td>
                <td>{{ entity.number }}</td>
                <td>{{ entity.title }}</td>
                <td>{{ entity.description }}</td>
                <td>{{ entity.year }}</td>
                <td>{% if entity.datePublished %}{{ entity.datePublished|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('issue_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('issue_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('issue_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
