{% extends '::ojsbase.html.twig' %}

{% block body -%}
<h1>Citation list</h1>

<table class="records_list  table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Source</th>
            <th>Type</th>
            <th>Ordernum</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for entity in entities %}
        <tr>
            <td><a href="{{ path('citation_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.raw }}</td>
            <td>{{ entity.type }}</td>
            <td>{{ entity.orderNum }}</td>
            <td>
            {% set edit_path = 'citation_edit' %}
            {% set show_path = 'citation_show' %}
            {% set delete_path = 'citation_delete' %}
            {% include '::actionbtns.html.twig' %}

            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('citation_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
    {% endblock %}
