{% extends '::ojsbase.html.twig' %}

{% block  stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="{{ asset('/vendor/bootstrap3-wysihtml5-bower/dist/bootstrap3-wysihtml5.css') }}" />
{%endblock%}
{% block body -%}
    <h1>{{ "page.create"|trans }}</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('post') }}">
            {{ 'b'|trans }}
        </a>
    </li>
</ul>
{% endblock %}

{% block  javascripts %}
    {{parent()}}
    <script type="text/javascript" src="{{ asset('/vendor/bootstrap3-wysihtml5-bower/dist/bootstrap3-wysihtml5.all.min.js') }}"></script>
    <script>
        $(document).ready(function () {
            $("textarea").wysihtml5({
                toolbar: {"font-styles": false, "emphasis": true, "lists": false, "html": false, "link": true, "image": false, "color": false, "blockquote": true}
            });
        });
    </script>
{%endblock%}
