{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.article_authors_edit'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
    {'link': path('dashboard'), 'title': 'dashboard'|trans},
    { 'link': path('ojs_journal_article_author_index', {'articleId': entity.articleId, 'journalId': selectedJournal().id}) },
    {'title': 'article.author'|trans},
    {'title': 'title.article_authors_edit'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    <h1>{{ 'title.article_authors_edit'|trans }}</h1>
    {{ form(edit_form) }}
    <hr>
    {{
    actions({
        'back': {'href': path('ojs_journal_article_author_index', {'articleId': entity.articleId, 'journalId': selectedJournal().id})},
        'delete': {'href': path('ojs_journal_article_author_delete', {'id': entity.id, 'articleId': entity.articleId, 'journalId': selectedJournal().id})},
    })
    }}

    {{ getLogs(entity) }}
{% endblock %}
