{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.article_authors'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
        {'link': path('ojs_journal_dashboard_index', {journalId: selectedJournal().id}), 'title': 'dashboard'|trans},
        {'title': 'title.article_authors'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    {% include '::flashbag.html.twig' %}

    <ul class="nav nav-tabs article-show-tags">
        <li role="presentation"><a href="{{ path('ojs_journal_article_show', {'id': article.id, 'journalId': selectedJournal().id}) }}">{{ "Info"|trans }}</a></li>
        <li role="presentation"><a href="{{ path('ojs_journal_article_file_index', {'articleId': article.id, 'journalId': selectedJournal().id}) }}">{{ "article.files"|trans }}</a></li>
        <li role="presentation"><a href="{{ path('ojs_journal_citation_index', {'articleId': article.id, 'journalId': selectedJournal().id}) }}">{{ "title.citations"|trans }}</a></li>
        <li role="presentation" class="active"><a href="{{ path('ojs_journal_article_author_index', {'articleId': article.id, 'journalId': selectedJournal().id}) }}">{{ "article.authors"|trans }}</a></li>
    </ul>

    <h2>{{ 'title.article_authors'|trans }}</h2>
    <a href="{{ url('ojs_journal_article_author_new', {'articleId': article.id, 'journalId': selectedJournal().id}) }}" class="btn btn-success">
        {{ "c"|trans }}
    </a>
    <a href="{{ path('ojs_journal_article_author_add', {'articleId': article.id, 'journalId': selectedJournal().id}) }}" class="btn btn-info">
        {{ 'title.article_authors_add'|trans }}
    </a>


    <a href="{{ path('ojs_journal_article_author_sort', {'journalId': selectedJournal().id,'articleId': article.id}) }}" class="btn btn-primary">
        {{ "sort.authors"|trans }}
    </a>

    <hr>
    {{ grid(grid) }}
{% endblock %}
