{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.article_authors'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
    {'link': path('dashboard'), 'title': 'dashboard'|trans},
    {'title': 'title.article_authors'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    <h1>{{ 'title.article_authors'|trans }}</h1>
    {% include '::flashbag.html.twig' %}
    {% if is_granted('CREATE', selectedJournal(), 'article_authors') %}
        <a href="{{ path('ojs_journal_article_author_new', {'articleId': app.request.get('articleId'), 'journalId': selectedJournal().id}) }}" class="btn btn-success">
            {{ "articleauthor_new"|trans }}
        </a>
    {% endif %}

    <hr>
    <table class="table records_list">
        <thead>
        <tr>
            <th>Id</th>
            <th>{{ "author_order"|trans }}</th>
            <th>{{ "author_id"|trans }}</th>
            <th>{{ "article_id"|trans }}</th>
            <th>{{ "actions"|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('ojs_journal_article_author_show', {'id': entity.id, 'articleId': entity.articleId, 'journalId': selectedJournal().id}) }}">{{ entity.id }}</a></td>
                <td>{{ entity.authorOrder }}</td>
                <td>
                    <a href="{{ path('ojs_journal_author_show', {'id': entity.authorId, 'journalId': selectedJournal().id}) }}">#{{ entity.author.Id }}</a> {{ entity.author.firstName }} {{ entity.author.middleName }} {{ entity.author.lastName }}
                </td>
                <td>
                    <a href="{{ path('ojs_journal_article_show', {'id': entity.articleId, 'journalId': selectedJournal().id}) }}">#{{ entity.article.Id }}</a> {{ entity.article.title }}
                </td>
                <td>
                    {{
                    actions({
                        'show': {'href': path('ojs_journal_article_author_show', {'id': entity.id, 'articleId': entity.articleId, 'journalId': selectedJournal().id})},
                        'edit': {'href': path('ojs_journal_article_author_edit', {'id': entity.id, 'articleId': entity.articleId, 'journalId': selectedJournal().id})},
                        'delete': {'href': path('ojs_journal_article_author_delete', {'id': entity.id, 'articleId': entity.articleId, 'journalId': selectedJournal().id})},
                    })
                    }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
