{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.article_authors_new'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
    {'link': path('dashboard'), 'title': 'dashboard'|trans},
    {'link': path('ojs_journal_article_author_index'),'title': 'article.author'|trans},
    {'title': 'create'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    <h1>{{ "articleauthor_create"|trans }}</h1>

    {{ form(form) }}
    {% set back_path = 'ojs_journal_article_author_index' %}
    {% include '::actionbuttons.html.twig' %}
{% endblock %}
