{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.article_authors_show'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
    {'link': path('dashboard'), 'title': 'dashboard'|trans},
    { 'link': path('ojs_journal_article_author_index'),'title': 'article.author'|trans},
    {'title': 'title.article_authors_show'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    <h1>{{ "articleauthor"|trans }}</h1>

    <table class="table record_properties">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>{{ "author_order"|trans }}</th>
            <td>{{ entity.authorOrder }}</td>
        </tr>
        <tr>
            <th>{{ "author"|trans }}</th>
            <td>
                #{{ entity.author.Id }} {{ entity.author.firstName }} {{ entity.author.middleName }} {{ entity.author.lastName }}</td>
        </tr>
        <tr>
            <th>{{ "article.singular"|trans }}</th>
            <td>
                <a href="{{ path('ojs_journal_article_show',{id:entity.article.Id }) }}">#{{ entity.article.Id }}</a> {{ entity.article.title }}
            </td>
        </tr>
        </tbody>
    </table>

    {% set back_path = 'ojs_journal_article_author_index' %}
    {% set edit_path = 'ojs_journal_article_author_edit' %}
    {% set delete_path = 'ojs_journal_article_author_delete' %}
    {% include '::actionbuttons.html.twig' %}

{% endblock %}
