{% extends '::ojsbase.html.twig' %}

{% block body -%}
    <h1>{{"articleauthor"|trans}}</h1>

    <table class="table record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>{{"author_order"|trans}}</th>
                <td>{{ entity.authorOrder }}</td>
            </tr>
            <tr>
                <th>{{"author"|trans}}</th>
                <td>#{{ entity.author.Id }} {{ entity.author.firstName }} {{ entity.author.middleName }} {{ entity.author.lastName }}</td>
            </tr>
            <tr>
                <th>{{"article.singular"|trans}}</th>
                <td><a href="{{path('article_show',{id:entity.article.Id })}}">#{{ entity.article.Id }}</a> {{ entity.article.title }}</td>
            </tr>
        </tbody>
    </table>

    {% set back_path = 'articleauthor' %}
    {% set edit_path = 'articleauthor_edit' %}
    {% set delete_path = 'articleauthor_delete' %}
    {% include '::actionbtns.html.twig' %}

{% endblock %}
