{% extends '::ojsbase.html.twig' %}

{% block body -%}
<h1>EventLog list</h1>

<table class="records_list table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Eventinfo</th>
            <th>Eventdate</th>
            <th>Ip</th>
            <th>Userid</th>
            <th>{{"actions"|trans}}</th>
        </tr>
    </thead>
    <tbody>
        {% for entity in entities %}
        <tr>
            <td><a href="{{ path('eventlog_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td><span class="badge">{{ entity.eventInfo }}</span></td>
            <td>{% if entity.eventDate %}{{ entity.eventDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{{ entity.ip }}</td>
            <td>{{ entity.userId }}</td>
            <td>
                <a class="btn btn-info" href="{{ path('eventlog_show', { 'id': entity.id }) }}">
                    <i class="fa fa-info-sign"></i></a>


            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

    {% endblock %}
