{% extends '::ojsbase.html.twig' %}

{% block breadcrumb %}
    {% set list = [
    {'link': path('dashboard'), 'title': 'dashboard'|trans},
    {'link': path('eventlog'),'title': 'eventlog'|trans},
    {'title': 'show'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    <h1>{{ "eventlog"|trans }}</h1>

    <table class="record_properties  table">
        <tbody>
        <tr>
            <th>{{ "event.id"|trans }}</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>{{ "event.info"|trans }}</th>
            <td>{{ entity.eventInfo }}</td>
        </tr>
        <tr>
            <th>{{ "event.date"|trans }}</th>
            <td>{{ entity.eventDate|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>{{ "event.user.id"|trans }}</th>
            <td>{{ entity.userId }}</td>
        </tr>
        {% if entity.affectedUserId is not null %}
            <tr>
                <th>{{ "event.affectedUser.id"|trans }}</th>
                <td>{{ entity.affectedUserId }}</td>
            </tr>
        {% endif %}
        </tbody>
    </table>

    {% set back_path = 'user_eventlog' %}
    {% include '::actionbuttons.html.twig' %}
{% endblock %}
