{% extends '::vipabase.html.twig' %}
{% set hideleft = true %}
{% block title %}{{ 'title.contact_edit'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
        {'link': path('vipa_admin_dashboard'), 'title': 'dashboard'|trans},
        {'link': path('vipa_admin_contact_index'), 'title': 'title.contacts'|trans},
        {'title': 'title.contact_edit'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    <h1>{{ 'title.journal_contact_edit'|trans }}</h1>
    {% include '::flashbag.html.twig' %}
    {{ form(edit_form) }}
    {{
        actions({
            'back': {'href': path('vipa_admin_contact_index')}
        })
    }}

    {{ getLogs(entity) }}
{% endblock %}
