{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.mail_logs'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
    {'link': path('dashboard'), 'title': 'dashboard'|trans},
    {'link': path('ojs_admin_mail_log_index'),'title': 'maillog.singular'|trans},
    {'title': 'list'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    <h1>{{ "maillog.list" }}</h1>
    {% include '::flashbag.html.twig' %}

    {% if is_granted('CREATE', getEntity('OjsUserBundle:MailLog')) %}
        <a href="{{ path('ojs_admin_mail_log_new') }}" class="btn btn-success">
            {{ "c"|trans }}
        </a>
    {% endif %}

    <hr>
    {{ grid(grid) }}
{% endblock %}
