{% extends '::ojsbase.html.twig' %}

{% block breadcrumb %}
    {% set list = [
    {'link': path('dashboard'), 'title': 'dashboard'|trans},
    {'link': path('workflow_templates'), 'title': 'workflow.templates'|trans},
    {'title': 'workflow.step.template.new'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    <div class="panel">
        <div class="panel-heading">
            <h1>{{ "workflow.templates.create"|trans }}</h1>
        </div>
        <div>
            {{ form_start(form) }}
            {% for label, flashes in app.session.flashbag.all %}
                {% for flash in flashes %}
                    <div class="alert alert-{{ label }}">
                        {{ flash }}
                    </div>
                {% endfor %}
            {% endfor %}
            {{ form_errors(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-primary">
                {{ "workflow.template.create"|trans }}
            </button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}