{% extends '::ojsbase.html.twig' %}

{% block breadcrumb %}
    {% set list = [
    {'link': path('dashboard'), 'title': 'Dashboard'},
    {'link': path('ojs_workflow_homepage'), 'title': 'Workflow'},
    {'link': path('workflow_templates'), 'title': 'Templates'},
    {'link': path('workflow_template_show', {id: step.template.id}), 'title': step.template.title},
    {'title': 'Step Detail'}
    ] %}
    {{breadcrumb(list)}}
{% endblock %}

{% block body -%}
    <div class="panel">
        {% include '::flashbag.html.twig' %}
        <div class="panel-heading">
            <h1>{{step.title}}</h1>
        </div>
        <div class="panel-body">
            <table class="table">
                <tr>
                    <th>Title</th>
                    <td>{{step.title}}</td>
                </tr>
                <tr>
                    <th>Color</th>
                    <td style="background-color:{{step.color}}">{{step.color}}</td>
                </tr>
                <tr>
                    <th>Status text</th>
                    <td>{{step.status}}</i></td>
                </tr>
                {% if step.firstStep %}
                    <tr>
                        <th>First Step?</th>
                        <td>{{ printYesNo(step.firstStep ) }}</td>
                    </tr>
                {% endif %}
                {% if step.getLaststep %}

                    <tr>
                        <th>Last Step?</th>
                        <td>{{  printYesNo(step.getLaststep()) }}</td>
                    </tr>
                {% endif %}

                <tr>
                    <th>Next Steps</th>
                    <td>
                        {% if step.getOnlyReply() %}
                            <span class="label label-primary">
                                Only Reply
                                <i class="fa fa-ok"></i>
                            </span>
                        {% else %}
                            {%for step in step.nextSteps%}
                                <a class="label label-info" href="{{path("workflowsteps_show",{"id":step.id})}}">{{step.title}}</a>
                            {%endfor%}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Is visible to author?</th>
                    <td>{{ printYesNo(step.isVisible) }}</td>
                </tr>
                <tr>
                    <th>Must be assigned to someone?</th>
                    <td>{{ printYesNo(step.mustBeAssigned) }}</td>
                </tr>
                <tr>
                    <th>Can edit?</th>
                    <td>{{ printYesNo(step.canEdit) }}</td>
                </tr>
                <tr>
                    <th>Can review?</th>
                    <td>{{ printYesNo(step.canReview) }}</td>
                </tr>
                <tr>
                    <th>Can user see author?</th>
                    <td>{{printYesNo(step.canSeeAuthor)}}</td>
                </tr>
                <tr>
                    <th>Can reject submission</th>
                    <td>{{printYesNo(step.canRejectSubmission)}}</td>
                </tr>
                <tr>
                    <th>Roles</th>
                    <td>
                        {%for role in step.roles%}
                            <span class="label label-default">{{role.name}}</span>
                        {%endfor%}
                    </td>
                </tr>
                <tr>
                    <th>Allowed max days</th>
                    <td>
                        <span class="badge">{{step.maxdays}}</span>
                    </td>
                </tr>
                <tr>
                    <th>Review Forms</th>
                    <td>
                        {%if step.reviewForms %}
                            {% for form in step.reviewForms%}
                                <a href="#" title="{{form.id}}" class="badge">{{form.title}}</a>
                            {%endfor%}
                        {%endif%}
                    </td>
                </tr>
            </table>
            <div class="btn-group">
                <a class="btn btn-default" href="{{path('workflow_template_show', {id: step.template.id})}}">Back to Template</a>
                {% if isJournalManager() and (step.template.isSystemTemplate is defined)%}
                    {% if step.template.isSystemTemplate == false %}
                        {% set userTemplate = 1 %}
                        <a class="btn btn-primary" href="{{path('workflow_template_new_step', {templateId: step.template.id})}}"> <i class="fa fa-plus"></i> {{"c"|trans}}</a>
                        <a class="btn btn-warning" href="{{path('workflow_template_step_edit',{'stepId':step.id})}}">{{"e"|trans}}</a>
                    {% endif %}
                {% endif %}
            </div>
            {% if userTemplate is defined %}
                <a class="btn btn-danger pull-right" onclick="return confirm('{{"sure"|trans}}');" href="{{path('workflow_template_step_delete',{'stepId':step.id})}}">{{"d"|trans}}</a>
            {% endif %}
        </div>
    </div>
{% endblock %}
