{% extends '::ojsbase.html.twig' %}

{% block breadcrumb %}
    {% set list = [
                {'link': path('dashboard'), 'title': 'dashboard'|trans},
                {'link': path('ojs_workflow_homepage'), 'title': 'workflow'|trans},
                {'title': 'workflow.templates'|trans}
] %}
    {{breadcrumb(list)}}
{% endblock %}

{% block body -%}

    <h1>{{ 'workflow.templates'|trans }}</h1>
    {% include '::flashbag.html.twig' %}

    <h3>{{ 'system.templates'|trans }}</h3>
    <div class="list-group">
        {% for entity in templates %}
            {% if entity.isSystemTemplate is defined  %}
                {% if entity.isSystemTemplate %}
                    <a class="list-group-item" href="{{ path('workflow_template_show', { 'id': entity.id } ) }}">
                        <strong class="list-group-item-heading">
                            {{entity.title}}
                        </strong>
                        <br>
                        {{entity.description}}
                    </a>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>

    <h3>{{ 'created.templates'|trans }}</h3>
    <div class="list-group">
        {% for entity in templates %}
            {% if entity.isSystemTemplate is defined  %}
                {% if entity.isSystemTemplate == false %}
                    <div class="list-group-item">
                        <strong class="list-group-item-heading">
                            <a href="{{path('workflow_template_show',{ 'id': entity.id })}}">
                                {{entity.title}}
                            </a>
                        </strong><br>
                        {{entity.description}}
                        <span class="pull-right btn-group">
                            {% if isJournalManager() %}
                                <a class="btn btn-warning btn-xs" href="{{path('workflow_template_edit',{ 'templateId': entity.id })}}">
                                    <i class="fa fa-pencil"></i>
                                </a>
                                <a class="btn btn-danger btn-xs"  onclick="return confirm('{{"sure"|trans}}');" href="{{path('workflow_template_delete',{ 'templateId': entity.id })}}">
                                    <i class="fa fa-trash"></i>
                                </a>
                            {% endif %}
                        </span>
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
    <a href="{{ path('workflow_template_new') }}" class="btn btn-primary pull-right">{{ 'c' | trans }}</a>
{% endblock %} 