{% extends '::ojsbase.html.twig' %}

{% block breadcrumb %}
    {% set list = [
                {'link': path('dashboard'), 'title': 'Dashboard'},
                {'link': path('ojs_workflow_homepage'), 'title': 'Workflow'},
                {'title': 'Workflow Templates'}
] %}
    {{breadcrumb(list)}}
{% endblock %}

{% block body -%} 

    <h1>Workflow Templates</h1>

    <div class="list-group">
        {% for entity in templates %}

            <a class="list-group-item" href="{{ path('workflow_template_show', { 'id': entity.id } ) }}">
                <strong class="list-group-item-heading">
                    {{entity.title}}
                </strong>

                <br>
                {{entity.description}}
            </a> 
        {% endfor %}  
    </div>
    <a href="{{ path('workflow_template_create') }}" class="btn btn-primary pull-right">{{ 'workflow.template.create' | trans }}</a>
{% endblock %} 