{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.citation_settings'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
        {'link': path('dashboard'), 'title': 'dashboard'|trans},
        { 'title': 'citation.settings'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    <h1>{{"citation.setting.list"|trans}}</h1>
    {% include '::flashbag.html.twig' %}
    {% if is_granted('CREATE', getEntity('OjsJournalBundle:CitationSetting')) %}
        <a href="{{ path('citationsetting_new') }}">{{"citation.setting.new"|trans}}</a>
    {% endif %}

    {{ grid(grid) }}
{% endblock %}
