{% extends '::ojsbase.html.twig' %}

{% block body -%}
    <h1>CitationSetting</h1>

    <table class="record_properties  table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Citationid</th>
                <td>{{ entity.citationId }}</td>
            </tr>
            <tr>
                <th>Setting</th>
                <td>{{ entity.setting }}</td>
            </tr>
            <tr>
                <th>Value</th>
                <td>{{ entity.value }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="record_actions">
        <li>
            <a href="{{ path('citationsetting') }}">
                Back to the list
            </a>
        </li>
        <li>
            <a href="{{ path('citationsetting_edit', { 'id': entity.id }) }}">
                {% trans %}e{% endtrans %}
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %}
