{% extends '::ojsbase.html.twig' %}

{% block body -%}
    <h1>{{"citation.setting"|trans}}</h1>
    {% include '::flashbag.html.twig' %}
    <table class="record_properties  table">
        <tbody>
            <tr>
                <th>{{ 'id'|trans }}</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>{{"citation.id"|trans}}</th>
                <td>{{ entity.citationId }}</td>
            </tr>
            <tr>
                <th>{{"citation.setting"|trans}}</th>
                <td>{{ entity.setting }}</td>
            </tr>
            <tr>
                <th>{{"value"|trans}}</th>
                <td>{{ entity.value }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="record_actions">
        <li>
            <a href="{{ path('citationsetting') }}">{{"b"|trans}}</a>
        </li>
        <li>
            <a href="{{ path('citationsetting_edit', { 'id': entity.id }) }}">
                {{"e"|trans}}
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %}
