{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.submission_file_edit'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
    {'link': path('ojs_journal_dashboard_index', {journalId: selectedJournal().id}), 'title': 'dashboard'|trans},
    {'link': path('ojs_journal_file_index', {'journalId': selectedJournal().id}),'title': 'submission_file.show'|trans},
    {'title': 'title.submission_file_edit'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    <h1>{{ 'title.submission_file_edit'|trans }}</h1>
    {% include '::flashbag.html.twig' %}
    {{ form(edit_form) }}

    {{
    actions({
        'back': {'href': path('ojs_journal_file_index', {'journalId': selectedJournal().id})}
    })
    }}

    {{ getLogs(entity) }}
{% endblock %}
