{% extends '::ojsbase.html.twig' %}
{% block stylesheets %}
        {{parent()}}
        {% stylesheets '@upload_css' output="c/upload.css" %}
<link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}  
{% endblock %}


{% block body -%}
<div class="large-12 columns">
    <div class="panel">
        <h1>{% trans %}New User{% endtrans %}</h1>

    {{ form_start(form, { 'attr': { 'enctype' :'multipart/form-data'} }) }}
        {{ form_errors(form) }}

        <span class="btn btn-success fileinput-button">
            <i class="glyphicon glyphicon-plus"></i>
            <span>Select image file...</span>
            <input id="fileupload" type="file"   data-url="{{ oneup_uploader_endpoint('avatars') }}">
            <input name="user_avatar" id="avatar_input" value="" type="hidden" /> 
        </span> 
        <div id="avatar_upload_progress" style="display: none" class="label label-info">

        </div>

        <br>

        <br>

         {{ form_end(form) }} 
        <div class="record_actions">
            <a class="button" href="{{ path('user') }}">
                {% trans %}Back to list{% endtrans %}
            </a>
        </div>
    </div>
</div>
<style> 
    select#ojstr_userbundle_user_roles{height: 300px;margin-bottom: 30px}
</style>
{% endblock %}

{% block javascripts %}
        {{parent()}}
        {% javascripts '@upload_js' output="c/upload.js" %}
<script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}  
<script type="text/javascript">
    $(document).ready(function()
    {
        $('#fileupload').fileupload({});
        $('#fileupload').bind('fileuploadsend', function(e, data) {
            $('#avatar_upload_progress').show();
            $('#avatar_upload_progress').html("Uploading...");
        }).bind('fileuploaddone', function(e, data) {
            $('#avatar_upload_progress').html("Done.");
            $('#avatar_input').attr('value', JSON.parse(data.result).files.name);
        });
    });
</script>
{% endblock %}