{% extends '::ojsbase.html.twig' %}

{% block body %}


<h1>{% if entity.avatar %}
    <img class="thumbnail pull-left" style="margin-right:5px;" src="/uploads/avatars/thumbnail/{{entity.avatar}}" />
{% endif %} 
{{entity.username}} 
    <small style="color:green">{% if(entity.isActive != 0)%}<i class="fa fa-check-circle"></i>{%endif%}</small>
    <a  href="{{path('user_give_attorneyship',{'targetUserId':entity.id})}}" class="btn btn-warning pull-right">Give Power of Attorney</a>
</h1>
<table class="record_properties  table">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Username</th>
            <td>{{ entity.username }}</td>
        </tr> 
        <tr>
            <th>Email</th>
            <td>{{ entity.email }}</td>
        </tr> 
        <tr>
            <th>Roles</th>
            <td>
                {% for role in entity.roles %}
                    {{role.name}}(<strong>{{role.role}}</strong>) <br/>
                {% endfor %}
            </td>

        </tr>
    </tbody>
</table>

{% endblock %}
