{% extends '::ojsbase.html.twig' %}

{% block body -%}

    Articles Issue <strong>{{issue.title }}</strong> in Journal <em>{{issue.journal.title }}</em>
    
        <p>Here you can find all articles for selected issue <strong>{{issue.title }}</strong></p>
    
    {% include "OjstrJournalBundle:Article:index_list_block.html.twig" %}
    <a href="{{ path('article_new') }}" class="btn btn-success">
        {% trans %}c{% endtrans %}
    </a>
    <a href="{{ path('article') }}" class="btn btn-default">
        {% trans %}back{% endtrans %}
    </a>
{% endblock %}
