{% extends '::ojsbase.html.twig' %}

{% block body -%}

<div class="large-12 columns">
    <div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Articles</div>
  <div class="panel-body">
    <p>description</p>
  </div>


        <table class="records_list table" style="width:100%">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Doi</th>
                    <th>Journalid</th>
                    <th>Title</th>
                    <th>Pubdate</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('article_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                    <td>{{ entity.doi }}</td>
                    <td>{{ entity.journalId }}</td>
                    <td>{{ entity.title }}</td>
                    <td>{% if entity.pubdate %}{{ entity.pubdate|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>

                        {% set show_path = 'article_show' %}
                        {% set edit_path = 'article_edit' %}
                        {% set delete_path = 'article_delete' %}
                        {% include '::actionbtns.html.twig' %}

                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
            <div class="panel-footer">
            <a href="{{ path('article_new') }}" class="btn btn-success">
                    {% trans %}Create New{% endtrans %}
            </a>
        </div>
    </div>
        
    </div>
</div>
{% endblock %}
