{% extends '::ojsbase.html.twig' %}

{% block body -%}

<div class="large-12 columns">
    <div class="panel">
        <h1>Articles</h1>

        <table class="records_list table" style="width:100%">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Doi</th>
                    <th>Journalid</th>
                    <th>Title</th>
                    <th>Isanonymous</th>
                    <th>Pubdate</th>
                    <th>Firstpage</th>
                    <th>Lastpage</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('admin_article_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                    <td>{{ entity.doi }}</td>
                    <td>{{ entity.journalId }}</td>
                    <td>{{ entity.title }}</td>
                    <td>{{ entity.isAnonymous }}</td>
                    <td>{% if entity.pubdate %}{{ entity.pubdate|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{{ entity.firstPage }}</td>
                    <td>{{ entity.lastPage }}</td>
                    <td>

                        {% set show_path = 'admin_article_show' %}
                        {% set edit_path = 'admin_article_edit' %}
                        {% set delete_path = 'admin_article_delete' %}
                        {% include '::actionbtns.html.twig' %}

                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div>
            <a href="{{ path('admin_article_new') }}" class="button success">
                    {% trans %}Create New{% endtrans %}
            </a>
        </div>
    </div>
</div>
{% endblock %}
