{% extends '::ojsbase.html.twig' %}

{% block body -%}
<div class="row">
    <div class="large-12 columns">
        <div class="panel">
            <h1>Article Detail <small title="ojs unique id">#{{ entity.id }}</small></h1>

            <table class="record_properties table" style="width:100%">
                <tbody>
                    <tr>
                        <th>Title</th>
                        <td>{{ entity.title }}</td>
                    </tr>
                    <tr>
                        <th>Titletransliterated</th>
                        <td>{{ entity.titleTransliterated }}</td>
                    </tr>

                    <tr>
                        <th>Subtitle</th>
                        <td>{{ entity.subtitle }}</td>
                    </tr>
                    <tr>
                        <th>Authors</th>
                        <td>
                            {% if entity.articleAuthors %}
                            {% for authorsInfo in entity.articleAuthors %}
                            <span>{{ authorsInfo.author.firstname }} {{ authorsInfo.author.middlename }} {{ authorsInfo.author.lastname }}</span>
                                {% if not loop.last %}, {% endif %}
                            {% endfor %}
                            {%endif%}
                        </td>
                    </tr>
                    <tr>
                        <th>Journal</th>
                        <td>
                            <a href="{{ path("journal_show",{'id':entity.journal.id}) }}">
                                {{ entity.journal.title }}</a>
                        </td>
                    </tr>
                    <tr>
                        <th>Section</th>
                        <td>{% if entity.section %}{{ entity.section.title }}{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Languages</th>
                        <td>
                            {% if entity.languages %}
                            {% for language in entity.languages %}
                            <a class="btn btn-info btn-sm">
                                <span>{{ language.name }} [{{ language.code}}]</span>
                            </a>
                            {% endfor %}
                            {%endif%}
                        </td>
                    </tr>
                    <tr>
                        <th>Primary Language</th>
                        <td>

                            <span class="label label-info">{{ entity.primaryLanguage}}</span>
                        </td>
                    </tr>
                    <tr>
                        <th>Status</th>
                        <td style="background: {{entity.statusColor}}"><span >{{ entity.statusText }}</span></td>
                    </tr>
                    <tr>
                        <th>Doi</th>
                        <td>
                            {{ entity.doi }}
                            {% if entity.doi %}
                            <a href="#" onclick="$('#doiform').submit();">
                                <small>
                                    Check
                                </small>
                            </a>
                            {% endif %}
                            <form action="http://dx.doi.org/" method="POST" id="doiform">
                                <input type="hidden" name="hdl" value="{{ entity.doi }}"/>
                            </form>
                        </td>
                    </tr>

                    <tr>
                        <th>Subjects</th>
                        <td>
                            {{ entity.subjects }}
                        </td>
                    </tr>

                    <tr>
                        <th>Keywords</th>
                        <td> {{ entity.keywords }} </td>
                    </tr>
                    <tr>
                        <th>Otherid</th>
                        <td>{{ entity.otherId }}</td>
                    </tr>
                    <tr>
                        <th>Journalid</th>
                        <td>{{ entity.journalId }}</td>
                    </tr>

                    <tr>
                        <th>Isanonymous</th>
                        <td>{{ entity.isAnonymous }}</td>
                    </tr>
                    <tr>
                        <th>Pubdate</th>
                        <td>{{ entity.pubdate|date('Y-m-d H:i:s') }}</td>
                    </tr>
                    <tr>
                        <th>Pubdateseason</th>
                        <td>{{ entity.pubdateSeason }}</td>
                    </tr>
                    <tr>
                        <th>Part</th>
                        <td>{{ entity.part }}</td>
                    </tr>
                    <tr>
                        <th>Firstpage</th>
                        <td>{{ entity.firstPage }}</td>
                    </tr>
                    <tr>
                        <th>Lastpage</th>
                        <td>{{ entity.lastPage }}</td>
                    </tr>
                    <tr>
                        <th>Uri</th>
                        <td>{{ entity.uri }}</td>
                    </tr>
                    <tr>
                        <th>Abstract</th>
                        <td>{{ entity.abstract }}</td>
                    </tr>
                    <tr>
                        <th>Abstracttransliterated</th>
                        <td>{{ entity.abstractTransliterated }}</td>
                    </tr>
                    <tr>
                        <th>Citations</th>
                        <td> @todo </td>
                    </tr>
                </tbody>
            </table>


            <div class="record_actions">
                <a class="btn btn-info" href="{{ path('article_citation', { 'id': entity.id }) }}">
                    <i class="fa fa-asterisk"></i>
                    Citation Editor</a>

                    {% set back_path = 'article' %}
                    {% set edit_path = 'article_edit' %}
                    {% set delete_path = 'article_delete' %}
                    {% include '::actionbtns.html.twig' %}

            </div>
        </div>
    </div>
</div>
{% endblock %}
