{% extends '::ojsbase.html.twig' %}

{% block body -%}
<div class="row">
    <div class="large-12 columns">
        <div class="panel">
            <h1>Article Detail</h1>

            <table class="record_properties" style="width:100%">
                <tbody>
                    <tr>
                        <th width="300px">Id</th>
                        <td>{{ entity.id }}</td>
                    </tr>
                    <tr>
                        <th>Doi</th>
                        <td>
                            {{ entity.doi }}   
                            {% if entity.doi %}
                            <a href="#" onclick="$('#doiform').submit();">
                                <span class="label small info" >
                                    Check
                                </span>
                            </a>
                            {% endif %}
                            <form action="http://dx.doi.org/" method="POST" id="doiform">
                                <input type="hidden" name="hdl" value="{{ entity.doi }}" />
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <th>Journal</th>
                        <td>
                            <a href="{{path("journal_show",{'id':entity.journal.id})}}">
                                {{ entity.journal.title }}</a>
                        </td>
                    </tr>
                    <tr>
                        <th>Subjects</th>
                        <td>
                            {% for subject in entity.subjects %}
                            <a href="{{path("admin_subject_show",{'id':entity.journal.id})}}">
                                <span class="label">{{ subject.subject }}</span>
                            </a>
                            {% endfor %}
                        </td>
                    </tr>

                    <tr>
                        <th>Keywords</th>
                        <td>
                            {% for keyword in entity.keywords %}
                            <a href="#"><span class="label">{{ keyword.keyword }}</span></a>
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <th>Otherid</th>
                        <td>{{ entity.otherId }}</td>
                    </tr>
                    <tr>
                        <th>Journalid</th>
                        <td>{{ entity.journalId }}</td>
                    </tr>
                    <tr>
                        <th>Title</th>
                        <td>{{ entity.title }}</td>
                    </tr>
                    <tr>
                        <th>Titletranslated</th>
                        <td>{{ entity.titleTranslated }}</td>
                    </tr>
                    <tr>
                        <th>Subtitle</th>
                        <td>{{ entity.subtitle }}</td>
                    </tr>
                    <tr>
                        <th>Isanonymous</th>
                        <td>{{ entity.isAnonymous }}</td>
                    </tr>
                    <tr>
                        <th>Pubdate</th>
                        <td>{{ entity.pubdate|date('Y-m-d H:i:s') }}</td>
                    </tr>
                    <tr>
                        <th>Pubdateseason</th>
                        <td>{{ entity.pubdateSeason }}</td>
                    </tr>
                    <tr>
                        <th>Volume</th>
                        <td>{{ entity.volume }}</td>
                    </tr>
                    <tr>
                        <th>Issue</th>
                        <td>{{ entity.issue }}</td>
                    </tr>
                    <tr>
                        <th>Part</th>
                        <td>{{ entity.part }}</td>
                    </tr>
                    <tr>
                        <th>Firstpage</th>
                        <td>{{ entity.firstPage }}</td>
                    </tr>
                    <tr>
                        <th>Lastpage</th>
                        <td>{{ entity.lastPage }}</td>
                    </tr>
                    <tr>
                        <th>Uri</th>
                        <td>{{ entity.uri }}</td>
                    </tr>
                    <tr>
                        <th>Abstract</th>
                        <td>{{ entity.abstract }}</td>
                    </tr>
                    <tr>
                        <th>Abstracttranslated</th>
                        <td>{{ entity.abstractTranslated }}</td>
                    </tr>
                </tbody>
            </table>

            <div class="record_actions">
                <a class="button" href="{{ path('admin_article') }}">
                    {% trans %}Back to list{% endtrans %}
                </a>
                <a class="button" href="{{ path('admin_article_edit', { 'id': entity.id }) }}">
                    Edit
                </a>
                {{ form(delete_form) }}

            </div>
        </div>
    </div>
</div>
{% endblock %}
