{% extends '::ojsbase.html.twig' %}

{% block breadcrumb %}
    {% set list = [
    {'link': path('dashboard'), 'title': 'dashboard'|trans},
    {'link': path('theme'),'title': 'theme'|trans},
    {'title': 'new'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    <h1>{{ "theme.new"|trans }}</h1>

    {{ form(form) }}

    <a class="btn btn-default" href="{{ path('theme') }}">
        {{ "b"|trans }}
    </a>
{% endblock %}
