{% extends '::ojsbase.html.twig' %}

{% block body -%}
    <h1>{{"theme"|trans}}</h1>
    {% include '::flashbag.html.twig' %}
    <table class="record_properties  table">
        <tbody>
            <tr>
                <th>{{ 'id'|trans }}</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>{{"name"|trans}}</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>{{"content"|trans}}</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>{{"basetheme"|trans}}</th>
                <td>{{ entity.isPublic }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="record_actions">
        <li>
            <a href="{{ path('theme') }}">
                {{"b"|trans}}
            </a>
        </li>
        <li>
            <a href="{{ path('theme_edit', { 'id': entity.id }) }}">
                {{"e"|trans}}
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %}
