{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.journal_themes'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
        {'link': path('dashboard'), 'title': 'dashboard'|trans},
        {'title': 'journal.theme'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    <h1>{{"journaltheme.list"|trans}}</h1>
    {% include '::flashbag.html.twig' %}
    {{ grid(grid) }}

    {% set create_path = 'admin_journaltheme_new' %}
    {% include '::actionbuttons.html.twig' %}
{% endblock %}
