{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.journal_themes'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
    {'link': path('dashboard'), 'title': 'dashboard'|trans},
    {'title': 'title.journal_themes'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    <h1>{{ 'title.journal_themes'|trans }}</h1>
    {% include '::flashbag.html.twig' %}
    {{ grid(grid) }}
    {% if is_granted('CREATE', selectedJournal(), 'theme') %}
        {% set create_path = 'ojs_journal_theme_new' %}
    {% endif %}
    {% include '::actionbuttons.html.twig' %}
{% endblock %}
