{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.journal_theme_new'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
    {'link': path('dashboard'), 'title': 'dashboard'|trans},
    {'link': path('ojs_journal_theme_index'),'title': 'journal.theme'|trans},
    {'title': 'title.journal_theme_new'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    <h1>{{ 'title.journal_theme_new'|trans }}</h1>

    {{ form(form) }}
    {% set back_path = 'ojs_journal_theme_index' %}
    {% include '::actionbuttons.html.twig' %}
{% endblock %}
