{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.boards'|trans }} {{ parent() }}{% endblock %}

{% block body -%}
    <h1> {{"journal.boards"|trans}}</h1>
    {% include '::flashbag.html.twig' %}
    <a href="{{ path('board_manager_new') }}" class="btn btn-success">
        {{"c"| trans}}
    </a>
    {{ grid(grid) }}
{% endblock %}
