{% extends '::ojsbase.html.twig' %}
{% block title %}{{ post.title }} &raquo; {{ post.journal.title }} {{ parent() }}{% endblock %}
{% set hideleft = true %}

{% block body -%}

    <div class="container">
        {% set list = [
        {'link': path('ojs_journal_index', {'slug': post.journal.slug}), 'title': post.journal.title},
            {'title': post.title }
        ] %}
        {{ breadcrumb(list) }}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>{{ post.title }}</h3>
                {% include '::flashbag.html.twig' %}
            </div>
            <div class="panel-body">
                <p>
                    {{ post.content|raw }}
                </p>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        analytics.increase('post', {{ post.id }})
    </script>
{% endblock %}
