{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'title.article'|trans }} {{ parent() }}{% endblock %}
{% set hideleft = 1 %}

{% block breadcrumb %}
    {% if article.issue %}
        {% if isJournalHosting is defined and isJournalHosting == true %}
            {% set list = [
                {'link': journal.publicURI,'title': article.journal.title},
                {'link': archive_uri, 'title': "archive"|trans},
                {'link': path('journal_hosting_issue',{id: article.issue.id}),
                'title': "volume"|trans ~ " " ~ article.issue.volume ~ ", " ~ "issue"|trans ~ " " ~ article.issue.number },
                ] %}
        {% else %}
            {% set list = [
            {'link': path('ojs_public_index'), 'title': project_name},
            {'link': journal.publicURI,'title': article.journal.title},
            {'link': archive_uri, 'title': "archive"|trans},
            {'link': path('ojs_issue_page',
            {journal_slug:journal.slug,id: article.issue.id}),
            'title': "volume"|trans ~ " " ~ article.issue.volume ~ ", " ~ "issue"|trans ~ " " ~ article.issue.number },
            ] %}
        {% endif %}
    {% else %}
        {% if isJournalHosting is defined and isJournalHosting == true %}
            {% set list = [
            {'link': journal.publicURI,'title': article.journal.title},
            {'link': archive_uri, 'title': "archive"|trans}
            ] %}
        {% else %}
            {% set list = [
            {'link': path('ojs_public_index'), 'title': project_name},
            {'link': journal.publicURI,'title': article.journal.title},
            {'link': archive_uri, 'title': "archive"|trans}
            ] %}
        {% endif %}
    {% endif %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {% if article.issue %}
                        {% if isJournalHosting is defined and isJournalHosting == true %}
                            <a href="{{ url('journal_hosting_issue', {id: article.issue.id}) }}">
                                {{ "volume"|trans }} {{ article.issue.volume }}, {{ "issue"|trans }} {{ article.issue.number }},
                            </a>
                        {% else %}
                            <a href="{{ url('ojs_issue_page', {journal_slug:journal.slug,id: article.issue.id}) }}">
                                {{ "volume"|trans }} {{ article.issue.volume }}, {{ "issue"|trans }} {{ article.issue.number }},
                            </a>
                        {% endif %}
                    {% endif %}
                    {% if article.firstPage is not null and article.lastPage is not null %}
                        {{ "page.plural"|trans }}
                        <span title="{{ "first_page"|trans }}">{{ article.firstPage }}</span> -
                        <span title="{{ "last_page"|trans }}">{{ article.lastPage }}</span>
                    {% endif %}
                    {% if article.languages %}
                        <abbr title="{{ "languages"|trans }}">
                            {% for language in article.languages %}
                                <span class="badge badge-info">{{ language.name }} [{{ language.code }}]</span>
                            {% endfor %}

                        </abbr>
                    {% endif %}
                    <span class="pull-right">
                            {% if article.pubdate %}
                                <span>
                                    <i class="fa fa-calendar"></i> {{ article.pubdate|date('Y-m-d') }}
                                </span>
                            {% endif %}
                        </span>

                </div>
                <div class="panel-body">
                    <div id="articleTitle">
                        {% if article.header %}
                            <a href="{{ journal.publicURI }}">
                                <img src="{{ article.header|imagine_filter('article_header') }}"
                                     class="img-responsive img-rounded float-left tri" alt="{{ article.title }}"/>
                            </a>
                        {% endif %}
                        <div class="">
                            <div class="pull-right">
                                <a title="Save to Zotero" class="btn btn-sm"
                                   href="javascript:var d=document,s=d.createElement('script');s.src='https://www.zotero.org/bookmarklet/loader.js';(d.body?d.body:d.documentElement).appendChild(s);void(0);">
                                    <img src="//dergipark.ulakbim.gov.tr/assets/images/zotero.ico" width="16"/>
                                    Zotero</a> |
                                <a title="Save to Mendeley" class="btn btn-sm"
                                   href="javascript:document.getElementsByTagName('body')[0].appendChild(document.createElement('script')).setAttribute('src','https://www.mendeley.com/minified/bookmarklet.js');">
                                    <img src="//dergipark.ulakbim.gov.tr/assets/images/mendeley.ico" width="16"/>
                                    Mendeley</a> |
                                <a href="#" class="btn btn-sm download-link" data-raw="{{ bibtex }}"
                                   data-filename="article.bib" data-mime="text/plain">BibTex</a> |
                                <a href="{{ app.request.schemeAndHttpHost ~ app.request.requestUri }}#article_cite" class="btn btn-sm">{{ "article.cite"|trans }}</a>

                            </div>
                            {% if article.articleFiles|length > 0 %}
                                {% for file in article.articleFiles %}
                                    {% if file.type == 0 %}
                                        <a href="{{ path('ojs_site_download_article', {articleFile: file.id}) }}"
                                           class="btn btn-sm btn-link" target="_blank"><i
                                                    class="fa fa-file-pdf-o"></i> {{ file.title }}
                                            <small>
                                                ( <i class="fa fa-arrow-circle-o-down"></i> {{ file.downloadCount|number_format }}
                                                )
                                            </small>
                                        </a>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>

                        <h2 class="title">{{ fieldDisplay(article, 'title') }}</h2>
                        {% if article.titleTransliterated %}
                            <h3><span class="muted">{{ article.titleTransliterated }}</span></h3>
                        {% endif %}
                        {% if article.articleAuthors %}
                            <h4>
                                {% for authorsInfo in article.articleAuthors %}
                                    <small>
                                        {% if authorsInfo.author.user is not empty %}
                                            <a href="{{ path('ojs_user_profile', {slug: authorsInfo.author.user.username}) }}">
                                                <span class="author">{{ authorsInfo.author.fullName }}</span>
                                            </a>
                                        {% else %}
                                            <span class="author">{{ authorsInfo.author.fullName }}</span>
                                        {% endif %}

                                        {% if article.issue %}
                                        <sup>
                                            <a href="{{ path('ojs_article_page', {
                                                issue_id: article.issue.id,
                                                article_id: article.id,
                                                slug: journal.slug
                                            }) }}#author{{ authorsInfo.author.id }}">
                                                [{{ loop.index }}]
                                            </a>
                                        </sup>
                                        {% endif %}
                                    </small>
                                    {% if not loop.last %}, {% endif %}
                                {% endfor %}
                            </h4>
                        {% endif %}
                        <h5>
                            <i class="fa fa-eye"></i>
                            {% if article.viewCount is null %} 0 {% else %} {{ article.viewCount }} {% endif %}
                            <i class="fa fa-download"></i>
                            {% if article.downloadCount is null %} 0 {% else %} {{ article.downloadCount }} {% endif %}
                        </h5>
                    </div>

                    <hr/>

                    {% if article.doi is not empty and article.isDoiValid  %}
                        <div id="doiInfo">
                            <p class="text-success">
                                <a href="http://dx.doi.org/{{ article.doi }}">{{ 'doi'|trans }}: {{ article.doi }}</a>
                            </p>
                        </div>
                    {% endif %}

                    {% if article.abstract %}
                        <div id="articleAbstract">
                            <h4 class="page-header">{{ "abstract"|trans }}</h4>

                            <div>
                                {{ fieldDisplay(article, 'abstract') }}
                            </div>
                        </div>
                    {% endif %}

                    {% set keywords = article.keywords|split(',') %}
                    {% if keywords|length %}
                        <div id="articleKeywords">
                            <h4 class="page-header">{{ "keywords"|trans }}</h4>

                            <div>
                                {{ fieldDisplay(article, 'keywords', false, true) }}
                            </div>
                        </div>
                    {% endif %}

                    {% if article.citations|length > 0 %}
                        <div id="articleCitations">
                            <h4 class="page-header">{{ "citations"|trans }}</h4>

                            <div>
                                <ul class="fa-ul">
                                    {% for citation in article.citations %}
                                        <li><i class="fa-li fa fa-quote-left"></i>{{ citation.raw }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endif %}

                    <div id="article_meta">
                        <h4 class="page-header">{{ "details"|trans }}</h4>
                        <table class="record_properties table">
                            {% if article.primaryLanguage %}
                                <tr>
                                    <th>{{ "primaly_language"|trans }}</th>
                                    <td>
                                        {{ article.primaryLanguage }}
                                    </td>
                                </tr>
                            {% endif %}
                            {% if article.subjects %}
                                <tr>
                                    <th>{{ "subjects"|trans }}</th>
                                    <td>
                                        {{ article.subjects|join(' ,') }}
                                    </td>
                                </tr>
                            {% endif %}
                            {% if article.otherId %}
                                <tr>
                                    <th>{{ 'otherid'|trans }}</th>
                                    <td>{{ article.otherId }}</td>
                                </tr>
                            {% endif %}
                            {% if article.pubdateSeason %}
                                <tr>
                                    <th>{{ 'pubdate'|trans }}</th>
                                    <td>{{ article.pubdateSeason }}</td>
                                </tr>
                            {% endif %}
                            {% if article.section %}
                                <tr>
                                    <th>{{ "section"|trans }}</th>
                                    <td>{{ article.section.title }}</td>
                                </tr>
                            {% endif %}
                            {% if article.articleAuthors %}
                                <tr>
                                    <th>{{ 'authors'|trans }}</th>
                                    <td>
                                        {% for authorsInfo in article.articleAuthors %}
                                            {{ getAuthorsInfo(authorsInfo.author) }}
                                        {% endfor %}
                                    </td>
                                </tr>
                            {% endif %}
                        </table>
                    </div>

                    <div id="article_cite">
                        <h4 class="page-header">{{ "article.cite"|trans }}</h4>

                        <table class="table table-striped">
                            <tr>
                                <td>Bibtex</td>
                                <td><code>{{ bibtex }}</code></td>
                            </tr>
                            <tr>
                                <td><abbr tooltip="Author, A.A.. (Publication Year). Article title. Periodical Title, Volume(Issue), pp.-pp. doi:XX.XXXXX or Retrieved from journal URL">APA</abbr></td>
                                <td>{% if article.articleAuthors %}
                                        {% for authorsInfo in article.articleAuthors %}
                                            {{ authorsInfo.author.lastName }}, {{ authorsInfo.author.firstname|first }}
                                            {% if not loop.last %}, {% endif %}
                                        {% endfor %}
                                    {% endif %}.
                                    ({{ bibtex_data.year }}).
                                    {{ bibtex_data.title }}.
                                    {{ bibtex_data.journal }}, {% if article.issue %}{{ article.issue.volume }} ({{ article.issue.number }}){% endif %},
                                    {% if article.firstPage is not null and article.lastPage is not null %}{{ article.firstPage }}-{{ article.lastPage }}{% endif %}.
                                    {% if article.doi is not empty and article.isDoiValid %}DOI: {{ article.doi }}{% else %}Retrieved from {{ app.request.schemeAndHttpHost ~ app.request.requestUri }}{% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td><abbr tooltip="Last Name, First Name. “Article Title.” Journal Name Volume Number (Year Published): Page Numbers. Medium.">MLA</abbr></td>
                                <td>
                                    {% if article.articleAuthors %}
                                    {% for authorsInfo in article.articleAuthors %}
                                        {{ authorsInfo.author.lastName }}, {{ authorsInfo.author.firstname|first }}
                                        {% if not loop.last %}, {% endif %}
                                    {% endfor %}
                                    {% endif %}.
                                    "{{ bibtex_data.title }}".
                                    {{ bibtex_data.journal }}  {% if article.issue %}{{ article.issue.volume }} {% endif %} ({{ bibtex_data.year }}): {% if article.firstPage is not null and article.lastPage is not null %}{{ article.firstPage }}-{{ article.lastPage }}{% endif %}
                                    &lt;{{ app.request.schemeAndHttpHost ~ app.request.requestUri }}&gt;
                                </td>
                            </tr>
                            <tr>
                                <td><abbr tooltip="Last Name, First Name. “Article Title.” Journal Name Volume Number (Year Published): Page Numbers.">Chicago</abbr></td>
                                <td>
                                    {% if article.articleAuthors %}
                                    {% for authorsInfo in article.articleAuthors %}
                                        {{ authorsInfo.author.lastName }}, {{ authorsInfo.author.firstname|first }}
                                        {% if not loop.last %}, {% endif %}
                                    {% endfor %}
                                    {% endif %}.
                                    "{{ bibtex_data.title }}".
                                    {{ bibtex_data.journal }}  {% if article.issue %}{{ article.issue.volume }} {% endif %} ({{ bibtex_data.year }}): {% if article.firstPage is not null and article.lastPage is not null %}{{ article.firstPage }}-{{ article.lastPage }}{% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td>RIS</td>
                                <td>
                                    TY - JOUR
                                    T1 - {{ article.title }}
                                    AU - {% if article.articleAuthors %}
                                        {% for authorsInfo in article.articleAuthors %}
                                            {{ authorsInfo.author.fullName }}
                                            {% if not loop.last %}, {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                    Y1 - {{ article.pubDate|date("Y") }}
                                    PY - {{ article.pubDate|date("Y") }}
                                    N1 - {% if article.doi is not empty and article.isDoiValid %} doi: {{ article.doi }} {% endif %}
                                    DO - {% if article.doi is not empty and article.isDoiValid %} {{ article.doi }} {% endif %}
                                    T2 - {{ article.journal }}
                                    JF - Journal
                                    JO - JOR
                                    SP - {{ article.firstPage }}
                                    EP - {{ article.lastPage }}
                                    VL - {{ article.issue.volume }}
                                    IS - {{ article.issue.number }}
                                    SN - {{ article.journal.issn }}-{{ article.journal.eissn }}
                                    M3 - {% if article.doi is not empty and article.isDoiValid %} doi: {{ article.doi }} {% endif %}
                                    UR - {% if article.doi is not empty and article.isDoiValid %} http://dx.doi.org/{{ article.doi }} {% endif %}
                                    Y2 - {{ article.acceptanceDate|date("Y") }}
                                    ER -

                                </td>
                            </tr>
                            <tr>
                                <td>EndNote</td>
                                <td>
                                    %0 {{ article.journal }} {{ article.title }}
                                    %A {% if article.articleAuthors %}
                                        {% for authorsInfo in article.articleAuthors %}
                                            {{ authorsInfo.author.fullName }}
                                            {% if not loop.last %}, {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                    %T {{ article.title }}
                                    %D {{ article.pubDate|date("Y") }}
                                    %J {{ article.journal }}
                                    %P {{ article.journal.issn }}-{{ article.journal.eissn }}
                                    %V {{ article.issue.volume }}
                                    %N {{ article.issue.number }}
                                    %R {% if article.doi is not empty and article.isDoiValid %} doi: {{ article.doi }} {% endif %}
                                    %U {% if article.doi is not empty and article.isDoiValid %} {{ article.doi }} {% endif %}
                                </td>
                            </tr>
                        </table>
                    </div>

                </div>
                <div class="panel-footer">
                    {% if article.articleFiles|length > 0 %}
                        <div id="articlePreview">
                            {% for file in article.articleFiles %}
                                <a href="{{ path('ojs_site_download_article', {articleFile: file.id}) }}"
                                   class="btn btn-lg btn-primary" target="_blank"><i
                                            class="fa fa-download"></i> {{ articleFileType[file.type]|trans }}
                                    <small>
                                        ( <i class="fa fa-arrow-circle-o-down"></i> {{ file.downloadCount|number_format }}
                                        )
                                    </small>
                                </a>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>

            <!-- /content -->
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
            <div class="list-group journal-stats">
                {% if isJournalHosting is defined and isJournalHosting == true %}
                    <a href="{{ path('ojs_journal_submission_start',{"journalId":journal.id}) }}"
                       class="list-group-item list-group-item-success">
                        <h5><i class="fa fa-plus-circle"></i> {{ "article.submit"|trans }}</h5>
                    </a>

                    <a href="{{ archive_uri }}"
                       class="list-group-item "><h5><i class="fa fa-archive"></i> {{ "archive"|trans }}</h5>
                    </a>

                    <a href="{{ url('journal_hosting_board')  }}"
                       class="list-group-item "><h5><i class="fa fa-archive"></i> {{ "board"|trans }}</h5>
                    </a>

                    <a href="{{ url('journal_hosting_contacts') }}"
                       class="list-group-item ">
                        <h5><i class="fa fa-phone"></i> {{ "journalcontact.singular"|trans }}</h5>
                    </a>

                    <a href="{{ url('journal_hosting_announcement') }}"
                       class="list-group-item ">
                        <h5><i class="fa fa-bullhorn"></i> {{ "announcements"|trans }}</h5>
                    </a>
                {% else %}
                    <a href="//{{ base_host }}{{ path('ojs_journal_submission_start',{"journalId":journal.id}) }}"
                       class="list-group-item list-group-item-success">
                        <h5><i class="fa fa-plus-circle"></i> {{ "article.submit"|trans }}</h5>
                    </a>

                    <a href="{{ archive_uri }}"
                       class="list-group-item "><h5><i class="fa fa-archive"></i> {{ "archive"|trans }}</h5>
                    </a>

                    <a href="{{ url('ojs_journal_index_board',{slug: journal.slug})  }}"
                       class="list-group-item "><h5><i class="fa fa-archive"></i> {{ "board"|trans }}</h5>
                    </a>

                    <a href="{{ url('ojs_journal_contacts',{slug: journal.slug}) }}"
                       class="list-group-item ">
                        <h5><i class="fa fa-phone"></i> {{ "journalcontact.singular"|trans }}</h5>
                    </a>

                    <a href="{{ url('ojs_announcement_index',{slug: journal.slug}) }}"
                       class="list-group-item ">
                        <h5><i class="fa fa-bullhorn"></i> {{ "announcements"|trans }}</h5>
                    </a>
                {% endif %}

                <div class="list-group-item ">
                    <form role="search"
                          action="{{ path('ojs_journal_subscribe',{slug: journal.slug}) }}"
                          method="post">
                        <div class="input-group">
                            <input type="text" class="form-control"
                                   placeholder="{{ "journal.subscribe"|trans }}" name="mail">

                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit"><i class="fa fa-send"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            {% if journal.journalIndexs|length>0 %}
                <div class="list-group">
                    {% for journalIndex in journal.journalIndexs %}
                        {% if journalIndex.verified == true %}
                            <a href="{{ journalIndex.link }}" target="_blank">
                                <div class="list-group-item col-md-12">
                                    {% if journalIndex.index.logo %}
                                        <div class="col-md-4">
                                            <img src="{{ journalIndex.index.logo|imagine_filter('index_logo') }}"
                                                 alt="{{ journalIndex.index.name }}" width="32" height="32"/>
                                        </div>
                                    {% endif %}
                                    <div class="col-md-7">
                                        <h5>{{ journalIndex.index.name }}</h5>
                                    </div>
                                </div>
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}

        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
            analytics.view('article', {{ article.id }}, '{{ token }}');
            renderMathInElement(document.body);
        });
    </script>
{% endblock %}
