{% extends '::ojsbase.html.twig' %}
{% set hideleft = true %}
{% block title %}{{ 'title.contact_type_new'|trans }} {{ parent() }}{% endblock %}

{% block breadcrumb %}
    {% set list = [
        {'link': path('ojs_admin_dashboard'), 'title': 'dashboard'|trans},
        { 'link': path('ojs_admin_contact_type_index'),'title': 'title.contact_types'|trans},
        {'title': 'title.contact_type_new'|trans}
    ] %}
    {{ breadcrumb(list) }}
{% endblock %}

{% block body -%}
    <h1>{{ "contact.type.new"|trans }}</h1>

    {{ form(form) }}
    {% set back_path = 'ojs_admin_contact_type_index' %}
    {% include '::actionbuttons.html.twig' %}
{% endblock %}
