
{% extends "::ojsbase.html.twig" %}

{% block body %} 
<h1>Manager Dashboard</h1>
<div class="col-md-6">
    <h2>Objects</h2>
    <ul class="list-group">

        <li class="list-group-item"><a href="{{path('article')}}">Articles</a></li>
        <li class="list-group-item"><a href="{{path('author')}}">Authors</a></li>
        <li class="list-group-item"><a href="{{path('contact')}}">Contacts</a></li>
        <li class="list-group-item"><a href="{{path('contacttypes')}}">Contact Types</a></li>
        <li class="list-group-item"><a href="{{path('institution')}}">Institutions</a></li>
        <li class="list-group-item"><a href="{{path('institution_types')}}">Institution Types</a></li>
        <li class="list-group-item"><a href="{{path('issue')}}">Issues</a></li>
        <li class="list-group-item"><a href="{{path('journal')}}">Journals</a></li>
        <li class="list-group-item"><a href="{{path('subject')}}">Subjects</a></li>
        <li class="list-group-item"><a href="{{path('theme')}}">Themes</a></li>
    </ul>
</div>

<div class="col-md-6">
    <h2>System Operations</h2>
    <ul class="list-group">
        <li class="list-group-item"><a href="{{path('user')}}">User</a></li>
        <li class="list-group-item"><a href="{{path('role')}}">Role</a></li>

    </ul>
</div> 
{% endblock %}

{% block footer %}{% endblock %}