{% set hideleft = 1 %}
{% extends '::ojsbase.html.twig' %}
{% block title %}{{ 'journal.setup'|trans }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@submission_css' output="c/submission_css.css" filter="cssrewrite" %}
        <link rel="stylesheet" href="{{ asset_url }}" xmlns="http://www.w3.org/1999/html"/>
    {% endstylesheets %}
    {% stylesheets '@upload_css' output="c/upload.css" filter="cssrewrite" %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
    {% stylesheets '@apptour_css' output="c/apptour.css" %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block body -%}
    <input type="hidden" id="journalSetupUrl" value="{{ path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) }}"/>
    <input type="hidden" name="journalId" id="journalIdInput" value="{% if journal.id %}{{ journal.id }}{% endif %}"/>
    <input type="hidden" name="submissionId" value="{% if submissionId is defined %}{{ submissionId }}{% endif %}"/>

    <h1>Journal Setup <small>{{journal.title}}</small></h1>
    <div class="panel panel-default panel-steps">
        <div class="panel-heading">
            <ul class="nav nav-wizard submission-progress" id="journal-setup-steps">
                <li id="submission-progress-step1" class="active">
                    <a href="#1">
                        {{ "setup.step"|trans({number:1}) }}
                    </a>
                </li>
                <li id="submission-progress-step2">
                    <a href="#2">
                        {{ "setup.step"|trans({number:2}) }}
                    </a>
                </li>
                <li id="submission-progress-step3">
                    <a href="#3">
                        {{ "setup.step"|trans({number:3}) }}
                    </a>
                </li>
                <li id="submission-progress-step4">
                    <a href="#4">
                        {{ "setup.step"|trans({number:4}) }}
                    </a>
                </li>
                <li id="submission-progress-step5">
                    <a href="#5">
                        {{ "setup.step"|trans({number:5}) }}
                    </a>
                </li>
                <li id="submission-progress-step6 last-step">
                    <a href="#6">
                        {{ "setup.step"|trans({number:6}) }} & {{ "submit"|trans }}
                    </a>
                </li>
            </ul>
        </div>
        <div class="panel-body">
            <div id="step1-container" class="step">
                <div class="row">
                    <div class="col-sm-12">
                        <div id="step1">
                            {{ form(steps.step1) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="step1_actions record_actions">
                        <div class="col-sm-12">
                            <hr/>
                            <a class="btn btn-success btn-lg pull-right"
                               onclick="javascript: OjsJournalSetup.step1('{{ path(app.request.attributes.get('_route')~'_step1',app.request.attributes.get('_route_params')) }}');">
                                <i class="fa fa-save"></i>
                                {{ "save.next"|trans }}
                                <i class="fa fa-chevron-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="step2-container" class="step hide">

                <div id="step2">
                    {{ form(steps.step2) }}
                </div>

                <div class="step2_actions record_actions">
                    <div class="col-sm-12">
                        <hr>
                        <a class="btn btn-danger btn-lg"
                           onclick="javascript:OjsJournalSetup.backTo(1);">
                            <i class="fa fa-chevron-left"></i> {{ "b"|trans }}
                        </a>
                        <a class="btn btn-success btn-lg pull-right"
                           onclick="javascript: OjsJournalSetup.step2('{{ path(app.request.attributes.get('_route')~'_step2',app.request.attributes.get('_route_params')) }}');">
                            <i class="fa fa-save"></i>
                            {{ "save.next"|trans }}
                            <i class="fa fa-chevron-right"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div id="step3-container" class="step hide">

                <div id="step3">
                    {{ form(steps.step3) }}
                </div>
                <div class="step3_actions record_actions">
                    <div class="col-sm-12">
                        <hr>
                        <a class="btn btn-danger btn-lg"
                           onclick="javascript:OjsJournalSetup.backTo(2);">
                            <i class="fa fa-chevron-left"></i> {{ "b"|trans }}
                        </a>
                        <a class="btn btn-success btn-lg pull-right"
                           onclick="javascript: OjsJournalSetup.step3('{{ path(app.request.attributes.get('_route')~'_step3',app.request.attributes.get('_route_params')) }}');">
                            <i class="fa fa-save"></i>
                            {{ "save.next"|trans }}
                            <i class="fa fa-chevron-right"></i>
                        </a>
                    </div>
                </div>
            </div>


            <div id="step4-container" class="step hide">

                <div id="step4">
                    <form action="">
                        {% for page in default_pages %}
                        <div class="form-group">
                            <label for="page_title_{{ loop.index }}">{{ 'title'|trans }}</label>
                            <input class="form-control" name="page[{{ loop.index }}][title]" type="text" id="page_title_{{ loop.index }}" value="{{ page.title }}"/>
                        </div>
                        <div class="form-group">
                            <label for="page_content_{{ loop.index }}">{{ 'content'|trans }}</label>
                            <textarea class="form-control" name="page[{{ loop.index }}][content]" id="page_content_{{ loop.index }}">{{ page.content }}</textarea>
                        </div>
                            <hr/>
                        {% endfor %}
                    </form>
                    {{ form(steps.step4) }}
                </div>
                <div class="step4_actions record_actions">
                    <div class="col-sm-12">
                        <hr>
                        <a class="btn btn-danger btn-lg"
                           onclick="javascript:OjsJournalSetup.backTo(3);">
                            <i class="fa fa-chevron-left"></i> {{ "b"|trans }}
                        </a>
                        <a class="btn btn-success btn-lg pull-right"
                           onclick="javascript: OjsJournalSetup.step4('{{ path(app.request.attributes.get('_route')~'_step4',app.request.attributes.get('_route_params')) }}');">
                            <i class="fa fa-save"></i>
                            {{ "save.next"|trans }}
                            <i class="fa fa-chevron-right"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div id="step5-container" class="step hide">
                <div id="step5">
                    {{ form(steps.step5) }}
                    <div class="form-group">
                        <label class="control-label" for="fileupload">{{ "logo"|trans }}</label>

                        <div id="preview_image_logo" style="width:200px">
                            <img src="{{ ('/uploads/journalfiles/'~imagePath(journal.logo)) | imagine_filter('wide_200') }}"
                                 data-src="holder.js/200x200/random/text:{{ journal.title }}" id="preview_image_logo_img"/>
                            {% set imageoptions=getImageOptions(journal,'logo','journal_logo') %}
                            <input id="logo_height" name="logo[height]" type="hidden" value="{{ imageoptions.height }}"/>
                            <input id="logo_width" name="logo[width]" type="hidden" value="{{ imageoptions.width }}"/>
                            <input id="logo_x" name="logo[x]" type="hidden" value="{{ imageoptions.x }}"/>
                            <input id="logo_y" name="logo[y]" type="hidden" value="{{ imageoptions.y }}"/>
                        </div>
                            <span class="btn btn-success fileinput-button form-control">
                                <i class="fa fa-plus"></i>
                                <span>{{ "select.image.file"|trans }}</span>
                                <input id="fileupload_logo" type="file"
                                       data-url="{{ oneup_uploader_endpoint('journalfiles') }}">
                            </span>

                        <div id="journal_logo_upload_progress" style="display: none" class="label label-info"></div>
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="fileupload">{{ "cover"|trans }}</label>
                        <div id="preview_image_cover" style="width:200px">
                            <img src="{{ ('/uploads/journalfiles/'~imagePath(journal.image)) | imagine_filter('wide_200') }}"
                                 data-src="holder.js/200x300/random/text:{{ journal.title }}"/>
                            {% set imageoptions=getImageOptions(journal,'cover','wide_200') %}
                            <input id="cover_height" name="cover[height]" type="hidden" value="{{ imageoptions.height }}"/>
                            <input id="cover_width" name="cover[width]" type="hidden" value="{{ imageoptions.width }}"/>
                            <input id="cover_x" name="cover[x]" type="hidden" value="{{ imageoptions.x }}"/>
                            <input id="cover_y" name="cover[y]" type="hidden" value="{{ imageoptions.y }}"/>
                        </div>
                        <span class="btn btn-success fileinput-button form-control">
                            <i class="fa fa-plus"></i>
                            <span>{{ "select.image.file"|trans }}</span>
                            <input id="fileupload_cover" type="file" data-url="{{ oneup_uploader_endpoint('journalfiles') }}" />
                        </span>
                        <div id="journal_cover_upload_progress" style="display: none" class="label label-info"></div>
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="fileupload_header">{{ "Header Image"|trans }}</label>
                        <div id="preview_image_header">
                            <img src="{{ ('/uploads/journalfiles/'~imagePath(journal.header)) | imagine_filter('wide_960') }}"
                                 data-src="holder.js/960x200/random/text:{{ journal.title }}" alt=""/>
                            {% set imageoptions=getImageOptions(journal,'header','wide_960') %}
                            <input id="header_height" name="header[height]" type="hidden"
                                   value="{{ imageoptions.height }}"/>
                            <input id="header_width" name="header[width]" type="hidden" value="{{ imageoptions.width }}"/>
                            <input id="header_x" name="header[x]" type="hidden" value="{{ imageoptions.x }}"/>
                            <input id="header_y" name="header[y]" type="hidden" value="{{ imageoptions.y }}"/>
                        </div>
                        <span class="btn btn-success fileinput-button form-control">
                            <i class="fa fa-plus"></i>
                            <span>{{ "select.image.file"|trans }}</span>
                            <input id="fileupload_header" type="file" data-url="{{ oneup_uploader_endpoint('journalfiles') }}">
                        </span>
                        <div id="journal_header_upload_progress" style="display: none" class="label label-info"></div>
                    </div>
                </div>

                <div class="step5_actions record_actions">
                    <div class="col-sm-12">
                        <hr>
                        <a class="btn btn-danger btn-lg"
                           onclick="javascript:OjsJournalSetup.backTo(4);">
                            <i class="fa fa-chevron-left"></i> {{ "b"|trans }}
                        </a>
                        <a class="btn btn-success btn-lg pull-right"
                           onclick="javascript: OjsJournalSetup.step5('{{ path(app.request.attributes.get('_route')~'_step5',app.request.attributes.get('_route_params')) }}');">
                            <i class="fa fa-chevron-right"></i>
                            {{ "save.next"|trans }}
                            <i class="fa fa-chevron-right"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div id="step6-container" class="step hide">
                <div id="step6">
                    {{ form(steps.step6) }}
                </div>
                <div class="step6_actions record_actions">
                    <div class="col-sm-12">
                        <hr>
                        <a class="btn btn-danger btn-lg"
                           onclick="javascript:OjsJournalSetup.backTo(5);">
                            <i class="fa fa-chevron-left"></i> {{ "b"|trans }}
                        </a>
                        <a class="btn btn-success btn-lg pull-right"
                           onclick="javascript: OjsJournalSetup.step6('{{ path(app.request.attributes.get('_route')~'_step6',app.request.attributes.get('_route_params')) }}');">
                            <i class="fa fa-save"></i>
                            {{ "save.finish"|trans }}
                            <i class="fa fa-chevron-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}

    {{ parent() }}
    {% javascripts  '@submission_js'
    '@OjsJournalBundle/Resources/public/js/journal_setup.js'
    output="c/setup_js.js" %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% javascripts '@apptour_js' output="c/apptour.js" %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% javascripts '@OjsJournalBundle/Resources/public/js/tour/journal_setup_tour.js' output="c/journal_setup_tour.js" %}
    {% if app.user.setting('tour.admin.journal-setup') == FALSE %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endif %}
    {% endjavascripts %}

    {% javascripts '@upload_js' output="c/upload.js" %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        $(document).ready(function () {
            var uploadPath = '{{ app.request.uriForPath(asset('/uploads/journalfiles/')) }}'.replace("?v3", "").replace("/app_dev.php", "");
            $('#fileupload_cover').fileupload({});
            $('#fileupload_cover').bind('fileuploadsend', function (e, data) {
                $('#journal_cover_upload_progress').show();
                $('#journal_cover_upload_progress').html("{{"uploading"|trans}}");
            }).bind('fileuploaddone', function (e, data) {
                var result = JSON.parse(data.result)
                $('#journal_cover_upload_progress').html("{{"done"|trans}}.");
                $('#ojs_journalbundle_journal_image').attr('value', result.files.name);
                $("#preview_image_cover > img").cropper('replace', uploadPath + result.files.path + result.files.name);
            });

            $('#fileupload_header').fileupload({});
            $('#fileupload_header').bind('fileuploadsend', function (e, data) {
                $('#journal_header_upload_progress').show();
                $('#journal_header_upload_progress').html("{{"uploading"|trans}}");
            }).bind('fileuploaddone', function (e, data) {
                var result = JSON.parse(data.result)
                $('#journal_header_upload_progress').html("{{"done"|trans}}.");
                $('#ojs_journalbundle_journal_header').attr('value', result.files.name);
                $("#preview_image_header > img").cropper('replace', uploadPath + result.files.path + result.files.name);
            });

            $('#fileupload_logo').fileupload({});
            $('#fileupload_logo').bind('fileuploadsend', function (e, data) {
                $('#journal_logo_upload_progress').show();
                $('#journal_logo_upload_progress').html("{{"uploading"|trans}}");
            }).bind('fileuploaddone', function (e, data) {
                var result = JSON.parse(data.result)
                $('#journal_logo_upload_progress').html("{{"done"|trans}}.");
                $('#ojs_journalbundle_journal_logo').attr('value', result.files.name);
                $("#preview_image_logo #preview_image_logo_img").cropper('replace', uploadPath + result.files.path + result.files.name);
            });

            $("#preview_image_header > img").cropper({
                aspectRatio: 960 / 200,
                maxWidth: 960,
                maxHeight: 200,
                {% set imageoptions=getImageOptions(journal,'header','journal_header') %}
                data: {
                    x: {{ imageoptions.x }},
                    y: {{ imageoptions.y }},
                    height: {{ imageoptions.height }},
                    width: {{ imageoptions.width }}
                },
                done: function (data) {
                    $("#header_height").val(data.height);
                    $("#header_width").val(data.width);
                    $("#header_x").val(data.x);
                    $("#header_y").val(data.y);
                }
            });

            $("#preview_image_cover > img").cropper({
                aspectRatio: 200 / 300,
                maxWidth: 200,
                maxHeight: 300,
                {% set imageoptions=getImageOptions(journal,'cover','journal_cover') %}
                data: {
                    x: {{ imageoptions.x }},
                    y: {{ imageoptions.y }},
                    height: {{ imageoptions.height }},
                    width: {{ imageoptions.width }}
                },
                done: function (data) {
                    $("#cover_height").val(data.height);
                    $("#cover_width").val(data.width);
                    $("#cover_x").val(data.x);
                    $("#cover_y").val(data.y);
                }
            });

            $("#preview_image_logo > img").cropper({
                aspectRatio: 200 / 200,
                maxWidth: 200,
                maxHeight: 200,
                {% set imageoptions=getImageOptions(journal,'logo','journal_logo') %}
                data: {
                    x: {{ imageoptions.x }},
                    y: {{ imageoptions.y }},
                    height: {{ imageoptions.height }},
                    width: {{ imageoptions.width }}
                },
                done: function (data) {
                    $("#logo_height").val(data.height);
                    $("#logo_width").val(data.width);
                    $("#logo_x").val(data.x);
                    $("#logo_y").val(data.y);
                }
            });
            $('[name=_method]').remove();// fuck you chrome
        });
    </script>
    <script type="text/javascript">
        OjsCommon.api.userApikey = "{{app.user.apiKey}}";
        var currentStep = parseInt(window.location.hash.replace("#", ""));
        window.onbeforeunload = function () {
            //return "{{"sure_data_lost"|trans}}";
        };
        function loadCurrentStep(currentStep) {
            OjsJournalSetup.hideAllSteps();
            OjsJournalSetup.prepareStep["step" + currentStep]();
        }
        $(window).on("hashchange", function (event) {
            var currentStep = parseInt(window.location.hash.replace("#", ""));
            if (window.currentStep !== currentStep) {
                window.currentStep = currentStep;
                loadCurrentStep(currentStep);
            }
        });
        $(document).ready(function () {
            var currentStep = parseInt(window.location.hash.replace("#", ""));
            if (currentStep) {
                loadCurrentStep(currentStep);
            }
            OjsJournalSetup.activatedSteps["step1"] = true;
        });
    </script>
{% endblock %}
