{% extends '::ojsbase.html.twig' %}
{% set hideleft = true %}

{% block body -%}
    <h1>{{ 'file'|trans }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{{ 'id'|trans }}</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>{{ 'description'|trans }}</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>{{ 'name'|trans }}</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>{{ 'file.path'|trans }}</th>
                <td>{{ entity.path }}</td>
            </tr>
            <tr>
                <th>{{ 'size'|trans }}</th>
                <td>{{ entity.size }}</td>
            </tr>
            <tr>
                <th>{{ 'tags'|trans }}</th>
                <td>{{ entity.tags }}</td>
            </tr>
        </tbody>
    </table>

    {{
        actions({
            'back': {'href': path('ojs_admin_file_index')},
            'edit': {'href': path('ojs_admin_file_edit', {'id': entity.id})},
            'delete': {'href': path('ojs_admin_file_delete', {'id': entity.id}), 'attributes': {'data-token': token}},
        })
    }}
{% endblock %}
